{
    "openapi": "3.0.0",
    "info": {
      "title": "Policy Engine API",
      "description": "In the context of the Promotion Alerts, this API will create promotion alarms when selling products with undesired prices and promotions. It will create conditions that will check if the prices and the promotions are correct. If not, the system will alarm the store with information about the product sold at unexpected prices.",
      "contact": {},
      "version": ""
    },
    "servers": [
      {
        "url": "http://api.vtexcommercestable.com.br",
        "variables": {}
      }
    ],
    "paths": {
        "/api/policy-engine/policies": {
            "get": {
                "tags": [
                    "Policy"
              ],
              "summary": "Get Policy List",
              "description": "Retrieves a list of all policies in the store and general information of each policy.",
              "operationId": "Policy_List",
              "parameters": [
                {
                    "name": "accountName",
                    "in": "path",
                    "required": true,
                    "description": "Name of the VTEX account. Used as part of the URL",
                    "schema": {
                        "type": "string",
                        "default": "apiexamples"
                    }
                },
                {
                    "name": "environment",
                    "in": "path",
                    "required": true,
                    "description": "Environment to use. Used as part of the URL",
                    "schema": {
                        "type": "string",
                        "default": "vtexcommercestable"
                    }
                },
                {
                    "name": "Content-Type",
                    "in": "header",
                    "description": "Describes the type of the content being sent",
                    "required": true,
                    "style": "simple",
                    "schema": {
                        "type": "string",
                        "default": "application/json"
                    }
                },
                {
                    "name": "Accept",
                    "in": "header",
                    "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand ",
                    "required": true,
                    "style": "simple",
                    "schema": {
                        "type": "string",
                        "default": "application/json"
                    }
                }
            ],
              "responses": {
                "200": {
                  "description": "",
                  "headers": {},
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/PolicyGetResponse"
                        },
                        "description": ""
                      }
                    }
                  }
                }
              },
              "deprecated": false
            }
        },  
        "/api/policy-engine/evaluate": {
            "post": {
            "tags": [
                "Policy"
            ],
            "summary": "Policy_Evaluate",
            "description": "",
            "operationId": "Policy_Evaluate",
            "parameters": [
                {
                    "name": "accountName",
                    "in": "path",
                    "required": true,
                    "description": "Name of the VTEX account. Used as part of the URL",
                    "schema": {
                        "type": "string",
                        "default": "apiexamples"
                    }
                },
                {
                    "name": "environment",
                    "in": "path",
                    "required": true,
                    "description": "Environment to use. Used as part of the URL",
                    "schema": {
                        "type": "string",
                        "default": "vtexcommercestable"
                    }
                },
                {
                    "name": "Content-Type",
                    "in": "header",
                    "description": "Describes the type of the content being sent",
                    "required": true,
                    "style": "simple",
                    "schema": {
                        "type": "string",
                        "default": "application/json"
                    }
                },
                {
                    "name": "Accept",
                    "in": "header",
                    "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand ",
                    "required": true,
                    "style": "simple",
                    "schema": {
                        "type": "string",
                        "default": "application/json"
                    }
                }
            ],
            "requestBody": {
                "description": "",
                "content": {
                "application/json": {
                    "schema": {
                    "$ref": "#/components/schemas/EvaluatePolicyRequest"
                    }
                }
                },
                "required": true
            },
            "responses": {
                "200": {
                "description": "",
                "headers": {},
                "content": {
                    "application/json": {
                    "schema": {
                        "type": "array",
                        "items": {
                        "$ref": "#/components/schemas/PolicyActionGetResponse"
                        },
                        "description": ""
                    }
                    }
                }
                }
            },
            "deprecated": false
            }
        },
        "/api/policy-engine/policies/{id}": {
            "post": {
            "tags": [
                "Policy"
            ],
            "summary": "Policy_CreateOrUpdate",
            "description": "",
            "operationId": "Policy_CreateOrUpdate",
            "parameters": [
                {
                    "name": "accountName",
                    "in": "path",
                    "required": true,
                    "description": "Name of the VTEX account. Used as part of the URL",
                    "schema": {
                        "type": "string",
                        "default": "apiexamples"
                    }
                },
                {
                    "name": "environment",
                    "in": "path",
                    "required": true,
                    "description": "Environment to use. Used as part of the URL",
                    "schema": {
                        "type": "string",
                        "default": "vtexcommercestable"
                    }
                },
                {
                    "name": "Content-Type",
                    "in": "header",
                    "description": "Describes the type of the content being sent",
                    "required": true,
                    "style": "simple",
                    "schema": {
                        "type": "string",
                        "default": "application/json"
                    }
                },
                {
                    "name": "Accept",
                    "in": "header",
                    "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand ",
                    "required": true,
                    "style": "simple",
                    "schema": {
                        "type": "string",
                        "default": "application/json"
                    }
                }
            ],
            "requestBody": {
                "description": "",
                "content": {
                "application/json": {
                    "schema": {
                    "$ref": "#/components/schemas/PolicySaveRequest"
                    }
                }
                },
                "required": true
            },
            "responses": {
                "200": {
                "description": "",
                "headers": {},
                "content": {
                    "application/octet-stream": {
                    "schema": {
                        "type": "string",
                        "format": "binary"
                    }
                    }
                }
                }
            },
            "deprecated": false
            },
            "put": {
                "tags": [
                    "Policy"
                ],
                "summary": "Policy_CreateOrUpdate2",
                "description": "",
                "parameters": [
                    {
                        "name": "accountName",
                        "in": "path",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "apiexamples"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "path",
                        "required": true,
                        "description": "Environment to use. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "vtexcommercestable"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand ",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                    "application/json": {
                        "schema": {
                        "$ref": "#/components/schemas/PolicySaveRequest"
                        }
                    }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                    "description": "",
                    "headers": {},
                    "content": {
                        "application/octet-stream": {
                        "schema": {
                            "type": "string",
                            "format": "binary"
                        }
                        }
                    }
                    }
                },
                "deprecated": false
            },
            "get": {
                "tags": [
                    "Policy"
                ],
                "summary": "Policy_Get",
                "description": "",
                "operationId": "Policy_Get",
                "parameters": [
                    {
                        "name": "accountName",
                        "in": "path",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "apiexamples"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "path",
                        "required": true,
                        "description": "Environment to use. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "vtexcommercestable"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand ",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                    "description": "",
                    "headers": {},
                    "content": {
                        "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/PolicyGetResponse"
                        }
                        }
                    }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Policy"
                ],
                "summary": "Policy_Delete",
                "description": "",
                "operationId": "Policy_Delete",
                "parameters": [
                    {
                        "name": "accountName",
                        "in": "path",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "apiexamples"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "path",
                        "required": true,
                        "description": "Environment to use. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "vtexcommercestable"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand ",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                    "description": "",
                    "headers": {},
                    "content": {
                        "application/octet-stream": {
                        "schema": {
                            "type": "string",
                            "format": "binary"
                        }
                        }
                    }
                    }
                },
                "deprecated": false
            }
        }
    },
    "components": {
      "schemas": {
        "PolicyActionGetResponse": {
          "title": "PolicyActionGetResponse",
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
              
            },
            "metadata": {
              "type": "object"
              
            }
          }
        },
        "EvaluatePolicyRequest": {
          "title": "EvaluatePolicyRequest",
          "required": [
            "resource",
            "context"
          ],
          "type": "object",
          "properties": {
            "resource": {
              "minLength": 1,
              "pattern": "^vrn:([^:]+):([^:]+):([^:]+):([^:]+):([^:]+)$",
              "type": "string"
            },
            "context": {
              "type": "object"
            }
          }
        },
        "Account": {
          "title": "Account",
          "type": "object",
          "properties": {
            "mainAccountName": {
              "type": "string"
              
            },
            "name": {
              "type": "string"
              
            },
            "id": {
              "type": "string"
              
            },
            "operationDate": {
              "type": "string",
              "format": "date-time"
              
            },
            "accountType": {
              "$ref": "#/components/schemas/AccountType"
            },
            "isActive": {
              "type": "boolean"
            },
            "isOperating": {
              "type": "boolean"
              
            }
          }
        },
        "AccountType": {
          "title": "AccountType",
          "enum": [
            0,
            1
          ],
          "type": "integer",
          "example": 0
        },
        "PolicySaveRequest": {
          "title": "PolicySaveRequest",
          "required": [
            "name",
            "description",
            "statements"
          ],
          "type": "object",
          "properties": {
            "name": {
              "minLength": 1,
              "type": "string"
            },
            "description": {
              "minLength": 1,
              "type": "string"
            },
            "statements": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/StatementSaveRequest"
              },
              "description": ""
            }
          }
        },
        "StatementSaveRequest": {
          "title": "StatementSaveRequest",
          "required": [
            "effect",
            "actions",
            "resource",
            "condition"
          ],
          "type": "object",
          "properties": {
            "effect": {
              "minLength": 1,
              "type": "string"
            },
            "actions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyActionSaveRequest"
              },
              "description": ""
            },
            "resource": {
              "minLength": 1,
              "pattern": "^vrn:([^:]+):([^:]+):([^:]+):([^:]+):([^:]+)$",
              "type": "string"
            },
            "condition": {
              "$ref": "#/components/schemas/ConditionSaveRequest"
            }
          }
        },
        "PolicyActionSaveRequest": {
          "title": "PolicyActionSaveRequest",
          "required": [
            "id"
          ],
          "type": "object",
          "properties": {
            "id": {
              "minLength": 1,
              "type": "string"
            },
            "metadata": {
              "type": "object"
              
            }
          }
        },
        "ConditionSaveRequest": {
          "title": "ConditionSaveRequest",
          "required": [
            "operation"
          ],
          "type": "object",
          "properties": {
            "conditions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ConditionSaveRequest"
              },
              "description": ""
              
            },
            "operation": {
              "$ref": "#/components/schemas/Operators"
            },
            "key": {
              "type": "string"
              
            },
            "values": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": ""
              
            }
          }
        },
        "Operators": {
          "title": "Operators",
          "enum": [
            "None",
            "stringEquals",
            "stringEqualsIgnoreCase",
            "stringLike",
            "numericEquals",
            "numericLessThan",
            "numericLessThanEquals",
            "numericGreaterThan",
            "numericGreaterThanEquals",
            "bool",
            "not",
            "or",
            "and",
            "dateTimeUtcGreaterThan",
            "dateTimeUtcLessThan",
            "between"
          ],
          "type": "string"
        },
        "PolicyGetResponse": {
          "title": "PolicyGetResponse",
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
              
            },
            "name": {
              "type": "string"
              
            },
            "description": {
              "type": "string"
              
            },
            "statements": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/StatementGetResponse"
              },
              "description": ""
              
            }
          }
        },
        "StatementGetResponse": {
          "title": "StatementGetResponse",
          "type": "object",
          "properties": {
            "effect": {
              "type": "string"
              
            },
            "actions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyActionGetResponse"
              },
              "description": ""
              
            },
            "resource": {
              "type": "string"
              
            },
            "condition": {
              "$ref": "#/components/schemas/ConditionGetResponse"
            }
          }
        },
        "ConditionGetResponse": {
          "title": "ConditionGetResponse",
          "required": [
            "operation",
            "key",
            "values"
          ],
          "type": "object",
          "properties": {
            "conditions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ConditionGetResponse"
              },
              "description": ""
              
            },
            "operation": {
              "$ref": "#/components/schemas/Operators"
            },
            "key": {
              "minLength": 1,
              "type": "string"
            },
            "values": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": ""
            }
          }
        }
      }
    },
    "tags": [
      {
        "name": "Policy",
        "description": ""
      }
    ]
  }