{
    "openapi": "3.0.0",
    "info": {
      "title": "Policy Engine API",
      "description": "<b>WARNING!</b> We reserve the rights to <i>add fields in the existing API</i> at <b>ANY TIME</b>.<br>Be thoughtful about your implementation.",
      "contact": {},
      "version": ""
    },
    "servers": [
      {
        "url": "http://api.vtexcommercestable.com.br",
        "variables": {}
      }
    ],
    "paths": {
      "/api/policy-engine/evaluate": {
        "post": {
          "tags": [
            "Policy"
          ],
          "summary": "Policy_Evaluate",
          "description": "",
          "operationId": "Policy_Evaluate",
          "parameters": [
            {
              "name": "an",
              "in": "query",
              "description": "",
              "style": "form",
              "explode": true,
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Account"
                  },
                  {
                    "nullable": true
                  }
                ],
                "nullable": true
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatePolicyRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PolicyActionGetResponse"
                    },
                    "description": ""
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/api/policy-engine/policies/{id}": {
        "post": {
          "tags": [
            "Policy"
          ],
          "summary": "Policy_CreateOrUpdate",
          "description": "### Working example:\n```\n{\n    \"name\": \"session\",\n    \"description\": \"session\",\n    \"statements\": [\n        {\n            \"effect\": \"allow\",\n            \"actions\": [\n                {\n                    \"id\": \"action1\",\n                     \"metadata\": {\n                    \t\"field\": 2\n                    }\n                }\n            ],\n            \"resource\": \"vrn:vtex.session-manager:region:account:workspace:/_v/session\",\n            \"condition\":  {\n            }\n        }\n    ]\n}\n```",
          "operationId": "Policy_CreateOrUpdate",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "pattern": "[\\d\\w-_]+",
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "an",
              "in": "query",
              "description": "",
              "style": "form",
              "explode": true,
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Account"
                  },
                  {
                    "nullable": true
                  }
                ],
                "nullable": true
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySaveRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "",
              "headers": {},
              "content": {
                "application/octet-stream": {
                  "schema": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "put": {
          "tags": [
            "Policy"
          ],
          "summary": "Policy_CreateOrUpdate2",
          "description": "### Working example:\n```\n{\n    \"name\": \"session\",\n    \"description\": \"session\",\n    \"statements\": [\n        {\n            \"effect\": \"allow\",\n            \"actions\": [\n                {\n                    \"id\": \"action1\",\n                     \"metadata\": {\n                    \t\"field\": 2\n                    }\n                }\n            ],\n            \"resource\": \"vrn:vtex.session-manager:region:account:workspace:/_v/session\",\n            \"condition\":  {\n            }\n        }\n    ]\n}\n```",
          "operationId": "Policy_CreateOrUpdate2",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "pattern": "[\\d\\w-_]+",
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "an",
              "in": "query",
              "description": "",
              "style": "form",
              "explode": true,
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Account"
                  },
                  {
                    "nullable": true
                  }
                ],
                "nullable": true
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySaveRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "",
              "headers": {},
              "content": {
                "application/octet-stream": {
                  "schema": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "get": {
          "tags": [
            "Policy"
          ],
          "summary": "Policy_Get",
          "description": "",
          "operationId": "Policy_Get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "an",
              "in": "query",
              "description": "",
              "style": "form",
              "explode": true,
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Account"
                  },
                  {
                    "nullable": true
                  }
                ],
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PolicyGetResponse"
                  }
                }
              }
            }
          },
          "deprecated": false
        },
        "delete": {
          "tags": [
            "Policy"
          ],
          "summary": "Policy_Delete",
          "description": "",
          "operationId": "Policy_Delete",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "an",
              "in": "query",
              "description": "",
              "style": "form",
              "explode": true,
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Account"
                  },
                  {
                    "nullable": true
                  }
                ],
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "headers": {},
              "content": {
                "application/octet-stream": {
                  "schema": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/api/policy-engine/policies": {
        "get": {
          "tags": [
            "Policy"
          ],
          "summary": "Policy_List",
          "description": "",
          "operationId": "Policy_List",
          "parameters": [
            {
              "name": "an",
              "in": "query",
              "description": "",
              "style": "form",
              "explode": true,
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Account"
                  },
                  {
                    "nullable": true
                  }
                ],
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PolicyGetResponse"
                    },
                    "description": ""
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      }
    },
    "components": {
      "schemas": {
        "PolicyActionGetResponse": {
          "title": "PolicyActionGetResponse",
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "nullable": true
            },
            "metadata": {
              "type": "object",
              "nullable": true
            }
          }
        },
        "EvaluatePolicyRequest": {
          "title": "EvaluatePolicyRequest",
          "required": [
            "resource",
            "context"
          ],
          "type": "object",
          "properties": {
            "resource": {
              "minLength": 1,
              "pattern": "^vrn:([^:]+):([^:]+):([^:]+):([^:]+):([^:]+)$",
              "type": "string"
            },
            "context": {
              "type": "object"
            }
          }
        },
        "Account": {
          "title": "Account",
          "type": "object",
          "properties": {
            "mainAccountName": {
              "type": "string",
              "nullable": true
            },
            "name": {
              "type": "string",
              "nullable": true
            },
            "id": {
              "type": "string",
              "nullable": true
            },
            "operationDate": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "accountType": {
              "$ref": "#/components/schemas/AccountType"
            },
            "isActive": {
              "type": "boolean"
            },
            "isOperating": {
              "type": "boolean",
              "nullable": true
            }
          }
        },
        "AccountType": {
          "title": "AccountType",
          "enum": [
            0,
            1
          ],
          "type": "integer",
          "example": 0
        },
        "PolicySaveRequest": {
          "title": "PolicySaveRequest",
          "required": [
            "name",
            "description",
            "statements"
          ],
          "type": "object",
          "properties": {
            "name": {
              "minLength": 1,
              "type": "string"
            },
            "description": {
              "minLength": 1,
              "type": "string"
            },
            "statements": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/StatementSaveRequest"
              },
              "description": ""
            }
          }
        },
        "StatementSaveRequest": {
          "title": "StatementSaveRequest",
          "required": [
            "effect",
            "actions",
            "resource",
            "condition"
          ],
          "type": "object",
          "properties": {
            "effect": {
              "minLength": 1,
              "type": "string"
            },
            "actions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyActionSaveRequest"
              },
              "description": ""
            },
            "resource": {
              "minLength": 1,
              "pattern": "^vrn:([^:]+):([^:]+):([^:]+):([^:]+):([^:]+)$",
              "type": "string"
            },
            "condition": {
              "$ref": "#/components/schemas/ConditionSaveRequest"
            }
          }
        },
        "PolicyActionSaveRequest": {
          "title": "PolicyActionSaveRequest",
          "required": [
            "id"
          ],
          "type": "object",
          "properties": {
            "id": {
              "minLength": 1,
              "type": "string"
            },
            "metadata": {
              "type": "object",
              "nullable": true
            }
          }
        },
        "ConditionSaveRequest": {
          "title": "ConditionSaveRequest",
          "required": [
            "operation"
          ],
          "type": "object",
          "properties": {
            "conditions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ConditionSaveRequest"
              },
              "description": "",
              "nullable": true
            },
            "operation": {
              "$ref": "#/components/schemas/Operators"
            },
            "key": {
              "type": "string",
              "nullable": true
            },
            "values": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "",
              "nullable": true
            }
          }
        },
        "Operators": {
          "title": "Operators",
          "enum": [
            "None",
            "stringEquals",
            "stringEqualsIgnoreCase",
            "stringLike",
            "numericEquals",
            "numericLessThan",
            "numericLessThanEquals",
            "numericGreaterThan",
            "numericGreaterThanEquals",
            "bool",
            "not",
            "or",
            "and",
            "dateTimeUtcGreaterThan",
            "dateTimeUtcLessThan",
            "between"
          ],
          "type": "string"
        },
        "PolicyGetResponse": {
          "title": "PolicyGetResponse",
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "nullable": true
            },
            "name": {
              "type": "string",
              "nullable": true
            },
            "description": {
              "type": "string",
              "nullable": true
            },
            "statements": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/StatementGetResponse"
              },
              "description": "",
              "nullable": true
            }
          }
        },
        "StatementGetResponse": {
          "title": "StatementGetResponse",
          "type": "object",
          "properties": {
            "effect": {
              "type": "string",
              "nullable": true
            },
            "actions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyActionGetResponse"
              },
              "description": "",
              "nullable": true
            },
            "resource": {
              "type": "string",
              "nullable": true
            },
            "condition": {
              "$ref": "#/components/schemas/ConditionGetResponse"
            }
          }
        },
        "ConditionGetResponse": {
          "title": "ConditionGetResponse",
          "required": [
            "operation",
            "key",
            "values"
          ],
          "type": "object",
          "properties": {
            "conditions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ConditionGetResponse"
              },
              "description": "",
              "nullable": true
            },
            "operation": {
              "$ref": "#/components/schemas/Operators"
            },
            "key": {
              "minLength": 1,
              "type": "string"
            },
            "values": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": ""
            }
          }
        }
      }
    },
    "tags": [
      {
        "name": "Policy",
        "description": ""
      }
    ]
  }