{
    "openapi": "3.0.0",
    "info": {
        "title": "Buyer Organizations API",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://buyer-organizations.vtex.com/buyer-orgs",
            "description": "VTEX server URL"
        },
        {
            "url": "https://b2bstore.vtexcommercestable.com.br/api/vtexid/pub/providers/setup/customoauth/webstore",
            "description": ""
        }
    ],
    "paths": {
        "/buyer-orgs": {
            "post": {
                "tags": [
                    "Buyer Organizations"
                ],
                "summary": "Create Buyer Organization",
                "description": "Creates a Buyer Organization",
                "operationId": "CreateBuyerOrg",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand ",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateBuyerOrgRequest"
                            },
                            "example": {
                                "address": {
                                    "country": "BRA",
                                    "zipCode": "22250040",
                                    "complement": "3rd floor",
                                    "street": "Praia de Botafogo",
                                    "streetNumber": "300",
                                    "neighborhood": "Botafogo",
                                    "state": "RJ",
                                    "city": "Rio de Janeiro"
                                },
                                "company": {
                                    "corporateDocument": "15.170.336/0001-70",
                                    "companyName": "company",
                                    "tradeName": "company",
                                    "stateRegistration": "123456"
                                },
                                "tenantName": "cmpny15170336",
                                "organizationEmail": "company@email.com",
                                "firstUser": {
                                    "name": "Jane Doe",
                                    "email": "janedoe@email.com",
                                    "phone": "123456",
                                    "password": "vtex123"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "",
                                    "example": {
                                        "token": "d0d98932-f982-475b-b491-8255aa8029d8"
                                    },
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "description": "Token of the Buyer Organization creation job"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/buyer-orgs/{job-token}": {
            "get": {
                "tags": [
                    "Buyer Organizations"
                ],
                "summary": "Retrieve Buyer Organization creation status",
                "description": "Retrieves the creation job status of a Buyer Organization",
                "operationId": "BuyerOrgsCreationJobStatus",
                "parameters": [
                    {
                        "name": "job-token",
                        "in": "path",
                        "description": "Token of the Buyer Organization creation job",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "e7d74c3b-94b8-447e-8b2c-cc33e892e765"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand ",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "",
                                    "example": {
                                        "id": "d0d98932-f982-475b-b491-8255aa8029d8",
                                        "status": "DONE",
                                        "createdAt": "2021-10-06T19:51:56.135321+00:00",
                                        "updatedAt": "2021-10-06T19:52:01.564753+00:00"
                                    },
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "Token of the Buyer Organization creation job"
                                        },
                                        "status": {
                                            "type": "string",
                                            "description": "Status of the Buyer Organization creation job"
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "description": "Date and time when the Buyer Organization job was created"
                                        },
                                        "updatedAt": {
                                            "type": "string",
                                            "description": "Date and time when the Buyer Organization job was last updated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/by-user-email": {
            "get": {
                "tags": [
                    "Buyer Organizations"
                ],
                "summary": "Retrieve Buyer Organizations by User Email",
                "description": "Retrieves Buyer Organizations associated with a given user email",
                "operationId": "BObyUserEmail",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User email",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "gabriel.souza@vtex.com.br"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand ",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "",
                                    "example": {
                                        "id": "0cfc5385-1bc7-44ab-99e8-66553f77abdd",
                                        "tenantName": "cmpny15170336",
                                        "createdAt": "2021-10-06T20:07:27.204424+00:00",
                                        "updatedAt": "2021-10-06T20:07:27.204424+00:00",
                                        "organizationEmail": "company@email.com",
                                        "address": {
                                            "id": "11c7e284-d86a-4e0a-b316-84e4f9d00c0f",
                                            "country": "BRA",
                                            "zipCode": "22250040",
                                            "state": "RJ",
                                            "city": "Rio de Janeiro",
                                            "neighborhood": "Botafogo",
                                            "street": "Praia de Botafogo",
                                            "streetNumber": "300",
                                            "complement": "Block 1",
                                            "roomFloorUnit": "3rd floor",
                                            "createdAt": "2021-10-06T20:07:27.204424+00:00",
                                            "updatedAt": "2021-10-06T20:07:27.204424+00:00"
                                        },
                                        "company": {
                                            "id": "efd2c530-8bfc-45a6-babe-52cb243d3118",
                                            "corporateDocument": "15.170.336/0001-70",
                                            "companyName": "Company",
                                            "tradeName": "Company",
                                            "stateRegistration": "",
                                            "createdAt": "2021-10-06T20:07:27.204424+00:00",
                                            "updatedAt": "2021-10-06T20:07:27.204424+00:00"
                                        }
                                    },
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "tenantName": {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "description": "Date and time when the Buyer Organization was created"
                                        },
                                        "updatedAt": {
                                            "type": "string",
                                            "description": "Date and time when the Buyer Organization was last updated"
                                        },
                                        "organizationEmail": {
                                            "type": "string",
                                            "description": ""
                                        },
                                        "address": {
                                            "type": "object",
                                            "properties": {
                                                "country": {
                                                    "type": "string",
                                                    "description": "Country where the organization is based"
                                                },
                                                "zipCode": {
                                                    "type": "string",
                                                    "description": "ZIP Code or postal code of the organization's address"
                                                },
                                                "complement": {
                                                    "type": "string",
                                                    "description": "Complementary information to the organization's address"
                                                },
                                                "street": {
                                                    "type": "string",
                                                    "description": "Street address of the organization"
                                                },
                                                "streetNumber": {
                                                    "type": "string",
                                                    "description": "Street number of the organization’s billing and shipping address"
                                                },
                                                "neighborhood": {
                                                    "type": "string",
                                                    "description": "Neighborhood where the organization is located"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "description": "State where the organization is located"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "description": "City where the organization is located"
                                                },
                                                "createdAt": {
                                                    "type": "string",
                                                    "description": "Date and time when the Buyer Organization address information was created"
                                                },
                                                "updatedAt": {
                                                    "type": "string",
                                                    "description": "Date and time when the Buyer Organization address was last updated"
                                                }
                                            }
                                        },
                                        "company": {
                                            "type": "object",
                                            "properties": {
                                                "corporateDocument": {
                                                    "type": "string",
                                                    "description": "Corporate document number"
                                                },
                                                "companyName": {
                                                    "type": "string",
                                                    "description": "Legal corporate name registered by the organization"
                                                },
                                                "tradeName": {
                                                    "type": "string",
                                                    "description": "The organization's trade name"
                                                },
                                                "stateRegistration": {
                                                    "type": "string",
                                                    "description": "State registration number of the organization"
                                                },
                                                "createdAt": {
                                                    "type": "string",
                                                    "description": "Date and time when the Buyer Organization company information was created"
                                                },
                                                "updatedAt": {
                                                    "type": "string",
                                                    "description": "Date and time when the Buyer Organization company information was last updated"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/buyer-orgs/generate-tenant-name": {
            "post": {
                "tags": [
                    "Buyer Organizations"
                ],
                "summary": "Generate Buyer Organization Tenant Name",
                "description": "Generates a tenant name for a Buyer Organization",
                "operationId": "GenerateTenantName",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand ",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GenerateTenantNameRequest"
                            },
                            "example": {
                                "company": {
                                    "corporateDocument": "15.170.336/0001-70",
                                    "companyName": "company",
                                    "tradeName": "company"
                                },
                                "address": {
                                    "country": "BRA"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "example": "cmpny15170336",
                                    "description": "Buyer Organization tenant name"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/users/{tenant}": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "New User",
                "operationId": "NewUser",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "cmpny15542400"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewUserRequest"
                            },
                            "example": {
                                "email": "testuser008@vtex.com",
                                "name": "Test User",
                                "phone": "21992548754",
                                "password": "vtex123"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "http://example.com",
                        "variables": {}
                    }
                ]
            },
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Users",
                "operationId": "Users",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "cmpny15170336"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "http://example.com",
                        "variables": {}
                    }
                ]
            }
        },
        "/users/{tenant}/{userId}": {
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "User",
                "operationId": "User",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "cmpny15542400"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "3d5717b6-9a04-49f6-acf6-73b27b33bd06"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRequest"
                            },
                            "example": {
                                "email": "testuser005@vtex.com",
                                "name": "Test User 6",
                                "phone": "21992548754",
                                "password": "vtex234"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "http://example.com",
                        "variables": {}
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Users"
                ],
                "summary": "User1",
                "operationId": "User1",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "cmpny15542400"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "7b367eb0-b2cb-456c-a8cc-ed2a33b8e4e1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "http://example.com",
                        "variables": {}
                    }
                ]
            }
        },
        "/admin/realms/{tenant}/users": {
            "post": {
                "tags": [
                    "Keycloak"
                ],
                "summary": "New User",
                "operationId": "PostNewUser",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "mprs110835453"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewUserRequest1"
                            },
                            "example": {
                                "id": null,
                                "email": "testuser%unique%@vtex.com",
                                "firstName": "Test User %unique%",
                                "lastName": null,
                                "username": "testuser%unique%@vtex.com",
                                "enabled": true,
                                "emailVerified": false,
                                "credentials": [
                                    {
                                        "type": "password",
                                        "value": "abc123",
                                        "temporary": false
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "http://example.com",
                        "variables": {}
                    }
                ]
            }
        },
        "/realms/{tenant}/protocol/openid-connect/token": {
            "post": {
                "tags": [
                    "Keycloak"
                ],
                "summary": "Auth Token",
                "operationId": "AuthToken",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "master"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "encoding": {},
                            "schema": {
                                "required": [
                                    "client_id",
                                    "username",
                                    "password",
                                    "grant_type"
                                ],
                                "type": "object",
                                "properties": {
                                    "client_id": {
                                        "type": "string",
                                        "example": "admin-cli"
                                    },
                                    "username": {
                                        "type": "string",
                                        "example": "{{USER_BUYER_ORG_IDP}}"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "{{PASSWORD_BUYER_ORG_IDP}}"
                                    },
                                    "grant_type": {
                                        "type": "string",
                                        "example": "password"
                                    }
                                }
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "http://example.com",
                        "variables": {}
                    }
                ]
            }
        },
        "/admin/realms/{tenant}": {
            "get": {
                "tags": [
                    "Keycloak"
                ],
                "summary": "Realm Info",
                "operationId": "RealmInfo",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "cmpny66850420"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "http://example.com",
                        "variables": {}
                    }
                ]
            }
        },
        "/b2bstore-customoauth": {
            "post": {
                "tags": [
                    "Dev Usage Only"
                ],
                "summary": "VTEXID IdP Config",
                "operationId": "VTEXIDIdPConfig",
                "parameters": [
                    {
                        "name": "VtexIdclientAutCookie",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "eyJhbGciOiJFUzI1NiIsImtpZCI6IjZBOTIzNjkxN0Q3MzMzQkVCNkZBRTBEMkE5NkZDNDY3MjRFODYyRUEiLCJ0eXAiOiJqd3QifQ.eyJzdWIiOiJ2aWN0b3IuYnVzdGFtYW50ZUB2dGV4LmNvbS5iciIsImFjY291bnQiOiJiMmJzdG9yZSIsImF1ZGllbmNlIjoiYWRtaW4iLCJzZXNzIjoiM2IwNjU4OGEtNGUzNy00ZmNkLWEyMmItOTBlZGExYmQzZWM2IiwiZXhwIjoxNjMwNjEzODcyLCJ1c2VySWQiOiJlM2RhN2UzYy1iYWRlLTQ5MTEtYTgxZi00MmZiOWFjYWUyZTMiLCJpYXQiOjE2MzA1Mjc0NzIsImlzcyI6InRva2VuLWVtaXR0ZXIiLCJqdGkiOiI0NmJmYmQ3ZS00ZDRlLTQ0ZjUtYmRhOC0wMDcyYzQ2MzI5YWQifQ.wPNCGToOlucu_hUQc-kgn0HulFwewCMfVEEdWaaASIt3IS7hNP--8hskZZcXokv8b3V7jFmcl-1LDieS_xiLhw"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VTEXIDIdPConfigRequest"
                            },
                            "example": {
                                "isActive": true,
                                "isDraft": false,
                                "type": "CustomOAuth",
                                "providerName": "KeyCloak",
                                "icon": "customoauth",
                                "operations": {
                                    "getAuthorizationCode": {
                                        "request": {
                                            "type": "get",
                                            "uri": "https://b2bstore.myvtex.com/login-setup",
                                            "authenticationType": "None",
                                            "contentType": "Default",
                                            "parameterNames": {
                                                "state": "state"
                                            },
                                            "parameters": {
                                                "scope": "email profile openid",
                                                "client_id": "https://identity-broker.vtex.com/golden/idps/golden-oidc",
                                                "access_type": "offline",
                                                "redirect_uri": "https://vtexid.vtex.com.br/api/vtexid/pub/authentication/oauth/authorizationcode",
                                                "response_type": "code"
                                            },
                                            "headers": null
                                        },
                                        "response": {
                                            "parameterNames": {
                                                "authorizationCode": "code"
                                            }
                                        }
                                    },
                                    "getAccessCode": {
                                        "request": {
                                            "type": "post",
                                            "uri": "https://buyer-organizations-identity-provider.vtex.systems/realms/{{REALM_BUYER_ORG_IDP}}/protocol/openid-connect/token",
                                            "authenticationType": "None",
                                            "contentType": "Default",
                                            "parameterNames": {
                                                "authorizationCode": "code"
                                            },
                                            "parameters": {
                                                "client_id": "https://identity-broker.vtex.com/golden/idps/golden-oidc",
                                                "grant_type": "authorization_code",
                                                "redirect_uri": "https://vtexid.vtex.com.br/api/vtexid/pub/authentication/oauth/authorizationcode",
                                                "client_secret": "288ac9e1-a485-4d36-bbdc-bc3c993f3cfe"
                                            },
                                            "headers": null
                                        },
                                        "response": {
                                            "parameterNames": {
                                                "accessCode": "access_token"
                                            }
                                        }
                                    },
                                    "getUserInfo": {
                                        "request": {
                                            "type": "get",
                                            "uri": "https://buyer-organizations-identity-provider.vtex.systems/realms/{{REALM_BUYER_ORG_IDP}}/protocol/openid-connect/userinfo",
                                            "authenticationType": "Bearer",
                                            "contentType": "Default",
                                            "parameterNames": {
                                                "access_token": "access_token"
                                            },
                                            "parameters": {},
                                            "headers": null
                                        },
                                        "response": {
                                            "parameterNames": {
                                                "userId": "sub",
                                                "userName": "name",
                                                "userEmail": "email"
                                            },
                                            "customClaims": null
                                        }
                                    }
                                },
                                "corporateDomains": null,
                                "usesPKCE": false
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://b2bstore.vtexcommercestable.com.br/api/vtexid/pub/providers/setup/customoauth/webstore",
                        "variables": {}
                    }
                ]
            }
        },
        "/meta/healthcheck": {
            "get": {
                "tags": [
                    "Misc"
                ],
                "summary": "Health Check",
                "operationId": "HealthCheck",
                "parameters": [
                    {
                        "name": "X-VTEX-API-AppKey",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{APPKEY_GO_HORSE}}"
                        }
                    },
                    {
                        "name": "X-VTEX-API-AppToken",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{{TOKEN_GO_HORSE}}"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "http://example.com",
                        "variables": {}
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "CreateBuyerOrgRequest": {
                "title": "CreateBuyerOrgRequest",
                "required": [
                    "address",
                    "company",
                    "tenantName",
                    "organizationEmail",
                    "firstUser"
                ],
                "type": "object",
                "properties": {
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "company": {
                        "$ref": "#/components/schemas/Company"
                    },
                    "tenantName": {
                        "type": "string"
                    },
                    "organizationEmail": {
                        "type": "string"
                    },
                    "firstUser": {
                        "$ref": "#/components/schemas/FirstUser"
                    }
                },
                "example": {
                    "address": {
                        "country": "BRA",
                        "zipCode": "22251030",
                        "complement": "apto",
                        "street": "Rua Assunção",
                        "streetNumber": "162",
                        "neighborhood": "Botafogo",
                        "state": "RJ",
                        "city": "Rio de Janeiro"
                    },
                    "company": {
                        "corporateDocument": "15.170.336/0001-70",
                        "companyName": "company",
                        "tradeName": "company",
                        "stateRegistration": ""
                    },
                    "tenantName": "cmpny15170336",
                    "organizationEmail": "sponsor2@vtex.com.br",
                    "firstUser": {
                        "name": "Gabriel Souza",
                        "email": "gabriel.souza@vtex.com.br",
                        "phone": "123456",
                        "password": "vtex123"
                    }
                }
            },
            "Address": {
                "title": "Address",
                "required": [
                    "country",
                    "zipCode",
                    "complement",
                    "street",
                    "streetNumber",
                    "neighborhood",
                    "state",
                    "city"
                ],
                "type": "object",
                "properties": {
                    "country": {
                        "type": "string",
                        "description": "Country where the organization is based"
                    },
                    "zipCode": {
                        "type": "string",
                        "description": "ZIP Code or postal code of the organization's address"
                    },
                    "complement": {
                        "type": "string",
                        "description": "Complementary information to the organization's address"
                    },
                    "street": {
                        "type": "string",
                        "description": "Street address of the organization"
                    },
                    "streetNumber": {
                        "type": "string",
                        "description": "Street number of the organization’s billing and shipping address"
                    },
                    "neighborhood": {
                        "type": "string",
                        "description": "Neighborhood where the organization is located"
                    },
                    "state": {
                        "type": "string",
                        "description": "State where the organization is located"
                    },
                    "city": {
                        "type": "string",
                        "description": "City where the organization is located"
                    }
                },
                "example": {
                    "country": "BRA",
                    "zipCode": "22251030",
                    "complement": "apto",
                    "street": "Rua Assunção",
                    "streetNumber": "162",
                    "neighborhood": "Botafogo",
                    "state": "RJ",
                    "city": "Rio de Janeiro"
                }
            },
            "Company": {
                "title": "Company",
                "required": [
                    "corporateDocument",
                    "companyName",
                    "tradeName",
                    "stateRegistration"
                ],
                "type": "object",
                "properties": {
                    "corporateDocument": {
                        "type": "string",
                        "description": "Corporate document number"
                    },
                    "companyName": {
                        "type": "string",
                        "description": "Legal corporate name registered by the organization"
                    },
                    "tradeName": {
                        "type": "string",
                        "description": "The organization's trade name"
                    },
                    "stateRegistration": {
                        "type": "string",
                        "description": "State registration number of the organization"
                    }
                },
                "example": {
                    "corporateDocument": "15.170.336/0001-70",
                    "companyName": "company",
                    "tradeName": "company",
                    "stateRegistration": "123456"
                }
            },
            "FirstUser": {
                "title": "FirstUser",
                "required": [
                    "name",
                    "email",
                    "phone",
                    "password"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Full name of the Buyer Organization user"
                    },
                    "email": {
                        "type": "string",
                        "description": "The user's work email address"
                    },
                    "phone": {
                        "type": "string",
                        "description": "The user's work phone number"
                    },
                    "password": {
                        "type": "string",
                        "description": "The user's individual password. It should have at least 8 characters, including 1 uppercase letter, 1 lowercase letter and 1 number"
                    }
                },
                "example": {
                    "name": "John Doe",
                    "email": "john@email.com",
                    "phone": "999999999",
                    "password": "Password123"
                }
            },
            "GenerateTenantNameRequest": {
                "title": "GenerateTenantNameRequest",
                "required": [
                    "company",
                    "address"
                ],
                "type": "object",
                "properties": {
                    "company": {
                        "$ref": "#/components/schemas/Company1"
                    },
                    "address": {
                        "$ref": "#/components/schemas/Address1"
                    }
                },
                "example": {
                    "company": {
                        "corporateDocument": "15.170.336/0001-70",
                        "companyName": "company",
                        "tradeName": "company"
                    },
                    "address": {
                        "country": "BRA"
                    }
                }
            },
            "Company1": {
                "title": "Company1",
                "required": [
                    "corporateDocument",
                    "companyName",
                    "tradeName"
                ],
                "type": "object",
                "properties": {
                    "corporateDocument": {
                        "type": "string",
                        "description": "Corporate document number"
                    },
                    "companyName": {
                        "type": "string",
                        "description": "Legal corporate name registered by the organization"
                    },
                    "tradeName": {
                        "type": "string",
                        "description": "The organization's trade name"
                    }
                },
                "example": {
                    "corporateDocument": "15.170.336/0001-70",
                    "companyName": "Company",
                    "tradeName": "Company"
                }
            },
            "Address1": {
                "title": "Address1",
                "required": [
                    "country"
                ],
                "type": "object",
                "properties": {
                    "country": {
                        "type": "string",
                        "description": "Country where the organization is based"
                    }
                },
                "example": {
                    "country": "BRA"
                }
            },
            "NewUserRequest": {
                "title": "NewUserRequest",
                "required": [
                    "email",
                    "name",
                    "phone",
                    "password"
                ],
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "phone": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    }
                },
                "example": {
                    "email": "testuser008@vtex.com",
                    "name": "Test User",
                    "phone": "21992548754",
                    "password": "vtex123"
                }
            },
            "UserRequest": {
                "title": "UserRequest",
                "required": [
                    "email",
                    "name",
                    "phone",
                    "password"
                ],
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "phone": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    }
                },
                "example": {
                    "email": "testuser005@vtex.com",
                    "name": "Test User 6",
                    "phone": "21992548754",
                    "password": "vtex234"
                }
            },
            "UserRequest1": {
                "title": "UserRequest1",
                "required": [
                    "email",
                    "name",
                    "phone"
                ],
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "phone": {
                        "type": "string"
                    }
                },
                "example": {
                    "email": "testuser001@vtex.com",
                    "name": "Test User",
                    "phone": "21992548754"
                }
            },
            "NewUserRequest1": {
                "title": "NewUserRequest1",
                "required": [
                    "id",
                    "email",
                    "firstName",
                    "lastName",
                    "username",
                    "enabled",
                    "emailVerified",
                    "credentials"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "nullable": true
                    },
                    "email": {
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string",
                        "nullable": true
                    },
                    "username": {
                        "type": "string"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "emailVerified": {
                        "type": "boolean"
                    },
                    "credentials": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Credential"
                        },
                        "description": ""
                    }
                },
                "example": {
                    "id": null,
                    "email": "testuser%unique%@vtex.com",
                    "firstName": "Test User %unique%",
                    "lastName": null,
                    "username": "testuser%unique%@vtex.com",
                    "enabled": true,
                    "emailVerified": false,
                    "credentials": [
                        {
                            "type": "password",
                            "value": "abc123",
                            "temporary": false
                        }
                    ]
                }
            },
            "Credential": {
                "title": "Credential",
                "required": [
                    "type",
                    "value",
                    "temporary"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    },
                    "temporary": {
                        "type": "boolean"
                    }
                },
                "example": {
                    "type": "password",
                    "value": "abc123",
                    "temporary": false
                }
            },
            "VTEXIDIdPConfigRequest": {
                "title": "VTEXIDIdPConfigRequest",
                "required": [
                    "isActive",
                    "isDraft",
                    "type",
                    "providerName",
                    "icon",
                    "operations",
                    "corporateDomains",
                    "usesPKCE"
                ],
                "type": "object",
                "properties": {
                    "isActive": {
                        "type": "boolean"
                    },
                    "isDraft": {
                        "type": "boolean"
                    },
                    "type": {
                        "type": "string"
                    },
                    "providerName": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string"
                    },
                    "operations": {
                        "$ref": "#/components/schemas/Operations"
                    },
                    "corporateDomains": {
                        "type": "string",
                        "nullable": true
                    },
                    "usesPKCE": {
                        "type": "boolean"
                    }
                },
                "example": {
                    "isActive": true,
                    "isDraft": false,
                    "type": "CustomOAuth",
                    "providerName": "KeyCloak",
                    "icon": "customoauth",
                    "operations": {
                        "getAuthorizationCode": {
                            "request": {
                                "type": "get",
                                "uri": "https://b2bstore.myvtex.com/login-setup",
                                "authenticationType": "None",
                                "contentType": "Default",
                                "parameterNames": {
                                    "state": "state"
                                },
                                "parameters": {
                                    "scope": "email profile openid",
                                    "client_id": "https://identity-broker.vtex.com/golden/idps/golden-oidc",
                                    "access_type": "offline",
                                    "redirect_uri": "https://vtexid.vtex.com.br/api/vtexid/pub/authentication/oauth/authorizationcode",
                                    "response_type": "code"
                                },
                                "headers": null
                            },
                            "response": {
                                "parameterNames": {
                                    "authorizationCode": "code"
                                }
                            }
                        },
                        "getAccessCode": {
                            "request": {
                                "type": "post",
                                "uri": "https://buyer-organizations-identity-provider.vtex.systems/realms/{{REALM_BUYER_ORG_IDP}}/protocol/openid-connect/token",
                                "authenticationType": "None",
                                "contentType": "Default",
                                "parameterNames": {
                                    "authorizationCode": "code"
                                },
                                "parameters": {
                                    "client_id": "https://identity-broker.vtex.com/golden/idps/golden-oidc",
                                    "grant_type": "authorization_code",
                                    "redirect_uri": "https://vtexid.vtex.com.br/api/vtexid/pub/authentication/oauth/authorizationcode",
                                    "client_secret": "288ac9e1-a485-4d36-bbdc-bc3c993f3cfe"
                                },
                                "headers": null
                            },
                            "response": {
                                "parameterNames": {
                                    "accessCode": "access_token"
                                }
                            }
                        },
                        "getUserInfo": {
                            "request": {
                                "type": "get",
                                "uri": "https://buyer-organizations-identity-provider.vtex.systems/realms/{{REALM_BUYER_ORG_IDP}}/protocol/openid-connect/userinfo",
                                "authenticationType": "Bearer",
                                "contentType": "Default",
                                "parameterNames": {
                                    "access_token": "access_token"
                                },
                                "parameters": {},
                                "headers": null
                            },
                            "response": {
                                "parameterNames": {
                                    "userId": "sub",
                                    "userName": "name",
                                    "userEmail": "email"
                                },
                                "customClaims": null
                            }
                        }
                    },
                    "corporateDomains": null,
                    "usesPKCE": false
                }
            },
            "Operations": {
                "title": "Operations",
                "required": [
                    "getAuthorizationCode",
                    "getAccessCode",
                    "getUserInfo"
                ],
                "type": "object",
                "properties": {
                    "getAuthorizationCode": {
                        "$ref": "#/components/schemas/GetAuthorizationCode"
                    },
                    "getAccessCode": {
                        "$ref": "#/components/schemas/GetAccessCode"
                    },
                    "getUserInfo": {
                        "$ref": "#/components/schemas/GetUserInfo"
                    }
                },
                "example": {
                    "getAuthorizationCode": {
                        "request": {
                            "type": "get",
                            "uri": "https://b2bstore.myvtex.com/login-setup",
                            "authenticationType": "None",
                            "contentType": "Default",
                            "parameterNames": {
                                "state": "state"
                            },
                            "parameters": {
                                "scope": "email profile openid",
                                "client_id": "https://identity-broker.vtex.com/golden/idps/golden-oidc",
                                "access_type": "offline",
                                "redirect_uri": "https://vtexid.vtex.com.br/api/vtexid/pub/authentication/oauth/authorizationcode",
                                "response_type": "code"
                            },
                            "headers": null
                        },
                        "response": {
                            "parameterNames": {
                                "authorizationCode": "code"
                            }
                        }
                    },
                    "getAccessCode": {
                        "request": {
                            "type": "post",
                            "uri": "https://buyer-organizations-identity-provider.vtex.systems/realms/{{REALM_BUYER_ORG_IDP}}/protocol/openid-connect/token",
                            "authenticationType": "None",
                            "contentType": "Default",
                            "parameterNames": {
                                "authorizationCode": "code"
                            },
                            "parameters": {
                                "client_id": "https://identity-broker.vtex.com/golden/idps/golden-oidc",
                                "grant_type": "authorization_code",
                                "redirect_uri": "https://vtexid.vtex.com.br/api/vtexid/pub/authentication/oauth/authorizationcode",
                                "client_secret": "288ac9e1-a485-4d36-bbdc-bc3c993f3cfe"
                            },
                            "headers": null
                        },
                        "response": {
                            "parameterNames": {
                                "accessCode": "access_token"
                            }
                        }
                    },
                    "getUserInfo": {
                        "request": {
                            "type": "get",
                            "uri": "https://buyer-organizations-identity-provider.vtex.systems/realms/{{REALM_BUYER_ORG_IDP}}/protocol/openid-connect/userinfo",
                            "authenticationType": "Bearer",
                            "contentType": "Default",
                            "parameterNames": {
                                "access_token": "access_token"
                            },
                            "parameters": {},
                            "headers": null
                        },
                        "response": {
                            "parameterNames": {
                                "userId": "sub",
                                "userName": "name",
                                "userEmail": "email"
                            },
                            "customClaims": null
                        }
                    }
                }
            },
            "GetAuthorizationCode": {
                "title": "GetAuthorizationCode",
                "required": [
                    "request",
                    "response"
                ],
                "type": "object",
                "properties": {
                    "request": {
                        "$ref": "#/components/schemas/Request"
                    },
                    "response": {
                        "$ref": "#/components/schemas/Response"
                    }
                },
                "example": {
                    "request": {
                        "type": "get",
                        "uri": "https://b2bstore.myvtex.com/login-setup",
                        "authenticationType": "None",
                        "contentType": "Default",
                        "parameterNames": {
                            "state": "state"
                        },
                        "parameters": {
                            "scope": "email profile openid",
                            "client_id": "https://identity-broker.vtex.com/golden/idps/golden-oidc",
                            "access_type": "offline",
                            "redirect_uri": "https://vtexid.vtex.com.br/api/vtexid/pub/authentication/oauth/authorizationcode",
                            "response_type": "code"
                        },
                        "headers": null
                    },
                    "response": {
                        "parameterNames": {
                            "authorizationCode": "code"
                        }
                    }
                }
            },
            "Request": {
                "title": "Request",
                "required": [
                    "type",
                    "uri",
                    "authenticationType",
                    "contentType",
                    "parameterNames",
                    "parameters",
                    "headers"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "uri": {
                        "type": "string"
                    },
                    "authenticationType": {
                        "type": "string"
                    },
                    "contentType": {
                        "type": "string"
                    },
                    "parameterNames": {
                        "$ref": "#/components/schemas/ParameterNames"
                    },
                    "parameters": {
                        "$ref": "#/components/schemas/Parameters"
                    },
                    "headers": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "example": {
                    "type": "get",
                    "uri": "https://b2bstore.myvtex.com/login-setup",
                    "authenticationType": "None",
                    "contentType": "Default",
                    "parameterNames": {
                        "state": "state"
                    },
                    "parameters": {
                        "scope": "email profile openid",
                        "client_id": "https://identity-broker.vtex.com/golden/idps/golden-oidc",
                        "access_type": "offline",
                        "redirect_uri": "https://vtexid.vtex.com.br/api/vtexid/pub/authentication/oauth/authorizationcode",
                        "response_type": "code"
                    },
                    "headers": null
                }
            },
            "ParameterNames": {
                "title": "ParameterNames",
                "required": [
                    "state"
                ],
                "type": "object",
                "properties": {
                    "state": {
                        "type": "string"
                    }
                },
                "example": {
                    "state": "state"
                }
            },
            "Parameters": {
                "title": "Parameters",
                "required": [
                    "scope",
                    "client_id",
                    "access_type",
                    "redirect_uri",
                    "response_type"
                ],
                "type": "object",
                "properties": {
                    "scope": {
                        "type": "string"
                    },
                    "client_id": {
                        "type": "string"
                    },
                    "access_type": {
                        "type": "string"
                    },
                    "redirect_uri": {
                        "type": "string"
                    },
                    "response_type": {
                        "type": "string"
                    }
                },
                "example": {
                    "scope": "email profile openid",
                    "client_id": "https://identity-broker.vtex.com/golden/idps/golden-oidc",
                    "access_type": "offline",
                    "redirect_uri": "https://vtexid.vtex.com.br/api/vtexid/pub/authentication/oauth/authorizationcode",
                    "response_type": "code"
                }
            },
            "Response": {
                "title": "Response",
                "required": [
                    "parameterNames"
                ],
                "type": "object",
                "properties": {
                    "parameterNames": {
                        "$ref": "#/components/schemas/ParameterNames1"
                    }
                },
                "example": {
                    "parameterNames": {
                        "authorizationCode": "code"
                    }
                }
            },
            "ParameterNames1": {
                "title": "ParameterNames1",
                "required": [
                    "authorizationCode"
                ],
                "type": "object",
                "properties": {
                    "authorizationCode": {
                        "type": "string"
                    }
                },
                "example": {
                    "authorizationCode": "code"
                }
            },
            "GetAccessCode": {
                "title": "GetAccessCode",
                "required": [
                    "request",
                    "response"
                ],
                "type": "object",
                "properties": {
                    "request": {
                        "$ref": "#/components/schemas/Request1"
                    },
                    "response": {
                        "$ref": "#/components/schemas/Response1"
                    }
                },
                "example": {
                    "request": {
                        "type": "post",
                        "uri": "https://buyer-organizations-identity-provider.vtex.systems/realms/{{REALM_BUYER_ORG_IDP}}/protocol/openid-connect/token",
                        "authenticationType": "None",
                        "contentType": "Default",
                        "parameterNames": {
                            "authorizationCode": "code"
                        },
                        "parameters": {
                            "client_id": "https://identity-broker.vtex.com/golden/idps/golden-oidc",
                            "grant_type": "authorization_code",
                            "redirect_uri": "https://vtexid.vtex.com.br/api/vtexid/pub/authentication/oauth/authorizationcode",
                            "client_secret": "288ac9e1-a485-4d36-bbdc-bc3c993f3cfe"
                        },
                        "headers": null
                    },
                    "response": {
                        "parameterNames": {
                            "accessCode": "access_token"
                        }
                    }
                }
            },
            "Request1": {
                "title": "Request1",
                "required": [
                    "type",
                    "uri",
                    "authenticationType",
                    "contentType",
                    "parameterNames",
                    "parameters",
                    "headers"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "uri": {
                        "type": "string"
                    },
                    "authenticationType": {
                        "type": "string"
                    },
                    "contentType": {
                        "type": "string"
                    },
                    "parameterNames": {
                        "$ref": "#/components/schemas/ParameterNames1"
                    },
                    "parameters": {
                        "$ref": "#/components/schemas/Parameters1"
                    },
                    "headers": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "example": {
                    "type": "post",
                    "uri": "https://buyer-organizations-identity-provider.vtex.systems/realms/{{REALM_BUYER_ORG_IDP}}/protocol/openid-connect/token",
                    "authenticationType": "None",
                    "contentType": "Default",
                    "parameterNames": {
                        "authorizationCode": "code"
                    },
                    "parameters": {
                        "client_id": "https://identity-broker.vtex.com/golden/idps/golden-oidc",
                        "grant_type": "authorization_code",
                        "redirect_uri": "https://vtexid.vtex.com.br/api/vtexid/pub/authentication/oauth/authorizationcode",
                        "client_secret": "288ac9e1-a485-4d36-bbdc-bc3c993f3cfe"
                    },
                    "headers": null
                }
            },
            "Parameters1": {
                "title": "Parameters1",
                "required": [
                    "client_id",
                    "grant_type",
                    "redirect_uri",
                    "client_secret"
                ],
                "type": "object",
                "properties": {
                    "client_id": {
                        "type": "string"
                    },
                    "grant_type": {
                        "type": "string"
                    },
                    "redirect_uri": {
                        "type": "string"
                    },
                    "client_secret": {
                        "type": "string"
                    }
                },
                "example": {
                    "client_id": "https://identity-broker.vtex.com/golden/idps/golden-oidc",
                    "grant_type": "authorization_code",
                    "redirect_uri": "https://vtexid.vtex.com.br/api/vtexid/pub/authentication/oauth/authorizationcode",
                    "client_secret": "288ac9e1-a485-4d36-bbdc-bc3c993f3cfe"
                }
            },
            "Response1": {
                "title": "Response1",
                "required": [
                    "parameterNames"
                ],
                "type": "object",
                "properties": {
                    "parameterNames": {
                        "$ref": "#/components/schemas/ParameterNames3"
                    }
                },
                "example": {
                    "parameterNames": {
                        "accessCode": "access_token"
                    }
                }
            },
            "ParameterNames3": {
                "title": "ParameterNames3",
                "required": [
                    "accessCode"
                ],
                "type": "object",
                "properties": {
                    "accessCode": {
                        "type": "string"
                    }
                },
                "example": {
                    "accessCode": "access_token"
                }
            },
            "GetUserInfo": {
                "title": "GetUserInfo",
                "required": [
                    "request",
                    "response"
                ],
                "type": "object",
                "properties": {
                    "request": {
                        "$ref": "#/components/schemas/Request2"
                    },
                    "response": {
                        "$ref": "#/components/schemas/Response2"
                    }
                },
                "example": {
                    "request": {
                        "type": "get",
                        "uri": "https://buyer-organizations-identity-provider.vtex.systems/realms/{{REALM_BUYER_ORG_IDP}}/protocol/openid-connect/userinfo",
                        "authenticationType": "Bearer",
                        "contentType": "Default",
                        "parameterNames": {
                            "access_token": "access_token"
                        },
                        "parameters": {},
                        "headers": null
                    },
                    "response": {
                        "parameterNames": {
                            "userId": "sub",
                            "userName": "name",
                            "userEmail": "email"
                        },
                        "customClaims": null
                    }
                }
            },
            "Request2": {
                "title": "Request2",
                "required": [
                    "type",
                    "uri",
                    "authenticationType",
                    "contentType",
                    "parameterNames",
                    "parameters",
                    "headers"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "uri": {
                        "type": "string"
                    },
                    "authenticationType": {
                        "type": "string"
                    },
                    "contentType": {
                        "type": "string"
                    },
                    "parameterNames": {
                        "$ref": "#/components/schemas/ParameterNames4"
                    },
                    "parameters": {
                        "type": "object"
                    },
                    "headers": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "example": {
                    "type": "get",
                    "uri": "https://buyer-organizations-identity-provider.vtex.systems/realms/{{REALM_BUYER_ORG_IDP}}/protocol/openid-connect/userinfo",
                    "authenticationType": "Bearer",
                    "contentType": "Default",
                    "parameterNames": {
                        "access_token": "access_token"
                    },
                    "parameters": {},
                    "headers": null
                }
            },
            "ParameterNames4": {
                "title": "ParameterNames4",
                "required": [
                    "access_token"
                ],
                "type": "object",
                "properties": {
                    "access_token": {
                        "type": "string"
                    }
                },
                "example": {
                    "access_token": "access_token"
                }
            },
            "Response2": {
                "title": "Response2",
                "required": [
                    "parameterNames",
                    "customClaims"
                ],
                "type": "object",
                "properties": {
                    "parameterNames": {
                        "$ref": "#/components/schemas/ParameterNames5"
                    },
                    "customClaims": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "example": {
                    "parameterNames": {
                        "userId": "sub",
                        "userName": "name",
                        "userEmail": "email"
                    },
                    "customClaims": null
                }
            },
            "ParameterNames5": {
                "title": "ParameterNames5",
                "required": [
                    "userId",
                    "userName",
                    "userEmail"
                ],
                "type": "object",
                "properties": {
                    "userId": {
                        "type": "string"
                    },
                    "userName": {
                        "type": "string"
                    },
                    "userEmail": {
                        "type": "string"
                    }
                },
                "example": {
                    "userId": "sub",
                    "userName": "name",
                    "userEmail": "email"
                }
            }
        },
        "securitySchemes": {
            "httpBearer": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "security": [
        {
            "httpBearer": []
        }
    ],
    "tags": [
        {
            "name": "Buyer Organizations"
        },
        {
            "name": "Users"
        },
        {
            "name": "Keycloak"
        },
        {
            "name": "Dev Usage Only"
        },
        {
            "name": "Misc"
        }
    ]
}