{
    "openapi": "3.0.0",
    "info": {
        "title": "Pick and Pack Protocol API",
        "description": "The variables used in this collection are:\n\n`{{environment}}` = Can be either `dev` or `prod`\n\n`{{pnpApiKey}}` = API Key from Pick and Pack\n\n`{{carrierId}}` = CarrierID from Pikc and Pack\n\n---\n\n#### General instructions for using the API\n\nAll API access is over HTTPS and accessed from `https://api.pickingnpacking.com` . All data is sent and received as JSON.\n\nBlank fields are included as `null` instead of being omitted.\n\nAll timestamps returned in UTC, ISO 8601 format: `YYYY-MM-DDTHH:mm:ss.sssZ` .\n\nAll distance measurements are in meters.",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://auth.pickingnpacking.com/{environment}",
            "variables": {
                "environment": {
                    "default": "DefaultParameterValue"
                }
            }
        },
        {
            "url": "https://YOUR_ENDPOINT",
            "variables": {}
        },
        {
            "url": "https://api.pickingnpacking.com/{environment}/v1/tracking/hook",
            "variables": {
                "environment": {
                    "default": "DefaultParameterValue"
                }
            }
        }
    ],
    "paths": {
        "/token": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Create token",
                "operationId": "Createtoken",
                "parameters": [],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CreatetokenRequest"
                                    },
                                    {
                                        "example": {
                                            "apiKey": "{pnpApiKey}"
                                        }
                                    }
                                ]
                            },
                            "example": {
                                "apiKey": "{pnpApiKey}"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://auth.pickingnpacking.com/{environment}",
                        "variables": {
                            "environment": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/": {
            "post": {
                "tags": [
                    "Endpoints integrations"
                ],
                "summary": "Create service",
                "description": "This is the information that VTEX will send to the carrier to create a service\n\n[Link documentation](https://pickpack.slite.page/p/sSsujLMmbKNnbv/API-Carriers-integration-protocol#97a8aeb1%5C%5D)",
                "operationId": "Createservice",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://YOUR_ENDPOINT",
                        "variables": {}
                    }
                ]
            }
        },
        "/{carrierId}/{serviceId}": {
            "get": {
                "tags": [
                    "Shipping updates"
                ],
                "summary": "Get service",
                "description": "The following endpoint returns information about a service, which can be queried by providing the carrier ID and the corresponding service ID as query parameters. The response returned by the endpoint will contain the requested information.",
                "operationId": "Getservice",
                "parameters": [
                    {
                        "name": "carrierId",
                        "in": "path",
                        "description": "Carrier ID",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{carrierId}"
                        }
                    },
                    {
                        "name": "serviceId",
                        "in": "path",
                        "description": "Id generated by the carrier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "_78c83922-d658-48bf-89d5-0658a6a94e27"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Fri, 15 Mar 2024 05:45:15 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "5160"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "10d39168-1306-4f5e-b624-2fcc236c80cd"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Content-Encoding": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "gzip"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "10382"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "close"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "UqAAxFw6oAMERjg="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"288e-UFV22ud9uN17lUglMIytu371+Co\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-65f3e06b-0234f60d31525af5560a219a;Parent=1d0f18479ebebd12;Sampled=0;lineage=65a34a45:0|c9856695:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Fri, 15 Mar 2024 05:45:15 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/m200"
                                        },
                                        {
                                            "example": {
                                                "message": "success",
                                                "data": {
                                                    "id": "519400fb-f980-4a6a-809c-9f986fdb98a4",
                                                    "orderId": "46369545534253-01",
                                                    "carrierId": "MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50",
                                                    "serviceId": "MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&78c83922-d658-48bf-89d5-0658a6a94e27",
                                                    "carrierName": "AfterShip",
                                                    "seller": "lastmile",
                                                    "status": "DELIVERED",
                                                    "type": "PICKUP_DELIVERY",
                                                    "tags": [],
                                                    "labels": [
                                                        {
                                                            "id": "78c83922-d658-48bf-89d5-0658a6a94e27",
                                                            "name": "Etiqueta de envio",
                                                            "url": "https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf",
                                                            "type": "PDF"
                                                        }
                                                    ],
                                                    "evidences": [],
                                                    "packages": [
                                                        {
                                                            "id": "a46e5bc1-8959-459f-a094-b6e699f7214c",
                                                            "orderId": "46369545534253-01",
                                                            "envelope": "Foam or Plastic Containers",
                                                            "dimensions": {
                                                                "height": "5",
                                                                "length": "11",
                                                                "width": "7"
                                                            },
                                                            "weight": "48",
                                                            "totalValue": 5352,
                                                            "items": [
                                                                {
                                                                    "id": "184",
                                                                    "name": "Chicken",
                                                                    "ean": "EAN354",
                                                                    "quantity": 8,
                                                                    "price": 669,
                                                                    "refId": "314",
                                                                    "image": "https://picsum.photos/seed/YtoZ9/128/480",
                                                                    "type": "other",
                                                                    "weight": "6"
                                                                }
                                                            ],
                                                            "categories": [
                                                                "Movies",
                                                                "Garden",
                                                                "Books"
                                                            ],
                                                            "description": "Unde deserunt libero cupiditate illum."
                                                        }
                                                    ],
                                                    "timeline": [
                                                        {
                                                            "id": "77263f59-0ac5-4b0c-bfe5-f17a1648474d",
                                                            "date": "2024-03-09T01:33:14.917Z",
                                                            "createdAt": "2024-03-09T01:33:14.917Z",
                                                            "updatedAt": "2024-03-09T01:33:14.917Z",
                                                            "type": "STATUS",
                                                            "description": "Service pending in DEV",
                                                            "author": "System",
                                                            "metaData": {
                                                                "shippingEstimatedDate": null,
                                                                "metaData": null,
                                                                "serviceId": "78c83922-d658-48bf-89d5-0658a6a94e27",
                                                                "shippingPrice": 284.02,
                                                                "status": "PENDING",
                                                                "labels": [
                                                                    {
                                                                        "name": "Etiqueta de envio",
                                                                        "id": "78c83922-d658-48bf-89d5-0658a6a94e27",
                                                                        "type": "PDF",
                                                                        "url": "https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf"
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        {
                                                            "id": "9906da15-15e4-4dbd-8e90-c34ec43ed446",
                                                            "date": "2024-03-09T01:46:20.006Z",
                                                            "createdAt": "2024-03-09T01:46:20.006Z",
                                                            "updatedAt": "2024-03-09T01:46:20.006Z",
                                                            "type": "NOTE",
                                                            "description": "A new note has been added",
                                                            "author": "afterShip",
                                                            "metaData": {
                                                                "0": {
                                                                    "type": "COMMENT",
                                                                    "note": "El paquete se entrega en portería en la Esperanza 2",
                                                                    "author": "afterShip"
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "id": "35619274-3bca-4749-8a38-53a62776144a",
                                                            "date": "2024-03-09T01:44:17.437Z",
                                                            "createdAt": "2024-03-09T01:44:17.437Z",
                                                            "updatedAt": "2024-03-09T01:44:17.437Z",
                                                            "type": "NOTE",
                                                            "description": "A new note has been added",
                                                            "author": "afterShip",
                                                            "metaData": {
                                                                "0": {
                                                                    "type": "COMMENT",
                                                                    "note": "Tracking Number: 10001709948594168",
                                                                    "author": "afterShip"
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "id": "9b60e3fd-5bf9-43c6-99f2-4292a57fa408",
                                                            "date": "2024-03-09T01:46:19.689Z",
                                                            "createdAt": "2024-03-09T01:46:19.689Z",
                                                            "updatedAt": "2024-03-09T01:46:19.689Z",
                                                            "type": "STATUS",
                                                            "description": "The package was delivered",
                                                            "author": "System",
                                                            "metaData": {
                                                                "shippingEstimatedDate": "2022-01-05T11:11:11.000Z",
                                                                "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011",
                                                                "status": "DELIVERED"
                                                            }
                                                        },
                                                        {
                                                            "id": "21c9acaa-e14b-41bd-aaa7-a2cebd7384c0",
                                                            "date": "2024-03-09T01:43:15.887Z",
                                                            "createdAt": "2024-03-09T01:43:15.887Z",
                                                            "updatedAt": "2024-03-09T01:43:15.887Z",
                                                            "type": "STATUS",
                                                            "description": "Service pending",
                                                            "author": "System",
                                                            "metaData": {
                                                                "shippingEstimatedDate": "2022-01-05T11:11:11.000Z",
                                                                "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011",
                                                                "status": "PENDING"
                                                            }
                                                        },
                                                        {
                                                            "id": "7a1a3a63-f94c-49f1-a912-bc3f095d7845",
                                                            "date": "2024-03-09T01:45:18.812Z",
                                                            "createdAt": "2024-03-09T01:45:18.812Z",
                                                            "updatedAt": "2024-03-09T01:45:18.812Z",
                                                            "type": "STATUS",
                                                            "description": "Courier picked the package",
                                                            "author": "System",
                                                            "metaData": {
                                                                "shippingEstimatedDate": "2022-01-05T11:11:11.000Z",
                                                                "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011",
                                                                "status": "PICKED"
                                                            }
                                                        },
                                                        {
                                                            "id": "9ca25940-bdae-4f19-a5b4-92477abfa059",
                                                            "date": "2024-03-09T01:33:14.978Z",
                                                            "createdAt": "2024-03-09T01:33:14.978Z",
                                                            "updatedAt": "2024-03-09T01:33:14.978Z",
                                                            "type": "LABEL",
                                                            "description": "Added a label",
                                                            "author": "System",
                                                            "metaData": {
                                                                "name": "Etiqueta de envio",
                                                                "id": "78c83922-d658-48bf-89d5-0658a6a94e27",
                                                                "type": "PDF",
                                                                "url": "https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf"
                                                            }
                                                        },
                                                        {
                                                            "id": "24b84b8b-7418-4ed8-bc89-b6a1cbee2331",
                                                            "date": "2024-03-09T01:43:16.289Z",
                                                            "createdAt": "2024-03-09T01:43:16.289Z",
                                                            "updatedAt": "2024-03-09T01:43:16.289Z",
                                                            "type": "NOTE",
                                                            "description": "A new note has been added",
                                                            "author": "afterShip",
                                                            "metaData": {
                                                                "0": {
                                                                    "type": "COMMENT",
                                                                    "note": "Tracking Number: 10001709948594168",
                                                                    "author": "afterShip"
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "id": "9dfad688-e99a-4b27-9ccb-959da40c3bf8",
                                                            "date": "2024-03-09T01:33:08.385Z",
                                                            "createdAt": "2024-03-09T01:33:08.385Z",
                                                            "updatedAt": "2024-03-09T01:33:08.385Z",
                                                            "type": "STATUS",
                                                            "description": "Service creation by AfterShip",
                                                            "author": "System",
                                                            "metaData": {
                                                                "status": "CREATED"
                                                            }
                                                        },
                                                        {
                                                            "id": "781ab0af-e62a-4a21-a837-8d0eea3f57c2",
                                                            "date": "2024-03-09T01:44:17.077Z",
                                                            "createdAt": "2024-03-09T01:44:17.077Z",
                                                            "updatedAt": "2024-03-09T01:44:17.077Z",
                                                            "type": "STATUS",
                                                            "description": "Courier on route",
                                                            "author": "System",
                                                            "metaData": {
                                                                "shippingEstimatedDate": "2022-01-05T11:11:11.000Z",
                                                                "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011",
                                                                "status": "ON_ROUTE"
                                                            }
                                                        }
                                                    ],
                                                    "notes": [
                                                        {
                                                            "type": "COMMENT",
                                                            "date": "2024-03-09T01:43:16.280Z",
                                                            "content": "Tracking Number: 10001709948594168",
                                                            "author": "afterShip"
                                                        },
                                                        {
                                                            "type": "COMMENT",
                                                            "date": "2024-03-09T01:44:17.423Z",
                                                            "content": "Tracking Number: 10001709948594168",
                                                            "author": "afterShip"
                                                        },
                                                        {
                                                            "type": "COMMENT",
                                                            "date": "2024-03-09T01:46:19.998Z",
                                                            "content": "El paquete se entrega en portería en la Esperanza 2",
                                                            "author": "afterShip"
                                                        }
                                                    ],
                                                    "timezone": {
                                                        "offset": 300,
                                                        "value": "America/Bogota",
                                                        "label": null
                                                    },
                                                    "carrierLogo": "iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAtTSURBVHgB7Z1PbBvHFca/WZICXCCFkt6aAGEORZ3YjaVD0d5MpUCL5BIZydGprUOKRBYg+ZQUDSqxSIG0F8uB7PZmufYxruVLghRwRN9S9GDZTpwUPZgB6t6aEE3hAKLEybxdrk3bEnd2dnb+LPcHyJLMFUXqffvem5k3bxgKCF+YGMfmZl18OYEAdXD2pPi6DoZ6dAEbF/+M3/9TrAPGO+DoiG/ooy2+/0JctyE+Omzl8xYKCEMB4At769gMGmDsoHhHDWHEOvJhI/zg/ArGxlpseaMNz/FWAHxubwMIpsVbeDFHgyexIbzEFaC35quH8EoAd43OgyMPu3DLMBEyOFqo1Zo+eQbnBdCP59PCvQujC/fuBy0RJs6y0zdX4TjOCqBv+HmwYMG5u10W8go93nRZCM4JoBCGfxCHheCUAPjsM0cRsEWLSV2+OCgEJwTAX5uoo9I9A39ifDY4XxPDyOMuJIsBLCPu+kVh/FsYFeMTjE2j270VvnfbLwWWGLm7fjcoLFRrU7a8gRUPwI/tO4LK1lWMuvEJyne2uuth/mMB4x5AGP+E+LSAkofhfEkkiE0YxJgAwuFdt3sR5V0/nChBnBEhoQMDGBFAGO+r3fXCDu90YzAvyF0ApfEVMSSCXAVQGj8jBkSQmwBK42siZxHkIoDS+JrJUQTaBRBm+1vdq6XxtbOBWigCraMD/RNBm1tnSuPnwoQYRp+AZrQKgM/uXwTj0yjJi6P89ae1TqJpCwF87mkq1boIH/jOI8BPhE4f+370/e1/AtcvA3e+hhcwNsVWPmlBA1oE4FXSN3UYeGEW2PPd+///y9vA+38CPl6D80RJ4aSOfECPAI7tWxWfjsBlfvBj4OU3gMf3Dr+OhHDhj8C1y3AaMWUs1g0OISOZBRCuYjF2Bq7yPeHmD/8+EkAaPr4EfHAK+O9/4CwsOMRWbmRyWZkE4LTrpzjfeCVy91lYPw+0/uKqEDpiaPhUllCQbRRQ6S45aXyK880Psxs/fq554eB+6uTghlZYM1UVKXuAfkXPLbiEbJxXhfKDc28B//oHnCLDqKAKVaJyLjdQjfNpeezxyBu4lh9wTl6gBQWUPIAziZ+uOK/K+6eBv6+5IQRFL6AmgLl9t6zH/t3G86ZxZ/6gxU59OoWUpBYAn9vfEC5nHbbIO86r4kJ+oOAF0gvg2D4yfgOmMRXns2I3P0jtBVIJwErmH8d5cvm23X0abOUHtdqjaeYF0s0D0LjfJE/88N543ifjE/SaacTwhOFQtbWZarUwnQAYDsIkjV/6Z/hBaNhInssknM2nuVxaAHzuR9PGM3+agqXkylfota+fg2HGw0RdEnkPwHvm50L/Ldbpf/uLKJ76xDf/i17zOy9H78E0vCe9MiudBIrs/yvQ3LMtaBTw/DExJ/8inMaNWcKOGA08KnOhlACsj/0HISFQckXx1SVo/E93vSvrBJJzApJrAeT+HWkmQncWhQVanXvhdftCcLaSKAzZraSrJAXAzGb/MtAfnKp2piytBVCcD2sFzrlZS8jZAZnLEm/r/q7er+AypvMDH6qFCIlJoeRRwNbWBEzx7HORMdNChjj/G5F1v5TvsJHi+8mZ6HepGJ/e27M/gzEkbCcRAnoNI/GfXPlLb0Rfq5ZhxcNG3fkBuXsqFFWN8zSd/fxs9B6JC38wMz/At0kArWGXJAuAw4wHGFzdo9mzA1PqyZWu/EBHnN9p2ZqmuI2QnAckC4CxJ4UIzEN37+G3oztZpUz7m6/vLcio5AfXPgL++o56nKdVy1fetjxKYRpCgCkPsBv0B3z1pHriFecHFFJ+9W6yQbKO591atq4nXTA0CeSv7a3DFegObv4tcqcqiWKcH5x/a+dEkdw9PUZJnorxKc5TDkOv0Z2ahfFwFDeE4R6gWq2LGUA4BQmAxJAlP6APGnHES7XkJW5c1hvnXSE6OWVjt4fVq4JtMpgfqJZhXf8o+siCE3E+gaBSh7IAer26SALhLLbKtH0pTyN62xlCAGN+tGunkBCGhZzLsGyXoedAggD4uJhThjdkzQ+G4XKcHwYbfuaC9W7h2onzg999qMdF03P8+j2R4b/pZ3laghf3MwmUIWt+4FOcz0DxPMCDUEh480K6RZjwZ94rhvE5z7Aa2EMbRWDPI9FwTWYCKb7zfa5GHoSzjMvBRWFPP4NPgtYNRojhAggqRlqWG+PAcxLXpN5f6TZB0B768LAHxSRCG0VCZsauKK4/ptfLkgP0iuUBRpGxsfawh4cKgP358zaio9RL/KSTvSaQlQLwmHbSBckC4L0rKPETzr9IukRiGBhsoMRPGG8lXSIRAlgpAF9hlUTbJQugWi0F4CsStksUQJhFMpQi0ImZrWQbMq1iJKeCef6J4O3PMDJ8aaByicnZTFIAQf5bX2nZdlS4bqIVvZzN5AQQxZJ85wPijRxFh95j/rWLHdl+gVICiGJJL/9blP44RRaBufcn7bHll4NZZRUmoD/Q4s/d68idBXovtHPZlLhZIH2zypeEURjodikM5F8pTC6Sdui40gVEFRvtYxlvpzlFRNoDRMNBfhYmocreuEuYT+3iBruEmfZknLXSXJ6uIqiHVdiA/pjkEXwYKdC+/8W+aG20jqltN9NcnkoA7PRNGg20YIN4l6+r+UHcPYSaP9jqGcT5JbYcLuFLk74snLGm+EUN2MK1/MClY2SCYBkpUTswwlbL+J2g3TppOonP7R/++MonkMK9LmFKB0aobQyx7QUGydIFRBWK8x+cdqs9HNlE5cegiFNeIIZq+l99d3iL9iwewLVuoPdQuvsJ9a1hLnmBGMoPaOilOz9w/TjZ2vYMFFHeGBLONTN2Ei4yOH9AsVqVwfG8u2cJr6bN/AfJtjOoWl2Cy1XDsfHi+QOZ3nzX+l1D6GdsjudlELN+acf9Dz0FMiJygQXx6QRKzMP5jJibWUUGdB0f715CWHxWReKnHPtj9GwOrdUOhe6oxAwaXH+MFgFE9QJBZjWWyBLMZEn87nsmaKI/KtCiypIhMN5UPSl8x6eDZkQ+sCo+SR9aVJICxk+ylZsL0Ij+BhG1Gr3AsoxcO/waqneWoJlcesCFPYarwTo4q6MkO5T0VXtTuuL+fU+NnChFoIkcjR8+PXKkFEFGcjZ++CuQM6UIFDFg/PDXwAClCFJiyPiEkTZxYauZ6tgkbNUT+kVLZPuTJoxPGO8Ezef2L4lFjEWUPEwO4/zEXwkL8NlnjopZQ1pB9KMdff50xE1xPOvKngrWesGXecFdWlTRY8rlP4j1wwBGOCR0qKJKzOsvwSJOnAYReYPKRetH1JnD6l0/iFPHgYS5QYDFwoYFGt710LQR63fDyfNgwjIzxucLJITQ3aP6/2W23HaqhtLZA4HCsBAEDc89grOGj/HiRKj+sHFefOlLjtASie1ZjN1Zc9XwMR4dCRYKYUIIgcLDQQe9Qr9/QrCms2Inb7wSwCBi+NgQd9lRq2Jg1IyZX/LN6IN4K4BB7uYLJsJEmMlXmhjrtlwYxmWlEAKICYVQqVxFflPMHTF+nyyC4WMKdWhU/4CL/CqTab6+QMYnCndqGDv16XIum1Zppc6hCRxdFPPYONq0qnOnUligob8i1wUKlQMM0h8yXoUOattPFc31xxT24Mh+R7PjyE7h4v4ghfUAMRl3LmvZgesyxT86VnXnssYduC5TeA9A9GcN19P9EJ/sh5FCMxKHR6feuUw7cEfA+MRIeIAYyXxAueWaj4zO8fHEdthObffl2Sjuj1Sji5ESQDhVzIZ1MineVG8So+UBQPnAjbUdp4rDzhuf5X84lmOMnABCov6G95K88JSNm0sYQUZSAGFTq+3tQ4jygQ5txETJ6EHVx2G94QjzLdIWvdPvEPp9AAAAAElFTkSuQmCC",
                                                    "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011",
                                                    "comments": "Iusto incidunt eligendi alias reprehenderit nam aut soluta.\nIncidunt corrupti quis et quisquam eius veniam distinctio natus.",
                                                    "paymentMethod": "ONLINE",
                                                    "carrierServiceType": "BROKER",
                                                    "rate": {
                                                        "shippingPrice": {
                                                            "value": 0,
                                                            "currency": ""
                                                        },
                                                        "insurancePrice": {
                                                            "value": 0,
                                                            "currency": ""
                                                        }
                                                    },
                                                    "shippingEstimatedDate": "2022-01-05T11:11:11.000Z",
                                                    "shippingFinishedDate": null,
                                                    "metaData": {
                                                        "integrationResponse": {},
                                                        "carrier": {
                                                            "name": "[FedEx] Postmen Testing Account",
                                                            "image": null,
                                                            "metaData": {},
                                                            "id": "fedex",
                                                            "type": {
                                                                "metaData": {},
                                                                "terms": "",
                                                                "rate": {
                                                                    "shippingPrice": {
                                                                        "value": 284.02,
                                                                        "currency": "USD"
                                                                    },
                                                                    "insurancePrice": {
                                                                        "value": 0,
                                                                        "currency": "USD"
                                                                    }
                                                                },
                                                                "name": "FedEx First Overnight®",
                                                                "transitTime": 0,
                                                                "shippingEstimatedDate": null,
                                                                "description": "",
                                                                "id": "fedex_first_overnight",
                                                                "international": false
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "message": "success",
                                    "data": {
                                        "id": "519400fb-f980-4a6a-809c-9f986fdb98a4",
                                        "orderId": "46369545534253-01",
                                        "carrierId": "MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50",
                                        "serviceId": "MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&78c83922-d658-48bf-89d5-0658a6a94e27",
                                        "carrierName": "AfterShip",
                                        "seller": "lastmile",
                                        "status": "DELIVERED",
                                        "type": "PICKUP_DELIVERY",
                                        "tags": [],
                                        "labels": [
                                            {
                                                "id": "78c83922-d658-48bf-89d5-0658a6a94e27",
                                                "name": "Etiqueta de envio",
                                                "url": "https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf",
                                                "type": "PDF"
                                            }
                                        ],
                                        "evidences": [],
                                        "packages": [
                                            {
                                                "id": "a46e5bc1-8959-459f-a094-b6e699f7214c",
                                                "orderId": "46369545534253-01",
                                                "envelope": "Foam or Plastic Containers",
                                                "dimensions": {
                                                    "height": "5",
                                                    "length": "11",
                                                    "width": "7"
                                                },
                                                "weight": "48",
                                                "totalValue": 5352,
                                                "items": [
                                                    {
                                                        "id": "184",
                                                        "name": "Chicken",
                                                        "ean": "EAN354",
                                                        "quantity": 8,
                                                        "price": 669,
                                                        "refId": "314",
                                                        "image": "https://picsum.photos/seed/YtoZ9/128/480",
                                                        "type": "other",
                                                        "weight": "6"
                                                    }
                                                ],
                                                "categories": [
                                                    "Movies",
                                                    "Garden",
                                                    "Books"
                                                ],
                                                "description": "Unde deserunt libero cupiditate illum."
                                            }
                                        ],
                                        "timeline": [
                                            {
                                                "id": "77263f59-0ac5-4b0c-bfe5-f17a1648474d",
                                                "date": "2024-03-09T01:33:14.917Z",
                                                "createdAt": "2024-03-09T01:33:14.917Z",
                                                "updatedAt": "2024-03-09T01:33:14.917Z",
                                                "type": "STATUS",
                                                "description": "Service pending in DEV",
                                                "author": "System",
                                                "metaData": {
                                                    "shippingEstimatedDate": null,
                                                    "metaData": null,
                                                    "serviceId": "78c83922-d658-48bf-89d5-0658a6a94e27",
                                                    "shippingPrice": 284.02,
                                                    "status": "PENDING",
                                                    "labels": [
                                                        {
                                                            "name": "Etiqueta de envio",
                                                            "id": "78c83922-d658-48bf-89d5-0658a6a94e27",
                                                            "type": "PDF",
                                                            "url": "https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf"
                                                        }
                                                    ]
                                                }
                                            },
                                            {
                                                "id": "9906da15-15e4-4dbd-8e90-c34ec43ed446",
                                                "date": "2024-03-09T01:46:20.006Z",
                                                "createdAt": "2024-03-09T01:46:20.006Z",
                                                "updatedAt": "2024-03-09T01:46:20.006Z",
                                                "type": "NOTE",
                                                "description": "A new note has been added",
                                                "author": "afterShip",
                                                "metaData": {
                                                    "0": {
                                                        "type": "COMMENT",
                                                        "note": "El paquete se entrega en portería en la Esperanza 2",
                                                        "author": "afterShip"
                                                    }
                                                }
                                            },
                                            {
                                                "id": "35619274-3bca-4749-8a38-53a62776144a",
                                                "date": "2024-03-09T01:44:17.437Z",
                                                "createdAt": "2024-03-09T01:44:17.437Z",
                                                "updatedAt": "2024-03-09T01:44:17.437Z",
                                                "type": "NOTE",
                                                "description": "A new note has been added",
                                                "author": "afterShip",
                                                "metaData": {
                                                    "0": {
                                                        "type": "COMMENT",
                                                        "note": "Tracking Number: 10001709948594168",
                                                        "author": "afterShip"
                                                    }
                                                }
                                            },
                                            {
                                                "id": "9b60e3fd-5bf9-43c6-99f2-4292a57fa408",
                                                "date": "2024-03-09T01:46:19.689Z",
                                                "createdAt": "2024-03-09T01:46:19.689Z",
                                                "updatedAt": "2024-03-09T01:46:19.689Z",
                                                "type": "STATUS",
                                                "description": "The package was delivered",
                                                "author": "System",
                                                "metaData": {
                                                    "shippingEstimatedDate": "2022-01-05T11:11:11.000Z",
                                                    "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011",
                                                    "status": "DELIVERED"
                                                }
                                            },
                                            {
                                                "id": "21c9acaa-e14b-41bd-aaa7-a2cebd7384c0",
                                                "date": "2024-03-09T01:43:15.887Z",
                                                "createdAt": "2024-03-09T01:43:15.887Z",
                                                "updatedAt": "2024-03-09T01:43:15.887Z",
                                                "type": "STATUS",
                                                "description": "Service pending",
                                                "author": "System",
                                                "metaData": {
                                                    "shippingEstimatedDate": "2022-01-05T11:11:11.000Z",
                                                    "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011",
                                                    "status": "PENDING"
                                                }
                                            },
                                            {
                                                "id": "7a1a3a63-f94c-49f1-a912-bc3f095d7845",
                                                "date": "2024-03-09T01:45:18.812Z",
                                                "createdAt": "2024-03-09T01:45:18.812Z",
                                                "updatedAt": "2024-03-09T01:45:18.812Z",
                                                "type": "STATUS",
                                                "description": "Courier picked the package",
                                                "author": "System",
                                                "metaData": {
                                                    "shippingEstimatedDate": "2022-01-05T11:11:11.000Z",
                                                    "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011",
                                                    "status": "PICKED"
                                                }
                                            },
                                            {
                                                "id": "9ca25940-bdae-4f19-a5b4-92477abfa059",
                                                "date": "2024-03-09T01:33:14.978Z",
                                                "createdAt": "2024-03-09T01:33:14.978Z",
                                                "updatedAt": "2024-03-09T01:33:14.978Z",
                                                "type": "LABEL",
                                                "description": "Added a label",
                                                "author": "System",
                                                "metaData": {
                                                    "name": "Etiqueta de envio",
                                                    "id": "78c83922-d658-48bf-89d5-0658a6a94e27",
                                                    "type": "PDF",
                                                    "url": "https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf"
                                                }
                                            },
                                            {
                                                "id": "24b84b8b-7418-4ed8-bc89-b6a1cbee2331",
                                                "date": "2024-03-09T01:43:16.289Z",
                                                "createdAt": "2024-03-09T01:43:16.289Z",
                                                "updatedAt": "2024-03-09T01:43:16.289Z",
                                                "type": "NOTE",
                                                "description": "A new note has been added",
                                                "author": "afterShip",
                                                "metaData": {
                                                    "0": {
                                                        "type": "COMMENT",
                                                        "note": "Tracking Number: 10001709948594168",
                                                        "author": "afterShip"
                                                    }
                                                }
                                            },
                                            {
                                                "id": "9dfad688-e99a-4b27-9ccb-959da40c3bf8",
                                                "date": "2024-03-09T01:33:08.385Z",
                                                "createdAt": "2024-03-09T01:33:08.385Z",
                                                "updatedAt": "2024-03-09T01:33:08.385Z",
                                                "type": "STATUS",
                                                "description": "Service creation by AfterShip",
                                                "author": "System",
                                                "metaData": {
                                                    "status": "CREATED"
                                                }
                                            },
                                            {
                                                "id": "781ab0af-e62a-4a21-a837-8d0eea3f57c2",
                                                "date": "2024-03-09T01:44:17.077Z",
                                                "createdAt": "2024-03-09T01:44:17.077Z",
                                                "updatedAt": "2024-03-09T01:44:17.077Z",
                                                "type": "STATUS",
                                                "description": "Courier on route",
                                                "author": "System",
                                                "metaData": {
                                                    "shippingEstimatedDate": "2022-01-05T11:11:11.000Z",
                                                    "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011",
                                                    "status": "ON_ROUTE"
                                                }
                                            }
                                        ],
                                        "notes": [
                                            {
                                                "type": "COMMENT",
                                                "date": "2024-03-09T01:43:16.280Z",
                                                "content": "Tracking Number: 10001709948594168",
                                                "author": "afterShip"
                                            },
                                            {
                                                "type": "COMMENT",
                                                "date": "2024-03-09T01:44:17.423Z",
                                                "content": "Tracking Number: 10001709948594168",
                                                "author": "afterShip"
                                            },
                                            {
                                                "type": "COMMENT",
                                                "date": "2024-03-09T01:46:19.998Z",
                                                "content": "El paquete se entrega en portería en la Esperanza 2",
                                                "author": "afterShip"
                                            }
                                        ],
                                        "timezone": {
                                            "offset": 300,
                                            "value": "America/Bogota",
                                            "label": null
                                        },
                                        "carrierLogo": "iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAtTSURBVHgB7Z1PbBvHFca/WZICXCCFkt6aAGEORZ3YjaVD0d5MpUCL5BIZydGprUOKRBYg+ZQUDSqxSIG0F8uB7PZmufYxruVLghRwRN9S9GDZTpwUPZgB6t6aEE3hAKLEybxdrk3bEnd2dnb+LPcHyJLMFUXqffvem5k3bxgKCF+YGMfmZl18OYEAdXD2pPi6DoZ6dAEbF/+M3/9TrAPGO+DoiG/ooy2+/0JctyE+Omzl8xYKCEMB4At769gMGmDsoHhHDWHEOvJhI/zg/ArGxlpseaMNz/FWAHxubwMIpsVbeDFHgyexIbzEFaC35quH8EoAd43OgyMPu3DLMBEyOFqo1Zo+eQbnBdCP59PCvQujC/fuBy0RJs6y0zdX4TjOCqBv+HmwYMG5u10W8go93nRZCM4JoBCGfxCHheCUAPjsM0cRsEWLSV2+OCgEJwTAX5uoo9I9A39ifDY4XxPDyOMuJIsBLCPu+kVh/FsYFeMTjE2j270VvnfbLwWWGLm7fjcoLFRrU7a8gRUPwI/tO4LK1lWMuvEJyne2uuth/mMB4x5AGP+E+LSAkofhfEkkiE0YxJgAwuFdt3sR5V0/nChBnBEhoQMDGBFAGO+r3fXCDu90YzAvyF0ApfEVMSSCXAVQGj8jBkSQmwBK42siZxHkIoDS+JrJUQTaBRBm+1vdq6XxtbOBWigCraMD/RNBm1tnSuPnwoQYRp+AZrQKgM/uXwTj0yjJi6P89ae1TqJpCwF87mkq1boIH/jOI8BPhE4f+370/e1/AtcvA3e+hhcwNsVWPmlBA1oE4FXSN3UYeGEW2PPd+///y9vA+38CPl6D80RJ4aSOfECPAI7tWxWfjsBlfvBj4OU3gMf3Dr+OhHDhj8C1y3AaMWUs1g0OISOZBRCuYjF2Bq7yPeHmD/8+EkAaPr4EfHAK+O9/4CwsOMRWbmRyWZkE4LTrpzjfeCVy91lYPw+0/uKqEDpiaPhUllCQbRRQ6S45aXyK880Psxs/fq554eB+6uTghlZYM1UVKXuAfkXPLbiEbJxXhfKDc28B//oHnCLDqKAKVaJyLjdQjfNpeezxyBu4lh9wTl6gBQWUPIAziZ+uOK/K+6eBv6+5IQRFL6AmgLl9t6zH/t3G86ZxZ/6gxU59OoWUpBYAn9vfEC5nHbbIO86r4kJ+oOAF0gvg2D4yfgOmMRXns2I3P0jtBVIJwErmH8d5cvm23X0abOUHtdqjaeYF0s0D0LjfJE/88N543ifjE/SaacTwhOFQtbWZarUwnQAYDsIkjV/6Z/hBaNhInssknM2nuVxaAHzuR9PGM3+agqXkylfota+fg2HGw0RdEnkPwHvm50L/Ldbpf/uLKJ76xDf/i17zOy9H78E0vCe9MiudBIrs/yvQ3LMtaBTw/DExJ/8inMaNWcKOGA08KnOhlACsj/0HISFQckXx1SVo/E93vSvrBJJzApJrAeT+HWkmQncWhQVanXvhdftCcLaSKAzZraSrJAXAzGb/MtAfnKp2piytBVCcD2sFzrlZS8jZAZnLEm/r/q7er+AypvMDH6qFCIlJoeRRwNbWBEzx7HORMdNChjj/G5F1v5TvsJHi+8mZ6HepGJ/e27M/gzEkbCcRAnoNI/GfXPlLb0Rfq5ZhxcNG3fkBuXsqFFWN8zSd/fxs9B6JC38wMz/At0kArWGXJAuAw4wHGFzdo9mzA1PqyZWu/EBHnN9p2ZqmuI2QnAckC4CxJ4UIzEN37+G3oztZpUz7m6/vLcio5AfXPgL++o56nKdVy1fetjxKYRpCgCkPsBv0B3z1pHriFecHFFJ+9W6yQbKO591atq4nXTA0CeSv7a3DFegObv4tcqcqiWKcH5x/a+dEkdw9PUZJnorxKc5TDkOv0Z2ahfFwFDeE4R6gWq2LGUA4BQmAxJAlP6APGnHES7XkJW5c1hvnXSE6OWVjt4fVq4JtMpgfqJZhXf8o+siCE3E+gaBSh7IAer26SALhLLbKtH0pTyN62xlCAGN+tGunkBCGhZzLsGyXoedAggD4uJhThjdkzQ+G4XKcHwYbfuaC9W7h2onzg999qMdF03P8+j2R4b/pZ3laghf3MwmUIWt+4FOcz0DxPMCDUEh480K6RZjwZ94rhvE5z7Aa2EMbRWDPI9FwTWYCKb7zfa5GHoSzjMvBRWFPP4NPgtYNRojhAggqRlqWG+PAcxLXpN5f6TZB0B768LAHxSRCG0VCZsauKK4/ptfLkgP0iuUBRpGxsfawh4cKgP358zaio9RL/KSTvSaQlQLwmHbSBckC4L0rKPETzr9IukRiGBhsoMRPGG8lXSIRAlgpAF9hlUTbJQugWi0F4CsStksUQJhFMpQi0ImZrWQbMq1iJKeCef6J4O3PMDJ8aaByicnZTFIAQf5bX2nZdlS4bqIVvZzN5AQQxZJ85wPijRxFh95j/rWLHdl+gVICiGJJL/9blP44RRaBufcn7bHll4NZZRUmoD/Q4s/d68idBXovtHPZlLhZIH2zypeEURjodikM5F8pTC6Sdui40gVEFRvtYxlvpzlFRNoDRMNBfhYmocreuEuYT+3iBruEmfZknLXSXJ6uIqiHVdiA/pjkEXwYKdC+/8W+aG20jqltN9NcnkoA7PRNGg20YIN4l6+r+UHcPYSaP9jqGcT5JbYcLuFLk74snLGm+EUN2MK1/MClY2SCYBkpUTswwlbL+J2g3TppOonP7R/++MonkMK9LmFKB0aobQyx7QUGydIFRBWK8x+cdqs9HNlE5cegiFNeIIZq+l99d3iL9iwewLVuoPdQuvsJ9a1hLnmBGMoPaOilOz9w/TjZ2vYMFFHeGBLONTN2Ei4yOH9AsVqVwfG8u2cJr6bN/AfJtjOoWl2Cy1XDsfHi+QOZ3nzX+l1D6GdsjudlELN+acf9Dz0FMiJygQXx6QRKzMP5jJibWUUGdB0f715CWHxWReKnHPtj9GwOrdUOhe6oxAwaXH+MFgFE9QJBZjWWyBLMZEn87nsmaKI/KtCiypIhMN5UPSl8x6eDZkQ+sCo+SR9aVJICxk+ylZsL0Ij+BhG1Gr3AsoxcO/waqneWoJlcesCFPYarwTo4q6MkO5T0VXtTuuL+fU+NnChFoIkcjR8+PXKkFEFGcjZ++CuQM6UIFDFg/PDXwAClCFJiyPiEkTZxYauZ6tgkbNUT+kVLZPuTJoxPGO8Ezef2L4lFjEWUPEwO4/zEXwkL8NlnjopZQ1pB9KMdff50xE1xPOvKngrWesGXecFdWlTRY8rlP4j1wwBGOCR0qKJKzOsvwSJOnAYReYPKRetH1JnD6l0/iFPHgYS5QYDFwoYFGt710LQR63fDyfNgwjIzxucLJITQ3aP6/2W23HaqhtLZA4HCsBAEDc89grOGj/HiRKj+sHFefOlLjtASie1ZjN1Zc9XwMR4dCRYKYUIIgcLDQQe9Qr9/QrCms2Inb7wSwCBi+NgQd9lRq2Jg1IyZX/LN6IN4K4BB7uYLJsJEmMlXmhjrtlwYxmWlEAKICYVQqVxFflPMHTF+nyyC4WMKdWhU/4CL/CqTab6+QMYnCndqGDv16XIum1Zppc6hCRxdFPPYONq0qnOnUligob8i1wUKlQMM0h8yXoUOattPFc31xxT24Mh+R7PjyE7h4v4ghfUAMRl3LmvZgesyxT86VnXnssYduC5TeA9A9GcN19P9EJ/sh5FCMxKHR6feuUw7cEfA+MRIeIAYyXxAueWaj4zO8fHEdthObffl2Sjuj1Sji5ESQDhVzIZ1MineVG8So+UBQPnAjbUdp4rDzhuf5X84lmOMnABCov6G95K88JSNm0sYQUZSAGFTq+3tQ4jygQ5txETJ6EHVx2G94QjzLdIWvdPvEPp9AAAAAElFTkSuQmCC",
                                        "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011",
                                        "comments": "Iusto incidunt eligendi alias reprehenderit nam aut soluta.\nIncidunt corrupti quis et quisquam eius veniam distinctio natus.",
                                        "paymentMethod": "ONLINE",
                                        "carrierServiceType": "BROKER",
                                        "rate": {
                                            "shippingPrice": {
                                                "value": 0,
                                                "currency": ""
                                            },
                                            "insurancePrice": {
                                                "value": 0,
                                                "currency": ""
                                            }
                                        },
                                        "shippingEstimatedDate": "2022-01-05T11:11:11.000Z",
                                        "shippingFinishedDate": null,
                                        "metaData": {
                                            "integrationResponse": {},
                                            "carrier": {
                                                "name": "[FedEx] Postmen Testing Account",
                                                "image": null,
                                                "metaData": {},
                                                "id": "fedex",
                                                "type": {
                                                    "metaData": {},
                                                    "terms": "",
                                                    "rate": {
                                                        "shippingPrice": {
                                                            "value": 284.02,
                                                            "currency": "USD"
                                                        },
                                                        "insurancePrice": {
                                                            "value": 0,
                                                            "currency": "USD"
                                                        }
                                                    },
                                                    "name": "FedEx First Overnight®",
                                                    "transitTime": 0,
                                                    "shippingEstimatedDate": null,
                                                    "description": "",
                                                    "id": "fedex_first_overnight",
                                                    "international": false
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Fri, 15 Mar 2024 05:46:21 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "78"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "8c9143e7-a085-4614-95cc-bf033e719359"
                                    }
                                }
                            },
                            "x-amzn-ErrorType": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "AccessDeniedException"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "UqALJGIuIAMEu8w="
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/m4031"
                                        },
                                        {
                                            "example": {
                                                "message": "Invalid token",
                                                "requestId": "09563f82-fe06-4004-b623-85e3aa4c92c9"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "message": "Invalid token",
                                    "requestId": "09563f82-fe06-4004-b623-85e3aa4c92c9"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Fri, 15 Mar 2024 05:47:57 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "77"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "f4ea48a1-4f12-45eb-bc9a-0e5e16775162"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "77"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "close"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "UqAaFEflIAMEmQQ="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"4d-luJcSU08k4D1enNWjCg/hAxlJaA\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-65f3e10d-731d2e650f3befa732d08628;Parent=344488d9e72436e7;Sampled=0;lineage=65a34a45:0|c9856695:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Fri, 15 Mar 2024 05:47:57 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/m4031"
                                        },
                                        {
                                            "example": {
                                                "message": "Unauthorized",
                                                "requestId": "c7c1ce02-b63f-4001-a1ac-798554c85bd6"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "message": "Unauthorized",
                                    "requestId": "c7c1ce02-b63f-4001-a1ac-798554c85bd6"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Fri, 15 Mar 2024 06:00:21 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "351"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "c13dd548-8dcd-4483-a284-195027797305"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "351"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "close"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "UqCOTESjoAMEsnQ="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"15f-u7RC1q267h7ihEfygJgqjqqGYvM\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-65f3e3f4-6a1552f86e540d444a3fe3aa;Parent=35134e800bd3d09a;Sampled=0;lineage=65a34a45:0|c9856695:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Fri, 15 Mar 2024 06:00:21 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/m4041"
                                        },
                                        {
                                            "example": {
                                                "type": "exception",
                                                "code": "TRP0005E",
                                                "data": {
                                                    "0": "1",
                                                    "carrierId": "MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50",
                                                    "serviceId": "_78c83922-d658-48bf-89d5-0658a6a94e27"
                                                },
                                                "requestId": "9e3ce442-458c-4861-99aa-23b2cd2da9cf",
                                                "date": "2024-03-15T06:00:21.009Z",
                                                "message": "Service not found: 'MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&_78c83922-d658-48bf-89d5-0658a6a94e27'"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "type": "exception",
                                    "code": "TRP0005E",
                                    "data": {
                                        "0": "1",
                                        "carrierId": "MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50",
                                        "serviceId": "_78c83922-d658-48bf-89d5-0658a6a94e27"
                                    },
                                    "requestId": "9e3ce442-458c-4861-99aa-23b2cd2da9cf",
                                    "date": "2024-03-15T06:00:21.009Z",
                                    "message": "Service not found: 'MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&_78c83922-d658-48bf-89d5-0658a6a94e27'"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.pickingnpacking.com/{environment}/v1/tracking/hook",
                        "variables": {
                            "environment": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Shipping updates"
                ],
                "summary": "Update service",
                "description": "Service that allows updating the details of the tracking service via webhook.\n\n**Body**\n\n``` graphql\n{\n  status: PENDING | ASSIGNED | PICKED | ON_ROUTE | INCIDENT | RETURNED | DELIVERED\n  agent: {\n    id: String!\n    name: String!\n    identification: String\n    phone: String\n    email: String\n    vehicle: SCOOTER | VAN | CAR | TRUCK | BIKE | WALK | DRONE\n  }\n  trackingUrl: String\n  totalDistanceTraveled: Int\n  rating: Float # 1-5\n  shippingPrice: Float\n  shippingEstimatedDate: String\n}\n\n ```",
                "operationId": "Updateservice",
                "parameters": [
                    {
                        "name": "carrierId",
                        "in": "path",
                        "description": "Carrier ID",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "{carrierId}"
                        }
                    },
                    {
                        "name": "serviceId",
                        "in": "path",
                        "description": "Shipment ID generated by the carrier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "78c83922-d658-48bf-89d5-0658a6a94e27"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/UpdateserviceRequest"
                                    },
                                    {
                                        "example": {
                                            "status": "DELIVERED",
                                            "agent": null,
                                            "trackingUrl": "https://localhost.com",
                                            "totalDistanceTraveled": null,
                                            "rating": null,
                                            "shippingPrice": null,
                                            "shippingEstimatedDate": null
                                        }
                                    }
                                ]
                            },
                            "example": {
                                "status": "DELIVERED",
                                "agent": null,
                                "trackingUrl": "https://localhost.com",
                                "totalDistanceTraveled": null,
                                "rating": null,
                                "shippingPrice": null,
                                "shippingEstimatedDate": null
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Fri, 15 Mar 2024 05:57:04 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "367"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "97a3a0d9-5cfc-4790-9295-15a24aae2e54"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "367"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "close"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "UqBvlHNHIAMEWFg="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"16f-3ais90L2VHRrhtvRoDk3sHbXcX0\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-65f3e330-67bc3fc47ae68c692339f38b;Parent=12ba3d211f2bfbd9;Sampled=0;lineage=65a34a45:0|c9856695:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Fri, 15 Mar 2024 05:57:04 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/m2001"
                                        },
                                        {
                                            "example": {
                                                "message": "Service updated successfully",
                                                "data": {
                                                    "status": "PENDING",
                                                    "agent": {
                                                        "id": "27327489234",
                                                        "name": "Pedro",
                                                        "identification": "020323809",
                                                        "phone": "+57314855674",
                                                        "email": "pedro434234@gmailc.om",
                                                        "vehicle": "SCOOTER"
                                                    },
                                                    "trackingUrl": "https://localhost.com",
                                                    "totalDistanceTraveled": 2,
                                                    "rating": 5,
                                                    "shippingPrice": 150000,
                                                    "shippingEstimatedDate": "2022-04-27T20:25:45.067Z"
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "message": "Service updated successfully",
                                    "data": {
                                        "status": "PENDING",
                                        "agent": {
                                            "id": "27327489234",
[...]
