{
    "openapi": "3.0.0",
    "info": {
        "title": "Pick and Pack API",
        "description": "The Pick and Pack API provides comprehensive functionality for order management, picking operations, shipment tracking, and returns processing. The main capabilities include:\r\n\r\n- Retrieving detailed order information, including items, packages, and status\r\n- Accessing worksheet data for picking operations\r\n- Querying shipment tracking and delivery details\r\n- Getting facility information\r\n\r\n## Authentication\r\n\r\n- `POST` [Generate JWT token]()\r\n\r\n## Orders\r\n\r\n- `GET` [Get order by ID]()\r\n- `PATCH` [Set order delivery]()\r\n\r\n## Worksheets\r\n\r\n- `GET` [Get worksheet by ID]()\r\n- `GET` [Get worksheets by order ID]()\r\n\r\n## Facilities\r\n\r\n- `GET` [Get facility by ID]()\r\n\r\n## Shipments\r\n\r\n- `GET` [Get shipment]()\r\n- `GET` [List shipments]()\r\n\r\n## Common Issues and Solutions\r\n\r\n### 1. Token Expiration\r\n\r\n- Authentication token expires after 15 minutes.  \r\n- Check console logs for refresh attempt.  \r\n- Verify `APIKEY_ACCOUNT` format.  \r\n- Ensure endpoint URLs are correct.  \r\n\r\n### 2. Variable Errors\r\n\r\n- Check variable syntax.  \r\n- Validate API key format.  \r\n\r\n### 3. Cache-Related Issues\r\n\r\n- Response data might appear stale due to API caching.  \r\n- Each endpoint has a specific cache duration:\r\n    - **Orders:** 30 seconds  \r\n    - **Shipments:** 30 seconds  \r\n    - **Worksheets:** 30 seconds  \r\n    - **Facilities:** 30 seconds  \r\n- For real-time data, consider the cache duration when implementing polling strategies.  \r\n- Cache is based on specific parameters (e.g., orderId, shipmentId).",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://auth.pickingnpacking.com/prod"
        },
        {
            "url": "https://api.pick-and-pack.com/prod"
        }
    ],
    "paths": {
        "/token": {
            "post": {
                "tags": ["Authentication"],
                "summary": "Generate JWT token",
                "description": "Generates a `JWT` (JSON Web Token) necessary to access the Pick and Pack Last Mile Protocol API information. To generate the `JWT` it is necessary to have the `API KEY` access **VTEX Admin > Shipping > Pick and Pack > Settings > Integration > API Key**.\r\n\r\n>ℹ️ The authentication token expires after 15 minutes.\r\n\r\n## Permissions\r\n\r\nThis endpoint does not require [permissions](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatetokenRequest"
                            },
                            "example": {
                                "apiKey": "{pnpApiKey}"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Success message."
                                        },
                                        "data": {
                                            "type": "string",
                                            "description": "JWT token."
                                        }
                                    }
                                },
                                "example": {
                                    "message": "success",
                                    "data": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJob3N0bmFtZSI6Imxhc3RtaWxlIiwidXNlcm5hbWUiOiJsYXN0bWlsZS5jcmlzdGlhbnJvbWVyb3Z0ZXhjb20iLCJpYXQiOjE3Mzk0NDkyNTMsImV4cCI6MTczOTQ1MDE1M30.lkb1e5XDuUBddthwaxrvi_Ub0YBEAEessJy_bvzb-do"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://auth.pickingnpacking.com/prod"
                    }
                ]
            }
        },
        "/orders/{orderId}": {
            "get": {
                "tags": ["Orders"],
                "summary": "Get order by ID",
                "description": "Retrieves order details by its ID.\n\n>ℹ️ The response is cached for 30 seconds based on the `orderId` parameter. The endpoint supports up to 500 requests per second, with a maximum of 100 concurrent requests.\r\n\r\n## Permissions\r\n\r\nAny user or [application key](https://developers.vtex.com/docs/guides/api-authentication-using-application-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| OMS | OMS access | **View order** |\r\n| OMS | OMS access | **Only show orders created by the user (via call center)** |\r\n| Catalog | Telesales | **Assisted Sales** |\r\n\r\nThere are no applicable [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) for this resource list. You must [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) and add at least one of the resources above in order to use this endpoint. To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).\r\n\r\n>\u2757 To prevent integrations from having excessive permissions, consider the [best practices for managing app keys](https://help.vtex.com/en/tutorial/best-practices-application-keys--7b6nD1VMHa49aI5brlOvJm) when assigning License Manager roles to integrations.",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Order ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "1509750516095-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/403Expiredtoken1"
                                },
                                "example": {
                                    "message": "User is not authorized to access this resource with an explicit deny",
                                    "code": "EXPIRED_TOKEN",
                                    "reason": "Expired token",
                                    "requestId": "1a36389e-0050-436e-a1d0-14cfb6508c2f"
                                }
                            },
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/403Forbidden1"
                                },
                                "example": {
                                    "type": "business",
                                    "code": "SHR0007B",
                                    "message": "You do not have access to this order [1481120515528-01]",
                                    "date": "2024-12-04T01:03:29.495Z",
                                    "requestId": "3d292319-2129-47b6-a748-92a8be02576a"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod"
                    }
                ]
            }
        },
        "/orders/{orderId}/tracking": {
            "patch": {
                "tags": ["Orders"],
                "summary": "Set order delivery",
                "description": "This endpoint finalizes the Pick and Pack workflow by marking the order as delivered. Additionally, it allows you to update the OMS with shipping details. All fields are optional. For more information, see [Update order tracking status](https://developers.vtex.com/docs/api-reference/orders-api#put-/api/oms/pvt/orders/-orderId-/invoice/-invoiceNumber-/tracking) endpoint.\r\n\r\n## Permissions\r\n\r\nAny user or [application key](https://developers.vtex.com/docs/guides/api-authentication-using-application-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| OMS | OMS access | **View order** |\r\n| OMS | OMS access | **Only show orders created by the user (via call center)** |\r\n| Catalog | Telesales | **Assisted Sales** |\r\n\r\nThere are no applicable [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) for this resource list. You must [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) and add at least one of the resources above in order to use this endpoint. To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).\r\n\r\n>\u2757 To prevent integrations from having excessive permissions, consider the [best practices for managing app keys](https://help.vtex.com/en/tutorial/best-practices-application-keys--7b6nD1VMHa49aI5brlOvJm) when assigning License Manager roles to integrations.",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Order ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "1506390515917-01"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "deliveredDate": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true,
                                        "description": "Date and time when the order was delivered."
                                    },
                                    "events": {
                                        "type": "array",
                                        "description": "List of events that occurred during the delivery process.",
                                        "items": {
                                            "type": "object",
                                            "description": "Event details.",
                                            "properties": {
                                                "city": {
                                                    "type": "string",
                                                    "description": "City where the event occurred."
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "description": "State where the event occurred."
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "description": "Event description."
                                                },
                                                "date": {
                                                    "type": "string",
                                                    "description": "Date and time when the event occurred."
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "deliveredDate": "2025-02-13T02:00:00.000Z",
                                    "events": [
                                        {
                                            "city": "São Paulo",
                                            "state": "SP",
                                            "description": "Delivery",
                                            "date": "2025-02-10T00:00:00.000Z"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetOrderDelivery"
                                },
                                "example": {
                                    "deliveredDate": "2025-02-13T02:00:00.000Z",
                                    "events": [
                                        {
                                            "city": "São Paulo",
                                            "state": "SP",
                                            "description": "Delivery",
                                            "date": "2025-02-10T00:00:00.000Z"
                                        }
                                    ],
                                    "orderId": "1507400515991-01"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Invoicenotfound1"
                                },
                                "example": {
                                    "type": "exception",
                                    "code": "ORA0001B",
                                    "message": "The order must be invoiced to update the status to delivered",
                                    "date": "2025-02-13T11:29:50.757Z",
                                    "requestId": "a82ec832-14cc-4a53-ad50-de67538bc934"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod"
                    }
                ]
            }
        },
        "/worksheets/{worksheetId}": {
            "get": {
                "tags": ["Worksheets"],
                "summary": "Get worksheet by ID",
                "description": "Retrieves worksheet details by ID.\n\n>ℹ️ The response is cached for 30 seconds based on the `worksheetId` parameter. The endpoint supports up to 500 requests per second, with a maximum of 100 concurrent requests.\r\n\r\n## Permissions\r\n\r\nAny user or [application key](https://developers.vtex.com/docs/guides/api-authentication-using-application-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| OMS | OMS access | **View order** |\r\n| OMS | OMS access | **Only show orders created by the user (via call center)** |\r\n| Catalog | Telesales | **Assisted Sales** |\r\n\r\nThere are no applicable [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) for this resource list. You must [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) and add at least one of the resources above in order to use this endpoint. To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).\r\n\r\n>\u2757 To prevent integrations from having excessive permissions, consider the [best practices for managing app keys](https://help.vtex.com/en/tutorial/best-practices-application-keys--7b6nD1VMHa49aI5brlOvJm) when assigning License Manager roles to integrations.",
                "parameters": [
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "description": "Worksheet ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 546744628006
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorksheetResponse"
                                },
                                "example": {
                                    "id": "c13ed6d8-1c86-4ad9-be63-5e2f4c5451b2",
                                    "worksheetId": "546744628006",
                                    "initDate": "2025-02-11T00:33:18.584Z",
                                    "finishedDate": null,
                                    "status": "COMPLETED",
                                    "createdAt": "2025-02-11T00:32:47.542Z",
                                    "priority": 0,
                                    "categoriesIds": ["12", "6", "7", "9"],
                                    "lastPickedItemTime": 1739233967327,
                                    "finishEstimatedDate": "2025-02-13T16:03:55.202Z",
                                    "hostname": "lastmile",
                                    "pickerAssignment": [
                                        {
                                            "active": true,
                                            "assignmentDate": "2025-02-11T00:32:48.194Z",
                                            "notes": [],
                                            "method": "MANUAL",
                                            "pickerId": "pickertalleruno",
                                            "finishedDate": null
                                        }
                                    ],
                                    "totalCompletedItems": 4,
                                    "totalPackedItems": 4,
                                    "updatedAt": "2025-02-11T18:47:53.970Z",
                                    "lastStatusChangeTime": 1739234051187,
                                    "totalItems": 4,
                                    "ordersIds": [
                                        {
                                            "totalValue": 14000000,
                                            "orderId": "1509780516107-01",
                                            "unitsQuantity": 16,
                                            "itemsQuantity": 4,
                                            "shippingEstimatedDate": "2025-02-10T17:41:24.986Z",
                                            "isInvoiced": true,
                                            "priority": 561.2
                                        }
                                    ],
                                    "facilityId": "783262b09ddc4b8facee2fa50541fd1e",
                                    "items": [
                                        {
                                            "id": "73",
                                            "name": "Tic Tac Menta X 24 Cajitas",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155761-55-55/73.jpg?v=637917696200900000",
                                            "temperature": "AMBIENT",
                                            "categories": [
                                                {
                                                    "id": "6",
                                                    "name": "Food"
                                                }
                                            ],
                                            "itemAssignment": {
                                                "startPickingAt": "2025-02-11T00:33:17.511Z",
                                                "assignedAt": "2025-02-10T17:37:35.170Z",
                                                "finishedAt": "2025-02-11T00:34:04.417Z"
                                            },
                                            "originalQuantity": 4,
                                            "completedQuantity": 4,
                                            "pickedQuantity": 4,
                                            "rejectedQuantity": 0,
                                            "replacedQuantity": 0,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "currencyCode": "MXN",
                                                    "status": "DELIVERED",
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "rejectedQuantity": 0,
                                                    "replacedQuantity": 0,
                                                    "replacedBy": [],
                                                    "notes": []
                                                }
                                            ]
                                        },
                                        {
                                            "id": "88",
                                            "name": "Porta Comida Lonchera Electrica Portable Home Elements",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155776-55-55/88.jpg?v=637917703437530000",
                                            "temperature": "AMBIENT",
                                            "categories": [
                                                {
                                                    "id": "7",
                                                    "name": "Home Appliances"
                                                }
                                            ],
                                            "itemAssignment": {
                                                "startPickingAt": "2025-02-11T00:33:18.809Z",
                                                "assignedAt": "2025-02-10T17:37:35.170Z",
                                                "finishedAt": "2025-02-11T00:34:04.417Z"
                                            },
                                            "originalQuantity": 4,
                                            "completedQuantity": 4,
                                            "pickedQuantity": 4,
                                            "rejectedQuantity": 0,
                                            "replacedQuantity": 0,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "currencyCode": "MXN",
                                                    "status": "DELIVERED",
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "rejectedQuantity": 0,
                                                    "replacedQuantity": 0,
                                                    "replacedBy": [],
                                                    "notes": []
                                                }
                                            ]
                                        },
                                        {
                                            "id": "116",
                                            "name": "Pedigree Alimento Para Perro Adulto 15 Kg",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155804-55-55/116.jpg?v=637919000315400000",
                                            "temperature": "AMBIENT",
                                            "categories": [
                                                {
                                                    "id": "9",
                                                    "name": "Pets"
                                                }
                                            ],
                                            "itemAssignment": {
                                                "startPickingAt": "2025-02-11T00:33:20.184Z",
                                                "assignedAt": "2025-02-10T17:37:35.170Z",
                                                "finishedAt": "2025-02-11T00:34:04.417Z"
                                            },
                                            "originalQuantity": 4,
                                            "completedQuantity": 4,
                                            "pickedQuantity": 4,
                                            "rejectedQuantity": 0,
                                            "replacedQuantity": 0,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "currencyCode": "MXN",
                                                    "status": "DELIVERED",
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "rejectedQuantity": 0,
                                                    "replacedQuantity": 0,
                                                    "replacedBy": [],
                                                    "notes": []
                                                }
                                            ]
                                        },
                                        {
                                            "id": "1224",
                                            "name": "Blusa amarilla XL",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155810-55-55/Blusa.png?v=637919004662770000",
                                            "temperature": "AMBIENT",
                                            "categories": [
                                                {
                                                    "id": "12",
                                                    "name": "Apparel"
                                                }
                                            ],
                                            "itemAssignment": {
                                                "startPickingAt": "2025-02-11T00:33:21.546Z",
                                                "assignedAt": "2025-02-10T17:37:35.170Z",
                                                "finishedAt": "2025-02-11T00:34:04.417Z"
                                            },
                                            "originalQuantity": 4,
                                            "completedQuantity": 4,
                                            "pickedQuantity": 4,
                                            "rejectedQuantity": 0,
                                            "replacedQuantity": 0,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 500000,
                                                    "listPrice": 700000,
                                                    "currencyCode": "MXN",
                                                    "status": "DELIVERED",
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "rejectedQuantity": 0,
                                                    "replacedQuantity": 0,
                                                    "replacedBy": [],
                                                    "notes": []
                                                }
                                            ]
                                        }
                                    ],
                                    "pickedItems": [
                                        {
                                            "id": "73",
                                            "name": "Tic Tac Menta X 24 Cajitas",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155761-55-55/73.jpg?v=637917696200900000",
                                            "temperature": "AMBIENT",
                                            "originalQuantity": 4,
                                            "pickedQuantity": 4,
                                            "packedQuantity": 4,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "packedQuantity": 4,
                                                    "currencyCode": "MXN"
                                                }
                                            ]
                                        },
                                        {
                                            "id": "88",
                                            "name": "Porta Comida Lonchera Electrica Portable Home Elements",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155776-55-55/88.jpg?v=637917703437530000",
                                            "temperature": "AMBIENT",
                                            "originalQuantity": 4,
                                            "pickedQuantity": 4,
                                            "packedQuantity": 4,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "packedQuantity": 4,
                                                    "currencyCode": "MXN"
                                                }
                                            ]
                                        },
                                        {
                                            "id": "116",
                                            "name": "Pedigree Alimento Para Perro Adulto 15 Kg",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155804-55-55/116.jpg?v=637919000315400000",
                                            "temperature": "AMBIENT",
                                            "originalQuantity": 4,
                                            "pickedQuantity": 4,
                                            "packedQuantity": 4,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "packedQuantity": 4,
                                                    "currencyCode": "MXN"
                                                }
                                            ]
                                        },
                                        {
                                            "id": "1224",
                                            "name": "Blusa amarilla XL",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155810-55-55/Blusa.png?v=637919004662770000",
                                            "temperature": "AMBIENT",
                                            "originalQuantity": 4,
                                            "pickedQuantity": 4,
                                            "packedQuantity": 4,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 500000,
                                                    "listPrice": 700000,
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "packedQuantity": 4,
                                                    "currencyCode": "MXN"
                                                }
                                            ]
                                        }
                                    ],
                                    "Items": [],
                                    "replacedItems": [],
                                    "historicalWorksheet": []
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Notfound1"
                                },
                                "example": {
                                    "type": "exception",
                                    "code": "WORK0001B",
                                    "message": "Worksheet not found [5467446280061]",
                                    "date": "2025-02-13T11:34:36.574Z",
                                    "requestId": "c6ad79d4-8391-4238-8fa0-413274f87f93"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod"
                    }
                ]
            }
        },
        "/worksheets": {
            "get": {
                "tags": ["Worksheets"],
                "summary": "Get worksheets by order ID",
                "description": "Lists all worksheets by order ID.\n\n>ℹ️ The response is cached for 30 seconds based on the `orderId` query parameter. The endpoint supports up to 500 requests per second, with a maximum of 100 concurrent requests.\r\n\r\n## Permissions\r\n\r\nAny user or [application key](https://developers.vtex.com/docs/guides/api-authentication-using-application-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| OMS | OMS access | **View order** |\r\n| OMS | OMS access | **Only show orders created by the user (via call center)** |\r\n| Catalog | Telesales | **Assisted Sales** |\r\n\r\nThere are no applicable [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) for this resource list. You must [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) and add at least one of the resources above in order to use this endpoint. To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).\r\n\r\n>\u2757 To prevent integrations from having excessive permissions, consider the [best practices for managing app keys](https://help.vtex.com/en/tutorial/best-practices-application-keys--7b6nD1VMHa49aI5brlOvJm) when assigning License Manager roles to integrations.",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "query",
                        "description": "Order ID.",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "1506500515925-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GetWorksheetsResponse"
                                    }
                                },
                                "example": [
                                    {
                                        "id": "c13ed6d8-1c86-4ad9-be63-5e2f4c5451b2",
                                        "facilityId": "783262b09ddc4b8facee2fa50541fd1e",
                                        "worksheetId": "546744628006",
                                        "categoriesIds": ["12", "6", "7", "9"],
                                        "finishedDate": null,
                                        "initDate": "2025-02-11T00:33:18.584Z",
                                        "status": "COMPLETED",
                                        "ordersIds": [
                                            {
                                                "orderId": "1509780516107-01",
                                                "unitsQuantity": 16,
                                                "itemsQuantity": 4
                                            }
                                        ],
                                        "hostname": "lastmile",
                                        "items": [],
                                        "pickerAssignment": [
                                            {
                                                "notes": [],
                                                "method": "MANUAL",
                                                "active": true,
                                                "assignmentDate": "2025-02-11T00:32:48.194Z",
                                                "pickerId": "pickertalleruno",
                                                "finishedDate": null
                                            }
                                        ],
                                        "itemsQuantity": 4,
                                        "unitsQuantity": 16,
                                        "completedUnitsQuantity": 16,
                                        "packedUnitsQuantity": 4,
                                        "deliveryWindow": {
                                            "minDate": "2025-02-13T16:03:55.202Z",
                                            "maxDate": "2025-02-13T16:03:55.202Z"
                                        },
                                        "createdAt": "2025-02-11T00:32:47.542Z"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400OrderIDisrequired"
                                },
                                "example": {
                                    "type": "business",
                                    "code": null,
                                    "message": "Query string parameter {orderId} is required",
                                    "date": "2025-02-13T11:36:45.256Z",
                                    "requestId": "e1703db0-aaf9-4b80-9726-c8adc9bb9e92"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/403Forbidden1"
                                },
                                "example": {
                                    "type": "business",
                                    "code": "SHR0007B",
                                    "message": "You do not have access to this order [1480360836343-01]",
                                    "date": "2025-02-13T11:45:22.206Z",
                                    "requestId": "72c1e5d7-0877-469e-805e-75e948ce8461"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod"
                    }
                ]
            }
        },
        "/facilities/{facilityId}": {
            "get": {
                "tags": ["Facilities"],
                "summary": "Get facility by ID",
                "description": "Retrieves facility details by ID.\n\n>ℹ️ The response is cached for 30 seconds based on the `facilityId` parameter. The endpoint supports up to 500 requests per second, with a maximum of 100 concurrent requests.\r\n\r\n## Permissions\r\n\r\nAny user or [application key](https://developers.vtex.com/docs/guides/api-authentication-using-application-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| OMS | OMS access | **View order** |\r\n| OMS | OMS access | **Only show orders created by the user (via call center)** |\r\n| Catalog | Telesales | **Assisted Sales** |\r\n\r\nThere are no applicable [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) for this resource list. You must [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) and add at least one of the resources above in order to use this endpoint. To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).\r\n\r\n>\u2757 To prevent integrations from having excessive permissions, consider the [best practices for managing app keys](https://help.vtex.com/en/tutorial/best-practices-application-keys--7b6nD1VMHa49aI5brlOvJm) when assigning License Manager roles to integrations.",
                "parameters": [
                    {
                        "name": "facilityId",
                        "in": "path",
                        "description": "Facility ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "783262b09ddc4b8facee2fa50541fd1e"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetFacilityResponse"
                                },
                                "example": {
                                    "id": "783262b09ddc4b8facee2fa50541fd1e",
                                    "address": "Centro Comercial El Tesoro  ",
                                    "addressComplement": "",
                                    "city": "Medellín",
                                    "contactInformation": {
                                        "email": "test@test.com",
                                        "name": "lastmile",
                                        "phone": "310001293"
                                    },
                                    "country": "COL",
                                    "location": {
                                        "latitude": 6.1965477999999994,
                                        "longitude": -75.558908
                                    },
                                    "name": "lastmile",
                                    "neighborhood": "El Poblado",
                                    "number": "650",
                                    "postalCode": "050022",
                                    "reference": "Centro Comercial El Tesoro",
                                    "state": "Antioquia"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Notfound1"
                                },
                                "example": {
                                    "type": "exception",
                                    "code": "FAC0001B",
                                    "message": "Facility not found [783262b09ddc4b8facee2fa50541fd1e1]",
                                    "date": "2025-02-13T11:47:41.367Z",
                                    "requestId": "3a7ab942-e023-4b45-93ca-9e30e553c60d"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/403Forbidden1"
                                },
                                "example": {
                                    "type": "business",
                                    "code": "FAC0002B",
                                    "message": "You do not have access to this facility [eab44b9c48134c35b778586959129818]",
                                    "date": "2025-02-13T11:48:29.430Z",
                                    "requestId": "8f294625-193b-48d4-be5c-5de400a236e7"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod"
                    }
                ]
            }
        },
        "/shipments/{shipmentId}": {
            "get": {
                "tags": ["Shipments"],
                "summary": "Get shipment",
                "description": "Retrieves detailed information about a shipment using either the internal system ID or the carrier's tracking ID.\n\n>ℹ️ The response is cached for 30 seconds based on the `shipmentId` parameter and `X-PNP-FilterMethod` header. The endpoint supports up to 500 requests per second, with a maximum of 100 concurrent requests.\r\n\r\n## Permissions\r\n\r\nAny user or [application key](https://developers.vtex.com/docs/guides/api-authentication-using-application-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| OMS | OMS access | **View order** |\r\n| OMS | OMS access | **Only show orders created by the user (via call center)** |\r\n| Catalog | Telesales | **Assisted Sales** |\r\n\r\nThere are no applicable [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) for this resource list. You must [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) and add at least one of the resources above in order to use this endpoint. To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).\r\n\r\n>\u2757 To prevent integrations from having excessive permissions, consider the [best practices for managing app keys](https://help.vtex.com/en/tutorial/best-practices-application-keys--7b6nD1VMHa49aI5brlOvJm) when assigning License Manager roles to integrations.",
                "parameters": [
                    {
                        "name": "shipmentId",
                        "in": "path",
                        "description": "Shipment ID. Its value depends on the `X-PNP-FilterMethod` header. Use internal UUID when using `BY_INTERNAL_ID` filter or carrier tracking number when using `BY_EXTERNAL_ID` filter.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "number",
                            "example": 550693447769717380942093217914
                        }
                    },
                    {
                        "name": "X-PNP-FilterMethod",
                        "in": "header",
                        "description": "Determines how the `shipmentId` will be interpreted. Its values can be `BY_INTERNAL_ID` or `BY_EXTERNAL_ID`.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "BY_EXTERNAL_ID"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetShipmentResponse"
                                },
                                "example": {
                                    "id": "d39e8dd7-0ab9-48c8-b16b-3e46933e113a",
                                    "orderId": "1506500515925-01",
                                    "carrierId": "627eb3b93a19fdc0cf5fe087",
                                    "serviceId": "550693447769717380942093217914",
                                    "carrierName": "Lastmile",
                                    "seller": "lastmile",
                                    "status": "DELIVERED",
                                    "agent": {
                                        "id": "1977157",
                                        "name": "adrianprod adrianprod",
                                        "vehicle": "CAR"
                                    },
                                    "trackingUrl": "https://lastmile.northlatam.com/tracking/index.html?jobID=41d9275cc4557ac5827e60c273646a33",
                                    "totalDistanceTraveled": 0,
                                    "comments": "-",
                                    "evidences": [
                                        {
                                            "date": "2025-01-31T19:41:41.780Z",
                                            "type": "IMAGE",
                                            "content": "https://jungl.s3.dualstack.us-west-2.amazonaws.com/acknowledgement_images/1738352496351563420251131-550693447Signature.jpg",
                                            "author": "adrianprod adrianprod"
                                        }
                                    ],
                                    "packages": [
                                        {
                                            "totalValue": 1040000,
                                            "envelope": "BOX QATEST",
                                            "orderId": "1506500515925-01",
                                            "weight": "0",
                                            "description": "Caja",
                                            "id": "17aa920c-a364-4412-a288-7b269b88f403",
                                            "categories": ["Caja"],
                                            "items": [
                                                {
                                                    "name": "Bolígrafo",
                                                    "image": "https://lastmile.vteximg.com.br/arquivos/ids/156015-55-55/7713133.jpg?v=638375748726030000",
                                                    "ean": "4145670347237",
                                                    "quantity": 1,
                                                    "id": "2366",
                                                    "price": 20000
                                                },
                                                {
                                                    "name": "Woolite Detergente Liquido Ropa Oscura",
                                                    "image": "https://lastmile.vteximg.com.br/arquivos/ids/155732-55-55/45.jpg?v=637917078466000000",
                                                    "ean": "EAN144",
                                                    "quantity": 1,
                                                    "id": "45",
                                                    "price": 1000000
                                                },
                                                {
                                                    "name": "Cerveza Heineken Sixpack 269ml",
                                                    "image": "https://lastmile.vteximg.com.br/arquivos/ids/155704-55-55/17.jpg?v=637917044926730000",
                                                    "ean": "EAN116",
                                                    "quantity": 2,
                                                    "id": "17",
                                                    "price": 10000
                                                },
                                                {
                                                    "name": "Crema De Whisky Baileys 1lt",
                                                    "image": "https://lastmile.vteximg.com.br/arquivos/ids/155706-55-55/19.jpg?v=637917046641670000",
                                                    "ean": "EAN118",
                                                    "quantity": 2,
                                                    "id": "19",
                                                    "price": 10000
                                                }
                                            ],
                                            "dimensions": {
                                                "width": "60",
                                                "length": "60",
                                                "height": "60"
                                            }
                                        }
                                    ],
                                    "type": "PICKUP_DELIVERY",
                                    "notes": [
                                        {
                                            "date": "2025-01-31T19:41:42.301Z",
                                            "type": "COMMENT",
                                            "content": "Testing",
                                            "author": "adrianprod adrianprod"
                                        },
                                        {
                                            "date": "2025-01-31T19:42:06.162Z",
                                            "type": "COMMENT",
                                            "content": "Qqqqqq",
                                            "author": "adrianprod adrianprod"
                                        }
                                    ],
                                    "paymentMethod": "ONLINE",
                                    "carrierServiceType": "NATIONAL",
                                    "timezone": {
                                        "offset": 0,
                                        "value": "America/Bogota"
                                    },
                                    "tags": [],
                                    "deliveredDate": "2025-01-31T19:42:04.953Z",
                                    "sender": {
                                        "name": "lastmile",
                                        "city": "Vancouver",
                                        "state": "BC",
                                        "country": "CAN",
                                        "pickupDate": "2025-01-28T20:24:28.838Z",
                                        "zipCode": "V5Z 2M9"
                                    },
                                    "receiver": {
                                        "name": "deww",
                                        "city": "Medellín",
                                        "state": "ANTIOQUIA",
                                        "country": "COL",
                                        "deliveryDate": "2025-01-29T19:55:16.000Z",
                                        "zipCode": "05001"
                                    },
                                    "labels": []
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Notfound1"
                                },
                                "example": {
                                    "type": "exception",
                                    "code": "TRP0005E",
                                    "message": "Shipment not found [550693447769717380942093217914]",
                                    "date": "2025-02-13T12:05:17.760Z",
                                    "requestId": "93e458c1-791e-433a-86c5-b8b23ef28a50"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/403Forbidden1"
                                },
                                "example": {
                                    "type": "business",
                                    "code": "SHP0002B",
                                    "message": "You do not have access to this shipment [da6c9988-7659-4cbd-bee3-5b44309eae07]",
                                    "date": "2025-02-13T12:06:53.729Z",
                                    "requestId": "0ef88fe5-6077-49f4-8716-8ba6020c56d1"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod"
                    }
                ]
            }
        },
        "/shipments": {
            "get": {
                "tags": ["Shipments"],
                "summary": "List shipments",
                "description": "Lists all shipments by order ID.\n\n>ℹ️ The endpoint supports up to 500 requests per second, with a maximum of 100 concurrent requests.\r\n\r\n## Permissions\r\n\r\nAny user or [application key](https://developers.vtex.com/docs/guides/api-authentication-using-application-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| OMS | OMS access | **View order** |\r\n| OMS | OMS access | **Only show orders created by the user (via call center)** |\r\n| Catalog | Telesales | **Assisted Sales** |\r\n\r\nThere are no applicable [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) for this resource list. You must [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) and add at least one of the resources above in order to use this endpoint. To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).\r\n\r\n>\u2757 To prevent integrations from having excessive permissions, consider the [best practices for managing app keys](https://help.vtex.com/en/tutorial/best-practices-application-keys--7b6nD1VMHa49aI5brlOvJm) when assigning License Manager roles to integrations.",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "query",
                        "description": "Order ID.",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "1468301611294-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ListShipmentsResponse"
                                    }
                                },
                                "example": [
                                    {
                                        "id": "d39e8dd7-0ab9-48c8-b16b-3e46933e113a",
                                        "serviceId": "550693447769717380942093217914",
                                        "orderId": "1506500515925-01",
                                        "carrierId": "627eb3b93a19fdc0cf5fe087",
                                        "status": "DELIVERED",
                                        "carrierName": "Lastmile",
                                        "paymentMethod": "ONLINE",
                                        "tags": [],
                                        "deliveredDate": "2025-01-31T19:42:04.953Z",
                                        "customerId": "-",
                                        "customerAddressId": "Bello - Medellin",
                                        "source": "Vancouver-CAN",
                                        "destination": "Medellín-COL",
                                        "courierId": "1977157",
                                        "courierName": "adrianprod adrianprod",
                                        "seller": "lastmile",
                                        "packagesQuantity": 1,
                                        "itemsQuantity": 6,
                                        "serviceType": "PICKUP_DELIVERY",
                                        "creationDate": "2025-01-28T19:56:48.033Z"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/400OrderIDisrequired1"
                                },
                                "example": {
                                    "type": "business",
                                    "code": null,
                                    "message": "Query string parameter {orderId} is required",
                                    "date": "2025-02-13T12:14:18.795Z",
                                    "requestId": "1bb652b1-dc75-4f0c-9c0a-3cd021eaa1ea"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/403Forbidden1"
                                },
                                "example": {
                                    "type": "business",
                                    "code": "SHP0003B",
                                    "message": "You do not have access to this order [1468301611294-01]",
                                    "date": "2025-02-13T12:19:21.530Z",
                                    "requestId": "6eee326d-bc6d-4a0f-ac74-96fbcd2212b3"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod"
                    }
                ]
            }
        }
    },
    "components": {
        "parameters": {
            "Content-Type": {
                "name": "Content-Type",
                "in": "header",
                "description": "Type of the content being sent.",
                "required": true,
                "style": "simple",
                "schema": {
                    "type": "string",
                    "example": "application/json"
                }
            },
            "Accept": {
                "name": "Accept",
                "in": "header",
                "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                "required": true,
                "style": "simple",
                "schema": {
                    "type": "string",
                    "example": "application/json"
                }
            },
            "Authorization": {
                "name": "Authorization",
                "in": "header",
                "description": "Authentication JWT. JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way for securely transmitting information as a JSON object between parties.",
                "required": true,
                "style": "simple",
                "schema": {
                    "type": "string",
                    "example": "{token}"
                }
            }
        },
        "schemas": {
            "CreatetokenRequest": {
                "required": ["apiKey"],
                "type": "object",
                "properties": {
                    "apiKey": {
                        "type": "string",
                        "description": "The `API KEY` generated in **VTEX Admin > Shipping > Pick and Pack > Settings > Integration > API Key**."
                    }
                },
                "example": {
                    "apiKey": "{pnpApiKey}"
                }
            },
            "GetOrderResponse": {
                "required": [
                    "orderId",
                    "sequence",
                    "status",
                    "createdAt",
                    "updatedAt",
                    "shippingEstimatedDateMin",
                    "tags",
                    "pickingTime",
                    "packingTime",
                    "shippingTime",
                    "invoices",
                    "unhandledItems",
                    "pickedItems",
                    "items",
                    "replacedItems",
                    "packages",
                    "payment"
                ],
                "type": "object",
                "properties": {
                    "orderId": {
                        "type": "string",
                        "description": "Order ID."
                    },
                    "sequence": {
                        "type": "string",
                        "description": "Sequence number."
                    },
                    "status": {
                        "type": "string",
                        "description": "Order status.",
                        "enum": [
                            "READY_FOR_HANDLING",
                            "READY_FOR_PICKING",
                            "PICKING",
                            "PARTIAL_COLLECTED",
                            "COLLECTED",
                            "READY_FOR_PACKING",
                            "PACKING",
                            "PARTIAL_PACKED",
                            "PREPARING_SHIPPING",
                            "READY_FOR_SHIPPING",
                            "PARTIAL_SHIPPED",
                            "SHIPPING",
                            "DELIVERED",
                            "REJECTED",
                            "CANCELED",
                            "PAUSED"
                        ],
                        "minLength": 1
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "Order creation date."
                    },
                    "updatedAt": {
                        "type": "string",
                        "description": "Order last update date."
                    },
                    "shippingEstimatedDateMin": {
                        "type": "string",
                        "description": "Minimum estimated shipping date."
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "description": "Order tag."
                        },
                        "description": "Array of order tags."
                    },
                    "pickingTime": {
                        "type": "number",
                        "description": "Order picking time."
                    },
                    "packingTime": {
                        "type": "number",
                        "description": "Order packing time."
                    },
                    "shippingTime": {
                        "type": "integer",
                        "description": "Order shipping time."
                    },
                    "invoices": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Invoice"
                        },
                        "description": "Array of order invoices."
                    },
                    "unhandledItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Item",
                            "description": "Order unhandled item."
                        },
                        "description": "Array of order unhandled items."
                    },
                    "pickedItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Item"
                        },
                        "description": "Array of order picked items."
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Item"
                        },
                        "description": "List of order items."
                    },
                    "replacedItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Item"
                        },
                        "description": "List of replaced items."
                    },
                    "packages": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Package"
                        },
                        "description": "List of packages."
                    },
                    "payment": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Payment"
                        },
                        "description": "List of payments."
                    }
                }
            },
            "Invoice": {
                "required": ["invoiceKey", "invoiceTotal"],
                "type": "object",
                "properties": {
                    "invoiceKey": {
                        "type": "string",
                        "description": "Invoice key."
                    },
                    "invoiceTotal": {
                        "type": "integer",
                        "description": "Order invoice total."
                    }
                },
                "example": {
                    "invoiceKey": "key-78923479834",
                    "invoiceTotal": 2000322
                }
            },
            "Warehouse": {
                "required": ["warehouseId", "warehouseName", "quantity"],
                "type": "object",
                "properties": {
                    "warehouseId": {
                        "type": "string",
                        "description": "Warehouse ID."
                    },
                    "warehouseName": {
                        "type": "string",
                        "description": "Warehouse name."
                    },
                    "quantity": {
                        "type": "integer",
                        "description": "Warehouse item quantity."
                    }
                },
                "example": {
                    "warehouseId": "9029",
                    "warehouseName": "ColombiaMAIN",
                    "quantity": 1
                }
            },
            "Item": {
                "required": [
                    "id",
                    "sku",
                    "referenceCode",
                    "itemName",
                    "price",
                    "pickingPrice",
                    "quantity",
                    "originalQuantity",
                    "replacedBy",
                    "weighableProduct",
                    "unitMultiplier",
                    "originalUnitMultiplier",
                    "unitOfMeasure",
                    "images",
                    "ean",
                    "status",
                    "packedQuantity",
                    "reasons",
                    "pickers",
                    "worksheets",
                    "warehouses",
                    "createdAt"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Picked item ID."
                    },
                    "sku": {
                        "type": "string",
                        "description": "Picked item SKU."
                    },
                    "referenceCode": {
                        "type": "string",
                        "description": "Picked item reference code."
                    },
                    "itemName": {
                        "type": "string",
                        "description": "Picked item name."
                    },
                    "price": {
                        "type": "integer",
                        "description": "Picked item price."
                    },
                    "pickingPrice": {
                        "type": "integer",
                        "description": "Picked item picking price."
                    },
                    "quantity": {
                        "type": "integer",
                        "description": "Picked item quantity."
                    },
                    "originalQuantity": {
                        "type": "integer",
                        "description": "Picked item original quantity."
                    },
                    "replacedBy": {
                        "type": "array",
                        "nullable": true,
                        "items": {
                            "type": "string",
                            "description": "Picked item replaced by."
                        },
                        "description": "List of picked item replaced by."
                    },
                    "weighableProduct": {
                        "type": "boolean",
                        "description": "Picked item weighable product."
                    },
                    "unitMultiplier": {
                        "type": "number",
                        "description": "Picked item unit multiplier."
                    },
                    "originalUnitMultiplier": {
                        "type": "number",
                        "description": "Picked item original unit multiplier."
                    },
                    "unitOfMeasure": {
                        "type": "string",
                        "description": "Picked item unit of measure."
                    },
                    "images": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "description": "Picked item image."
                        },
                        "description": "Array of picked item images."
                    },
                    "ean": {
                        "type": "string",
                        "description": "Picked item EAN."
                    },
                    "status": {
                        "type": "string",
                        "description": "Picked item status.",
                        "enum": [
                            "PENDING",
                            "ASSIGNED",
                            "COLLECTED",
                            "REPLACED",
                            "REJECTED",
                            "REFUNDED",
                            "RETURNED",
                            "CANCELLED",
                            "PENDING_TRANSFERRED",
                            "TRANSFERRED",
                            "COMPLETED",
                            "READY_FOR_PACKING",
                            "READY_FOR_SHIPPING",
                            "SHIPPED",
                            "DELIVERED",
                            "PACKED",
                            "PAUSED"
                        ]
                    },
                    "packedQuantity": {
                        "type": "integer",
                        "description": "Picked item packed quantity."
                    },
                    "reasons": {
                        "type": "string",
                        "description": "Only applies to `Items`, `replacedItems`."
                    },
                    "pickers": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "description": "Picker name."
                        },
                        "description": "Array of pickers."
                    },
                    "worksheets": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "description": "Worksheet ID."
                        },
                        "description": "Array of worksheets."
                    },
                    "warehouses": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Warehouse"
                        },
                        "description": "Array of warehouses."
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "Picked item creation date."
                    }
                },
                "example": {
                    "id": "139",
                    "sku": "139",
                    "referenceCode": "",
                    "itemName": "Lettuce",
                    "price": 1000000,
                    "pickingPrice": 1000000,
                    "quantity": 1,
                    "originalQuantity": 1,
                    "replacedBy": null,
                    "weighableProduct": false,
                    "unitMultiplier": 1,
                    "originalUnitMultiplier": 1,
                    "unitOfMeasure": "UNITS",
                    "images": [
                        "https://lastmile.vteximg.com.br/arquivos/ids/155830-55-55/Lettuce.jpg?v=638115565486870000"
                    ],
                    "ean": "EAN243",
                    "status": "COMPLETED",
                    "packedQuantity": null,
                    "reasons": [
                        {
                            "reasonType": "1509750516095-01",
                            "reasonDetail": "out-of-stock"
                        }
                    ],
                    "pickers": ["returnsconnect"],
                    "worksheets": ["546206888193"],
                    "warehouses": [
                        {
                            "warehouseId": "9029",
                            "warehouseName": "ColombiaMAIN",
                            "quantity": 1
                        }
                    ],
                    "createdAt": "2025-02-10T18:58:31.021Z"
                }
            },
            "Reason": {
                "required": ["reasonType", "reasonDetail"],
                "type": "object",
                "properties": {
                    "reasonType": {
                        "type": "string",
                        "description": "Reason type."
                    },
                    "reasonDetail": {
                        "type": "string",
                        "description": "Reason detail."
                    }
                },
                "example": {
                    "reasonType": "1509750516095-01",
                    "reasonDetail": "out-of-stock"
                }
            },
            "Package": {
                "required": ["id", "status", "itemsIds"],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Package ID."
                    },
                    "status": {
                        "type": "string",
                        "description": "Package status.",
                        "enum": [  
                            "PENDING",  
                            "READY_FOR_SHIPPING",  
                            "PACKED",  
                            "SHIPPED",  
                            "DELIVERED",  
                            "RETURNED"  
                        ]  
                    },
                    "itemsIds": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "description": "Item ID."
                        },
                        "description": "List of item IDs."
                    }
                },
                "example": {
                    "id": "b05a0fa9-a11e-476e-bf58-677cf0431424",
                    "status": "PACKED",
                    "itemsIds": ["75", "140", "137"]
                }
            },
            "Payment": {
                "required": [
                    "paymentId",
                    "paymentName",
                    "transactionId",
                    "currency"
                ],
                "type": "object",
                "properties": {
                    "paymentId": {
                        "type": "string",
                        "description": "Payment ID."
                    },
                    "paymentName": {
                        "type": "string",
                        "description": "Payment name."
                    },
                    "transactionId": {
                        "type": "string",
                        "description": "Transaction ID."
                    },
                    "currency": {
                        "$ref": "#/components/schemas/Currency"
                    }
                },
                "example": {
                    "paymentId": "C92F6C921B1E450B9F22310A96EE88DC",
                    "paymentName": "Cash",
                    "transactionId": "8EAB87B7EB2746DAABD673664C9E15BE",
                    "currency": {
                        "symbol": "$",
                        "code": "MXN",
                        "decimalSeparator": ".",
                        "name": "MXN",
                        "decimalDigits": 2,
                        "groupSize": 3,
                        "groupSeparator": ","
                    }
                }
            },
            "Currency": {
                "required": [
                    "symbol",
                    "code",
                    "decimalSeparator",
                    "name",
                    "decimalDigits",
                    "groupSize",
                    "groupSeparator"
                ],
                "type": "object",
                "description": "Currency details.",
                "properties": {
                    "symbol": {
                        "type": "string",
                        "description": "Currency symbol."
                    },
                    "code": {
                        "type": "string",
                        "description": "Currency code."
                    },
                    "decimalSeparator": {
                        "type": "string",
                        "description": "Decimal separator."
                    },
                    "name": {
                        "type": "string",
                        "description": "Currency name."
                    },
                    "decimalDigits": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Decimal digits."
                    },
                    "groupSize": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Group size."
                    },
                    "groupSeparator": {
                        "type": "string",
                        "description": "Group separator."
                    }
                },
                "example": {
                    "symbol": "$",
                    "code": "MXN",
                    "decimalSeparator": ".",
                    "name": "MXN",
                    "decimalDigits": 2,
                    "groupSize": 3,
                    "groupSeparator": ","
                }
            },
            "403Expiredtoken1": {
                "title": "403Expiredtoken1",
                "required": ["message", "code", "reason", "requestId"],
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    },
                    "reason": {
                        "type": "string"
                    },
                    "requestId": {
                        "type": "string"
                    }
                },
                "example": {
                    "message": "User is not authorized to access this resource with an explicit deny",
                    "code": "EXPIRED_TOKEN",
                    "reason": "Expired token",
                    "requestId": "1a36389e-0050-436e-a1d0-14cfb6508c2f"
                }
            },
            "403Forbidden1": {
                "required": ["type", "code", "message", "date", "requestId"],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "Type of the error."
                    },
                    "code": {
                        "type": "string",
                        "description": "Error code."
                    },
                    "message": {
                        "type": "string",
                        "description": "Error message."
                    },
                    "date": {
                        "type": "string",
                        "description": "Date and time when the error occurred."
                    },
                    "requestId": {
                        "type": "string",
                        "description": "Request ID."
                    }
                },
                "example": {
                    "type": "business",
                    "code": "SHR0007B",
                    "message": "You do not have access to this order [1481120515528-01]",
                    "date": "2024-12-04T01:03:29.495Z",
                    "requestId": "3d292319-2129-47b6-a748-92a8be02576a"
                }
            },
            "SetOrderDelivery": {
                "required": ["orderId"],
                "type": "object",
                "properties": {
                    "deliveredDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "Date and time when the order was delivered."
                    },
                    "events": {
                        "type": "array",
                        "description": "List of events that occurred during the delivery process.",
                        "items": {
                            "type": "object",
                            "description": "Event details.",
                            "properties": {
                                "city": {
                                    "type": "string",
                                    "description": "City where the event occurred."
                                },
                                "state": {
                                    "type": "string",
                                    "description": "State where the event occurred."
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Event description."
                                },
[...]
