{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "VTEX Ads - Catalog API",
        "description": "API for synchronizing product catalog information with VTEX Ads."
    },
    "servers": [
        {
            "url": "https://api-retail-media.newtail.com.br",
            "description": "VTEX Ads Catalog API Server"
        }
    ],
    "paths": {
        "/product/bulk/products": {
            "post": {
                "tags": [
                    "Catalog Synchronization"
                ],
                "summary": "Synchronize product information",
                "description": "Update the basic product data in the VTEX Ads catalog. For each batch insert/update, a maximum of 500 objects per request and 3 simultaneous requests are allowed.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    },
                    {
                        "$ref": "#/components/parameters/X-App-Id"
                    },
                    {
                        "$ref": "#/components/parameters/X-Api-Key"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "maxItems": 500,
                                "items": {
                                    "type": "object",
                                    "required": [
                                        "product_sku",
                                        "name",
                                        "url",
                                        "categories"
                                    ],
                                    "properties": {
                                        "product_sku": {
                                            "type": "string",
                                            "description": "Product ID to be inserted/updated.",
                                            "example": "teste-120210"
                                        },
                                        "parent_sku": {
                                            "type": "string",
                                            "description": "SKU of the parent product.",
                                            "example": "teste-120200"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "Product name.",
                                            "example": "Notebook Samsung Intel Celeron-6305 NP550XDA-KP3BR 4GB 256GB SSD Tela 15,6\" Windows 11 - Cinza Chumbo"
                                        },
                                        "url": {
                                            "type": "string",
                                            "description": "URL of the product page.",
                                            "example": "https://www.americanas.com.br/produto/4100903080"
                                        },
                                        "image_url": {
                                            "type": "string",
                                            "description": "URL of the main product image.",
                                            "example": "https://images-americanas.b2w.io/produtos/01/00/img/4100903/1/4100903143_1GG.jpg"
                                        },
                                        "categories": {
                                            "type": "array",
                                            "description": "List of product categories.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": ["Informática", "Notebooks"]
                                        },
                                        "brand": {
                                            "type": "string",
                                            "description": "Product brand.",
                                            "example": "Samsung"
                                        },
                                        "gtins": {
                                            "type": "array",
                                            "description": "Barcode. For Newtail Network, sending the GTIN is mandatory.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": ["7898915633481"]
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "description": "Additional product information.",
                                            "example": {
                                                "key": "value1"
                                            }
                                        },
                                        "tags": {
                                            "type": "array",
                                            "description": "List of 'tags' that products have to be used later during ad queries to better contextualize the search. Maximum of 10 tags per SKU, maximum of 64 characters per tag. Only works for Product campaigns.",
                                            "maxItems": 10,
                                            "items": {
                                                "type": "string",
                                                "maxLength": 64
                                            },
                                            "example": ["Mega Maio"]
                                        },
                                        "sellers": {
                                            "type": "array",
                                            "description": "List of sellers who sell that product. Maximum of 64 characters per seller.",
                                            "items": {
                                                "type": "string",
                                                "maxLength": 64
                                            },
                                            "example": ["Seller1", "Seller2"]
                                        }
                                    }
                                }
                            },
                            "example": [
                                {
                                    "product_sku": "teste-120210",
                                    "name": "Notebook Samsung Intel Celeron-6305 NP550XDA-KP3BR 4GB 256GB SSD Tela 15,6\" Windows 11 - Cinza Chumbo",
                                    "url": "https://www.americanas.com.br/produto/4100903080",
                                    "image_url": "https://images-americanas.b2w.io/produtos/01/00/img/4100903/1/4100903143_1GG.jpg",
                                    "categories": ["Informática", "Notebooks"],
                                    "brand": "Samsung",
                                    "gtins": ["7898915633481"],
                                    "metadata": {
                                        "key": "value1"
                                    }
                                },
                                {
                                    "product_sku": "teste-120211",
                                    "name": "Notebook Samsung Intel Celeron-6305 NP550XDA-KP3BR 4GB 256GB SSD Tela 15,6\" Windows 11 - Cinza Chumbo",
                                    "url": "https://www.americanas.com.br/produto/4100903080",
                                    "categories": ["Informática", "Notebooks"],
                                    "brand": "Samsung",
                                    "gtins": ["7898915633481"],
                                    "tags": ["Mega Maio"]
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages from the server.",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "messages": [
                                        "products will be processed soon"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "instancePath": {
                                                "type": "string",
                                                "description": "Path to the property with the error."
                                            },
                                            "schemaPath": {
                                                "type": "string",
                                                "description": "Path to the schema validation rule."
                                            },
                                            "keyword": {
                                                "type": "string",
                                                "description": "Validation keyword."
                                            },
                                            "params": {
                                                "type": "object",
                                                "description": "Error parameters."
                                            },
                                            "message": {
                                                "type": "string",
                                                "description": "Error message."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product/bulk/inventories": {
            "post": {
                "tags": [
                    "Catalog Synchronization"
                ],
                "summary": "Synchronize inventory information",
                "description": "Update inventory information, which defines the price, promotional price, and product availability. For each batch insert/update, a maximum of 500 objects per request and 3 simultaneous requests are allowed.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    },
                    {
                        "$ref": "#/components/parameters/X-App-Id"
                    },
                    {
                        "$ref": "#/components/parameters/X-Api-Key"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "maxItems": 500,
                                "items": {
                                    "type": "object",
                                    "required": [
                                        "product_sku",
                                        "price",
                                        "promotional_price",
                                        "is_available"
                                    ],
                                    "properties": {
                                        "product_sku": {
                                            "type": "string",
                                            "description": "Product ID to be inserted/updated.",
                                            "example": "120210"
                                        },
                                        "store_id": {
                                            "type": "string",
                                            "description": "Store identifier. If store_id is not sent, it will be interpreted that this inventory information will be used for all stores.",
                                            "example": "1"
                                        },
                                        "price": {
                                            "type": "number",
                                            "description": "Product price.",
                                            "format": "double",
                                            "example": 18.20
                                        },
                                        "promotional_price": {
                                            "type": "number",
                                            "description": "Promotional price of the product. Use 0 to remove the promotional price.",
                                            "format": "double",
                                            "example": 16.32
                                        },
                                        "is_available": {
                                            "type": "boolean",
                                            "description": "Indicates if the product is available for sale.",
                                            "example": true
                                        }
                                    }
                                }
                            },
                            "example": [
                                {
                                    "product_sku": "120210",
                                    "store_id": "1",
                                    "price": 18.20,
                                    "promotional_price": 16.32,
                                    "is_available": true
                                },
                                {
                                    "product_sku": "120212",
                                    "price": 18.20,
                                    "promotional_price": 0,
                                    "is_available": true
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages from the server.",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "messages": [
                                        "inventories will be processed soon"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "instancePath": {
                                                "type": "string",
                                                "description": "Path to the property with the error."
                                            },
                                            "schemaPath": {
                                                "type": "string",
                                                "description": "Path to the schema validation rule."
                                            },
                                            "keyword": {
                                                "type": "string",
                                                "description": "Validation keyword."
                                            },
                                            "params": {
                                                "type": "object",
                                                "description": "Error parameters."
                                            },
                                            "message": {
                                                "type": "string",
                                                "description": "Error message."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "parameters": {
            "Content-Type": {
                "name": "Content-Type",
                "in": "header",
                "description": "Type of the content being sent.",
                "required": true,
                "style": "simple",
                "schema": {
                    "type": "string",
                    "example": "application/json"
                }
            },
            "Accept": {
                "name": "Accept",
                "in": "header",
                "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                "required": true,
                "style": "simple",
                "schema": {
                    "type": "string",
                    "example": "application/json"
                }
            },
            "X-App-Id": {
                "name": "X-App-Id",
                "in": "header",
                "description": "Publisher App ID for authorization.",
                "required": true,
                "style": "simple",
                "schema": {
                    "type": "string",
                    "example": "<PUBLISHER_APP_ID>"
                }
            },
            "X-Api-Key": {
                "name": "X-Api-Key",
                "in": "header",
                "description": "API Key for authentication.",
                "required": true,
                "style": "simple",
                "schema": {
                    "type": "string",
                    "example": "<API_KEY>"
                }
            }
        }
    },
    "tags": [
        {
            "name": "Catalog Synchronization"
        }
    ]
}
