{
    "openapi": "3.0.0",
    "info": {
        "title": "Weni by VTEX API",
        "description": "Weni Flows lets you visually build interactive SMS applications and launch them anywhere in the world. We provide a RESTful JSON API for you to interact with your data from outside applications.\n\n## API Overview\n\nAll endpoints follow standard REST conventions. You can list a set of resources by making a `GET` request to the endpoint, create or update resources by making a `POST` or `PUT` request, or delete a resource with a `DELETE` request.\n\nTo use the endpoint simply append `.json` to the URL. For example `/api/v2/flows` will return the documentation for that endpoint but a request to `/api/v2/flows.json` will return a JSON list of flows.\n\n## Authentication\n\nAll API requests require authentication using an API Token. Include the token in the Authorization header:\n\n```\nAuthorization: Token {your-token}\n```\n\nYou can obtain your API token by logging into your Weni Fluxos account.\n\n## Rate Limiting\n\n- **429**: You have exceeded the rate limit for this endpoint.\n\n## Common Response Codes\n\n- **200**: Success\n- **400**: Bad Request - The request was invalid\n- **401**: Unauthorized - Authentication credentials were not provided or are invalid\n- **404**: The resource was not found (returned by `POST` and `DELETE` methods)\n- **429**: You have exceeded the rate limit for this endpoint",
        "contact": {},
        "version": "2.0"
    },
    "servers": [
        {
            "url": "https://flows.weni.ai",
            "description": "Weni Flows API server"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/api/v2/archives": {
            "get": {
                "tags": [
                    "Archives"
                ],
                "summary": "GET archives",
                "description": "List archives of messages and runs",
                "operationId": "GETArchives",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/archives/{id}": {
            "get": {
                "tags": [
                    "Archives"
                ],
                "summary": "GET archives by ID",
                "description": "List archives of messages and runs by ID",
                "operationId": "GETArchivesById",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "archives identifier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/boundaries": {
            "get": {
                "tags": [
                    "Boundaries"
                ],
                "summary": "GET boundaries",
                "description": "List administrative boundaries",
                "operationId": "GETBoundaries",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/boundaries/{id}": {
            "get": {
                "tags": [
                    "Boundaries"
                ],
                "summary": "GET boundaries by ID",
                "description": "List administrative boundaries by ID",
                "operationId": "GETBoundariesById",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "boundaries identifier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/broadcasts": {
            "get": {
                "tags": [
                    "Broadcasts"
                ],
                "summary": "GET broadcasts",
                "description": "List and send message broadcasts",
                "operationId": "GETBroadcasts",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            },
            "post": {
                "tags": [
                    "Broadcasts"
                ],
                "summary": "POST broadcasts",
                "description": "List and send message broadcasts",
                "operationId": "POSTBroadcasts",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/broadcasts/{id}": {
            "get": {
                "tags": [
                    "Broadcasts"
                ],
                "summary": "GET broadcasts by ID",
                "description": "List and send message broadcasts by ID",
                "operationId": "GETBroadcastsById",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "broadcasts identifier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/campaigns": {
            "get": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "GET campaigns",
                "description": "List, create, or update campaigns",
                "operationId": "GETCampaigns",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            },
            "post": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "POST campaigns",
                "description": "List, create, or update campaigns",
                "operationId": "POSTCampaigns",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "PUT campaigns",
                "description": "List, create, or update campaigns",
                "operationId": "PUTCampaigns",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/campaigns/{id}": {
            "get": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "GET campaigns by ID",
                "description": "List, create, or update campaigns by ID",
                "operationId": "GETCampaignsById",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "campaigns identifier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "PUT campaigns by ID",
                "description": "List, create, or update campaigns by ID",
                "operationId": "PUTCampaignsById",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "campaigns identifier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/campaign_events": {
            "get": {
                "tags": [
                    "Campaign Events"
                ],
                "summary": "GET campaign_events",
                "description": "List, create, update or delete campaign events",
                "operationId": "GETCampaignEvents",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            },
            "post": {
                "tags": [
                    "Campaign Events"
                ],
                "summary": "POST campaign_events",
                "description": "List, create, update or delete campaign events",
                "operationId": "POSTCampaignEvents",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign Events"
                ],
                "summary": "PUT campaign_events",
                "description": "List, create, update or delete campaign events",
                "operationId": "PUTCampaignEvents",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Campaign Events"
                ],
                "summary": "DELETE campaign_events",
                "description": "List, create, update or delete campaign events",
                "operationId": "DELETECampaignEvents",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/campaign_events/{id}": {
            "get": {
                "tags": [
                    "Campaign Events"
                ],
                "summary": "GET campaign_events by ID",
                "description": "List, create, update or delete campaign events by ID",
                "operationId": "GETCampaignEventsById",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "campaign_events identifier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign Events"
                ],
                "summary": "PUT campaign_events by ID",
                "description": "List, create, update or delete campaign events by ID",
                "operationId": "PUTCampaignEventsById",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "campaign_events identifier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Campaign Events"
                ],
                "summary": "DELETE campaign_events by ID",
                "description": "List, create, update or delete campaign events by ID",
                "operationId": "DELETECampaignEventsById",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "campaign_events identifier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/channels": {
            "get": {
                "tags": [
                    "Channels"
                ],
                "summary": "GET channels",
                "description": "List channels",
                "operationId": "GETChannels",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/channels/{id}": {
            "get": {
                "tags": [
                    "Channels"
                ],
                "summary": "GET channels by ID",
                "description": "List channels by ID",
                "operationId": "GETChannelsById",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "channels identifier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/channel_events": {
            "get": {
                "tags": [
                    "Channel Events"
                ],
                "summary": "GET channel_events",
                "description": "List channel events",
                "operationId": "GETChannelEvents",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/channel_events/{id}": {
            "get": {
                "tags": [
                    "Channel Events"
                ],
                "summary": "GET channel_events by ID",
                "description": "List channel events by ID",
                "operationId": "GETChannelEventsById",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "channel_events identifier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/classifiers": {
            "get": {
                "tags": [
                    "Classifiers"
                ],
                "summary": "GET classifiers",
                "description": "List classifiers",
                "operationId": "GETClassifiers",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/classifiers/{id}": {
            "get": {
                "tags": [
                    "Classifiers"
                ],
                "summary": "GET classifiers by ID",
                "description": "List classifiers by ID",
                "operationId": "GETClassifiersById",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "classifiers identifier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/contacts": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "GET contacts",
                "description": "List, create, update or delete contacts",
                "operationId": "GETContacts",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            },
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "POST contacts",
                "description": "List, create, update or delete contacts",
                "operationId": "POSTContacts",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Contacts"
                ],
                "summary": "PUT contacts",
                "description": "List, create, update or delete contacts",
                "operationId": "PUTContacts",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contacts"
                ],
                "summary": "DELETE contacts",
                "description": "List, create, update or delete contacts",
                "operationId": "DELETEContacts",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            }
        },
        "/api/v2/contacts/{id}": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "GET contacts by ID",
                "description": "List, create, update or delete contacts by ID",
                "operationId": "GETContactsById",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "API Token for authentication. Format: Token {your-token}",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "contacts identifier",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized - Authentication credentials were not provided or are invalid"
                    },
                    "404": {
                        "description": "Not Found - The resource was not found"
                    },
                    "429": {
                        "description": "Rate limit exceeded - You have exceeded the rate limit for this endpoint"
                    }
                }
            },
            "put": {
                "tags": [
                    "Contacts"
                ],
                "summary": "PUT contacts by ID",
                "description": "List, create, update or delete contacts by ID",
                "operationId": "PUTContactsById",
                "parameters": [
                    {
                        "name": "Accept",
[...]
