{
	"openapi": "3.0.0",
	"info": {
		"title": "Suggestions API",
		"description": "Collection composed by requests for the VTEX Suggestion API, used by the sellers to input new SKU suggestions into marketplaces.",
		"contact": {},
		"version": "1.0"
	},
	"servers": [
		{
			"url": "https://api.vtex.com/{accountName}/",
			"description": "VTEX server url"
		}
	],
	"paths": {
		"/suggestions": {
			"get": {
				"tags": [
					"Feed"
				],
				"summary": "Get suggestions",
				"description": "",
				"operationId": "Getsuggestions",
				"parameters": [
                    {
                        "name": "accountName",
                        "in": "path",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "apiexamples"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "path",
                        "required": true,
                        "description": "Environment to use. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "vtexcommercestable"
                        }
                    },
					{
						"name": "q",
						"in": "query",
						"description": "",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string",
							"example": "{{q}}"
						}
					},
					{
						"name": "seller",
						"in": "query",
						"description": "",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string",
							"example": "{{sellerId}}"
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string",
							"example": "{{status}}"
						}
					},
					{
						"name": "hasmapping",
						"in": "query",
						"description": "",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string",
							"example": "{{hasmapping}}"
						}
					},
					{
						"name": "matcherid",
						"in": "query",
						"description": "",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string",
							"example": "{{matcherid}}"
						}
					},
					{
						"name": "_from",
						"in": "query",
						"description": "",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string",
							"example": "{{_from}}"
						}
					},
					{
						"name": "_to",
						"in": "query",
						"description": "",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string",
							"example": "{{_to}}"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string",
							"example": "application/vnd.vtex.suggestion.v0+json"
						}
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"headers": {}
					}
				},
				"deprecated": false
			}
		},
		"/suggestions/{sellerId}/{sellerskuid}": {
			"put": {
				"tags": [
					"Send"
				],
				"summary": "Save Suggestion",
				"description": "Insert or update a suggestion",
				"operationId": "SaveSuggestion",
				"parameters": [
                    {
                        "name": "accountName",
                        "in": "path",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "apiexamples"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "path",
                        "required": true,
                        "description": "Environment to use. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "vtexcommercestable"
                        }
                    },
					{
						"name": "Accept",
						"in": "header",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string",
							"example": "application/vnd.vtex.suggestion.v0+json"
						}
					},
					{
						"name": "sellerId",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "sellerskuid",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SaveSuggestionRequest"
							},
							"example": {
								"ProductId": 321,
								"ProductName": "Product sample",
								"NameComplete": "My complete product name?",
								"ProductDescription": "sample",
								"BrandName": "Brand 1",
								"SkuName": "Sku sample",
								"SellerId": null,
								"Height": 1,
								"Width": 1,
								"Length": 1,
								"WeightKg": 1,
								"Updated": null,
								"RefId": "REFID123",
								"SellerStockKeepingUnitId": 567,
								"CategoryFullPath": "Category 1",
								"Images": [
									{
										"imageName": "Principal",
										"imageUrl": "https://i.pinimg.com/originals/2d/96/4a/2d964a6bf37d9224d0615dc85fccdd62.jpg"
									}
								],
								"ProductSpecifications": [
									{
										"fieldName": "prodspec1",
										"fieldValue": "value1"
									}
								],
								"SkuSpecifications": [
									{
										"fieldName": "skuspec1",
										"fieldValue": "value2"
									}
								],
								"EAN": "EAN123",
								"MeasurementUnit": "un",
								"UnitMultiplier": 1,
								"AvailableQuantity": 111,
								"Pricing": {
									"Currency": "BRL",
									"SalePrice": 399,
									"CurrencySymbol": "R$"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "",
						"headers": {}
					}
				},
				"deprecated": false
			},
			"get": {
				"tags": [
					"Manage"
				],
				"summary": "Get Suggestion",
				"description": "",
				"operationId": "GetSuggestion",
				"parameters": [
                    {
                        "name": "accountName",
                        "in": "path",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "apiexamples"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "path",
                        "required": true,
                        "description": "Environment to use. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "vtexcommercestable"
                        }
                    },
					{
						"name": "Accept",
						"in": "header",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string",
							"example": "application/vnd.vtex.suggestion.v0+json"
						}
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"name": "sellerId",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "sellerskuid",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"headers": {}
					}
				},
				"deprecated": false
			},
			"delete": {
				"tags": [
					"Manage"
				],
				"summary": "Delete Suggestion",
				"description": "",
				"operationId": "DeleteSuggestion",
				"parameters": [
                    {
                        "name": "accountName",
                        "in": "path",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "apiexamples"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "path",
                        "required": true,
                        "description": "Environment to use. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "vtexcommercestable"
                        }
                    },
					{
						"name": "Accept",
						"in": "header",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string",
							"example": "application/vnd.vtex.suggestion.v0+json"
						}
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"name": "sellerId",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "sellerskuid",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"headers": {}
					}
				},
				"deprecated": false
			}
		},
		"/suggestions/{sellerId}/{sellerskuid}/versions": {
			"get": {
				"tags": [
					"Manage"
				],
				"summary": "Get Versions",
				"description": "Get all versions for a specific suggestion",
				"operationId": "GetVersions",
				"parameters": [
                    {
                        "name": "accountName",
                        "in": "path",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "apiexamples"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "path",
                        "required": true,
                        "description": "Environment to use. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "vtexcommercestable"
                        }
                    },
					{
						"name": "Accept",
						"in": "header",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string",
							"example": "application/vnd.vtex.suggestion.v0+json"
						}
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"name": "sellerId",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "sellerskuid",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"headers": {}
					}
				},
				"deprecated": false
			}
		},
		"/suggestions/{sellerId}/{sellerskuid}/versions/{version}": {
			"get": {
				"tags": [
					"Manage"
				],
				"summary": "Get Suggestion by version",
				"description": "",
				"operationId": "GetSuggestionbyversion",
				"parameters": [
                    {
                        "name": "accountName",
                        "in": "path",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "apiexamples"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "path",
                        "required": true,
                        "description": "Environment to use. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "vtexcommercestable"
                        }
                    },
					{
						"name": "Accept",
						"in": "header",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string",
							"example": "application/vnd.vtex.suggestion.v0+json"
						}
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"name": "sellerId",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "sellerskuid",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "version",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"headers": {}
					}
				},
				"deprecated": false
			}
		},
		"/suggestions/{sellerId}/{sellerskuid}/versions/{version}/matches/{matchid}": {
			"put": {
				"tags": [
					"Manage"
				],
				"summary": "Match",
				"description": "",
				"operationId": "Match",
				"parameters": [
                    {
                        "name": "accountName",
                        "in": "path",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "apiexamples"
                        }
                    },
                    {
                        "name": "environment",
                        "in": "path",
                        "required": true,
                        "description": "Environment to use. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "vtexcommercestable"
                        }
                    },
					{
						"name": "Accept",
						"in": "header",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string",
							"example": "application/vnd.vtex.suggestion.v0+json"
						}
					},
					{
						"name": "sellerId",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "sellerskuid",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "version",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "matchid",
						"in": "path",
						"description": "",
						"required": true,
						"style": "simple",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"description": "",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MatchRequest"
							},
							"example": {
								"matcherId": "{{matcherid}}",
								"score": "{{score}} (must be decimal)",
								"skuRef": "{{skuid}}(should be specifed when match is a sku match)",
								"productRef": "{{productRef}}(should be specified when match is a product match)",
								"product": {
									"name": "Produto exemplo",
									"description": "Descricao exemplo",
									"categoryId": 12,
									"brandId": 1234567,
									"specifications": null
								},
								"sku": {
									"name": "Sku exemplo",
									"eans": [
										"12345678901213"
									],
									"refId": null,
									"height": 1,
									"width": 1,
									"length": 1,
									"weight": 1,
									"images": {
										"imagem1.jpg": "imageurl.example"
									},
									"unitMultiplier": 1,
									"measurementUnit": "un",
									"specifications": {
										"Embalagem": "3 kg"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "",
						"headers": {}
					}
				},
				"deprecated": false
			}
		}
	},
	"components": {
		"schemas": {
			"SaveSuggestionRequest": {
				"title": "SaveSuggestionRequest",
				"required": [
					"productName",
					"skuName",
					"productDescription",
					"categoryFullPath",
					"brandName",
					"height",
					"width",
					"length",
					"weightkg",
					"ean",
					"refid",
					"measurementUnit",
					"unitMultiplier",
					"skuSpecifications",
					"productSpecifications",
					"images"
				],
				"type": "object",
				"properties": {
					"productName": {
						"type": "string"
					},
					"skuName": {
						"type": "string"
					},
					"productDescription": {
						"type": "string"
					},
					"categoryFullPath": {
						"type": "string"
					},
					"brandName": {
						"type": "string"
					},
					"height": {
						"type": "integer",
						"format": "int32"
					},
					"width": {
						"type": "integer",
						"format": "int32"
					},
					"length": {
						"type": "integer",
						"format": "int32"
					},
					"weightkg": {
						"type": "integer",
						"format": "int32"
					},
					"ean": {
						"type": "string"
					},
					"refid": {
						"type": "string"
					},
					"measurementUnit": {
						"type": "string"
					},
					"unitMultiplier": {
						"type": "integer",
						"format": "int32"
					},
					"skuSpecifications": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/SkuSpecification"
						},
						"description": ""
					},
					"productSpecifications": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ProductSpecification"
						},
						"description": ""
					},
					"images": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Image"
						},
						"description": ""
					}
				},
				"example": {
					"productName": "Product sample",
					"skuName": "Sku sample",
					"productDescription": "sample",
					"categoryFullPath": "Category 1",
					"brandName": "Brand 1",
					"height": 1,
					"width": 1,
					"length": 1,
					"weightkg": 1,
					"ean": "EAN123",
					"refid": "REFID123",
					"measurementUnit": "un",
					"unitMultiplier": 1,
					"skuSpecifications": [
						{
							"fieldName": "spec1",
							"fieldValue": "value1"
						}
					],
					"productSpecifications": [
						{
							"fieldName": "spec1",
							"fieldValue": "value1"
						}
					],
					"images": [
						{
							"imageName": "Principal",
							"imageUrl": "https://i.pinimg.com/originals/2d/96/4a/2d964a6bf37d9224d0615dc85fccdd62.jpg"
						}
					]
				}
			},
			"SkuSpecification": {
				"title": "SkuSpecification",
				"required": [
					"fieldName",
					"fieldValue"
				],
				"type": "object",
				"properties": {
					"fieldName": {
						"type": "string"
					},
					"fieldValue": {
						"type": "string"
					}
				},
				"example": {
					"fieldName": "spec1",
					"fieldValue": "value1"
				}
			},
			"ProductSpecification": {
				"title": "ProductSpecification",
				"required": [
					"fieldName",
					"fieldValue"
				],
				"type": "object",
				"properties": {
					"fieldName": {
						"type": "string"
					},
					"fieldValue": {
						"type": "string"
					}
				},
				"example": {
					"fieldName": "spec1",
					"fieldValue": "value1"
				}
			},
			"Image": {
				"title": "Image",
				"required": [
					"imageName",
					"imageUrl"
				],
				"type": "object",
				"properties": {
					"imageName": {
						"type": "string"
					},
					"imageUrl": {
						"type": "string"
					}
				},
				"example": {
					"imageName": "Principal",
					"imageUrl": "https://i.pinimg.com/originals/2d/96/4a/2d964a6bf37d9224d0615dc85fccdd62.jpg"
				}
			},
			"MatchRequest": {
				"title": "MatchRequest",
				"required": [
					"matcherId",
					"score",
					"skuRef",
					"productRef",
					"product",
					"sku"
				],
				"type": "object",
				"properties": {
					"matcherId": {
						"type": "string"
					},
					"score": {
						"type": "string"
					},
					"skuRef": {
						"type": "string"
					},
					"productRef": {
						"type": "string"
					},
					"product": {
						"$ref": "#/components/schemas/Product"
					},
					"sku": {
						"$ref": "#/components/schemas/Sku"
					}
				},
				"example": {
					"matcherId": "{{matcherid}}",
					"score": "{{score}} (must be decimal)",
					"skuRef": "{{skuid}}(should be specifed when match is a sku match)",
					"productRef": "{{productRef}}(should be specified when match is a product match)",
					"product": {
						"name": "Produto exemplo",
						"description": "Descricao exemplo",
						"categoryId": 12,
						"brandId": 1234567,
						"specifications": null
					},
					"sku": {
						"name": "Sku exemplo",
						"eans": [
							"12345678901213"
						],
						"refId": null,
						"height": 1,
						"width": 1,
						"length": 1,
						"weight": 1,
						"images": {
							"imagem1.jpg": "imageurl.example"
						},
						"unitMultiplier": 1,
						"measurementUnit": "un",
						"specifications": {
							"Embalagem": "3 kg"
						}
					}
				}
			},
			"Product": {
				"title": "Product",
				"required": [
					"name",
					"description",
					"categoryId",
					"brandId",
					"specifications"
				],
				"type": "object",
				"properties": {
					"name": {
						"type": "string"
					},
					"description": {
						"type": "string"
					},
					"categoryId": {
						"type": "integer",
						"format": "int32"
					},
					"brandId": {
						"type": "integer",
						"format": "int32"
					},
					"specifications": {
						"type": "string",
						"nullable": true
					}
				},
				"example": {
					"name": "Produto exemplo",
					"description": "Descricao exemplo",
					"categoryId": 12,
					"brandId": 1234567,
					"specifications": null
				}
			},
			"Sku": {
				"title": "Sku",
				"required": [
					"name",
					"eans",
					"refId",
					"height",
					"width",
					"length",
					"weight",
					"images",
					"unitMultiplier",
					"measurementUnit",
					"specifications"
				],
				"type": "object",
				"properties": {
					"name": {
						"type": "string"
					},
					"eans": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": ""
					},
					"refId": {
						"type": "string",
						"nullable": true
					},
					"height": {
						"type": "integer",
						"format": "int32"
					},
					"width": {
						"type": "integer",
						"format": "int32"
					},
					"length": {
						"type": "integer",
						"format": "int32"
					},
					"weight": {
						"type": "integer",
						"format": "int32"
					},
					"images": {
						"$ref": "#/components/schemas/Images"
					},
					"unitMultiplier": {
						"type": "integer",
						"format": "int32"
					},
					"measurementUnit": {
						"type": "string"
					},
					"specifications": {
						"$ref": "#/components/schemas/Specifications"
					}
				},
				"example": {
					"name": "Sku exemplo",
					"eans": [
						"12345678901213"
					],
					"refId": null,
					"height": 1,
					"width": 1,
					"length": 1,
					"weight": 1,
					"images": {
						"imagem1.jpg": "imageurl.example"
					},
					"unitMultiplier": 1,
					"measurementUnit": "un",
					"specifications": {
						"Embalagem": "3 kg"
					}
				}
			},
			"Images": {
				"title": "Images",
				"required": [
					"imagem1.jpg"
				],
				"type": "object",
				"properties": {
					"imagem1.jpg": {
						"type": "string"
					}
				},
				"example": {
					"imagem1.jpg": "imageurl.example"
				}
			},
			"Specifications": {
				"title": "Specifications",
				"required": [
					"Embalagem"
				],
				"type": "object",
				"properties": {
					"Embalagem": {
						"type": "string"
					}
				},
				"example": {
					"Embalagem": "3 kg"
				}
			}
		},
		"securitySchemes": {
			"appKey": {
				"type": "apiKey",
				"in": "header",
				"name": "X-VTEX-API-AppKey"
			},
			"appToken": {
				"type": "apiKey",
				"in": "header",
				"name": "X-VTEX-API-AppToken"
			}
		}
	},
	"tags": [
		{
			"name": "Feed",
			"description": "Search and filter all suggestions using specific criteria"
		},
		{
			"name": "Send",
			"description": "Send SKU suggestions from seller to marketplace"
		},
		{
			"name": "Manage",
			"description": "Manage SKU suggestions received in the marketplace"
		}
	],
	"security": [
		{
			"appKey": [],
			"appToken": []
		}
	]
}