{
    "openapi": "3.0.0",
    "info": {
        "title": "Pick and Pack API",
        "description": "The Pick and Pack API provides comprehensive functionality for order management, picking operations, shipment tracking, and returns processing. The main capabilities include:\n\n- Retrieving detailed order information including items, packages, and status\n\n- Accessing worksheet data for picking operations\n\n- Querying shipment tracking and delivery details\n\n- Getting facility information\n\n\n### General Guidelines\n\n- All timestamps are in ISO 8601 format (`YYYY-MM-DDTHH:mm:ss.sssZ`) and `UTC` timezone\n\n- All monetary values are represented in cents\n\n- All requests and responses use JSON format\n\n- Request IDs are included in all responses for tracking purposes\n\n\n## Authentication Guide\n\nTo access the API endpoints, you need to follow these steps to obtain and use a `JWT` token:\n\n1. Configure your `APIKEY_ACCOUNT`, obtain an API key from your account administrator\n    \n2. Generate `JWT` Token\n    \n    ``` http\n          POST {{ENDPOINT_TOKEN_AUTH}}/token\n          Content-Type: application/json\n          {\n            \"apiKey\": \"your-apikey-account\"\n          }\n    \n     ```\n    \n    Response:\n    \n    ``` json\n          {\n            \"data\": \"eyJhbGciOiJIUzI1...[JWT token]\"\n          }\n    \n     ```\n    \n3. Use the `JWT` Token  \n    Include the token in the Authorization header for all API requests:\n    \n    ``` http\n          GET {{ENDPOINT_PNP}}/v1/orders/123456\n          Authorization: Bearer eyJhbGciOiJIUzI1...[JWT token]\n    \n     ```\n    \n\n> Note: The Postman collection includes a pre-request script that automatically handles token generation and renewal. While this script facilitates development, you can disable it and manage authentication manually following the steps above. \n  \n\n## Error Handling\n\nThe API uses standard HTTP response codes and returns additional error details in the response body:\n\n``` json\n{\n  \"type\": \"exception\",\n  \"code\": \"ORD0002B\",\n  \"message\": \"Order not found [ORDER-ID]\",\n  \"date\": \"2024-02-13T15:24:01.933Z\",\n  \"requestId\": \"2f63bf9c-5730-449a-97b9-4bd36a466ab4\"\n}\n\n ```\n\nCommon error codes:\n\n- 401 - Authentication\n    \n- 403 - Forbidden errors (Invalid token, expired token)\n    \n- 404 - Resource not found\n    \n- 400 - Invalid request parameters\n    \n- 500 - Internal server error\n    \n\n## Troubleshooting Guide\n\n### Common Issues and Solutions\n\n##### 1\\. Token Expiration\n\n- Authentication tokens expire after 15 minutes\n    \n- Check console logs for refresh attempts\n    \n- Verify `APIKEY_ACCOUNT` format\n    \n- Ensure endpoint URLs are correct\n    \n\n##### 2\\. Variable Errors\n\n- Check variable syntax\n    \n- Validate API key format\n    \n\n##### 3\\. Cache-Related Issues\n\n- Response data might appear stale due to API caching\n    \n- Each endpoint has specific cache duration:\n    \n    - Orders: 30 seconds\n        \n    - Shipments: 30 seconds\n        \n    - Worksheets: 30 seconds\n        \n    - Facilities: 30 seconds\n        \n- For real-time data, consider the cache duration when implementing polling strategies\n    \n- Cache is based on specific parameters (e.g., orderId, shipmentId)\n    \n\n### Best Practices\n\n1. Always check response headers for cache information\n    \n2. Use request IDs for tracking issues\n    \n3. Monitor API rate limits (30 requests/second, 100 concurrent requests)",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://auth.pickingnpacking.com/prod",
            "variables": {}
        },
        {
            "url": "https://api.pick-and-pack.com/prod/v1",
            "variables": {}
        }
    ],
    "paths": {
        "/token": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get Token",
                "operationId": "GetToken",
                "parameters": [],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema":
                                    {
                                        "$ref": "#/components/schemas/GetTokenRequest"
                                    },
                            "example": {
                                "apiKey": "Paste the API key generated from the Pick and Pack admin"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "247"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 12:20:53 GMT"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-67ade3a5-2fe2659f2844565e60c9af4e;Parent=0ca4f63969aaf44e;Sampled=0;Lineage=1:12516381:0"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "d2d8d6ae-a183-401b-a288-af78ab54f14b"
                                    }
                                }
                            },
                            "Access-Control-Allow-Origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Access-Control-Allow-Headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "F7CB5FQ1oAMEDeg="
                                    }
                                }
                            },
                            "Access-Control-Allow-Methods": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "OPTIONS,POST,GET,PATCH"
                                    }
                                }
                            },
                            "X-Cache": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Miss from cloudfront"
                                    }
                                }
                            },
                            "Via": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "1.1 fc35ef111c1094afc1f2d15f87a34bee.cloudfront.net (CloudFront)"
                                    }
                                }
                            },
                            "X-Amz-Cf-Pop": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "BOG50-P1"
                                    }
                                }
                            },
                            "X-Amz-Cf-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "nUFohA3lnM5rMAcyZWlBfTgJdus-rOiGKAcftDMC3XREey1_u8_zOA=="
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/m200"
                                        },
                                        {
                                            "example": {
                                                "message": "success",
                                                "data": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJob3N0bmFtZSI6Imxhc3RtaWxlIiwidXNlcm5hbWUiOiJsYXN0bWlsZS5jcmlzdGlhbnJvbWVyb3Z0ZXhjb20iLCJpYXQiOjE3Mzk0NDkyNTMsImV4cCI6MTczOTQ1MDE1M30.lkb1e5XDuUBddthwaxrvi_Ub0YBEAEessJy_bvzb-do"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "message": "success",
                                    "data": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJob3N0bmFtZSI6Imxhc3RtaWxlIiwidXNlcm5hbWUiOiJsYXN0bWlsZS5jcmlzdGlhbnJvbWVyb3Z0ZXhjb20iLCJpYXQiOjE3Mzk0NDkyNTMsImV4cCI6MTczOTQ1MDE1M30.lkb1e5XDuUBddthwaxrvi_Ub0YBEAEessJy_bvzb-do"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [],
                "servers": [
                    {
                        "url": "https://auth.pickingnpacking.com/prod",
                        "variables": {}
                    }
                ]
            }
        },
        "/orders/{orderId}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get Order",
                "description": "Retrieve order details by ID.\n\n> The response is cached for 30 seconds based on the `orderId` parameter. Rate limited to 30 requests per second with a maximum of 100 concurrent requests.",
                "operationId": "GetOrder",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Order ID to retrieve",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "1509750516095-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:01:05 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "1040"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "f50b424e-8af5-41e1-95b5-a27c3ee0b0c7"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Content-Encoding": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "gzip"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "3298"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "F62VVEOYoAMElIA="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"ce2-O6sigU3p4ZxS1LBsTpQW+BHPiGU\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-67add0ee-25bf85e73956d5ed2f00ac97;Parent=1157212644e7a158;Sampled=0;Lineage=2:9023b89a:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:01:05 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/m2001"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 24 Aug 2023 19:20:15 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "82"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "33524cf3-2fc5-48e9-8ae0-47335d8bd8b0"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token"
                                    }
                                }
                            },
                            "x-amzn-ErrorType": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "AccessDeniedException"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "KLgJcHALoAMF78Q="
                                    }
                                }
                            },
                            "access-control-allow-methods": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "OPTIONS,POST"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "190"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"be-2iCFdR5rZ6/Jd57j8EZZ/HKSTJY\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-674faa5f-491591d408588d7353b1b283;Parent=4d0108b27e510e89;Sampled=0;Lineage=2:9023b89a:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Wed, 04 Dec 2024 01:03:29 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/403Expiredtoken1"
                                        },
                                        {
                                            "example": {
                                                "message": "User is not authorized to access this resource with an explicit deny",
                                                "code": "EXPIRED_TOKEN",
                                                "reason": "Expired token",
                                                "requestId": "1a36389e-0050-436e-a1d0-14cfb6508c2f"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "message": "User is not authorized to access this resource with an explicit deny",
                                    "code": "EXPIRED_TOKEN",
                                    "reason": "Expired token",
                                    "requestId": "1a36389e-0050-436e-a1d0-14cfb6508c2f"
                                }
                            },
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/403Forbidden1"
                                        },
                                        {
                                            "example": {
                                                "type": "business",
                                                "code": "SHR0007B",
                                                "message": "You do not have access to this order [1481120515528-01]",
                                                "date": "2024-12-04T01:03:29.495Z",
                                                "requestId": "3d292319-2129-47b6-a748-92a8be02576a"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "type": "business",
                                    "code": "SHR0007B",
                                    "message": "You do not have access to this order [1481120515528-01]",
                                    "date": "2024-12-04T01:03:29.495Z",
                                    "requestId": "3d292319-2129-47b6-a748-92a8be02576a"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod/v1",
                        "variables": {}
                    }
                ]
            }
        },
        "/orders/{orderId}/tracking": {
            "patch": {
                "tags": [
                    "Orders"
                ],
                "summary": "Set Delivery",
                "description": "This endpoint helps you complete the Pick and Pack workflow by setting the order status to delivered. You can also update the OMS with additional shipping details. Keep in mind that all fields are optional. For more information, refer to our official documentation here: [https://developers.vtex.com/docs/api-reference/orders-api#put-/api/oms/pvt/orders/-orderId-/invoice/-invoiceNumber-/tracking](https://developers.vtex.com/docs/api-reference/orders-api#put-/api/oms/pvt/orders/-orderId-/invoice/-invoiceNumber-/tracking)",
                "operationId": "SetDelivery",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Order ID to update",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "1506390515917-01"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "text/plain": {
                            "schema": {
                                "type": "string",
                                "example": "\n/**\n * All fields are optional (deliveredDate, events)\n */\n{\n    \"deliveredDate\": \"2025-02-13T02:00:00.000Z\",\n    \"events\": [{\n        \"city\": \"São Paulo\",\n        \"state\":\"SP\",\n        \"description\": \"Delivery\",\n        \"date\": \"2025-02-10T00:00:00.000Z\"\n    }]\n}"
                            },
                            "example": "\n/**\n * All fields are optional (deliveredDate, events)\n */\n{\n    \"deliveredDate\": \"2025-02-13T02:00:00.000Z\",\n    \"events\": [{\n        \"city\": \"São Paulo\",\n        \"state\":\"SP\",\n        \"description\": \"Delivery\",\n        \"date\": \"2025-02-10T00:00:00.000Z\"\n    }]\n}"
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:24:12 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "178"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "8279af1b-56ae-4ace-b01e-0b594823dd5b"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "178"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "F65uMEuXoAMEKKw="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"b2-REnVikOkUIlw7va8YMajStZNBJM\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-67add65a-0dbc989d1c48dbcc6d0be9bd;Parent=711309fe7ab0a519;Sampled=0;Lineage=2:9023b89a:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:24:12 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/m2002"
                                        },
                                        {
                                            "example": {
                                                "deliveredDate": "2025-02-13T02:00:00.000Z",
                                                "events": [
                                                    {
                                                        "city": "São Paulo",
                                                        "state": "SP",
                                                        "description": "Delivery",
                                                        "date": "2025-02-10T00:00:00.000Z"
                                                    }
                                                ],
                                                "orderId": "1507400515991-01"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "deliveredDate": "2025-02-13T02:00:00.000Z",
                                    "events": [
                                        {
                                            "city": "São Paulo",
                                            "state": "SP",
                                            "description": "Delivery",
                                            "date": "2025-02-10T00:00:00.000Z"
                                        }
                                    ],
                                    "orderId": "1507400515991-01"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:29:50 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "196"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "f48e15bd-2c12-4d8f-b176-b5a40e3d64a9"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "196"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "F66jNFk2IAMEUbw="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"c4-/DMgMySXtnJsGcOu+sy2Uusx0gU\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-67add7ad-4731ed1d662ddfc3159502a8;Parent=0d727a1e6cbc76bb;Sampled=0;Lineage=2:9023b89a:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:29:50 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/404Invoicenotfound1"
                                        },
                                        {
                                            "example": {
                                                "type": "exception",
                                                "code": "ORA0001B",
                                                "message": "The order must be invoiced to update the status to delivered",
                                                "date": "2025-02-13T11:29:50.757Z",
                                                "requestId": "a82ec832-14cc-4a53-ad50-de67538bc934"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "type": "exception",
                                    "code": "ORA0001B",
                                    "message": "The order must be invoiced to update the status to delivered",
                                    "date": "2025-02-13T11:29:50.757Z",
                                    "requestId": "a82ec832-14cc-4a53-ad50-de67538bc934"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod/v1",
                        "variables": {}
                    }
                ]
            }
        },
        "/worksheets/{worksheetId}": {
            "get": {
                "tags": [
                    "Worksheets"
                ],
                "summary": "Get Worksheet",
                "description": "Retrieve worksheet details by ID.\n\n> The response is cached for 30 seconds based on the `worksheetId` parameter. Rate limited to 30 requests per second with a maximum of 100 concurrent requests.",
                "operationId": "GetWorksheet",
                "parameters": [
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "description": "Worksheet ID to retrieve",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 546744628006
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:34:13 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "1099"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "e9138e61-38a3-4792-9c1a-5d052bb49969"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Content-Encoding": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "gzip"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "5369"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "F67L-H4FoAMElWA="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"14f9-Oh3KDerU1I13bynvXv5DSkRCMEU\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-67add8b2-623ef74b625985bf15b877c4;Parent=4214cb6dc1291619;Sampled=0;Lineage=2:3a92b2e4:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:34:13 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/m2003"
                                        },
                                        {
                                            "example": {
                                                "id": "c13ed6d8-1c86-4ad9-be63-5e2f4c5451b2",
                                                "worksheetId": "546744628006",
                                                "initDate": "2025-02-11T00:33:18.584Z",
                                                "finishedDate": null,
                                                "status": "COMPLETED",
                                                "createdAt": "2025-02-11T00:32:47.542Z",
                                                "priority": 0,
                                                "categoriesIds": [
                                                    "12",
                                                    "6",
                                                    "7",
                                                    "9"
                                                ],
                                                "lastPickedItemTime": 1739233967327,
                                                "finishEstimatedDate": "2025-02-13T16:03:55.202Z",
                                                "hostname": "lastmile",
                                                "pickerAssignment": [
                                                    {
                                                        "active": true,
                                                        "assignmentDate": "2025-02-11T00:32:48.194Z",
                                                        "notes": [],
                                                        "method": "MANUAL",
                                                        "pickerId": "pickertalleruno",
                                                        "finishedDate": null
                                                    }
                                                ],
                                                "totalCompletedItems": 4,
                                                "totalPackedItems": 4,
                                                "updatedAt": "2025-02-11T18:47:53.970Z",
                                                "lastStatusChangeTime": 1739234051187,
                                                "totalItems": 4,
                                                "ordersIds": [
                                                    {
                                                        "totalValue": 14000000,
                                                        "orderId": "1509780516107-01",
                                                        "unitsQuantity": 16,
                                                        "itemsQuantity": 4,
                                                        "shippingEstimatedDate": "2025-02-10T17:41:24.986Z",
                                                        "isInvoiced": true,
                                                        "priority": 561.2
                                                    }
                                                ],
                                                "facilityId": "783262b09ddc4b8facee2fa50541fd1e",
                                                "items": [
                                                    {
                                                        "id": "73",
                                                        "name": "Tic Tac Menta X 24 Cajitas",
                                                        "image": "https://lastmile.vteximg.com.br/arquivos/ids/155761-55-55/73.jpg?v=637917696200900000",
                                                        "temperature": "AMBIENT",
                                                        "categories": [
                                                            {
                                                                "id": "6",
                                                                "name": "Food"
                                                            }
                                                        ],
                                                        "itemAssignment": {
                                                            "startPickingAt": "2025-02-11T00:33:17.511Z",
                                                            "assignedAt": "2025-02-10T17:37:35.170Z",
                                                            "finishedAt": "2025-02-11T00:34:04.417Z"
                                                        },
                                                        "originalQuantity": 4,
                                                        "completedQuantity": 4,
                                                        "pickedQuantity": 4,
                                                        "rejectedQuantity": 0,
                                                        "replacedQuantity": 0,
                                                        "orderSource": [
                                                            {
                                                                "orderId": "1509780516107-01",
                                                                "sellingPrice": 1000000,
                                                                "listPrice": 1000000,
                                                                "currencyCode": "MXN",
                                                                "status": "DELIVERED",
                                                                "quantity": 4,
                                                                "pickedQuantity": 4,
                                                                "rejectedQuantity": 0,
                                                                "replacedQuantity": 0,
                                                                "replacedBy": [],
                                                                "notes": []
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "id": "88",
                                                        "name": "Porta Comida Lonchera Electrica Portable Home Elements",
                                                        "image": "https://lastmile.vteximg.com.br/arquivos/ids/155776-55-55/88.jpg?v=637917703437530000",
                                                        "temperature": "AMBIENT",
                                                        "categories": [
                                                            {
                                                                "id": "7",
                                                                "name": "Home Appliances"
                                                            }
                                                        ],
                                                        "itemAssignment": {
                                                            "startPickingAt": "2025-02-11T00:33:18.809Z",
                                                            "assignedAt": "2025-02-10T17:37:35.170Z",
                                                            "finishedAt": "2025-02-11T00:34:04.417Z"
                                                        },
                                                        "originalQuantity": 4,
                                                        "completedQuantity": 4,
                                                        "pickedQuantity": 4,
                                                        "rejectedQuantity": 0,
                                                        "replacedQuantity": 0,
                                                        "orderSource": [
                                                            {
                                                                "orderId": "1509780516107-01",
                                                                "sellingPrice": 1000000,
                                                                "listPrice": 1000000,
                                                                "currencyCode": "MXN",
                                                                "status": "DELIVERED",
                                                                "quantity": 4,
                                                                "pickedQuantity": 4,
                                                                "rejectedQuantity": 0,
                                                                "replacedQuantity": 0,
                                                                "replacedBy": [],
                                                                "notes": []
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "id": "116",
                                                        "name": "Pedigree Alimento Para Perro Adulto 15 Kg",
                                                        "image": "https://lastmile.vteximg.com.br/arquivos/ids/155804-55-55/116.jpg?v=637919000315400000",
                                                        "temperature": "AMBIENT",
                                                        "categories": [
                                                            {
                                                                "id": "9",
                                                                "name": "Pets"
                                                            }
                                                        ],
                                                        "itemAssignment": {
                                                            "startPickingAt": "2025-02-11T00:33:20.184Z",
                                                            "assignedAt": "2025-02-10T17:37:35.170Z",
                                                            "finishedAt": "2025-02-11T00:34:04.417Z"
                                                        },
                                                        "originalQuantity": 4,
                                                        "completedQuantity": 4,
                                                        "pickedQuantity": 4,
                                                        "rejectedQuantity": 0,
                                                        "replacedQuantity": 0,
                                                        "orderSource": [
                                                            {
                                                                "orderId": "1509780516107-01",
                                                                "sellingPrice": 1000000,
                                                                "listPrice": 1000000,
                                                                "currencyCode": "MXN",
                                                                "status": "DELIVERED",
                                                                "quantity": 4,
                                                                "pickedQuantity": 4,
                                                                "rejectedQuantity": 0,
                                                                "replacedQuantity": 0,
                                                                "replacedBy": [],
                                                                "notes": []
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "id": "1224",
                                                        "name": "Blusa amarilla XL",
                                                        "image": "https://lastmile.vteximg.com.br/arquivos/ids/155810-55-55/Blusa.png?v=637919004662770000",
                                                        "temperature": "AMBIENT",
                                                        "categories": [
                                                            {
                                                                "id": "12",
                                                                "name": "Apparel"
                                                            }
                                                        ],
                                                        "itemAssignment": {
                                                            "startPickingAt": "2025-02-11T00:33:21.546Z",
                                                            "assignedAt": "2025-02-10T17:37:35.170Z",
                                                            "finishedAt": "2025-02-11T00:34:04.417Z"
                                                        },
                                                        "originalQuantity": 4,
                                                        "completedQuantity": 4,
                                                        "pickedQuantity": 4,
                                                        "rejectedQuantity": 0,
                                                        "replacedQuantity": 0,
                                                        "orderSource": [
                                                            {
                                                                "orderId": "1509780516107-01",
                                                                "sellingPrice": 500000,
                                                                "listPrice": 700000,
                                                                "currencyCode": "MXN",
                                                                "status": "DELIVERED",
                                                                "quantity": 4,
                                                                "pickedQuantity": 4,
                                                                "rejectedQuantity": 0,
                                                                "replacedQuantity": 0,
                                                                "replacedBy": [],
                                                                "notes": []
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "pickedItems": [
                                                    {
                                                        "id": "73",
                                                        "name": "Tic Tac Menta X 24 Cajitas",
                                                        "image": "https://lastmile.vteximg.com.br/arquivos/ids/155761-55-55/73.jpg?v=637917696200900000",
                                                        "temperature": "AMBIENT",
                                                        "originalQuantity": 4,
                                                        "pickedQuantity": 4,
                                                        "packedQuantity": 4,
                                                        "orderSource": [
                                                            {
                                                                "orderId": "1509780516107-01",
                                                                "sellingPrice": 1000000,
                                                                "listPrice": 1000000,
                                                                "quantity": 4,
                                                                "pickedQuantity": 4,
                                                                "packedQuantity": 4,
                                                                "currencyCode": "MXN"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "id": "88",
                                                        "name": "Porta Comida Lonchera Electrica Portable Home Elements",
                                                        "image": "https://lastmile.vteximg.com.br/arquivos/ids/155776-55-55/88.jpg?v=637917703437530000",
                                                        "temperature": "AMBIENT",
                                                        "originalQuantity": 4,
                                                        "pickedQuantity": 4,
                                                        "packedQuantity": 4,
                                                        "orderSource": [
                                                            {
                                                                "orderId": "1509780516107-01",
                                                                "sellingPrice": 1000000,
                                                                "listPrice": 1000000,
                                                                "quantity": 4,
                                                                "pickedQuantity": 4,
                                                                "packedQuantity": 4,
                                                                "currencyCode": "MXN"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "id": "116",
                                                        "name": "Pedigree Alimento Para Perro Adulto 15 Kg",
                                                        "image": "https://lastmile.vteximg.com.br/arquivos/ids/155804-55-55/116.jpg?v=637919000315400000",
                                                        "temperature": "AMBIENT",
                                                        "originalQuantity": 4,
                                                        "pickedQuantity": 4,
                                                        "packedQuantity": 4,
                                                        "orderSource": [
                                                            {
                                                                "orderId": "1509780516107-01",
                                                                "sellingPrice": 1000000,
                                                                "listPrice": 1000000,
                                                                "quantity": 4,
                                                                "pickedQuantity": 4,
                                                                "packedQuantity": 4,
                                                                "currencyCode": "MXN"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "id": "1224",
                                                        "name": "Blusa amarilla XL",
                                                        "image": "https://lastmile.vteximg.com.br/arquivos/ids/155810-55-55/Blusa.png?v=637919004662770000",
                                                        "temperature": "AMBIENT",
                                                        "originalQuantity": 4,
                                                        "pickedQuantity": 4,
                                                        "packedQuantity": 4,
                                                        "orderSource": [
                                                            {
                                                                "orderId": "1509780516107-01",
                                                                "sellingPrice": 500000,
                                                                "listPrice": 700000,
                                                                "quantity": 4,
                                                                "pickedQuantity": 4,
                                                                "packedQuantity": 4,
                                                                "currencyCode": "MXN"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "rejectedItems": [],
                                                "replacedItems": [],
                                                "historicalWorksheet": []
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "id": "c13ed6d8-1c86-4ad9-be63-5e2f4c5451b2",
                                    "worksheetId": "546744628006",
                                    "initDate": "2025-02-11T00:33:18.584Z",
                                    "finishedDate": null,
                                    "status": "COMPLETED",
                                    "createdAt": "2025-02-11T00:32:47.542Z",
                                    "priority": 0,
                                    "categoriesIds": [
                                        "12",
                                        "6",
                                        "7",
                                        "9"
                                    ],
                                    "lastPickedItemTime": 1739233967327,
                                    "finishEstimatedDate": "2025-02-13T16:03:55.202Z",
                                    "hostname": "lastmile",
                                    "pickerAssignment": [
                                        {
                                            "active": true,
                                            "assignmentDate": "2025-02-11T00:32:48.194Z",
                                            "notes": [],
                                            "method": "MANUAL",
                                            "pickerId": "pickertalleruno",
                                            "finishedDate": null
                                        }
                                    ],
                                    "totalCompletedItems": 4,
                                    "totalPackedItems": 4,
                                    "updatedAt": "2025-02-11T18:47:53.970Z",
                                    "lastStatusChangeTime": 1739234051187,
                                    "totalItems": 4,
                                    "ordersIds": [
                                        {
                                            "totalValue": 14000000,
                                            "orderId": "1509780516107-01",
                                            "unitsQuantity": 16,
                                            "itemsQuantity": 4,
                                            "shippingEstimatedDate": "2025-02-10T17:41:24.986Z",
                                            "isInvoiced": true,
                                            "priority": 561.2
                                        }
                                    ],
                                    "facilityId": "783262b09ddc4b8facee2fa50541fd1e",
                                    "items": [
                                        {
                                            "id": "73",
                                            "name": "Tic Tac Menta X 24 Cajitas",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155761-55-55/73.jpg?v=637917696200900000",
                                            "temperature": "AMBIENT",
                                            "categories": [
                                                {
                                                    "id": "6",
                                                    "name": "Food"
                                                }
                                            ],
                                            "itemAssignment": {
                                                "startPickingAt": "2025-02-11T00:33:17.511Z",
                                                "assignedAt": "2025-02-10T17:37:35.170Z",
                                                "finishedAt": "2025-02-11T00:34:04.417Z"
                                            },
                                            "originalQuantity": 4,
                                            "completedQuantity": 4,
                                            "pickedQuantity": 4,
                                            "rejectedQuantity": 0,
                                            "replacedQuantity": 0,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "currencyCode": "MXN",
                                                    "status": "DELIVERED",
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "rejectedQuantity": 0,
                                                    "replacedQuantity": 0,
                                                    "replacedBy": [],
                                                    "notes": []
                                                }
                                            ]
                                        },
                                        {
                                            "id": "88",
                                            "name": "Porta Comida Lonchera Electrica Portable Home Elements",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155776-55-55/88.jpg?v=637917703437530000",
                                            "temperature": "AMBIENT",
                                            "categories": [
                                                {
                                                    "id": "7",
                                                    "name": "Home Appliances"
                                                }
                                            ],
                                            "itemAssignment": {
                                                "startPickingAt": "2025-02-11T00:33:18.809Z",
                                                "assignedAt": "2025-02-10T17:37:35.170Z",
                                                "finishedAt": "2025-02-11T00:34:04.417Z"
                                            },
                                            "originalQuantity": 4,
                                            "completedQuantity": 4,
                                            "pickedQuantity": 4,
                                            "rejectedQuantity": 0,
                                            "replacedQuantity": 0,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "currencyCode": "MXN",
                                                    "status": "DELIVERED",
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "rejectedQuantity": 0,
                                                    "replacedQuantity": 0,
                                                    "replacedBy": [],
                                                    "notes": []
                                                }
                                            ]
                                        },
                                        {
                                            "id": "116",
                                            "name": "Pedigree Alimento Para Perro Adulto 15 Kg",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155804-55-55/116.jpg?v=637919000315400000",
                                            "temperature": "AMBIENT",
                                            "categories": [
                                                {
                                                    "id": "9",
                                                    "name": "Pets"
                                                }
                                            ],
                                            "itemAssignment": {
                                                "startPickingAt": "2025-02-11T00:33:20.184Z",
                                                "assignedAt": "2025-02-10T17:37:35.170Z",
                                                "finishedAt": "2025-02-11T00:34:04.417Z"
                                            },
                                            "originalQuantity": 4,
                                            "completedQuantity": 4,
                                            "pickedQuantity": 4,
                                            "rejectedQuantity": 0,
                                            "replacedQuantity": 0,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "currencyCode": "MXN",
                                                    "status": "DELIVERED",
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "rejectedQuantity": 0,
                                                    "replacedQuantity": 0,
                                                    "replacedBy": [],
                                                    "notes": []
                                                }
                                            ]
                                        },
                                        {
                                            "id": "1224",
                                            "name": "Blusa amarilla XL",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155810-55-55/Blusa.png?v=637919004662770000",
                                            "temperature": "AMBIENT",
                                            "categories": [
                                                {
                                                    "id": "12",
                                                    "name": "Apparel"
                                                }
                                            ],
                                            "itemAssignment": {
                                                "startPickingAt": "2025-02-11T00:33:21.546Z",
                                                "assignedAt": "2025-02-10T17:37:35.170Z",
                                                "finishedAt": "2025-02-11T00:34:04.417Z"
                                            },
                                            "originalQuantity": 4,
                                            "completedQuantity": 4,
                                            "pickedQuantity": 4,
                                            "rejectedQuantity": 0,
                                            "replacedQuantity": 0,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 500000,
                                                    "listPrice": 700000,
                                                    "currencyCode": "MXN",
                                                    "status": "DELIVERED",
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "rejectedQuantity": 0,
                                                    "replacedQuantity": 0,
                                                    "replacedBy": [],
                                                    "notes": []
                                                }
                                            ]
                                        }
                                    ],
                                    "pickedItems": [
                                        {
                                            "id": "73",
                                            "name": "Tic Tac Menta X 24 Cajitas",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155761-55-55/73.jpg?v=637917696200900000",
                                            "temperature": "AMBIENT",
                                            "originalQuantity": 4,
                                            "pickedQuantity": 4,
                                            "packedQuantity": 4,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "packedQuantity": 4,
                                                    "currencyCode": "MXN"
                                                }
                                            ]
                                        },
                                        {
                                            "id": "88",
                                            "name": "Porta Comida Lonchera Electrica Portable Home Elements",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155776-55-55/88.jpg?v=637917703437530000",
                                            "temperature": "AMBIENT",
                                            "originalQuantity": 4,
                                            "pickedQuantity": 4,
                                            "packedQuantity": 4,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "packedQuantity": 4,
                                                    "currencyCode": "MXN"
                                                }
                                            ]
                                        },
                                        {
                                            "id": "116",
                                            "name": "Pedigree Alimento Para Perro Adulto 15 Kg",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155804-55-55/116.jpg?v=637919000315400000",
                                            "temperature": "AMBIENT",
                                            "originalQuantity": 4,
                                            "pickedQuantity": 4,
                                            "packedQuantity": 4,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "packedQuantity": 4,
[...]
