{
    "openapi": "3.0.0",
    "info": {
        "title": "Sent SKUs",
        "description": "Collection composed by requests for the VTEX Sent SKUs API, used by channels integrations for providing visibility to the sellers and turn easier to sell on channels.",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://portal.vtexcommercestable.com.br",
            "description": "VTEX server url"
        }
    ],
    "paths": {
        "/api/productfeed/workflow": {
            "get": {
                "tags": [
                    "History"
                ],
                "summary": "Search logs in history",
                "description": "",
                "operationId": "searchLogsInHistory",
                "parameters": [
                    {
                        "name": "an",
                        "in": "query",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "lojadomatheus"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "required": true,
                        "description": "",
                        "schema": {
                            "type": "string",
                            "default": "creationDate,desc"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0,
                            "example": "0"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Limit of logs returned on each page.",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "example": "15"
                        }
                    },
                    {
                        "name": "feedId",
                        "in": "query",
                        "required": false,
                        "description": "Identifier of the feed.",
                        "schema": {
                            "type": "string",
                            "default": "jkasdq7e62"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "description": "Status of the logs being searched",
                        "schema": {
                            "type": "string",
                            "default": "success"
                        }
                    },
                    {
                        "name": "flag",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "description": "",
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "description": "Search term. Can be used to look for a SKU ID or EAN.",
                        "schema": {
                            "type": "string",
                            "default": "123"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false
            }
        },
        "/api/productfeed/{feedId}/workflow/{logId}": {
            "get": {
                "tags": [
                    "History"
                ],
                "summary": "Retrieve log info",
                "description": "Retrieve all informations about a specific log",
                "operationId": "retrieveLog",
                "parameters": [
                    {
                        "name": "feedId",
                        "in": "path",
                        "required": true,
                        "description": "Identifier of the feed.",
                        "schema": {
                            "type": "string",
                            "default": "jkasdq7e62"
                        }
                    },
                    {
                        "name": "logId",
                        "in": "path",
                        "required": true,
                        "description": "Identifier of the log.",
                        "schema": {
                            "type": "string",
                            "default": "jkasdq7e62"
                        }
                    },
                    {
                        "name": "an",
                        "in": "query",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "lojadomatheus"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false
            }
        },
        "/api/productfeed/workflow/facets": {
            "get": {
                "tags": [
                    "History"
                ],
                "summary": "Retrieve history facets",
                "description": "",
                "operationId": "historyFacets",
                "parameters": [
                    {
                        "name": "an",
                        "in": "query",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "lojadomatheus"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false
            }
        },
        "/api/productfeed/{feedId}/workflow/{logId}/entry/{notificationId}": {
            "get": {
                "tags": [
                    "History"
                ],
                "summary": "Retrieves notification info",
                "description": "",
                "operationId": "retrieveNotification",
                "parameters": [
                    {
                        "name": "feedId",
                        "in": "path",
                        "required": true,
                        "description": "Identifier of the feed.",
                        "schema": {
                            "type": "string",
                            "default": "jkasdq7e62"
                        }
                    },
                    {
                        "name": "logId",
                        "in": "path",
                        "required": true,
                        "description": "Identifier of the feed.",
                        "schema": {
                            "type": "string",
                            "default": "123972365"
                        }
                    },
                    {
                        "name": "notificationId",
                        "in": "path",
                        "required": true,
                        "description": "Identifier of the notification.",
                        "schema": {
                            "type": "string",
                            "default": "9823jbqww"
                        }
                    },
                    {
                        "name": "accountName",
                        "in": "query",
                        "required": true,
                        "description": "Name of the VTEX account. Used as part of the URL",
                        "schema": {
                            "type": "string",
                            "default": "apiexamples"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false
            }
        },
        "components": {
            "schemas": {
                "SaveSuggestionRequest": {
                    "title": "SaveSuggestionRequest",
                    "required": [
                        "ProductId",
                        "ProductName",
                        "NameComplete",
                        "ProductDescription",
                        "BrandName",
                        "SkuName",
                        "SellerId",
                        "Height",
                        "Width",
                        "Length",
                        "WeightKg",
                        "Updated",
                        "RefId",
                        "SellerStockKeepingUnitId",
                        "CategoryFullPath",
                        "SkuSpecifications",
                        "ProductSpecifications",
                        "Images",
                        "EAN",
                        "MeasurementUnit",
                        "UnitMultiplier",
                        "AvailableQuantity",
                        "Pricing"
                    ],
                    "type": "object",
                    "properties": {
                        "ProductId": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "ProductName": {
                            "type": "string"
                        },
                        "NameComplete": {
                            "type": "string"
                        },
                        "ProductDescription": {
                            "type": "string"
                        },
                        "BrandName": {
                            "type": "string"
                        },
                        "SkuName": {
                            "type": "string"
                        },
                        "SellerId": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "Height": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "Width": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "Length": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "WeightKg": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "Updated": {
                            "type": "boolean"
                        },
                        "RefId": {
                            "type": "string"
                        },
                        "SellerStockKeepingUnitId": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "CategoryFullPath": {
                            "type": "string"
                        },
                        "SkuSpecifications": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/SkuSpecification"
                            },
                            "description": ""
                        },
                        "ProductSpecifications": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ProductSpecification"
                            },
                            "description": ""
                        },
                        "Images": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/Image"
                            },
                            "description": ""
                        },
                        "EAN": {
                            "type": "string"
                        },
                        "MeasurementUnit": {
                            "type": "string"
                        },
                        "UnitMultiplier": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "AvailableQuantity": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "Pricing": {
                            "type": "object",
                            "properties": {
                                "Currency": {
                                    "type": "string"
                                },
                                "SalePrice": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "CurrencySymbol": {
                                    "type": "string"
                                }
                            },
                            "description": ""
                        }
                    },
                    "example": {
                        "ProductId": 321,
                        "ProductName": "Product sample",
                        "NameComplete": "My complete product name?",
                        "ProductDescription": "sample",
                        "BrandName": "Brand 1",
                        "SkuName": "Sku sample",
                        "SellerId": null,
                        "Height": 1,
                        "Width": 1,
                        "Length": 1,
                        "WeightKg": 1,
                        "Updated": null,
                        "RefId": "REFID123",
                        "SellerStockKeepingUnitId": 567,
                        "CategoryFullPath": "Category 1",
                        "Images": [
                            {
                                "imageName": "Principal",
                                "imageUrl": "https://i.pinimg.com/originals/2d/96/4a/2d964a6bf37d9224d0615dc85fccdd62.jpg"
                            }
                        ],
                        "ProductSpecifications": [
                            {
                                "fieldName": "prodspec1",
                                "fieldValue": "value1"
                            }
                        ],
                        "SkuSpecifications": [
                            {
                                "fieldName": "skuspec1",
                                "fieldValue": "value2"
                            }
                        ],
                        "EAN": "EAN123",
                        "MeasurementUnit": "un",
                        "UnitMultiplier": 1,
                        "AvailableQuantity": 111,
                        "Pricing": {
                            "Currency": "BRL",
                            "SalePrice": 399,
                            "CurrencySymbol": "R$"
                        }
                    }
                },
                "SkuSpecification": {
                    "title": "SkuSpecification",
                    "required": [
                        "fieldName",
                        "fieldValue"
                    ],
                    "type": "object",
                    "properties": {
                        "fieldName": {
                            "type": "string"
                        },
                        "fieldValue": {
                            "type": "string"
                        }
                    },
                    "example": {
                        "fieldName": "spec1",
                        "fieldValue": "value1"
                    }
                },
                "ProductSpecification": {
                    "title": "ProductSpecification",
                    "required": [
                        "fieldName",
                        "fieldValue"
                    ],
                    "type": "object",
                    "properties": {
                        "fieldName": {
                            "type": "string"
                        },
                        "fieldValue": {
                            "type": "string"
                        }
                    },
                    "example": {
                        "fieldName": "spec1",
                        "fieldValue": "value1"
                    }
                },
                "Image": {
                    "title": "Image",
                    "required": [
                        "imageName",
                        "imageUrl"
                    ],
                    "type": "object",
                    "properties": {
                        "imageName": {
                            "type": "string"
                        },
                        "imageUrl": {
                            "type": "string"
                        }
                    },
                    "example": {
                        "imageName": "Principal",
                        "imageUrl": "https://i.pinimg.com/originals/2d/96/4a/2d964a6bf37d9224d0615dc85fccdd62.jpg"
                    }
                },
                "MatchRequest": {
                    "title": "MatchRequest",
                    "required": [
                        "matcherId",
                        "score",
                        "skuRef",
                        "productRef",
                        "product",
                        "sku"
                    ],
                    "type": "object",
                    "properties": {
                        "matcherId": {
                            "type": "string"
                        },
                        "score": {
                            "type": "string"
                        },
                        "skuRef": {
                            "type": "string"
                        },
                        "productRef": {
                            "type": "string"
                        },
                        "product": {
                            "$ref": "#/components/schemas/Product"
                        },
                        "sku": {
                            "$ref": "#/components/schemas/Sku"
                        }
                    },
                    "example": {
                        "matcherId": "{{matcherid}}",
                        "score": "{{score}} (must be decimal)",
                        "skuRef": "{{skuid}}(should be specifed when match is a sku match)",
                        "productRef": "{{productRef}}(should be specified when match is a product match)",
                        "product": {
                            "name": "Produto exemplo",
                            "description": "Descricao exemplo",
                            "categoryId": 12,
                            "brandId": 1234567,
                            "specifications": null
                        },
                        "sku": {
                            "name": "Sku exemplo",
                            "eans": [
                                "12345678901213"
                            ],
                            "refId": null,
                            "height": 1,
                            "width": 1,
                            "length": 1,
                            "weight": 1,
                            "images": {
                                "imagem1.jpg": "imageurl.example"
                            },
                            "unitMultiplier": 1,
                            "measurementUnit": "un",
                            "specifications": {
                                "Embalagem": "3 kg"
                            }
                        }
                    }
                },
                "Product": {
                    "title": "Product",
                    "required": [
                        "name",
                        "description",
                        "categoryId",
                        "brandId",
                        "specifications"
                    ],
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "description": {
                            "type": "string"
                        },
                        "categoryId": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "brandId": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "specifications": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    "example": {
                        "name": "Produto exemplo",
                        "description": "Descricao exemplo",
                        "categoryId": 12,
                        "brandId": 1234567,
                        "specifications": null
                    }
                },
                "Sku": {
                    "title": "Sku",
                    "required": [
                        "name",
                        "eans",
                        "refId",
                        "height",
                        "width",
                        "length",
                        "weight",
                        "images",
                        "unitMultiplier",
                        "measurementUnit",
                        "specifications"
                    ],
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "eans": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "description": ""
                        },
                        "refId": {
                            "type": "string",
                            "nullable": true
                        },
                        "height": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "width": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "length": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "weight": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "images": {
                            "$ref": "#/components/schemas/Images"
                        },
                        "unitMultiplier": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "measurementUnit": {
                            "type": "string"
                        },
                        "specifications": {
                            "$ref": "#/components/schemas/Specifications"
                        }
                    },
                    "example": {
                        "name": "Sku exemplo",
                        "eans": [
                            "12345678901213"
                        ],
                        "refId": null,
                        "height": 1,
                        "width": 1,
                        "length": 1,
                        "weight": 1,
                        "images": {
                            "imagem1.jpg": "imageurl.example"
                        },
                        "unitMultiplier": 1,
                        "measurementUnit": "un",
                        "specifications": {
                            "Embalagem": "3 kg"
                        }
                    }
                },
                "Images": {
                    "title": "Images",
                    "required": [
                        "imagem1.jpg"
                    ],
                    "type": "object",
                    "properties": {
                        "imagem1.jpg": {
                            "type": "string"
                        }
                    },
                    "example": {
                        "imagem1.jpg": "imageurl.example"
                    }
                },
                "Specifications": {
                    "title": "Specifications",
                    "required": [
                        "Embalagem"
                    ],
                    "type": "object",
                    "properties": {
                        "Embalagem": {
                            "type": "string"
                        }
                    },
                    "example": {
                        "Embalagem": "3 kg"
                    }
                }
            },
            "securitySchemes": {
                "appKey": {
                    "type": "apiKey",
                    "in": "header",
                    "name": "X-VTEX-API-AppKey"
                },
                "appToken": {
                    "type": "apiKey",
                    "in": "header",
                    "name": "X-VTEX-API-AppToken"
                }
            }
        },
        "tags": [
            {
                "name": "History",
                "description": "Detailed timeline of all logs and notifications."
            }
        ],
        "security": [
            {
                "appKey": [],
                "appToken": []
            }
        ]
    }
