{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "VTEX Ads - Beacon API",
        "description": "API for tracking ad events such as impressions, clicks, views, and conversions in VTEX Ads."
    },
    "servers": [
        {
            "url": "https://newtail-media.newtail.com.br",
            "description": "VTEX Ads Beacon API Server"
        }
    ],
    "paths": {
        "/v1/beacon/impression/{ad_id}": {
            "post": {
                "tags": [
                    "Beacon Events"
                ],
                "summary": "Track ad impressions",
                "description": "Track when an ad is rendered or visible to a user. The event URL must not be constructed manually—always use the URL provided from the ad query.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    },
                    {
                        "name": "ad_id",
                        "in": "path",
                        "description": "Unique identifier of the ad",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4a94bc6e-7db1-425f-8430-cb4d17488b3b"
                        }
                    },
                    {
                        "name": "pos",
                        "in": "query",
                        "description": "Position of the ad",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "session_id"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "description": "Unique identifier for the user within your platform. It must remain consistent across all user touchpoints and sales channels.",
                                        "example": "6f92d1e9-00b6-4f8b-9645-faeab321e1cc"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "The user's session identifier. It has a limited lifespan and helps determine when a user transitions from anonymous to identified state.",
                                        "example": "5898b8d1-c250-4bb5-931b-8b9d0ee7b499"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages from the server.",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "messages": [
                                        "impression will be processed soon"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "instancePath": {
                                                "type": "string",
                                                "description": "Path to the property with the error."
                                            },
                                            "keyword": {
                                                "type": "string",
                                                "description": "Validation keyword."
                                            },
                                            "message": {
                                                "type": "string",
                                                "description": "Error message."
                                            },
                                            "params": {
                                                "type": "object",
                                                "description": "Error parameters."
                                            },
                                            "schemaPath": {
                                                "type": "string",
                                                "description": "Path to the schema validation rule."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/beacon/click/{ad_id}": {
            "post": {
                "tags": [
                    "Beacon Events"
                ],
                "summary": "Track ad clicks",
                "description": "Track when a user clicks on an ad. The event URL must not be constructed manually—always use the URL provided from the ad query.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    },
                    {
                        "name": "ad_id",
                        "in": "path",
                        "description": "Unique identifier of the ad",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4a94bc6e-7db1-425f-8430-cb4d17488b3b"
                        }
                    },
                    {
                        "name": "pos",
                        "in": "query",
                        "description": "Position of the ad",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "session_id"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "description": "Unique identifier for the user within your platform. It must remain consistent across all user touchpoints and sales channels.",
                                        "example": "6f92d1e9-00b6-4f8b-9645-faeab321e1cc"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "The user's session identifier. It has a limited lifespan and helps determine when a user transitions from anonymous to identified state.",
                                        "example": "5898b8d1-c250-4bb5-931b-8b9d0ee7b499"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages from the server.",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "messages": [
                                        "click will be processed soon"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "instancePath": {
                                                "type": "string",
                                                "description": "Path to the property with the error."
                                            },
                                            "keyword": {
                                                "type": "string",
                                                "description": "Validation keyword."
                                            },
                                            "message": {
                                                "type": "string",
                                                "description": "Error message."
                                            },
                                            "params": {
                                                "type": "object",
                                                "description": "Error parameters."
                                            },
                                            "schemaPath": {
                                                "type": "string",
                                                "description": "Path to the schema validation rule."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/beacon/view/{ad_id}": {
            "post": {
                "tags": [
                    "Beacon Events"
                ],
                "summary": "Track ad views",
                "description": "Track views for banner ads. The event URL must not be constructed manually—always use the URL provided from the ad query.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    },
                    {
                        "name": "ad_id",
                        "in": "path",
                        "description": "Unique identifier of the ad",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4a94bc6e-7db1-425f-8430-cb4d17488b3b"
                        }
                    },
                    {
                        "name": "pos",
                        "in": "query",
                        "description": "Position of the ad",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "session_id"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "description": "Unique identifier for the user within your platform. It must remain consistent across all user touchpoints and sales channels.",
                                        "example": "6f92d1e9-00b6-4f8b-9645-faeab321e1cc"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "The user's session identifier. It has a limited lifespan and helps determine when a user transitions from anonymous to identified state.",
                                        "example": "5898b8d1-c250-4bb5-931b-8b9d0ee7b499"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages from the server.",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "messages": [
                                        "view will be processed soon"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "instancePath": {
                                                "type": "string",
                                                "description": "Path to the property with the error."
                                            },
                                            "keyword": {
                                                "type": "string",
                                                "description": "Validation keyword."
                                            },
                                            "message": {
                                                "type": "string",
                                                "description": "Error message."
                                            },
                                            "params": {
                                                "type": "object",
                                                "description": "Error parameters."
                                            },
                                            "schemaPath": {
                                                "type": "string",
                                                "description": "Path to the schema validation rule."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/beacon/conversion": {
            "post": {
                "tags": [
                    "Beacon Events"
                ],
                "summary": "Track conversions",
                "description": "Track when an ad leads to a purchase. This endpoint is used to notify one or more orders (sending them in a batch).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "publisher_id",
                                    "user_id",
                                    "session_id",
                                    "order_id",
                                    "email_hashed",
                                    "items",
                                    "created_at"
                                ],
                                "properties": {
                                    "channel": {
                                        "type": "string",
                                        "description": "Identifies the conversion channel.",
                                        "example": "ecommerce"
                                    },
                                    "publisher_id": {
                                        "type": "string",
                                        "description": "Publisher identification.",
                                        "example": "xxx"
                                    },
                                    "user_id": {
                                        "type": "string",
                                        "description": "User identification.",
                                        "example": "6f92d1e9-00b6-4f8b-9645-faeab321e1cc"
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "Identification of the session in which the purchase was made, to help attribute the sale to ads.",
                                        "example": "5898b8d1-c250-4bb5-931b-8b9d0ee7b499"
                                    },
                                    "order_id": {
                                        "type": "string",
                                        "description": "Order identification.",
                                        "example": "123"
                                    },
                                    "email_hashed": {
                                        "type": "string",
                                        "description": "Hashed user email identification.",
                                        "example": "xyz"
                                    },
                                    "items": {
                                        "type": "array",
                                        "description": "List of items purchased in the order.",
                                        "items": {
                                            "type": "object",
                                            "description": "Order item information",
                                            "required": [
                                                "sku",
                                                "quantity",
                                                "price",
                                                "promotional_price"
                                            ],
                                            "properties": {
                                                "sku": {
                                                    "type": "string",
                                                    "description": "Product SKU identification.",
                                                    "example": "12221"
                                                },
                                                "quantity": {
                                                    "type": "number",
                                                    "description": "Quantity of product purchased.",
                                                    "format": "double",
                                                    "example": 1
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "description": "Product 'from' price. Not multiplied by quantity.",
                                                    "format": "double",
                                                    "example": 2000
                                                },
                                                "promotional_price": {
                                                    "type": "number",
                                                    "description": "Product 'for' price (discounted price). Not multiplied by quantity.",
                                                    "format": "double",
                                                    "example": 1899
                                                },
                                                "seller_id": {
                                                    "type": "string",
                                                    "description": "Seller ID identification.",
                                                    "example": "1234",
                                                    "nullable": true
                                                },
                                                "product_id": {
                                                    "type": "string",
                                                    "description": "Unique product identification that includes the SKU.",
                                                    "example": "4567"
                                                }
                                            }
                                        }
                                    },
                                    "created_at": {
                                        "type": "string",
                                        "description": "Order creation date in ISO 8601 format (UTC - no timezone).",
                                        "example": "2023-01-01T09:20:00Z"
                                    },
                                    "is_company": {
                                        "type": "boolean",
                                        "description": "Indicates if the sale was made to an individual or a company. Default=false.",
                                        "example": false
                                    },
                                    "gender": {
                                        "type": "string",
                                        "description": "Indicates customer's gender. F: female, M: male, O: other. Default=null.",
                                        "enum": ["F", "M", "O", null],
                                        "example": "M"
                                    },
                                    "uf": {
                                        "type": "string",
                                        "description": "Indicates the state where the order was made.",
                                        "example": "SP"
                                    },
                                    "city": {
                                        "type": "string",
                                        "description": "Indicates the name of the city where the customer bought.",
                                        "example": "São Paulo"
                                    },
                                    "phone_hashed": {
                                        "type": "string",
                                        "description": "Hashed user phone number identification.",
                                        "example": "abc123"
                                    },
                                    "social_id_hashed": {
                                        "type": "string",
                                        "description": "Hashed user CPF or CNPJ identification.",
                                        "example": "def456"
                                    },
                                    "first_name_hashed": {
                                        "type": "string",
                                        "description": "Hashed user first name identification.",
                                        "example": "ghi789"
                                    },
                                    "last_name_hashed": {
                                        "type": "string",
                                        "description": "Hashed user last name identification.",
                                        "example": "jkl012"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages from the server.",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "messages": [
                                        "conversion will be processed soon"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "instancePath": {
                                                "type": "string",
                                                "description": "Path to the property with the error."
                                            },
                                            "keyword": {
                                                "type": "string",
                                                "description": "Validation keyword."
                                            },
                                            "message": {
                                                "type": "string",
                                                "description": "Error message."
                                            },
                                            "params": {
                                                "type": "object",
                                                "description": "Error parameters."
                                            },
                                            "schemaPath": {
                                                "type": "string",
                                                "description": "Path to the schema validation rule."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "parameters": {
            "Content-Type": {
                "name": "Content-Type",
                "in": "header",
                "description": "Type of the content being sent.",
                "required": true,
                "style": "simple",
                "schema": {
                    "type": "string",
                    "example": "application/json"
                }
            },
            "Accept": {
                "name": "Accept",
                "in": "header",
                "description": "HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.",
                "required": true,
                "style": "simple",
                "schema": {
                    "type": "string",
                    "example": "application/json"
                }
            }
        }
    },
    "tags": [
        {
            "name": "Beacon Events"
        }
    ]
}
