{
    "openapi": "3.0.0",
    "info": {
        "title": "Reviews & Ratings API",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://accountName.enviroment/reviews-and-ratings/api/rating",
            "variables": {}
        },
        {
            "url": "https://accountName.environment/reviews-and-ratings/api",
            "variables": {}
        }
    ],
    "paths": {
        "/productId": {
            "get": {
                "tags": [
                    "Misc"
                ],
                "summary": "Get Product Rating",
                "operationId": "GetProductRating",
                "parameters": [
                    {
                        "name": "VtexIdclientAutCookie",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "VtexIdclientAutCookie"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://accountName.enviroment/reviews-and-ratings/api/rating",
                        "variables": {}
                    }
                ]
            }
        },
        "/review/reviewId": {
            "get": {
                "tags": [
                    "Misc"
                ],
                "summary": "Get Review by Review Id",
                "operationId": "GetReviewbyReviewId",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://accountName.environment/reviews-and-ratings/api",
                        "variables": {}
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Misc"
                ],
                "summary": "Delete Review",
                "operationId": "DeleteReview",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "enum": [
                                "application/json"
                            ],
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "X-VTEX-API-AppKey",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "X-VTEX-API-AppKey"
                        }
                    },
                    {
                        "name": "X-VTEX-API-AppToken",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "X-VTEX-API-AppToken"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://accountName.environment/reviews-and-ratings/api",
                        "variables": {}
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Misc"
                ],
                "summary": "Edit Review",
                "operationId": "EditReview",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "VtexIdclientAutCookie",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "VtexIdclientAutCookie"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string",
                                "example": "{\n    \"id\": id,\n    \"productId\": productId,\n    \"rating\": rating,\n    \"title\": title,\n    \"text\": text,\n    \"reviewerName\": reviewerName,\n    \"shopperId\": shopperId,\n    \"reviewDateTime\": reviewDateTime,\n    \"verifiedPurchaser\": verifiedPurchaser,\n    \"locale\": locale\n}"
                            },
                            "example": "{\n    \"id\": id,\n    \"productId\": productId,\n    \"rating\": rating,\n    \"title\": title,\n    \"text\": text,\n    \"reviewerName\": reviewerName,\n    \"shopperId\": shopperId,\n    \"reviewDateTime\": reviewDateTime,\n    \"verifiedPurchaser\": verifiedPurchaser,\n    \"locale\": locale\n}"
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://accountName.environment/reviews-and-ratings/api",
                        "variables": {}
                    }
                ]
            }
        },
        "/reviews": {
            "get": {
                "tags": [
                    "Misc"
                ],
                "summary": "Get a list of Reviews",
                "operationId": "GetalistofReviews",
                "parameters": [
                    {
                        "name": "search_term",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "search_term"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "from"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "to"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "order_by"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "status"
                        }
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "product_id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://accountName.environment/reviews-and-ratings/api",
                        "variables": {}
                    }
                ]
            },
            "post": {
                "tags": [
                    "Misc"
                ],
                "summary": "Save Multiple Reviews",
                "operationId": "SaveMultipleReviews",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "X-VTEX-API-AppKey",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "X-VTEX-API-AppKey"
                        }
                    },
                    {
                        "name": "X-VTEX-API-AppToken",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "X-VTEX-API-AppToken"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/SaveMultipleReviewsRequest"
                                },
                                "description": "",
                                "example": [
                                    {
                                        "productId": "1",
                                        "rating": 4,
                                        "title": "test multiple reviews",
                                        "text": "test multiple reviews",
                                        "reviewerName": "Arturo",
                                        "approved": false,
                                        "verifiedPurchaser": false
                                    },
                                    {
                                        "productId": "2",
                                        "rating": 4,
                                        "title": "test review 2 multiple reviews",
                                        "text": "test review 2 multiple reviews",
                                        "reviewerName": "Arturo",
                                        "approved": false,
                                        "verifiedPurchaser": false
                                    }
                                ]
                            },
                            "example": [
                                {
                                    "productId": "1",
                                    "rating": 4,
                                    "title": "test multiple reviews",
                                    "text": "test multiple reviews",
                                    "reviewerName": "Arturo",
                                    "approved": false,
                                    "verifiedPurchaser": false
                                },
                                {
                                    "productId": "2",
                                    "rating": 4,
                                    "title": "test review 2 multiple reviews",
                                    "text": "test review 2 multiple reviews",
                                    "reviewerName": "Arturo",
                                    "approved": false,
                                    "verifiedPurchaser": false
                                }
                            ]
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://accountName.environment/reviews-and-ratings/api",
                        "variables": {}
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Misc"
                ],
                "summary": "Delete Multiple Reviews",
                "operationId": "DeleteMultipleReviews",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "enum": [
                                "application/json"
                            ],
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "X-VTEX-API-AppKey",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "X-VTEX-API-AppKey"
                        }
                    },
                    {
                        "name": "X-VTEX-API-AppToken",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "X-VTEX-API-AppToken"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://accountName.environment/reviews-and-ratings/api",
                        "variables": {}
                    }
                ]
            }
        },
        "/review": {
            "post": {
                "tags": [
                    "Misc"
                ],
                "summary": "Save Review",
                "operationId": "SaveReview",
                "parameters": [
                    {
                        "name": "VtexIdclientAutCookie",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "VtexIdclientAutCookie"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SaveReviewRequest"
                            },
                            "example": {
                                "productId": "65444",
                                "rating": 5,
                                "title": "Good Product",
                                "text": "It is the best product that I have seen",
                                "reviewerName": "Arturo"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://accountName.environment/reviews-and-ratings/api",
                        "variables": {}
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "SaveReviewRequest": {
                "title": "SaveReviewRequest",
                "required": [
                    "productId",
                    "rating",
                    "title",
                    "text",
                    "reviewerName"
                ],
                "type": "object",
                "properties": {
                    "productId": {
                        "type": "string"
                    },
                    "rating": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "title": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string"
                    },
                    "reviewerName": {
                        "type": "string"
                    }
                },
                "example": {
                    "productId": "65444",
                    "rating": 5,
                    "title": "Good Product",
                    "text": "It is the best product that I have seen",
                    "reviewerName": "Arturo"
                }
            },
            "SaveMultipleReviewsRequest": {
                "title": "SaveMultipleReviewsRequest",
                "required": [
                    "productId",
                    "rating",
                    "title",
                    "text",
                    "reviewerName",
                    "approved",
                    "verifiedPurchaser"
                ],
                "type": "object",
                "properties": {
                    "productId": {
                        "type": "string"
                    },
                    "rating": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "title": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string"
                    },
                    "reviewerName": {
                        "type": "string"
                    },
                    "approved": {
                        "type": "boolean"
                    },
                    "verifiedPurchaser": {
                        "type": "boolean"
                    }
                },
                "example": {
                    "productId": "1",
                    "rating": 4,
                    "title": "test multiple reviews",
                    "text": "test multiple reviews",
                    "reviewerName": "Arturo",
                    "approved": false,
                    "verifiedPurchaser": false
                }
            }
        }
    },
    "tags": [
        {
            "name": "Misc",
            "description": ""
        }
    ]
}