{
    "openapi": "3.0.0",
    "info": {
        "title": "Pricing API",
        "description": "Pricing (v2) is the VTEX module responsible for the SKU`s price list. At this module we have the base price of each SKU, some optional fixed prices by trade policy, and some rules that can be applied to generate dynamically different final prices accordingly with purchase context and Trade Policy. The variables used in this collection are:\n\n**{{account}}** = You VTEX account name.\n\n**{{tradePolicyId}}** = Current Trade Policy ID.\n\n**{{itemId}}** = SKU ID.\n\n**{{X-VTEX-API-AppKey}}** and **{{X-VTEX-API-AppToken}}** = Credentials.\n\nYou can get more information about how to use this module and its business logic at [VTEX Help](http://help.vtex.com).\n\n\n--------------\n\n\n# Rate Limits\n\n#### Limits per route\n\n- `GET`:  routes are not rate limited at the moment\n\n- `PUT or POST`: `40 requests/second/account` in any **price insert/update route** with 1000 *Burst Credits*\n\n- `DELETE`: `16 requests/second/account` in any **price deletion route**, with 300 *Burst Credits*.\n\n\n#### What are Burst Credits?\n\nIn case the account exceeds the limit frequency for a  `Rate Limiter` (for instance, when one account makes `41 requests/second` in any `price insert/update route`), we decrease from the *Burst Credit* count the exceeding (in this example, *1 Credit*).\n\nIn the event of the *Burst Credits* reaching **0 (zero)**, the request is blocked with a `Status 429` response.\n\nThe credits fill up over time when the route is not being used, in the same rate as the route's `Rate Limiter`. In our example, for each second not sending a **PUT or POST request**, we increase *40 Burst Credits* to this `Rate Limiter`\n\n\n#### New Response Headers\n\nIn the response headers of any request to Pricing v2 there are some new headers indicating the current status of the Rate Limiting.\nThis information may be useful to evaluate the ideal frequency to send requests to a route, and when to send a new request in the event of reaching a Rate Limit.\n\n- `Ratelimit-Limit` - Total *Burst Credits* offered to a route\n- `Ratelimit-Remaining` - How many *Burst Credits* are still available to use\n- `Ratelimit-Reset` - How long (in seconds) it will take to the *Burst Credits* to fill up completely (It will fill up to the `Ratelimit-Limit`)\n- `Retry-After` - Indicates how many seconds you will need to wait until the `Rate Limiter` accepts a new request to this route again. If this header response exists, this means your current request has been rate limited and has not been processed.\n\n#### How to integrate with Pricing v2 considering our Rate Limits\n\nIntegrate considering the limits of **requests/route/account** specified in the [*Limits per route*](#rate-limits) section, avoiding to surpass this frequency.\n\nIf you happen to be Rate Limited, wait the time in seconds specified in `Retry-After` before making another request to the service, and reduce the rate of requests per second that your integration is making.",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.vtex.com/{accountName}/pricing",
            "description": "VTEX server url",
            "variables": {
                "accountName": {
                    "description": "Name of the VTEX account. Used as part of the URL",
                    "default": "{accountName}"
                }
            }
        }
    ],
    "paths": {
        "/prices/{itemId}": {
            "get": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Get Price",
                "description": "Retrieves price data given a specific SKU ID. Within the `fixedPrices` object, there might be a list of prices for specific Trade Policies and Minimium Quantities of the SKU. Fixed Prices may also be scheduled.\r\n\r\n ## Response body example\r\n\r\n```json\r\n{\r\n    \"itemId\": \"1\",\r\n    \"listPrice\": 50,\r\n    \"costPrice\": 90,\r\n    \"markup\": 30,\r\n    \"basePrice\": 117,\r\n    \"fixedPrices\": [\r\n        {\r\n            \"tradePolicyId\": \"1\",\r\n            \"value\": 50.5,\r\n            \"listPrice\": 50.5,\r\n            \"minQuantity\": 2,\r\n            \"dateRange\": {\r\n                \"from\": \"2021-12-31T01:00:00Z\",\r\n                \"to\": \"2022-12-31T01:00:00Z\"\r\n            }\r\n        },\r\n        {\r\n            \"tradePolicyId\": \"2\",\r\n            \"value\": 30,\r\n            \"listPrice\": 50,\r\n            \"minQuantity\": 2\r\n        }\r\n    ]\r\n}\r\n```",
                "operationId": "GetPrice",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Getprice"
                                },
                                "example": {
                                    "itemId": "1",
                                    "listPrice": 50,
                                    "costPrice": 90,
                                    "markup": 30,
                                    "basePrice": 117,
                                    "fixedPrices": [
                                        {
                                            "tradePolicyId": "1",
                                            "value": 50.5,
                                            "listPrice": 50.5,
                                            "minQuantity": 2,
                                            "dateRange": {
                                                "from": "2021-12-31T01:00:00Z",
                                                "to": "2022-12-31T01:00:00Z"
                                            }
                                        },
                                        {
                                            "tradePolicyId": "2",
                                            "value": 30,
                                            "listPrice": 50,
                                            "minQuantity": 2
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Delete Price",
                "description": "Deletes the Base Price and all available Fixed Prices for an SKU in all trade policies.",
                "operationId": "DeletePrice",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Create or Update Base Price or Fixed Prices",
                "description": "Creates or updates an SKU Base Price or Fixed Prices. The **base price** is the basic selling price of a product, it comprises the cost price and the markup wanted in the sale of the product. The **fixed price** is an optional price of the SKU for a specific trade policy with a specific minimum quantity to be activated.\r\n\r\n ## Request body example\r\n\r\n```json\r\n{\r\n    \"markup\": 30,\r\n    \"basePrice\": 100,\r\n    \"listPrice\": 35,\r\n    \"fixedPrices\": [\r\n        {\r\n            \"tradePolicyId\": \"1\",\r\n            \"value\": 31,\r\n            \"listPrice\": 32,\r\n            \"minQuantity\": 1,\r\n            \"dateRange\": {\r\n                \"from\": \"2022-05-21T22:00:00Z\",\r\n                \"to\": \"2023-05-28T22:00:00Z\"\r\n            }\r\n        },\r\n        {\r\n            \"tradePolicyId\": \"1\",\r\n            \"value\": 31.5,\r\n            \"listPrice\": 33,\r\n            \"minQuantity\": 2\r\n        }\r\n    ]\r\n}\r\n```",
                "operationId": "CreateUpdatePriceOrFixedPrice",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU unique identifier number.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "",
                                "required": [
                                    "markup",
                                    "basePrice",
                                    "listPrice"
                                ],
                                "properties": {
                                    "markup": {
                                        "type": "integer",
                                        "title": "markup",
                                        "description": "The profit percentage that is to be obtained from the sale of that SKU. If you decide to fill the `markup` item, you must also fill the `costPrice`. The `basePrice` will be automatically generated based on both values.",
                                        "default": 30
                                    },
                                    "listPrice": {
                                        "type": "number",
                                        "title": "listPrice",
                                        "description": "SKU's suggested selling price.",
                                        "default": 50.00
                                    },
                                    "basePrice": {
                                        "type": "number",
                                        "title": "basePrice",
                                        "description": "SKU selling base price. If you decide to fill only the `basePrice` item, the `markup` and `costPrice` will be automatically generated to adapt to the number inserted in `basePrice`.",
                                        "default": 100.00
                                    },
                                    "costPrice": {
                                        "type": "number",
                                        "title": "costPrice",
                                        "description": "SKU selling cost price. If you decide to fill the `costPrice` item, you must also fill the `markup` and `basePrice` will be automatically generated based on both values.",
                                        "default": 35.00
                                    },
                                    "fixedPrices": {
                                        "type": "array",
                                        "items": {
                                            "title": "fixedPrices",
                                            "description": "Array with general information about the SKU's fixed prices.",
                                            "default": [],
                                            "required": [
                                                "minQuantity",
                                                "value",
                                                "tradePolicyId"
                                            ],
                                            "properties": {
                                                "tradePolicyId": {
                                                    "type": "string",
                                                    "title": "tradePolicyId",
                                                    "description": "Trade policy name or ID that will have the fixed price configured.",
                                                    "example": "1"
                                                },
                                                "value": {
                                                    "type": "number",
                                                    "title": "value",
                                                    "description": "Fixed price value.",
                                                    "example": 50.50
                                                },
                                                "listPrice": {
                                                    "type": "number",
                                                    "title": "listPrice",
                                                    "description": "SKU List Fixed Price.",
                                                    "example": 50.50
                                                },
                                                "minQuantity": {
                                                    "type": "integer",
                                                    "title": "minQuantity",
                                                    "description": "Minimum quantity of the SKU for the fixed price to be applied.",
                                                    "example": 2
                                                },
                                                "dateRange": {
                                                    "type": "object",
                                                    "title": "dateRange",
                                                    "description": "Period of time when the fixed price will be applied to the SKU.",
                                                    "required": [
                                                        "from",
                                                        "to"
                                                    ],
                                                    "properties": {
                                                        "from": {
                                                            "type": "string",
                                                            "title": "from",
                                                            "description": "Start date of the price.",
                                                            "example": "2021-12-30T22:00:00-03:00"
                                                        },
                                                        "to": {
                                                            "type": "string",
                                                            "title": "to",
                                                            "description": "End date of the price.",
                                                            "example": "2021-12-30T22:00:00-03:00"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/prices/{itemId}/fixed": {
            "get": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Get Fixed Prices",
                "description": "The **fixed price** is an optional price of the SKU for a specific trade policy with a specific minimum quantity to be activated. This method retrieves an array of Fixed Prices for an SKU in a Trade Policy with Minimum Quantities.\r\n\r\n The default value for a Minimum Quantity is `1`. This means a Fixed Price will be valid for a SKU in a Trade Policy for orders containing the specified number of Minimum Quantity or above, unless a higher Minimum Quantity is specified.\r\n\r\n Fixed prices may, optionally, be scheduled. If so, these objects will contain the `dateRange` object with `from` and `to` properties, indicating the start and end time of the scheduled fixed price in the RFC3339 timestamp format (`YYYY-MM-DDT23:59:60Z`).\r\n\r\n Note that the 'Z', at the end, represents the UTC time (GMT+00:00). If it was in GMT-03:00, for example, it would be (`YYYY-MM-DDT23:59:60-03:00`).\r\n\r\n ## Response body example\r\n\r\n```json\r\n[\r\n    {\r\n        \"tradePolicyId\": \"6\",\r\n        \"value\": 20.9,\r\n        \"listPrice\": 22.9,\r\n        \"minQuantity\": 1,\r\n        \"dateRange\": {\r\n            \"from\": \"2021-12-30T22:00:00-03:00\",\r\n            \"to\": \"2021-12-30T22:00:00-03:00\"\r\n        }\r\n    },\r\n    {\r\n        \"tradePolicyId\": \"1\",\r\n        \"value\": 18.9,\r\n        \"listPrice\": null,\r\n        \"minQuantity\": 1,\r\n        \"dateRange\": {\r\n            \"from\": \"2021-12-30T22:00:00-03:00\",\r\n            \"to\": \"2021-12-30T22:00:00-03:00\"\r\n        }\r\n    }\r\n]\r\n```",
                "operationId": "GetFixedPrices",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/FixedPrice"
                                    }
                                },
                                "example": [
                                    {
                                        "tradePolicyId": "6",
                                        "value": 20.9,
                                        "listPrice": 22.9,
                                        "minQuantity": 1,
                                        "dateRange": {
                                            "from": "2021-12-30T22:00:00-03:00",
                                            "to": "2021-12-30T22:00:00-03:00"
                                        }
                                    },
                                    {
                                        "tradePolicyId": "1",
                                        "value": 18.9,
                                        "listPrice": null,
                                        "minQuantity": 1,
                                        "dateRange": {
                                            "from": "2021-12-30T22:00:00-03:00",
                                            "to": "2021-12-30T22:00:00-03:00"
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/prices/{itemId}/fixed/{priceTableId}": {
            "post": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Create or Update Fixed Prices on a price table or trade policy",
                "description": "Creates or updates the fixed prices of an SKU for a specific price table or trade policy. You can add one or multiple fixed prices per SKU.\r\n\r\n ## Request body example\r\n\r\n```json\r\n[\r\n  {\r\n    \"value\": 50.5,\r\n    \"listPrice\": 50.5,\r\n    \"minQuantity\": 2,\r\n    \"dateRange\": {\r\n      \"from\": \"2021-12-30T22:00:00-03:00\",\r\n      \"to\": \"2021-12-30T22:00:00-04:00\"\r\n    }\r\n  }\r\n]\r\n```",
                "operationId": "createorupdatefixedpricesonpricetableortradepolicy",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "priceTableId",
                        "in": "path",
                        "description": "SKU **price table** name or **trade policy** ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "priceTableA"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "title": "",
                                "items": {
                                    "type": "object",
                                    "required": [
                                        "value",
                                        "minQuantity"
                                    ],
                                    "properties": {
                                        "value": {
                                            "type": "number",
                                            "title": "value",
                                            "description": "Fixed price value.",
                                            "example": 50.50
                                        },
                                        "listPrice": {
                                            "type": "number",
                                            "title": "listPrice",
                                            "description": "SKU List Fixed Price.",
                                            "example": 50.50
                                        },
                                        "minQuantity": {
                                            "type": "integer",
                                            "title": "minQuantity",
                                            "description": "The minimum SKU quantity for the fixed price to be applied.",
                                            "example": 2
                                        },
                                        "dateRange": {
                                            "type": "object",
                                            "title": "dateRange",
                                            "description": "Period of time when the fixed price will be applied to the SKU.",
                                            "required": [
                                                "from",
                                                "to"
                                            ],
                                            "properties": {
                                                "from": {
                                                    "type": "string",
                                                    "title": "from",
                                                    "description": "Start date of the price.",
                                                    "example": "2021-12-30T22:00:00-03:00"
                                                },
                                                "to": {
                                                    "type": "string",
                                                    "title": "to",
                                                    "description": "End date of the price.",
                                                    "example": "2021-12-30T22:00:00-04:00"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "deprecated": false
            },
            "get": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Get Fixed Prices on a price table or trade policy",
                "description": "Retrieves all Fixed Prices on a price table or trade policy. \r\n\r\n## Response body example\r\n\r\n```json\r\n[\r\n    {\r\n        \"tradePolicyId\": \"6\",\r\n        \"value\": 20.9,\r\n        \"listPrice\": 22.9,\r\n        \"minQuantity\": 1,\r\n        \"dateRange\": {\r\n            \"from\": \"2021-12-30T22:00:00-03:00\",\r\n            \"to\": \"2021-12-30T22:00:00-04:00\"\r\n        }\r\n    },\r\n    {\r\n        \"tradePolicyId\": \"1\",\r\n        \"value\": 18.9,\r\n        \"listPrice\": null,\r\n        \"minQuantity\": 1\r\n    }\r\n]\r\n```",
                "operationId": "GetFixedPricesonapricetable",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "priceTableId",
                        "in": "path",
                        "description": "Price Table Name",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "gold"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/FixedPrice"
                                    }
                                },
                                "example": [
                                    {
                                        "tradePolicyId": "6",
                                        "value": 20.9,
                                        "listPrice": 22.9,
                                        "minQuantity": 1,
                                        "dateRange": {
                                            "from": "2021-12-30T22:00:00-03:00",
                                            "to": "2021-12-30T22:00:00-04:00"
                                        }
                                    },
                                    {
                                        "tradePolicyId": "1",
                                        "value": 18.9,
                                        "listPrice": null,
                                        "minQuantity": 1
                                    }
                                ]
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Delete Fixed Prices on a price table or trade policy",
                "description": "Deletes all Fixed Prices of an SKU in a specific Price Table or Trade Policy.",
                "operationId": "Deletefixedpricesonapricetableortradepolicy",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "priceTableId",
                        "in": "path",
                        "description": "Price Table or Trade Policy Name.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "gold"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "deprecated": false
            }
        },
        "/prices/{itemId}/computed/{priceTableId}": {
            "get": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Get Computed Price by price table or trade policy",
                "description": "Gets the Computed Price, which is the price after all the steps in the Pricing pipeline, for an SKU in a specific price table or trade policy. \r\n\r\n## Response body example\r\n\r\n```json\r\n{\r\n    \"tradePolicyId\": \"1\",\r\n    \"listPrice\": 30,\r\n    \"costPrice\": 76.92,\r\n    \"sellingPrice\": 18.9,\r\n    \"priceValidUntil\": \"2018-12-20T18:12:14Z\"\r\n}\r\n```",
                "operationId": "GetComputedPricebypricetable",
                "parameters": [
                    {
                        "name": "categoryIds",
                        "in": "query",
                        "description": "Category ID.",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "brandId",
                        "in": "query",
                        "description": "Brand ID.",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "example": 3
                        }
                    },
                    {
                        "name": "quantity",
                        "in": "query",
                        "description": "SKU quantity.",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "example": 2
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "priceTableId",
                        "in": "path",
                        "description": "SKU Price Table Name.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "gold"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/Getcomputedprice"
                                },
                                "example": {
                                    "tradePolicyId": "1",
                                    "listPrice": 30,
                                    "costPrice": 76.92,
                                    "sellingPrice": 18.9,
                                    "priceValidUntil": "2018-12-20T18:12:14Z"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/config": {
            "get": {
                "tags": [
                    "Pricing Configuration"
                ],
                "summary": "Get Pricing Configuration",
                "description": "Retrieves Pricing Configuration.\r\n## Response body example\r\n\r\n```json\r\n{\r\n    \"hasMigrated\": true,\r\n    \"migrationStatus\": \"Completed\",\r\n    \"defaultMarkup\": 100,\r\n    \"priceVariation\": {\r\n        \"upperLimit\": null,\r\n        \"lowerLimit\": null\r\n    },\r\n    \"minimumMarkups\": {\r\n        \"1\": 100,\r\n        \"2\": 90\r\n    },\r\n    \"tradePolicyConfigs\": [],\r\n    \"sellersToOverride\": [],\r\n    \"hasPriceInheritance\": false,\r\n    \"priceInheritance\": \"never\",\r\n    \"hasOptionalBasePrice\": false,\r\n    \"blockAccount\": false,\r\n    \"blockedRoutes\": null,\r\n    \"priceTableSelectionStrategy\": \"first\",\r\n    \"priceTableLimit\": null\r\n}\r\n```",
                "operationId": "GetPricingConfig",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "true"
                                    }
                                }
                            },
                            "Access-Control-Allow-Origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "Content-Encoding": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "gzip"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "118"
                                    }
                                }
                            },
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Tue, 21 Feb 2017 16:11:39 GMT"
                                    }
                                }
                            },
                            "Server": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "nginx"
                                    }
                                }
                            },
                            "X-CDNIgnore": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "1"
                                    }
                                }
                            },
                            "X-Powered-by-VTEX-Janus-Edge": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "v1.35.3"
                                    }
                                }
                            },
                            "X-Track": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "stable"
                                    }
                                }
                            },
                            "X-VTEX-Janus-Router-Backend-App": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "pricing-v3.21.12"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/PricingConfiguration"
                                },
                                "example": {
                                    "hasMigrated": true,
                                    "migrationStatus": "Completed",
                                    "defaultMarkup": 100,
                                    "priceVariation": {
                                        "upperLimit": null,
                                        "lowerLimit": null
                                    },
                                    "minimumMarkups": {
                                        "1": 100,
                                        "2": 90
                                    },
                                    "tradePolicyConfigs": [],
                                    "sellersToOverride": [],
                                    "hasPriceInheritance": false,
                                    "priceInheritance": "never",
                                    "hasOptionalBasePrice": false,
                                    "blockAccount": false,
                                    "blockedRoutes": null,
                                    "priceTableSelectionStrategy": "first",
                                    "priceTableLimit": null
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/migration": {
            "get": {
                "tags": [
                    "Pricing Configuration"
                ],
                "summary": "Get Pricing v2 Status",
                "description": "Retrieves Pricing v2 Status. \r\n## Response body example\r\n\r\n```json\r\n{\r\n    \"isActive\": true,\r\n    \"hasMigrated\": true\r\n}\r\n```",
                "operationId": "GetPricingv2Status",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "true"
                                    }
                                }
                            },
                            "Access-Control-Allow-Origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "Content-Encoding": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "gzip"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "52"
                                    }
                                }
                            },
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Tue, 21 Feb 2017 16:13:39 GMT"
                                    }
                                }
                            },
                            "Server": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "nginx"
                                    }
                                }
                            },
                            "X-CDNIgnore": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "1"
                                    }
                                }
                            },
                            "X-Powered-by-VTEX-Janus-Edge": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "v1.35.3"
                                    }
                                }
                            },
                            "X-Track": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "stable"
                                    }
                                }
                            },
                            "X-VTEX-Janus-Router-Backend-App": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "pricing-v3.21.12"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "isActive": {
                                            "type": "boolean",
                                            "description": "Defines if the account is active.",
                                            "example": true
                                        },
                                        "hasMigrated": {
                                            "type": "boolean",
                                            "description": "Defines if the account has migrated to Pricing V2.",
                                            "example": true
                                        }
                                    }
                                },
                                "example": {
                                    "isActive": true,
                                    "hasMigrated": true
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/pipeline/catalog/{priceTableId}": {
            "get": {
                "tags": [
                    "Price Tables"
                ],
                "summary": "Get rules for a price table",
                "description": "This method will retrieve the rules from a specific Price Table.\r\n\r\n## Response body example\r\n\r\n```json\r\n{\r\n    \"tradePolicyId\": \"b2c\",\r\n    \"rules\": [{\r\n        \"id\": 0,\r\n        \"context\": {\r\n            \"categories\": {},\r\n            \"brands\": {\r\n                \"2000009\": \"Whiskas\"\r\n            },\r\n            \"stockStatuses\": null,\r\n            \"internalCategories\": null,\r\n            \"markupRange\": null,\r\n            \"dateRange\": null\r\n        },\r\n        \"percentualModifier\": 15\r\n    }]\r\n}\r\n```",
                "operationId": "Getrulesforapricetable",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "priceTableId",
                        "in": "path",
                        "description": "Price Table Name.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "b2c"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "example": {
                                    "tradePolicyId": "b2c",
                                    "rules": [
                                        {
                                            "id": 0,
                                            "context": {
                                                "categories": {},
                                                "brands": {
                                                    "2000009": "Whiskas"
                                                },
                                                "stockStatuses": null,
                                                "internalCategories": null,
                                                "markupRange": null,
                                                "dateRange": null
                                            },
                                            "percentualModifier": 15
                                        }
                                    ]
                                },
                                "schema": {
                                    "title": "",
                                    "type": "object",
                                    "properties": {
                                        "tradePolicyId": {
                                            "type": "string",
                                            "description": "Trade Policy ID (Price Table ID)."
                                        },
                                        "rules": {
                                            "type": "array",
                                            "description": "Array of rules for the price table.",
                                            "items": {
                                                "type": "object",
                                                "description": "Object containing a price table rule.",
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "description": "Rule ID."
                                                    },
                                                    "context": {
                                                        "type": "object",
                                                        "description": "Rule Context is a group of filters to be checked at an item level when applying the rule. If all those filters check out, the rule will be applied for that item, unless there is a fixed price for that item.",
                                                        "properties": {
                                                            "categories": {
                                                                "type": "object",
                                                                "description": "Categories that an item should have to be eligible for the rule. Format: key: `categoryId`, value: `categoryName`.",
                                                                "additionalProperties": {
                                                                    "type": "string",
                                                                    "description": "Category ID.",
                                                                    "additionalProperties": {
                                                                        "type": "string",
                                                                        "description": "Category Name."
                                                                    }
                                                                }
                                                            },
                                                            "brands": {
                                                                "type": "object",
                                                                "description": "Brands that an item should have to be eligible for the rule. Format: key: `brandId`, value: `brandName`.",
                                                                "additionalProperties": {
                                                                    "type": "string",
                                                                    "description": "Brand ID.",
                                                                    "additionalProperties": {
                                                                        "type": "string",
                                                                        "description": "Brand Name."
                                                                    }
                                                                }
                                                            },
                                                            "stockStatuses": {
                                                                "type": "object",
                                                                "description": "Stock statuses.",
                                                                "nullable": true
                                                            },
                                                            "internalCategories": {
                                                                "type": "object",
                                                                "description": "Internal Categories.",
                                                                "nullable": true
                                                            },
                                                            "markupRange": {
                                                                "type": "object",
                                                                "description": "For an item to be eligible to the rule, it's markup should be in this Markup Range.",
                                                                "nullable": true,
                                                                "properties": {
                                                                    "from": {
                                                                        "type": "integer",
                                                                        "description": "Item markup should be greater than or equal to this value."
                                                                    },
                                                                    "to": {
                                                                        "type": "integer",
                                                                        "description": "Item markup should be less than or equal to this value."
                                                                    }
                                                                }
                                                            },
                                                            "dateRange": {
                                                                "type": "object",
                                                                "description": "The rule will be active during this time range.",
                                                                "nullable": true,
                                                                "properties": {
                                                                    "from": {
                                                                        "type": "string",
                                                                        "description": "Date when rule will be activated. Date format: `RFC3339`."
                                                                    },
                                                                    "to": {
                                                                        "type": "string",
                                                                        "description": "Date when the rule will be deactivated. Date format: `RFC3339`."
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "percentualModifier": {
                                            "type": "integer",
                                            "description": "Percentual modifier."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "429": {
                        "description": "Too many requests"
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            },
            "put": {
                "tags": [
                    "Price Tables"
                ],
                "summary": "Update rules for a price table",
                "description": "This method will update the rules from a specific Price Table. It will delete all the rules from the requested Price Table and create new rules based on the content of the request.\r\n\r\n## Request body example\r\n\r\n```json\r\n{\r\n    \"rules\": [\r\n          {\r\n               \"id\": 1,\r\n               \"context\": {\r\n                    \"categories\": {\r\n                         \"Category ID\": \"1\",\r\n                         \"Category Name\": \"Alimenta\u00E7\u00E3o\"\r\n                    },\r\n                    \"brands\": {\r\n                         \"Brand ID\": \"2000002\",\r\n                         \"Brand Name\": \"Whiskas\"\r\n                    },\r\n                    \"markupRange\": {\r\n                         \"from\": 0,\r\n                         \"to\": 200\r\n                    },\r\n                    \"dateRange\": {\r\n                         \"from\": \"2022-01-23T19:00:00.000Z\",\r\n                         \"to\": \"2023-10-26T00:00:00.000Z\"\r\n                    }\r\n               },\r\n               \"percentualModifier\": 0\r\n          }\r\n    ]\r\n}\r\n```",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "priceTableId",
                        "in": "path",
                        "description": "Price Table Name.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                },
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "rules"
                                ],
                                "example": {
                                    "rules": [
                                        {
                                            "id": 1,
                                            "context": {
                                                "categories": {
                                                    "Category ID": "1",
                                                    "Category Name": "Alimentação"
                                                },
                                                "brands": {
                                                    "Brand ID": "2000002",
                                                    "Brand Name": "Whiskas"
                                                },
                                                "markupRange": {
                                                    "from": 0,
                                                    "to": 200
                                                },
                                                "dateRange": {
                                                    "from": "2022-01-23T19:00:00.000Z",
                                                    "to": "2023-10-26T00:00:00.000Z"
                                                }
                                            },
                                            "percentualModifier": 0
                                        }
                                    ]
                                },
                                "properties": {
                                    "rules": {
                                        "type": "array",
                                        "title": "rules",
                                        "description": "Array of rules for the price table.",
                                        "items": {
                                            "type": "object",
                                            "description": "Object containing a price table rule.",
                                            "required": [
                                                "id",
                                                "context",
                                                "percentualModifier"
                                            ],
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "title": "id",
                                                    "description": "Rule ID.",
                                                    "example": 0
                                                },
                                                "context": {
                                                    "type": "object",
                                                    "title": "context",
                                                    "description": "Rule Context is a group of filters to be checked at an item level when applying the rule. If all those filters check out, the rule will be applied for that item, unless there is a fixed price for that item.",
                                                    "required": [
                                                        "categories",
                                                        "brands",
                                                        "markupRange",
                                                        "dateRange"
                                                    ],
                                                    "properties": {
                                                        "categories": {
                                                            "type": "object",
                                                            "title": "categories",
                                                            "description": "Categories that an item should have to be eligible for the rule. Format: key: `categoryId`, value: `categoryName`.",
                                                            "additionalProperties": {
                                                                "type": "string",
                                                                "description": "Category ID.",
                                                                "example": "209",
                                                                "additionalProperties": {
                                                                    "type": "string",
                                                                    "description": "Category Name.",
                                                                    "example": "Books"
                                                                }
                                                            }
                                                        },
                                                        "brands": {
                                                            "type": "object",
                                                            "title": "brands",
                                                            "description": "Brands that an item should have to be eligible for the rule. Format: key: `brandId`, value: `brandName`.",
                                                            "additionalProperties": {
                                                                "type": "string",
                                                                "description": "Brand ID.",
                                                                "example": "421",
                                                                "additionalProperties": {
                                                                    "type": "string",
                                                                    "description": "Brand Name.",
                                                                    "example": "Goldman"
                                                                }
                                                            }
                                                        },
                                                        "stockStatuses": {
                                                            "type": "object",
                                                            "title": "stockStatuses",
                                                            "description": "Stock statuses.",
                                                            "nullable": true,
                                                            "example": null
                                                        },
                                                        "internalCategories": {
                                                            "type": "object",
                                                            "title": "internalCategories",
                                                            "description": "Internal Categories.",
                                                            "nullable": true,
                                                            "example": null
                                                        },
                                                        "markupRange": {
                                                            "type": "object",
                                                            "title": "markupRange",
                                                            "description": "For an item to be eligible to the rule, it's markup should be in this Markup Range.",
                                                            "nullable": true,
                                                            "example": null,
                                                            "required": [
                                                                "from",
                                                                "to"
                                                            ],
                                                            "properties": {
                                                                "from": {
                                                                    "type": "integer",
                                                                    "title": "from",
                                                                    "description": "Item markup should be greater than or equal to this value.",
                                                                    "example": 0
                                                                },
                                                                "to": {
                                                                    "type": "integer",
                                                                    "title": "to",
                                                                    "description": "Item markup should be less than or equal to this value.",
                                                                    "example": 200
                                                                }
                                                            }
                                                        },
                                                        "dateRange": {
                                                            "type": "object",
                                                            "title": "dateRange",
                                                            "description": "The rule will be active during this time range.",
                                                            "required": [
                                                                "from",
                                                                "to"
                                                            ],
                                                            "properties": {
                                                                "from": {
                                                                    "type": "string",
                                                                    "title": "from",
                                                                    "description": "Date when rule will be activated. Date format: `RFC3339`.",
                                                                    "example": "2019-10-23T19:00:00.000Z"
                                                                },
                                                                "to": {
                                                                    "type": "string",
                                                                    "title": "to",
                                                                    "description": "Date when the rule will be deactivated. Date format: `RFC3339`.",
                                                                    "example": "2019-10-26T00:00:00.000Z"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "percentualModifier": {
                                                    "type": "number",
                                                    "title": "percentualModifier",
                                                    "description": "Percentual modifier.",
                                                    "example": 0
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/pipeline/catalog": {
            "get": {
                "tags": [
                    "Price Tables"
                ],
                "summary": "Get all price tables and their rules",
                "description": "This method will retrieve all price tables and their rules.\r\n\r\n## Response body example\r\n\r\n```json\r\n[\r\n    {\r\n        \"tradePolicyId\": \"2\",\r\n        \"rules\": [\r\n            {\r\n                \"id\": 0,\r\n                \"context\": {\r\n                    \"categories\": {},\r\n                    \"brands\": {},\r\n                    \"stockStatuses\": null,\r\n                    \"internalCategories\": null,\r\n                    \"markupRange\": null,\r\n                    \"dateRange\": null\r\n                },\r\n                \"percentualModifier\": 20\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"tradePolicyId\": \"b2c\",\r\n        \"rules\": [\r\n            {\r\n                \"id\": 0,\r\n                \"context\": {\r\n                    \"categories\": {},\r\n                    \"brands\": {\r\n                        \"2000009\": \"Whiskas\"\r\n                    },\r\n                    \"stockStatuses\": null,\r\n                    \"internalCategories\": null,\r\n                    \"markupRange\": null,\r\n                    \"dateRange\": null\r\n                },\r\n                \"percentualModifier\": 15\r\n            }\r\n        ]\r\n    }\r\n]\r\n```",
                "operationId": "getallpricetablesandrules",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "example": [
                                    {
                                        "tradePolicyId": "2",
                                        "rules": [
                                            {
                                                "id": 0,
                                                "context": {
                                                    "categories": {},
                                                    "brands": {},
                                                    "stockStatuses": null,
                                                    "internalCategories": null,
                                                    "markupRange": null,
                                                    "dateRange": null
                                                },
                                                "percentualModifier": 20
                                            }
                                        ]
                                    },
                                    {
                                        "tradePolicyId": "b2c",
                                        "rules": [
                                            {
                                                "id": 0,
                                                "context": {
                                                    "categories": {},
                                                    "brands": {
                                                        "2000009": "Whiskas"
                                                    },
                                                    "stockStatuses": null,
                                                    "internalCategories": null,
                                                    "markupRange": null,
                                                    "dateRange": null
                                                },
                                                "percentualModifier": 15
                                            }
                                        ]
                                    }
                                ],
                                "schema": {
                                    "title": "",
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "tradePolicyId": {
                                                "type": "string",
                                                "description": "Trade Policy ID (Price Table ID)."
                                            },
                                            "rules": {
                                                "type": "array",
                                                "description": "Array of rules for the price table.",
                                                "items": {
                                                    "type": "object",
                                                    "description": "Object containing a price table rule.",
                                                    "properties": {
                                                        "id": {
                                                            "type": "number",
                                                            "description": "Rule ID."
                                                        },
                                                        "context": {
                                                            "type": "object",
                                                            "description": "Rule Context is a group of filters to be checked at an item level when applying the rule. If all those filters check out, the rule will be applied for that item, unless there is a fixed price for that item.",
                                                            "properties": {
                                                                "categories": {
                                                                    "type": "object",
                                                                    "description": "Categories that an item should have to be eligible for the rule. Format: key: `categoryId`, value: `categoryName`.",
                                                                    "additionalProperties": {
                                                                        "type": "string",
                                                                        "description": "Category ID.",
                                                                        "additionalProperties": {
                                                                            "type": "string",
                                                                            "description": "Category Name."
                                                                        }
                                                                    }
                                                                },
                                                                "brands": {
                                                                    "type": "object",
                                                                    "description": "Brands that an item should have to be eligible for the rule. Format: key: `brandId`, value: `brandName`.",
                                                                    "additionalProperties": {
                                                                        "type": "string",
                                                                        "description": "Brand ID.",
                                                                        "additionalProperties": {
                                                                            "type": "string",
                                                                            "description": "Brand Name."
                                                                        }
                                                                    }
                                                                },
                                                                "stockStatuses": {
                                                                    "type": "object",
                                                                    "description": "Stock statuses.",
                                                                    "nullable": true
                                                                },
                                                                "internalCategories": {
                                                                    "type": "object",
                                                                    "description": "Internal Categories.",
                                                                    "nullable": true
                                                                },
                                                                "markupRange": {
                                                                    "type": "object",
                                                                    "description": "For an item to be eligible to the rule, it's markup should be in this Markup Range.",
                                                                    "nullable": true,
                                                                    "properties": {
[...]
