{
    "openapi": "3.0.0",
    "info": {
        "title": "Pricing API",
        "description": "Pricing (v2) is the VTEX module responsible for the SKU`s price list. At this module we have the base price of each SKU, some optional fixed prices by trade policy, and some rules that can be applied to generate dynamically different final prices accordingly with purchase context and Trade Policy. The variables used in this collection are:\n\n**{{account}}** = You VTEX account name.\n\n**{{tradePolicyId}}** = Current Trade Policy ID.\n\n**{{itemId}}** = SKU ID.\n\n**{{X-VTEX-API-AppKey}}** and **{{X-VTEX-API-AppToken}}** = Credentials.\n\nYou can get more information about how to use this module and its business logic at [VTEX Help](http://help.vtex.com).\n\n\n--------------\n\n\n# Rate Limits\n\n#### Limits per route\n\n- `GET`:  routes are not rate limited at the moment\n\n- `PUT or POST`: `40 requests/second/account` in any **price insert/update route** with 1000 *Burst Credits*\n\n- `DELETE`: `16 requests/second/account` in any **price deletion route**, with 300 *Burst Credits*.\n\n\n#### What are Burst Credits?\n\nIn case the account exceeds the limit frequency for a  `Rate Limiter` (for instance, when one account makes `41 requests/second` in any `price insert/update route`), we decrease from the *Burst Credit* count the exceeding (in this example, *1 Credit*).\n\nIn the event of the *Burst Credits* reaching **0 (zero)**, the request is blocked with a `Status 429` response.\n\nThe credits fill up over time when the route is not being used, in the same rate as the route's `Rate Limiter`. In our example, for each second not sending a **PUT or POST request**, we increase *40 Burst Credits* to this `Rate Limiter`\n\n\n#### New Response Headers\n\nIn the response headers of any request to Pricing v2 there are some new headers indicating the current status of the Rate Limiting.\nThis information may be useful to evaluate the ideal frequency to send requests to a route, and when to send a new request in the event of reaching a Rate Limit.\n\n- `Ratelimit-Limit` - Total *Burst Credits* offered to a route\n- `Ratelimit-Remaining` - How many *Burst Credits* are still available to use\n- `Ratelimit-Reset` - How long (in seconds) it will take to the *Burst Credits* to fill up completely (It will fill up to the `Ratelimit-Limit`)\n- `Retry-After` - Indicates how many seconds you will need to wait until the `Rate Limiter` accepts a new request to this route again. If this header response exists, this means your current request has been rate limited and has not been processed.\n\n#### How to integrate with Pricing v2 considering our Rate Limits\n\nIntegrate considering the limits of **requests/route/account** specified in the [*Limits per route*](#rate-limits) section, avoiding to surpass this frequency.\n\nIf you happen to be Rate Limited, wait the time in seconds specified in `Retry-After` before making another request to the service, and reduce the rate of requests per second that your integration is making.",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.vtex.com/{accountName}/pricing",
            "description": "VTEX server url",
            "variables": {
                "accountName": {
                    "description": "Name of the VTEX account. Used as part of the URL",
                    "default": "{accountName}"
                }
            }
        }
    ],
    "paths": {
        "/prices/{itemId}": {
            "get": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Get Price",
                "description": "Retrieves price data by SKU Id It is possible that on the property fixedPrices exists a list of specific prices for Trade Policies and Minimium Quantities of the SKU. Fixed Prices may also be scheduled",
                "operationId": "GetPrice",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU ID",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "true"
                                    }
                                }
                            },
                            "Access-Control-Allow-Origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "close"
                                    }
                                }
                            },
                            "Content-Encoding": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "gzip"
                                    }
                                }
                            },
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Mon, 28 Aug 2017 20:00:21 GMT"
                                    }
                                }
                            },
                            "Server": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "nginx"
                                    }
                                }
                            },
                            "X-CDNIgnore": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "1"
                                    }
                                }
                            },
                            "X-Powered-by-VTEX-Janus-Edge": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "v1.41.0"
                                    }
                                }
                            },
                            "X-Track": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "stable"
                                    }
                                }
                            },
                            "X-VTEX-Janus-Router-Backend-App": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "pricing-v3.26.2"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PricewithFixedPrices_scheduledandindifferenttradepolicies_"
                                },
                                "example": {
                                    "itemId": "1234512354",
                                    "listPrice": 300,
                                    "costPrice": 10,
                                    "markup": 2400,
                                    "basePrice": 250,
                                    "fixedPrices": [
                                        {
                                            "tradePolicyId": "1",
                                            "value": 666.66,
                                            "listPrice": null,
                                            "minQuantity": 1
                                        },
                                        {
                                            "tradePolicyId": "9",
                                            "value": 4500,
                                            "listPrice": null,
                                            "minQuantity": 1
                                        },
                                        {
                                            "tradePolicyId": "9",
                                            "value": 600,
                                            "listPrice": null,
                                            "minQuantity": 1,
                                            "dateRange": {
                                                "from": "2017-12-07T14:30:00Z",
                                                "to": "2017-12-30T14:30:00Z"
                                            }
                                        },
                                        {
                                            "tradePolicyId": "9",
                                            "value": 5555.55,
                                            "listPrice": null,
                                            "minQuantity": 1,
                                            "dateRange": {
                                                "from": "2017-12-20T14:30:00Z",
                                                "to": "2017-12-22T14:30:00Z"
                                            }
                                        },
                                        {
                                            "tradePolicyId": "9",
                                            "value": 555.55,
                                            "listPrice": null,
                                            "minQuantity": 1,
                                            "dateRange": {
                                                "from": "2017-12-06T15:00:00Z",
                                                "to": "2017-12-14T15:00:00Z"
                                            }
                                        },
                                        {
                                            "tradePolicyId": "10",
                                            "value": 5555.55,
                                            "listPrice": null,
                                            "minQuantity": 1
                                        },
                                        {
                                            "tradePolicyId": "18",
                                            "value": 555.55,
                                            "listPrice": null,
                                            "minQuantity": 1
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Delete Price",
                "description": "Removes an SKU price. This action removes both Base Price and all available Fixed Prices for and SKU in all trade policies",
                "operationId": "DeletePrice",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand ",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU Id",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "true"
                                    }
                                }
                            },
                            "Access-Control-Allow-Origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "0"
                                    }
                                }
                            },
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Mon, 28 Aug 2017 20:17:58 GMT"
                                    }
                                }
                            },
                            "Server": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "nginx"
                                    }
                                }
                            },
                            "X-CDNIgnore": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "1"
                                    }
                                }
                            },
                            "X-Powered-by-VTEX-Janus-Edge": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "v1.41.0"
                                    }
                                }
                            },
                            "X-Track": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "stable"
                                    }
                                }
                            },
                            "X-VTEX-Janus-Router-Backend-App": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "pricing-v3.26.2"
                                    }
                                }
                            }
                        },
                        "content": {
                            "text/plain; charset=utf-8": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            },
            "put": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": " Create or update base or fixed prices",
                "description": "Creates or updates an SKU base or fixed prices. The **base price** is the basic selling price of a product, it comprises the cost price and the markup wanted in the sale of the product. The **fixed price** is an optional price of the SKU for a specific trade policy with a specific minimum quantity to be activated",
                "operationId": "CreateUpdatePriceOrFixedPrice",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU unique identifier number",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "",
                                "required": [
                                    "markup",
                                    "basePrice",
                                    "listPrice"
                                ],
                                "properties": {
                                    "markup": {
                                        "type": "integer",
                                        "title": "markup",
                                        "description": "The profit percentage that is to be obtained from the sale of that SKU. If you decide to fill the `markup` item, you must also fill the `costPrice` and `basePrice` will be automatically generated based on both values.",
                                        "default": 30
                                    },
                                    "listPrice": {
                                        "type": "number",
                                        "title": "listPrice",
                                        "description": "SKU's suggested selling price",
                                        "default": 50.00
                                    },
                                    "basePrice": {
                                        "type": "number",
                                        "title": "basePrice",
                                        "description": "SKU selling base price. If you decide to fill only the `basePrice` item, the `markup` and `costPrice` will be automatically generated to adapt to the number inserted in `basePrice`.",
                                        "default": 100.00
                                    },
                                    "costPrice": {
                                        "type": "number",
                                        "title": "costPrice",
                                        "description": "SKU selling cost price.If you decide to fill the `costPrice` item, you must also fill the `markup` and `basePrice` will be automatically generated based on both values.",
                                        "default": 35.00
                                    },
                                    "fixedPrices": {
                                        "type": "array",
                                        "items": {
                                            "title": "fixedPrices",
                                            "description": "Array with general information about the SKU's fixed prices",
                                            "default": [],
                                            "required": [
                                                "minQuantity",
                                                "value",
                                                "tradePolicyId"
                                            ],
                                            "properties": {
                                                "tradePolicyId": {
                                                    "type": "string",
                                                    "title": "tradePolicyId",
                                                    "description": "Trade policy name or ID that will have the fixed price configured",
                                                    "default": "1"
                                                },
                                                "value": {
                                                    "type": "number",
                                                    "title": "value",
                                                    "description": "Fixed price value",
                                                    "default": 50.50
                                                },
                                                "listPrice": {
                                                    "type": "number",
                                                    "title": "listPrice",
                                                    "description": "SKU List Fixed Price",
                                                    "default": 50.50
                                                },
                                                "minQuantity": {
                                                    "type": "integer",
                                                    "title": "minQuantity",
                                                    "description": "Minimum quantity of the SKU to the fixed price be applied",
                                                    "default": 2
                                                },
                                                "dateRange": {
                                                    "type": "object",
                                                    "title": "dateRange",
                                                    "description": "Period of time that the fixed price will be applied to the SKU",
                                                    "default": {},
                                                    "required": [
                                                        "from",
                                                        "to"
                                                    ],
                                                    "properties": {
                                                        "from": {
                                                            "type": "string",
                                                            "title": "from",
                                                            "description": "Start date of the price",
                                                            "default": "2021-12-30T22:00:00-03:00"
                                                        },
                                                        "to": {
                                                            "type": "string",
                                                            "title": "to",
                                                            "description": "End date of the price",
                                                            "default": "2021-12-30T22:00:00-03:00"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/prices/{itemId}/fixed": {
            "get": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Get Fixed Prices",
                "description": "Fixed Prices are a sub resource of Prices. This method get an array of Fixed Prices for an SKU in a Trade Policy with Minimum Quantities",
                "operationId": "GetFixedPrices",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU Id",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "true"
                                    }
                                }
                            },
                            "Access-Control-Allow-Origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "Content-Encoding": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "gzip"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "101"
                                    }
                                }
                            },
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Mon, 28 Aug 2017 20:03:42 GMT"
                                    }
                                }
                            },
                            "Server": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "nginx"
                                    }
                                }
                            },
                            "X-CDNIgnore": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "1"
                                    }
                                }
                            },
                            "X-Powered-by-VTEX-Janus-Edge": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "v1.41.0"
                                    }
                                }
                            },
                            "X-Track": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "stable"
                                    }
                                }
                            },
                            "X-VTEX-Janus-Router-Backend-App": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "pricing-v3.26.2"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Examplewith2FixedPricesindifferentSalesChannel"
                                    }
                                },
                                "example": [
                                    {
                                        "tradePolicyId": "6",
                                        "value": 20.9,
                                        "listPrice": 22.9,
                                        "minQuantity": 1
                                    },
                                    {
                                        "tradePolicyId": "1",
                                        "value": 18.9,
                                        "listPrice": null,
                                        "minQuantity": 1
                                    }
                                ]
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/prices/{itemId}/fixed/{priceTableId}": {
            "post": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Create or update fixed prices on a price table or trade policy",
                "description": "Creates or updates the fixed prices of an SKU for a specific price table or trade policy. You can add one or multiple fixed prices per SKU.",
                "operationId": "CreateEditFixedPricesonapricetableOrtradepolicy",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU unique identifier number",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "priceTableId",
                        "in": "path",
                        "description": "SKU **price table** name or **trade policy** ID",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "priceTableA"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "title": "",
                                "items": {
                                    "type": "object",
                                    "required": [
                                        "value",
                                        "minQuantity"
                                    ],
                                    "properties": {
                                        "value": {
                                            "type": "number",
                                            "title": "value",
                                            "description": "Fixed price value",
                                            "default": 50.50
                                        },
                                        "listPrice": {
                                            "type": "number",
                                            "title": "listPrice",
                                            "description": "SKU List Fixed Price",
                                            "default": 50.50
                                        },
                                        "minQuantity": {
                                            "type": "integer",
                                            "title": "minQuantity",
                                            "description": "Minimum quantity of the SKU to the fixed price be applied",
                                            "default": 2
                                        },
                                        "dateRange": {
                                            "type": "object",
                                            "title": "dateRange",
                                            "description": "Period of time that the fixed price will be applied to the SKU",
                                            "default": {},
                                            "required": [
                                                "from",
                                                "to"
                                            ],
                                            "properties": {
                                                "from": {
                                                    "type": "string",
                                                    "title": "from",
                                                    "description": "Start date of the price",
                                                    "default": "2021-12-30T22:00:00-03:00"
                                                },
                                                "to": {
                                                    "type": "string",
                                                    "title": "to",
                                                    "description": "End date of the price",
                                                    "default": "2021-12-30T22:00:00-04:00"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Addingafixedpriceforonespecificpricetable"
                                    }
                                },
                                "example": [
                                    {
                                        "tradePolicyId": "10",
                                        "value": 60.5,
                                        "listPrice": null,
                                        "minQuantity": 1
                                    }
                                ]
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            },
            "get": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Get Fixed Prices on a price table",
                "description": "Gets all Fixed Prices on a price table (or trade policy)",
                "operationId": "GetFixedPricesonapricetable",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU ID",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "priceTableId",
                        "in": "path",
                        "description": "Price Table Name",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "true"
                                    }
                                }
                            },
                            "Access-Control-Allow-Origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "Content-Encoding": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "gzip"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "101"
                                    }
                                }
                            },
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Mon, 28 Aug 2017 20:03:42 GMT"
                                    }
                                }
                            },
                            "Server": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "nginx"
                                    }
                                }
                            },
                            "X-CDNIgnore": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "1"
                                    }
                                }
                            },
                            "X-Powered-by-VTEX-Janus-Edge": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "v1.41.0"
                                    }
                                }
                            },
                            "X-Track": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "stable"
                                    }
                                }
                            },
                            "X-VTEX-Janus-Router-Backend-App": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "pricing-v3.26.2"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Default"
                                    }
                                },
                                "example": [
                                    {
                                        "tradePolicyId": "6",
                                        "value": 20.9,
                                        "listPrice": 22.9,
                                        "minQuantity": 1
                                    },
                                    {
                                        "tradePolicyId": "1",
                                        "value": 18.9,
                                        "listPrice": null,
                                        "minQuantity": 1
                                    }
                                ]
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Delete fixed prices on a price table (or trade policy)",
                "description": "Deletes all Fixed Prices of an SKU in a specific Price Table (or Trade Policy)",
                "operationId": "Deletefixedpricesonapricetable(ortradepolicy)",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU ID",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "priceTableId",
                        "in": "path",
                        "description": "Price Table or Sales Channel Name",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Deletefixedpricesonapricetable_ortradepolicy_Request"
                                },
                                "description": ""
                            },
                            "example": [
                                {
                                    "tradePolicyId": "1",
                                    "value": 100,
                                    "listPrice": 99.9,
                                    "minQuantity": 1
                                }
                            ]
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "http://example.com/{account}/pricing/prices/{itemId}/fixed",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            },
                            "itemId": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/prices/{itemId}/computed/{priceTableId}": {
            "get": {
                "tags": [
                    "Prices and Fixed Prices"
                ],
                "summary": "Get Computed Price by price table",
                "description": "Gets a computed Price (Price after all steps in pricing pipeline) for an SKU in a specific Trade Policy (or Price Table)",
                "operationId": "GetComputedPricebypricetable",
                "parameters": [
                    {
                        "name": "categoryIds",
                        "in": "query",
                        "description": "Category Id",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "example": "[{{categoryId}}]"
                        }
                    },
                    {
                        "name": "brandId",
                        "in": "query",
                        "description": "Brand Id",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "example": "{{brandId}}"
                        }
                    },
                    {
                        "name": "quantity",
                        "in": "query",
                        "description": "SKU quantity",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "example": "{{quantity}}"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "SKU Id",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "priceTableId",
                        "in": "path",
                        "description": "SKU Price Table Name",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "true"
                                    }
                                }
                            },
                            "Access-Control-Allow-Origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "Content-Encoding": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "gzip"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "71"
                                    }
                                }
                            },
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Mon, 28 Aug 2017 20:15:19 GMT"
                                    }
                                }
                            },
                            "Server": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "nginx"
                                    }
                                }
                            },
                            "X-CDNIgnore": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "1"
                                    }
                                }
                            },
                            "X-Powered-by-VTEX-Janus-Edge": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "v1.41.0"
                                    }
                                }
                            },
                            "X-Track": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "stable"
                                    }
                                }
                            },
                            "X-VTEX-Janus-Router-Backend-App": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "pricing-v3.26.2"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/Default1"
                                },
                                "example": {
                                    "tradePolicyId": "1",
                                    "listPrice": 30,
                                    "sellingPrice": 18.9,
                                    "priceValidUntil": "2018-12-20T18:12:14Z"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/config": {
            "get": {
                "tags": [
                    "Pricing Config"
                ],
                "summary": "Get Pricing Config",
                "description": "Retrieves Pricing Module Configuration",
                "operationId": "GetPricingConfig",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "true"
                                    }
                                }
                            },
                            "Access-Control-Allow-Origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "Content-Encoding": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "gzip"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "118"
                                    }
                                }
                            },
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Tue, 21 Feb 2017 16:11:39 GMT"
                                    }
                                }
                            },
                            "Server": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "nginx"
                                    }
                                }
                            },
                            "X-CDNIgnore": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "1"
                                    }
                                }
                            },
                            "X-Powered-by-VTEX-Janus-Edge": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "v1.35.3"
                                    }
                                }
                            },
                            "X-Track": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "stable"
                                    }
                                }
                            },
                            "X-VTEX-Janus-Router-Backend-App": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "pricing-v3.21.12"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/Default2"
                                },
                                "example": {
                                    "hasMigrated": true,
                                    "migrationCurrentSKUIndex": 5200,
                                    "migrationTotalSKU": 5200,
                                    "defaultMarkup": 100,
                                    "minimumMarkups": {
                                        "1": 100,
                                        "2": 90
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/migration": {
            "get": {
                "tags": [
                    "Pricing Config"
                ],
                "summary": "Gets Pricing v2 Active Status",
                "description": "Gets Pricing v2 Active Status",
                "operationId": "GetPricingv2ActiveStatus",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "true"
                                    }
                                }
                            },
                            "Access-Control-Allow-Origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "Content-Encoding": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "gzip"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "52"
                                    }
                                }
                            },
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Tue, 21 Feb 2017 16:13:39 GMT"
                                    }
                                }
                            },
                            "Server": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "nginx"
                                    }
                                }
                            },
                            "X-CDNIgnore": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "1"
                                    }
                                }
                            },
                            "X-Powered-by-VTEX-Janus-Edge": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "v1.35.3"
                                    }
                                }
                            },
                            "X-Track": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "stable"
                                    }
                                }
                            },
                            "X-VTEX-Janus-Router-Backend-App": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "pricing-v3.21.12"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/Default3"
                                },
                                "example": {
                                    "isActive": true,
                                    "hasMigrated": true
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/pipeline/catalog/{priceTableId}": {
            "get": {
                "tags": [
                    "Price Tables"
                ],
                "summary": "Get rules for a price table",
                "description": "This method will retrieve the rules from a specific Price Table.\r\n\r\n## Response body example\r\n\r\n```json\r\n{\r\n    \"tradePolicyId\": \"b2c\",\r\n    \"rules\": [{\r\n        \"id\": 0,\r\n        \"context\": {\r\n            \"categories\": {},\r\n            \"brands\": {\r\n                \"2000009\": \"Whiskas\"\r\n            },\r\n            \"stockStatuses\": null,\r\n            \"internalCategories\": null,\r\n            \"markupRange\": null,\r\n            \"dateRange\": null\r\n        },\r\n        \"percentualModifier\": 15\r\n    }]\r\n}\r\n```",
                "operationId": "Getrulesforapricetable",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "priceTableId",
                        "in": "path",
                        "description": "Price Table Name.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "b2c"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "example": {
                                    "tradePolicyId": "b2c",
                                    "rules": [
                                        {
                                            "id": 0,
                                            "context": {
                                                "categories": {},
                                                "brands": {
                                                    "2000009": "Whiskas"
                                                },
                                                "stockStatuses": null,
                                                "internalCategories": null,
                                                "markupRange": null,
                                                "dateRange": null
                                            },
                                            "percentualModifier": 15
                                        }
                                    ]
                                },
                                "schema": {
                                    "title": "",
                                    "type": "object",
                                    "properties": {
                                        "tradePolicyId": {
                                            "type": "string",
                                            "description": "Trade Policy ID (Price Table ID)."
                                        },
                                        "rules": {
                                            "type": "array",
                                            "description": "Array of rules for the price table.",
                                            "items": {
                                                "type": "object",
                                                "description": "Object containing a price table rule.",
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "description": "Rule ID."
                                                    },
                                                    "context": {
                                                        "type": "object",
                                                        "description": "Rule Context is a group of filters to be checked at an item level when applying the rule. If all those filters check out, the rule will be applied for that item, unless there is a fixed price for that item.",
                                                        "properties": {
                                                            "categories": {
                                                                "type": "object",
                                                                "description": "Categories that an item should have to be eligible for the rule. Format: key: `categoryId`, value: `categoryName`.",
                                                                "additionalProperties": {
                                                                    "type": "string",
                                                                    "description": "Category ID.",
                                                                    "additionalProperties": {
                                                                        "type": "string",
                                                                        "description": "Category Name."
                                                                    }
                                                                }
                                                            },
                                                            "brands": {
                                                                "type": "object",
                                                                "description": "Brands that an item should have to be eligible for the rule. Format: key: `brandId`, value: `brandName`.",
                                                                "additionalProperties": {
                                                                    "type": "string",
                                                                    "description": "Brand ID.",
                                                                    "additionalProperties": {
                                                                        "type": "string",
                                                                        "description": "Brand Name."
                                                                    }
                                                                }
                                                            },
                                                            "stockStatuses": {
                                                                "type": "object",
                                                                "description": ""
                                                            },
                                                            "internalCategories": {
                                                                "type": "object",
                                                                "description": ""
                                                            },
                                                            "markupRange": {
                                                                "type": "object",
                                                                "description": "For an item to be eligible to the rule, it's markup should be in this Markup Range.",
                                                                "properties": {
                                                                    "from": {
                                                                        "type": "integer",
                                                                        "description": "Item markup should be greater than or equal to this value."
                                                                    },
                                                                    "to": {
                                                                        "type": "integer",
                                                                        "description": "Item markup should be less than or equal to this value."
                                                                    }
                                                                }
                                                            },
                                                            "dateRange": {
                                                                "type": "object",
                                                                "description": "The rule will be active during this time range.",
                                                                "properties": {
                                                                    "from": {
                                                                        "type": "string",
                                                                        "description": "Date when rule will be activated. Date format: `RFC3339`."
                                                                    },
                                                                    "to": {
                                                                        "type": "string",
                                                                        "description": "Date when the rule will be deactivated. Date format: `RFC3339`."
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "percentualModifier": {
                                            "type": "integer",
                                            "description": "Percentual modifier."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "429": {
                        "description": "Too many requests"
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.vtex.com/{account}/pricing",
                        "variables": {
                            "account": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            },
            "put": {
                "tags": [
                    "Price Tables"
                ],
                "summary": "Update rules for a price table",
                "description": "This method will update the rules from a specific Price Table. It will delete all the rules from the requested Price Table and create new rules based on the content of the request.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Describes the type of the content being sent.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "priceTableId",
                        "in": "path",
                        "description": "Price Table Name.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
[...]
