{
    "openapi": "3.0.0",
    "info": {
        "title": "Pick and Pack API",
        "description": "The Pick and Pack API provides comprehensive functionality for order management, picking operations, shipment tracking, and returns processing. The main capabilities include:\r\n\r\n- Retrieving detailed order information, including items, packages, and status\r\n- Accessing worksheet data for picking operations\r\n- Querying shipment tracking and delivery details\r\n- Getting facility information\r\n\r\n## Authentication\r\n\r\n- `POST` [Generate JWT token](https://developers.vtex.com/docs/api-reference/pick-and-pack-api#post-/token)\r\n\r\n## Orders\r\n\r\n- `GET` [Get order by ID](https://developers.vtex.com/docs/api-reference/pick-and-pack-api#get-/orders/-orderId-)\r\n- `PATCH` [Set order delivery](https://developers.vtex.com/docs/api-reference/pick-and-pack-api#patch-/orders/-orderId-/tracking)\r\n\r\n## Worksheets\r\n\r\n- `GET` [Get worksheet by ID](https://developers.vtex.com/docs/api-reference/pick-and-pack-api#get-/worksheets/-worksheetId-)\r\n- `GET` [Get worksheets by order ID](https://developers.vtex.com/docs/api-reference/pick-and-pack-api#get-/worksheets)\r\n\r\n## Facilities\r\n\r\n- `GET` [Get facility by ID](https://developers.vtex.com/docs/api-reference/pick-and-pack-api#get-/facilities/-facilityId-)\r\n\r\n## Shipments\r\n\r\n- `GET` [Get shipment](https://developers.vtex.com/docs/api-reference/pick-and-pack-api#get-/shipments/-shipmentId-)\r\n- `GET` [List shipments](https://developers.vtex.com/docs/api-reference/pick-and-pack-api#get-/shipments/-orderId-)\r\n\r\n## Common issues and solutions\r\n\r\nIn case of errors making a request, check the list of common issues and their solutions below.\r\n\r\n### 1. Token expiration\r\n\r\n- Authentication token expires after 15 minutes.  \r\n- Check console logs for refresh attempt.  \r\n- Verify `APIKEY_ACCOUNT` format.  \r\n- Ensure that endpoint URLs are correct.  \r\n\r\n### 2. Variable errors\r\n\r\n- Check variable syntax.  \r\n- Validate API key format.  \r\n\r\n### 3. Cache-related issues\r\n\r\n- Response data might appear stale due to API caching.  \r\n- Endpoints have a specific cache duration of 30 seconds.  \r\n- For real-time data, consider the cache duration when implementing polling strategies.  \r\n- Cache is based on specific parameters (e.g., `orderId`, `shipmentId`).",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://auth.pickingnpacking.com/prod",
            "description": "Server to access the authentication necessary to make a request in the Pick and Pack API."
        },
        {
            "url": "https://api.pick-and-pack.com/prod/v1",
            "description": "Server to access the Pick and Pack API."
        }
    ],
    "paths": {
        "/token": {
            "post": {
                "tags": ["Authentication"],
                "summary": "Generate JWT token",
                "description": "Generates a `JWT` (JSON Web Token) necessary to access the Pick and Pack API information. To generate the `JWT` it's necessary to have the `API KEY`. To obtain this information, access **VTEX Admin > Shipping > Pick and Pack > Settings > Integration > API Key**.\r\n\r\n>ℹ️ The authentication token expires after 15 minutes \r\n\r\n## Permissions\r\n\r\nAny user or [API key](https://developers.vtex.com/docs/guides/api-authentication-using-api-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| Catalog | Administration | **Homepage** |\r\n| Catalog | Administration | **Help home page** |\r\n\r\nYou can [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) with that resource or use one of the following [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy):\r\n\r\n| **Role** | **Resource** | \r\n| --------------- | ----------------- | \r\n| Admin - Start page only | Homepage |\r\n| Admin - Start page only | Help home page |\r\n\r\n>❗ Assigning a [predefined role](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) to users or API keys usually grants permission to multiple [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3). If some of these permissions are not necessary, consider creating a custom role instead. For more information regarding security, see [Best practices for using API keys](https://help.vtex.com/en/tutorial/best-practices-api-keys--7b6nD1VMHa49aI5brlOvJm). To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": ["apiKey"],
                                "type": "object",
                                "properties": {
                                    "apiKey": {
                                        "type": "string",
                                        "description": "The `API KEY` generated in **VTEX Admin > Shipping > Pick and Pack > Settings > Integration > API Key**."
                                    }
                                }
                            },
                            "example": {
                                "apiKey": "{pnpApiKey}"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Success message."
                                        },
                                        "data": {
                                            "type": "string",
                                            "description": "JWT token."
                                        }
                                    }
                                },
                                "example": {
                                    "message": "success",
                                    "data": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJob3N0bmFtZSI6Imxhc3RtaWxlIiwidXNlcm5hbWUiOiJsYXN0bWlsZS5jcmlzdGlhbnJvbWVyb3Z0ZXhjb20iLCJpYXQiOjE3Mzk0NDkyNTMsImV4cCI6MTczOTQ1MDE1M30.lkb1e5XDuUBddthwaxrvi_Ub0YBEAEessJy_bvzb-do"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://auth.pickingnpacking.com/prod",
                        "description": "Server to access the authentication necessary to make a request in the Pick and Pack API."
                    }
                ],
                "security": []
            }
        },
        "/orders/{orderId}": {
            "get": {
                "tags": ["Orders"],
                "summary": "Get order by ID",
                "description": "Retrieves order details by its ID.\n\n>ℹ️ The response is cached for 30 seconds based on the `orderId` parameter. The endpoint supports up to 500 requests per second, with a maximum of 100 concurrent requests.\n\n>ℹ️ [Generate a JWT token](https://developers.vtex.com/docs/api-reference/pick-and-pack-api#post-/token) to endpoint authentication. JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way for securely transmitting information as a JSON object between parties.\r\n\r\n## Permissions\r\n\r\nAny user or [API key](https://developers.vtex.com/docs/guides/api-authentication-using-api-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| Catalog | Administration | **Homepage** |\r\n| Catalog | Administration | **Help home page** |\r\n\r\nYou can [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) with that resource or use one of the following [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy):\r\n\r\n| **Role** | **Resource** | \r\n| --------------- | ----------------- | \r\n| Admin - Start page only | Homepage |\r\n| Admin - Start page only | Help home page |\r\n\r\n>❗ Assigning a [predefined role](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) to users or API keys usually grants permission to multiple [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3). If some of these permissions are not necessary, consider creating a custom role instead. For more information regarding security, see [Best practices for using API keys](https://help.vtex.com/en/tutorial/best-practices-api-keys--7b6nD1VMHa49aI5brlOvJm). To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    },
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Order ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "1509750516095-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Order with status, timing, items, packages, invoices, and payments.",
                                    "properties": {
                                        "orderId": {
                                            "type": "string",
                                            "description": "Unique order identifier assigned by the platform."
                                        },
                                        "sequence": {
                                            "type": "string",
                                            "description": "Sequence number for the order."
                                        },
                                        "status": {
                                            "type": "string",
                                            "description": "Order status.",
                                            "enum": [
                                                "IN_PROGRESS",
                                                "PENDING",
                                                "COLLECTED",
                                                "COMPLETED",
                                                "READY_FOR_PACKING",
                                                "PACKING",
                                                "PACKED",
                                                "SORTING",
                                                "CANCELLED",
                                                "REJECTED"
                                            ],
                                            "minLength": 1
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "description": "Order creation date and time in ISO 8601 format.",
                                            "format": "date-time"
                                        },
                                        "updatedAt": {
                                            "type": "string",
                                            "description": "Order last update date and time in ISO 8601 format.",
                                            "format": "date-time"
                                        },
                                        "shippingEstimatedDateMin": {
                                            "type": "string",
                                            "description": "Minimum estimated shipping date and time in ISO 8601 format.",
                                            "format": "date-time"
                                        },
                                        "tags": {
                                            "type": "array",
                                            "description": "List of free-form tags associated with the order.",
                                            "items": {
                                                "type": "string",
                                                "description": "Order tag."
                                            }
                                        },
                                        "pickingTime": {
                                            "type": "number",
                                            "description": "Time spent in picking stage, in minutes (decimal)."
                                        },
                                        "packingTime": {
                                            "type": "number",
                                            "description": "Time spent in packing stage, in minutes (decimal)."
                                        },
                                        "shippingTime": {
                                            "type": "number",
                                            "description": "Time spent in shipping stage, in minutes (decimal)."
                                        },
                                        "invoices": {
                                            "type": "array",
                                            "description": "Invoices associated with the order.",
                                            "items": {
                                                "type": "object",
                                                "description": "Invoice entry with key and total.",
                                                "properties": {
                                                    "invoiceKey": {
                                                        "type": "string",
                                                        "description": "Unique invoice key or identifier."
                                                    },
                                                    "invoiceTotal": {
                                                        "type": "integer",
                                                        "description": "Total invoice amount in minor currency units."
                                                    }
                                                },
                                                "required": [
                                                    "invoiceKey",
                                                    "invoiceTotal"
                                                ]
                                            }
                                        },
                                        "unhandledItems": {
                                            "type": "array",
                                            "description": "Order unhandled items, not yet processed to a final state.",
                                            "items": {
                                                "type": "object",
                                                "description": "Order item currently unhandled.",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Unhandled item ID."
                                                    },
                                                    "sku": {
                                                        "type": "string",
                                                        "description": "Unhandled item SKU."
                                                    },
                                                    "referenceCode": {
                                                        "type": "string",
                                                        "description": "Unhandled item reference code."
                                                    },
                                                    "itemName": {
                                                        "type": "string",
                                                        "description": "Unhandled item name."
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "description": "Unhandled item price."
                                                    },
                                                    "pickingPrice": {
                                                        "type": "number",
                                                        "nullable": true,
                                                        "description": "Unit price used during picking."
                                                    },
                                                    "quantity": {
                                                        "type": "integer",
                                                        "nullable": true,
                                                        "description": "Final quantity for this item."
                                                    },
                                                    "originalQuantity": {
                                                        "type": "integer",
                                                        "description": "Quantity originally ordered before any adjustments."
                                                    },
                                                    "replacedBy": {
                                                        "type": "array",
                                                        "nullable": true,
                                                        "items": {
                                                            "type": "string",
                                                            "description": "Unhandled item replaced by."
                                                        },
                                                        "description": "List of unhandled item replaced by."
                                                    },
                                                    "weighableProduct": {
                                                        "type": "boolean",
                                                        "description": "Indicates if the product was sold by weight (`true`) or not (`false`)."
                                                    },
                                                    "unitMultiplier": {
                                                        "type": "number",
                                                        "description": "Unit multiplier applied to the item."
                                                    },
                                                    "originalUnitMultiplier": {
                                                        "type": "number",
                                                        "description": "Original unit multiplier before any changes."
                                                    },
                                                    "unitOfMeasure": {
                                                        "type": "string",
                                                        "description": "Unit of measure for the item."
                                                    },
                                                    "images": {
                                                        "type": "array",
                                                        "description": "List of unhandled item images.",
                                                        "items": {
                                                            "type": "string",
                                                            "description": "URL of an item image."
                                                        }
                                                    },
                                                    "ean": {
                                                        "type": "string",
                                                        "description": "Unhandled item EAN."
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "description": "Unhandled item status.",
                                                        "enum": [
                                                            "IN_PROGRESS",
                                                            "PENDING",
                                                            "COLLECTED",
                                                            "COMPLETED",
                                                            "READY_FOR_PACKING",
                                                            "PACKING",
                                                            "PACKED",
                                                            "SORTING",
                                                            "CANCELLED",
                                                            "REJECTED"
                                                        ]
                                                    },
                                                    "packedQuantity": {
                                                        "type": "integer",
                                                        "description": "Quantity packed for this item.",
                                                        "nullable": true
                                                    },
                                                    "reasons": {
                                                        "type": "array",
                                                        "description": "Reasons for rejection or change.",
                                                        "nullable": true,
                                                        "items": {
                                                            "type": "object",
                                                            "description": "Reason entry explaining an exception or change.",
                                                            "properties": {
                                                                "reasonType": {
                                                                    "type": "string",
                                                                    "description": "Reason type."
                                                                },
                                                                "reasonDetail": {
                                                                    "type": "string",
                                                                    "description": "Reason for the unhandled item, such as out-of-stock."
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "pickers": {
                                                        "type": "array",
                                                        "nullable": true,
                                                        "description": "Identifiers of pickers who handled this line.",
                                                        "items": {
                                                            "type": "string",
                                                            "description": "Picker name."
                                                        }
                                                    },
                                                    "worksheets": {
                                                        "type": "array",
                                                        "nullable": true,
                                                        "description": "List of related worksheet identifiers.",
                                                        "items": {
                                                            "type": "string",
                                                            "description": "Worksheet identifier."
                                                        }
                                                    },
                                                    "warehouses": {
                                                        "type": "array",
                                                        "description": "List of warehouse allocation or availability for this item.",
                                                        "items": {
                                                            "type": "object",
                                                            "description": "Warehouse allocation record.",
                                                            "properties": {
                                                                "warehouseId": {
                                                                    "type": "string",
                                                                    "description": "Warehouse identifier."
                                                                },
                                                                "warehouseName": {
                                                                    "type": "string",
                                                                    "description": "Warehouse name."
                                                                },
                                                                "quantity": {
                                                                    "type": "integer",
                                                                    "description": "Quantity allocated from the warehouse."
                                                                }
                                                            },
                                                            "required": [
                                                                "warehouseId",
                                                                "warehouseName",
                                                                "quantity"
                                                            ]
                                                        }
                                                    },
                                                    "createdAt": {
                                                        "type": "string",
                                                        "description": "Item created date and time in ISO 8601 timestamp.",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "sku",
                                                    "referenceCode",
                                                    "itemName",
                                                    "price",
                                                    "pickingPrice",
                                                    "quantity",
                                                    "originalQuantity",
                                                    "replacedBy",
                                                    "weighableProduct",
                                                    "unitMultiplier",
                                                    "originalUnitMultiplier",
                                                    "unitOfMeasure",
                                                    "images",
                                                    "ean",
                                                    "status",
                                                    "packedQuantity",
                                                    "reasons",
                                                    "pickers",
                                                    "worksheets",
                                                    "warehouses",
                                                    "createdAt"
                                                ]
                                            }
                                        },
                                        "pickedItems": {
                                            "type": "array",
                                            "description": "List of order items picked.",
                                            "items": {
                                                "type": "object",
                                                "description": "Picked order item.",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Picked item identifier."
                                                    },
                                                    "sku": {
                                                        "type": "string",
                                                        "description": "Picked item SKU."
                                                    },
                                                    "referenceCode": {
                                                        "type": "string",
                                                        "description": "Picked item reference code."
                                                    },
                                                    "itemName": {
                                                        "type": "string",
                                                        "description": "Picked item name."
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "description": "Picked item price."
                                                    },
                                                    "pickingPrice": {
                                                        "type": "number",
                                                        "nullable": true,
                                                        "description": "Unit price used during picking."
                                                    },
                                                    "quantity": {
                                                        "type": "integer",
                                                        "nullable": true,
                                                        "description": "Final quantity for this item."
                                                    },
                                                    "originalQuantity": {
                                                        "type": "integer",
                                                        "description": "Quantity originally ordered before any adjustments."
                                                    },
                                                    "replacedBy": {
                                                        "type": "array",
                                                        "nullable": true,
                                                        "items": {
                                                            "type": "string",
                                                            "description": "Picked item replaced by."
                                                        },
                                                        "description": "List of picked item replaced by."
                                                    },
                                                    "weighableProduct": {
                                                        "type": "boolean",
                                                        "description": "Indicates if the product was sold by weight (`true`) or not (`false`)."
                                                    },
                                                    "unitMultiplier": {
                                                        "type": "number",
                                                        "description": "Unit multiplier applied to the item."
                                                    },
                                                    "originalUnitMultiplier": {
                                                        "type": "number",
                                                        "description": "Original unit multiplier before any changes."
                                                    },
                                                    "unitOfMeasure": {
                                                        "type": "string",
                                                        "description": "Unit of measure for the item."
                                                    },
                                                    "images": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string",
                                                            "description": "Picked item image."
                                                        },
                                                        "description": "List of picked item images."
                                                    },
                                                    "ean": {
                                                        "type": "string",
                                                        "description": "Picked item EAN."
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "description": "Picked item status.",
                                                        "enum": [
                                                            "IN_PROGRESS",
                                                            "PENDING",
                                                            "COLLECTED",
                                                            "COMPLETED",
                                                            "READY_FOR_PACKING",
                                                            "PACKING",
                                                            "PACKED",
                                                            "SORTING",
                                                            "CANCELLED",
                                                            "REJECTED"
                                                        ]
                                                    },
                                                    "packedQuantity": {
                                                        "type": "integer",
                                                        "description": "Quantity packed for this picked item.",
                                                        "nullable": true
                                                    },
                                                    "reasons": {
                                                        "type": "array",
                                                        "description": "List of reasons for rejection or change.",
                                                        "nullable": true,
                                                        "items": {
                                                            "type": "object",
                                                            "description": "Reason entry explaining an exception or change.",
                                                            "properties": {
                                                                "reasonType": {
                                                                    "type": "string",
                                                                    "description": "Reason type."
                                                                },
                                                                "reasonDetail": {
                                                                    "type": "string",
                                                                    "description": "Reason detail such as out-of-stock."
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "pickers": {
                                                        "type": "array",
                                                        "nullable": true,
                                                        "description": "Identifiers of pickers who handled this line.",
                                                        "items": {
                                                            "type": "string",
                                                            "description": "Picker name."
                                                        }
                                                    },
                                                    "worksheets": {
                                                        "type": "array",
                                                        "nullable": true,
                                                        "description": "List of related worksheet identifiers.",
                                                        "items": {
                                                            "type": "string",
                                                            "description": "Worksheet identifier."
                                                        }
                                                    },
                                                    "warehouses": {
                                                        "type": "array",
                                                        "description": "List of warehouse allocation or availability for this item.",
                                                        "items": {
                                                            "type": "object",
                                                            "description": "Warehouse allocation record.",
                                                            "properties": {
                                                                "warehouseId": {
                                                                    "type": "string",
                                                                    "description": "Warehouse identifier."
                                                                },
                                                                "warehouseName": {
                                                                    "type": "string",
                                                                    "description": "Warehouse display name."
                                                                },
                                                                "quantity": {
                                                                    "type": "integer",
                                                                    "description": "Quantity allocated from the warehouse."
                                                                }
                                                            },
                                                            "required": [
                                                                "warehouseId",
                                                                "warehouseName",
                                                                "quantity"
                                                            ]
                                                        }
                                                    },
                                                    "createdAt": {
                                                        "type": "string",
                                                        "description": "Picked item creation date in ISO 8601 format.",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "sku",
                                                    "referenceCode",
                                                    "itemName",
                                                    "price",
                                                    "pickingPrice",
                                                    "quantity",
                                                    "originalQuantity",
                                                    "replacedBy",
                                                    "weighableProduct",
                                                    "unitMultiplier",
                                                    "originalUnitMultiplier",
                                                    "unitOfMeasure",
                                                    "images",
                                                    "ean",
                                                    "status",
                                                    "packedQuantity",
                                                    "reasons",
                                                    "pickers",
                                                    "worksheets",
                                                    "warehouses",
                                                    "createdAt"
                                                ]
                                            }
                                        },
                                        "rejectedItems": {
                                            "type": "array",
                                            "description": "List of items that were rejected, for example due to being out-of-stock.",
                                            "items": {
                                                "type": "object",
                                                "description": "Rejected order item.",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Rejected item identifier within the order."
                                                    },
                                                    "sku": {
                                                        "type": "string",
                                                        "description": "Rejected item SKU."
                                                    },
                                                    "referenceCode": {
                                                        "type": "string",
                                                        "description": "Rejected item reference code."
                                                    },
                                                    "itemName": {
                                                        "type": "string",
                                                        "description": "Rejected item name."
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "description": "Rejected item price."
                                                    },
                                                    "pickingPrice": {
                                                        "type": "number",
                                                        "nullable": true,
                                                        "description": "Rejected item picking price."
                                                    },
                                                    "quantity": {
                                                        "type": "integer",
                                                        "nullable": true,
                                                        "description": "Final quantity for this rejected item."
                                                    },
                                                    "originalQuantity": {
                                                        "type": "integer",
                                                        "description": "Quantity originally ordered before any adjustments."
                                                    },
                                                    "replacedBy": {
                                                        "type": "array",
                                                        "nullable": true,
                                                        "items": {
                                                            "type": "string",
                                                            "description": "ID of the items that served as replacements for this one."
                                                        },
                                                        "description": "List of items that replaced the current item."
                                                    },
                                                    "weighableProduct": {
                                                        "type": "boolean",
                                                        "description": "Indicates if the product was sold by weight (`true`) or not (`false`)."
                                                    },
                                                    "unitMultiplier": {
                                                        "type": "number",
                                                        "description": "Rejected item unit multiplier."
                                                    },
                                                    "originalUnitMultiplier": {
                                                        "type": "number",
                                                        "description": "Original unit multiplier before any changes."
                                                    },
                                                    "unitOfMeasure": {
                                                        "type": "string",
                                                        "description": "Unit of measure for the item."
                                                    },
                                                    "images": {
                                                        "type": "array",
                                                        "description": "Rejected item images URLs.",
                                                        "items": {
                                                            "type": "string",
                                                            "description": "URL of a rejected item image."
                                                        }
                                                    },
                                                    "ean": {
                                                        "type": "string",
                                                        "description": "Rejected item EAN."
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "description": "Rejected item status.",
                                                        "enum": [
                                                            "IN_PROGRESS",
                                                            "PENDING",
                                                            "COLLECTED",
                                                            "COMPLETED",
                                                            "READY_FOR_PACKING",
                                                            "PACKING",
                                                            "PACKED",
                                                            "SORTING",
                                                            "CANCELLED",
                                                            "REJECTED"
                                                        ]
                                                    },
                                                    "packedQuantity": {
                                                        "type": "integer",
                                                        "description": "Quantity packed for this item.",
                                                        "nullable": true
                                                    },
                                                    "reasons": {
                                                        "type": "array",
                                                        "description": "List of reasons for rejection or change.",
                                                        "nullable": true,
                                                        "items": {
                                                            "type": "object",
                                                            "description": "Reason entry explaining an exception or change.",
                                                            "properties": {
                                                                "reasonType": {
                                                                    "type": "string",
                                                                    "description": "Reason type."
                                                                },
                                                                "reasonDetail": {
                                                                    "type": "string",
                                                                    "description": "Reason detail such as out-of-stock."
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "pickers": {
                                                        "type": "array",
                                                        "description": "Identifiers of pickers who handled this item.",
                                                        "items": {
                                                            "type": "string",
                                                            "description": "Picker name."
                                                        }
                                                    },
                                                    "worksheets": {
                                                        "type": "array",
                                                        "description": "List of related worksheet identifiers.",
                                                        "items": {
                                                            "type": "string",
                                                            "description": "Worksheet identifier."
                                                        }
                                                    },
                                                    "warehouses": {
                                                        "type": "array",
                                                        "description": "List of warehouse allocation or availability for this item.",
                                                        "items": {
                                                            "type": "object",
                                                            "description": "Warehouse allocation record.",
                                                            "properties": {
                                                                "warehouseId": {
                                                                    "type": "string",
                                                                    "description": "Warehouse identifier."
                                                                },
                                                                "warehouseName": {
                                                                    "type": "string",
                                                                    "description": "Warehouse display name."
                                                                },
                                                                "quantity": {
                                                                    "type": "integer",
                                                                    "description": "Quantity allocated from the warehouse."
                                                                }
                                                            },
                                                            "required": [
                                                                "warehouseId",
                                                                "warehouseName",
                                                                "quantity"
                                                            ]
                                                        }
                                                    },
                                                    "createdAt": {
                                                        "type": "string",
                                                        "description": "Rejected item creation date in ISO 8601 format.",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "sku",
                                                    "referenceCode",
                                                    "itemName",
                                                    "price",
                                                    "pickingPrice",
                                                    "quantity",
                                                    "originalQuantity",
                                                    "replacedBy",
                                                    "weighableProduct",
                                                    "unitMultiplier",
                                                    "originalUnitMultiplier",
                                                    "unitOfMeasure",
                                                    "images",
                                                    "ean",
                                                    "status",
                                                    "packedQuantity",
                                                    "reasons",
                                                    "pickers",
                                                    "worksheets",
                                                    "warehouses",
                                                    "createdAt"
                                                ]
                                            }
                                        },
                                        "replacedItems": {
                                            "type": "array",
                                            "description": "Items that replaced other items or were themselves replacements.",
                                            "items": {
                                                "type": "object",
                                                "description": "Replacement order item.",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Replaced item ID."
                                                    },
                                                    "referenceCode": {
                                                        "type": "string",
                                                        "description": "Replaced item reference code."
                                                    },
                                                    "orderSource": {
                                                        "type": "string",
                                                        "description": "Order source."
                                                    },
                                                    "originalQuantity": {
                                                        "type": "integer",
                                                        "description": "Replaced item original quantity."
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "description": "Replaced item image."
                                                    },
                                                    "temperature": {
                                                        "type": "string",
                                                        "nullable": true,
                                                        "enum": [
                                                            "COLD",
                                                            "FROZEN",
                                                            "AMBIENT",
                                                            "HOT"
                                                        ],
                                                        "description": "Replaced item temperature."
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "referenceCode",
                                                    "name",
                                                    "originalQuantity",
                                                    "image",
                                                    "orderSource",
                                                    "temperature"
                                                ]
                                            }
                                        },
                                        "packages": {
                                            "type": "array",
                                            "description": "List of packages created for the order.",
                                            "items": {
                                                "type": "object",
                                                "description": "Order package.",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Package identifier."
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "description": "Package status.",
                                                        "enum": [
                                                            "IN_PROGRESS",
                                                            "PENDING",
                                                            "COLLECTED",
                                                            "COMPLETED",
                                                            "READY_FOR_PACKING",
                                                            "PACKING",
                                                            "PACKED",
                                                            "SORTING",
                                                            "CANCELLED",
                                                            "REJECTED"
                                                        ]
                                                    },
                                                    "itemsIds": {
                                                        "type": "array",
                                                        "description": "List of identifiers of items included in this package.",
                                                        "items": {
                                                            "type": "string",
                                                            "description": "Item ID contained in the package."
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "status",
                                                    "itemsIds"
                                                ]
                                            }
                                        },
                                        "payment": {
                                            "type": "array",
                                            "description": "List of payments linked to this order.",
                                            "items": {
                                                "type": "object",
                                                "description": "Order payment.",
                                                "properties": {
                                                    "paymentId": {
                                                        "type": "string",
                                                        "description": "Payment identifier."
                                                    },
                                                    "paymentName": {
                                                        "type": "string",
                                                        "description": "Payment method name."
                                                    },
                                                    "transactionId": {
                                                        "type": "string",
                                                        "description": "Payment gateway transaction identifier."
                                                    },
                                                    "currency": {
                                                        "type": "object",
                                                        "description": "Currency details.",
                                                        "properties": {
                                                            "symbol": {
                                                                "type": "string",
                                                                "description": "Currency symbol."
                                                            },
                                                            "code": {
                                                                "type": "string",
                                                                "description": "ISO 4217 currency code."
                                                            },
                                                            "decimalSeparator": {
                                                                "type": "string",
                                                                "description": "Decimal separator character."
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "description": "Currency display name or code."
                                                            },
                                                            "decimalDigits": {
                                                                "type": "integer",
                                                                "description": "Number of decimal digits."
                                                            },
                                                            "groupSize": {
                                                                "type": "integer",
                                                                "description": "Digit group size for thousands."
                                                            },
                                                            "groupSeparator": {
                                                                "type": "string",
                                                                "description": "Thousands group separator character."
                                                            }
                                                        },
                                                        "required": [
                                                            "symbol",
                                                            "code",
                                                            "decimalSeparator",
                                                            "name",
                                                            "decimalDigits",
                                                            "groupSize",
                                                            "groupSeparator"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "paymentId",
                                                    "paymentName",
                                                    "transactionId",
                                                    "currency"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "orderId",
                                        "sequence",
                                        "status",
                                        "createdAt",
                                        "updatedAt",
                                        "shippingEstimatedDateMin",
                                        "tags",
                                        "pickingTime",
                                        "packingTime",
                                        "shippingTime",
                                        "invoices",
                                        "unhandledItems",
                                        "pickedItems",
                                        "rejectedItems",
                                        "replacedItems",
                                        "packages",
                                        "payment"
                                    ]
                                },
                                "example": {
                                    "orderId": "1509750516095-01",
                                    "sequence": "516095",
                                    "status": "IN_PROGRESS",
                                    "createdAt": "2025-02-10T15:02:50.545Z",
                                    "updatedAt": "2025-02-11T18:27:35.599Z",
                                    "shippingEstimatedDateMin": "2025-02-10T15:06:48.9411586+00:00",
                                    "tags": [],
                                    "pickingTime": 27.116,
                                    "packingTime": 14.533,
                                    "shippingTime": 0,
                                    "invoices": [
                                        {
                                            "invoiceKey": "key-78923479834",
                                            "invoiceTotal": 2000322
                                        }
                                    ],
                                    "unhandledItems": [],
                                    "pickedItems": [
                                        {
                                            "id": "75",
                                            "sku": "75",
                                            "referenceCode": "000673",
                                            "itemName": "Banana, 190g Banana, 190",
                                            "price": 1699,
                                            "pickingPrice": 322,
                                            "quantity": 1,
                                            "originalQuantity": 1,
                                            "replacedBy": null,
                                            "weighableProduct": true,
                                            "unitMultiplier": 0.19,
                                            "originalUnitMultiplier": 0.19,
                                            "unitOfMeasure": "KILOGRAMS",
                                            "images": [
                                                "https://lastmile.vteximg.com.br/arquivos/ids/155763-55-55/75.jpg?v=637917697038830000"
                                            ],
                                            "ean": "EAN174",
                                            "status": "COMPLETED",
                                            "packedQuantity": 1,
                                            "reasons": null,
                                            "pickers": ["returnsconnect"],
                                            "worksheets": ["546206888193"],
                                            "warehouses": [
                                                {
                                                    "warehouseId": "9029",
                                                    "warehouseName": "ColombiaMAIN",
                                                    "quantity": 1
                                                }
                                            ],
                                            "createdAt": "2025-02-10T18:58:27.790Z"
                                        },
                                        {
                                            "id": "137",
                                            "sku": "137",
                                            "referenceCode": "000673",
                                            "itemName": "Water 1.5 L",
                                            "price": 1000000,
                                            "pickingPrice": 1000000,
                                            "quantity": 1,
                                            "originalQuantity": 1,
                                            "replacedBy": null,
                                            "weighableProduct": false,
                                            "unitMultiplier": 1,
                                            "originalUnitMultiplier": 1,
                                            "unitOfMeasure": "UNITS",
                                            "images": [
                                                "https://lastmile.vteximg.com.br/arquivos/ids/155828-55-55/Water.jpg?v=638115564398670000"
                                            ],
                                            "ean": "EAN241",
                                            "status": "COMPLETED",
                                            "packedQuantity": 1,
                                            "reasons": null,
                                            "pickers": ["returnsconnect"],
                                            "worksheets": ["546206888193"],
                                            "warehouses": [
                                                {
                                                    "warehouseId": "9029",
                                                    "warehouseName": "ColombiaMAIN",
                                                    "quantity": 1
                                                }
                                            ],
                                            "createdAt": "2025-02-10T18:58:37.139Z"
                                        },
                                        {
                                            "id": "140",
                                            "sku": "140",
                                            "referenceCode": "000673",
                                            "itemName": "Ball",
                                            "price": 1000000,
                                            "pickingPrice": 1000000,
                                            "quantity": 1,
                                            "originalQuantity": 1,
                                            "replacedBy": null,
                                            "weighableProduct": false,
                                            "unitMultiplier": 1,
                                            "originalUnitMultiplier": 1,
                                            "unitOfMeasure": "UNITS",
                                            "images": [
                                                "https://lastmile.vteximg.com.br/arquivos/ids/155831-55-55/Ball.jpg?v=638115565920770000"
                                            ],
                                            "ean": "EAN244",
                                            "status": "COMPLETED",
                                            "packedQuantity": 1,
                                            "reasons": null,
                                            "pickers": ["returnsconnect"],
                                            "worksheets": ["546206888193"],
                                            "warehouses": [
                                                {
                                                    "warehouseId": "9029",
                                                    "warehouseName": "ColombiaMAIN",
                                                    "quantity": 1
                                                }
                                            ],
                                            "createdAt": "2025-02-10T18:58:39.805Z"
                                        }
                                    ],
                                    "rejectedItems": [
                                        {
                                            "id": "139",
                                            "sku": "139",
                                            "referenceCode": "000673",
                                            "itemName": "Lettuce",
                                            "price": 1000000,
                                            "pickingPrice": 1000000,
                                            "quantity": 1,
                                            "originalQuantity": 1,
                                            "replacedBy": null,
                                            "weighableProduct": false,
                                            "unitMultiplier": 1,
                                            "originalUnitMultiplier": 1,
                                            "unitOfMeasure": "UNITS",
                                            "images": [
                                                "https://lastmile.vteximg.com.br/arquivos/ids/155830-55-55/Lettuce.jpg?v=638115565486870000"
                                            ],
                                            "ean": "EAN243",
                                            "status": "COMPLETED",
                                            "packedQuantity": null,
                                            "reasons": [
                                                {
                                                    "reasonType": "1509750516095-01",
                                                    "reasonDetail": "out-of-stock"
                                                }
                                            ],
                                            "pickers": ["returnsconnect"],
                                            "worksheets": ["546206888193"],
                                            "warehouses": [
                                                {
                                                    "warehouseId": "9029",
                                                    "warehouseName": "ColombiaMAIN",
                                                    "quantity": 1
                                                }
                                            ],
                                            "createdAt": "2025-02-10T18:58:31.021Z"
                                        }
                                    ],
                                    "replacedItems": [],
                                    "packages": [
                                        {
                                            "id": "b05a0fa9-a11e-476e-bf58-677cf0431424",
                                            "status": "PACKED",
                                            "itemsIds": ["75", "140", "137"]
                                        }
                                    ],
                                    "payment": [
                                        {
                                            "paymentId": "C92F6C921B1E450B9F22310A96EE88DC",
                                            "paymentName": "Cash",
                                            "transactionId": "8EAB87B7EB2746DAABD673664C9E15BE",
                                            "currency": {
                                                "symbol": "$",
                                                "code": "MXN",
                                                "decimalSeparator": ".",
                                                "name": "MXN",
                                                "decimalDigits": 2,
                                                "groupSize": 3,
                                                "groupSeparator": ","
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/403Expiredtoken"
                                        },
                                        {
                                            "$ref": "#/components/schemas/403Forbidden"
                                        }
                                    ]
                                },
                                "examples": {
                                    "ExpiredToken": {
                                        "summary": "Example of an expired token error",
                                        "value": {
                                            "message": "User is not authorized to access this resource with an explicit deny",
                                            "code": "EXPIRED_TOKEN",
                                            "reason": "Expired token",
                                            "requestId": "1a36389e-0050-436e-a1d0-14cfb6508c2f"
                                        }
                                    },
                                    "Forbidden": {
                                        "summary": "Example of a forbidden access error",
                                        "value": {
                                            "type": "business",
                                            "code": "SHR0007B",
                                            "message": "You do not have access to this order [1481120515528-01]",
                                            "date": "2024-12-04T01:03:29.495Z",
                                            "requestId": "3d292319-2129-47b6-a748-92a8be02576a"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod/v1",
                        "description": "Server to access the Pick and Pack API."
                    }
                ]
            }
        },
        "/orders/{orderId}/tracking": {
            "patch": {
                "tags": ["Orders"],
                "summary": "Set order delivery",
                "description": "This endpoint finalizes the Pick and Pack workflow by marking the order as delivered. Additionally, it allows you to update the OMS with shipping details. All fields are optional. For more information, see [Update order tracking status](https://developers.vtex.com/docs/api-reference/orders-api#put-/api/oms/pvt/orders/-orderId-/invoice/-invoiceNumber-/tracking) endpoint.\n\n>ℹ️ [Generate a JWT token](https://developers.vtex.com/docs/api-reference/pick-and-pack-api#post-/token) to endpoint authentication. JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way for securely transmitting information as a JSON object between parties.\r\n\r\n## Permissions\r\n\r\nAny user or [API key](https://developers.vtex.com/docs/guides/api-authentication-using-api-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| Catalog | Administration | **Homepage** |\r\n| Catalog | Administration | **Help home page** |\r\n\r\nYou can [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) with that resource or use one of the following [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy):\r\n\r\n| **Role** | **Resource** | \r\n| --------------- | ----------------- | \r\n| Admin - Start page only | Homepage |\r\n| Admin - Start page only | Help home page |\r\n\r\n>❗ Assigning a [predefined role](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) to users or API keys usually grants permission to multiple [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3). If some of these permissions are not necessary, consider creating a custom role instead. For more information regarding security, see [Best practices for using API keys](https://help.vtex.com/en/tutorial/best-practices-api-keys--7b6nD1VMHa49aI5brlOvJm). To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Order ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "1506390515917-01"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "deliveredDate": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true,
                                        "description": "Date and time when the order was delivered."
                                    },
                                    "events": {
                                        "type": "array",
                                        "description": "List of events that occurred during the delivery process.",
                                        "items": {
                                            "type": "object",
                                            "required": [
                                                "city",
                                                "state",
                                                "description",
                                                "date"
                                            ],
                                            "description": "Event details.",
                                            "properties": {
                                                "city": {
                                                    "type": "string",
                                                    "description": "City where the event occurred."
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "description": "State where the event occurred."
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "description": "Event description."
                                                },
                                                "date": {
                                                    "type": "string",
                                                    "description": "Date and time when the event occurred."
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "deliveredDate": "2025-02-13T02:00:00.000Z",
                                    "events": [
                                        {
                                            "city": "São Paulo",
                                            "state": "SP",
                                            "description": "Delivery",
                                            "date": "2025-02-10T00:00:00.000Z"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "deliveredDate": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true,
                                            "description": "Date and time when the order was delivered."
                                        },
                                        "events": {
                                            "type": "array",
                                            "description": "List of events that occurred during the delivery process.",
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "city",
                                                    "state",
                                                    "description",
                                                    "date"
                                                ],
                                                "description": "Event details.",
                                                "properties": {
                                                    "city": {
                                                        "type": "string",
                                                        "description": "City where the event occurred."
                                                    },
                                                    "state": {
                                                        "type": "string",
                                                        "description": "State where the event occurred."
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "description": "Event description."
                                                    },
                                                    "date": {
                                                        "type": "string",
                                                        "description": "Date and time when the event occurred."
                                                    }
                                                }
                                            }
                                        },
                                        "orderId": {
                                            "type": "string",
                                            "description": "Unique order identifier associated with this delivery tracking record."
                                        }
                                    }
                                },
                                "example": {
                                    "deliveredDate": "2025-02-13T02:00:00.000Z",
                                    "events": [
                                        {
                                            "city": "São Paulo",
                                            "state": "SP",
                                            "description": "Delivery",
                                            "date": "2025-02-10T00:00:00.000Z"
                                        }
                                    ],
                                    "orderId": "1507400515991-01"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Notfound"
                                },
                                "example": {
                                    "type": "exception",
[...]
