{
    "openapi": "3.0.0",
    "info": {
        "title": "Pick and Pack API",
        "description": "The Pick and Pack API provides comprehensive functionality for order management, picking operations, shipment tracking, and returns processing. The main capabilities include:\n\n- Retrieving detailed order information including items, packages, and status\n\n- Accessing worksheet data for picking operations\n\n- Querying shipment tracking and delivery details\n\n- Getting facility information",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://auth.pickingnpacking.com/prod/{environment}",
            "variables": {
                "environment": {
                    "default": "DefaultParameterValue",
                    "description": "Server to access the authentication necessary to make a request in the Pick and Pack Provider API."
                }
            }
        },
        {
            "url": "https://api.pick-and-pack.com/prod/v1/{environment}",
            "variables": {
                "environment": {
                    "default": "DefaultParameterValue",
                    "description": "Server to access the authentication necessary to make a request in the Pick and Pack Provider API."
                }
            }
        }
    ],
    "paths": {
        "/token": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Create JWT token",
                "description": "Creates a `JWT` (JSON Web Token) necessary to access the Pick and Pack Last Mile Protocol API information.\r\n\r\n>ℹ️ To generate the `JWT` it is necessary to have the `API KEY` previously generated by the Pick and Pack team.\r\n\r\n## Permissions\r\n\r\nThis endpoint does not require [permissions](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatetokenRequest"
                            },
                            "example": {
                                "apiKey": "{pnpApiKey}"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Success message."
                                        },
                                        "data": {
                                            "type": "string",
                                            "description": "JWT token."
                                        }
                                    }
                                },
                                "example": {
                                    "message": "success",
                                    "data": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJob3N0bmFtZSI6Imxhc3RtaWxlIiwidXNlcm5hbWUiOiJsYXN0bWlsZS5jcmlzdGlhbnJvbWVyb3Z0ZXhjb20iLCJpYXQiOjE3Mzk0NDkyNTMsImV4cCI6MTczOTQ1MDE1M30.lkb1e5XDuUBddthwaxrvi_Ub0YBEAEessJy_bvzb-do"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://auth.pickingnpacking.com/prod/{environment}",
                        "variables": {
                            "environment": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/orders/{orderId}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get order",
                "description": "Retrieves order details by its ID.\n\n>ℹ️ The response is cached for 30 seconds based on the `orderId` parameter. Rate limited to 30 requests per second with a maximum of 100 concurrent requests.\r\n\r\n## Permissions\r\n\r\nAny user or [application key](https://developers.vtex.com/docs/guides/api-authentication-using-application-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| OMS | OMS access | **View order** |\r\n| OMS | OMS access | **Only show orders created by the user (via call center)** |\r\n| Catalog | Telesales | **Assisted Sales** |\r\n\r\nThere are no applicable [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) for this resource list. You must [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) and add at least one of the resources above in order to use this endpoint. To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).\r\n\r\n>\u2757 To prevent integrations from having excessive permissions, consider the [best practices for managing app keys](https://help.vtex.com/en/tutorial/best-practices-application-keys--7b6nD1VMHa49aI5brlOvJm) when assigning License Manager roles to integrations.",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Order ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "1509750516095-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/403Expiredtoken1"
                                },
                                "example": {
                                    "message": "User is not authorized to access this resource with an explicit deny",
                                    "code": "EXPIRED_TOKEN",
                                    "reason": "Expired token",
                                    "requestId": "1a36389e-0050-436e-a1d0-14cfb6508c2f"
                                }
                            },
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/403Forbidden1"
                                },
                                "example": {
                                    "type": "business",
                                    "code": "SHR0007B",
                                    "message": "You do not have access to this order [1481120515528-01]",
                                    "date": "2024-12-04T01:03:29.495Z",
                                    "requestId": "3d292319-2129-47b6-a748-92a8be02576a"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod/v1/{environment}",
                        "variables": {
                            "environment": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/orders/{orderId}/tracking": {
            "patch": {
                "tags": [
                    "Orders"
                ],
                "summary": "Set order delivery",
                "description": "This endpoint finalizes the Pick and Pack workflow by marking the order as delivered. Additionally, it allows you to update the OMS with shipping details. All fields are optional. For more information, see [Update order tracking status](https://developers.vtex.com/docs/api-reference/orders-api#put-/api/oms/pvt/orders/-orderId-/invoice/-invoiceNumber-/tracking) endpoint.\r\n\r\n## Permissions\r\n\r\nAny user or [application key](https://developers.vtex.com/docs/guides/api-authentication-using-application-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| OMS | OMS access | **View order** |\r\n| OMS | OMS access | **Only show orders created by the user (via call center)** |\r\n| Catalog | Telesales | **Assisted Sales** |\r\n\r\nThere are no applicable [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) for this resource list. You must [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) and add at least one of the resources above in order to use this endpoint. To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).\r\n\r\n>\u2757 To prevent integrations from having excessive permissions, consider the [best practices for managing app keys](https://help.vtex.com/en/tutorial/best-practices-application-keys--7b6nD1VMHa49aI5brlOvJm) when assigning License Manager roles to integrations.",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Order ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "1506390515917-01"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "deliveredDate": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Date and time when the order was delivered."
                                    },
                                    "events": {
                                        "type": "array",
                                        "description": "List of events that occurred during the delivery process.",
                                        "items": {
                                            "type": "object",
                                            "description": "Event details.",
                                            "properties": {
                                                "city": {
                                                    "type": "string",
                                                    "description": "City where the event occurred."
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "description": "State where the event occurred."
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "description": "Event description."
                                                },
                                                "date": {
                                                    "type": "string",
                                                    "description": "Date and time when the event occurred."
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "deliveredDate": "2025-02-13T02:00:00.000Z",
                                    "events": [
                                        {
                                            "city": "São Paulo",
                                            "state": "SP",
                                            "description": "Delivery",
                                            "date": "2025-02-10T00:00:00.000Z"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetOrderDelivery"
                                },
                                "example": {
                                    "deliveredDate": "2025-02-13T02:00:00.000Z",
                                    "events": [
                                        {
                                            "city": "São Paulo",
                                            "state": "SP",
                                            "description": "Delivery",
                                            "date": "2025-02-10T00:00:00.000Z"
                                        }
                                    ],
                                    "orderId": "1507400515991-01"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Invoicenotfound1"
                                },
                                "example": {
                                    "type": "exception",
                                    "code": "ORA0001B",
                                    "message": "The order must be invoiced to update the status to delivered",
                                    "date": "2025-02-13T11:29:50.757Z",
                                    "requestId": "a82ec832-14cc-4a53-ad50-de67538bc934"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod/v1/{environment}",
                        "variables": {
                            "environment": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/worksheets/{worksheetId}": {
            "get": {
                "tags": [
                    "Worksheets"
                ],
                "summary": "Get worksheet",
                "description": "Retrieves worksheet details by ID.\n\n>ℹ️ The response is cached for 30 seconds based on the `worksheetId` parameter. Rate limited to 30 requests per second with a maximum of 100 concurrent requests.\r\n\r\n## Permissions\r\n\r\nAny user or [application key](https://developers.vtex.com/docs/guides/api-authentication-using-application-keys) must have at least one of the appropriate [License Manager resources](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3) to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:\r\n\r\n| **Product** | **Category** | **Resource** |\r\n| --------------- | ----------------- | ----------------- |\r\n| OMS | OMS access | **View order** |\r\n| OMS | OMS access | **Only show orders created by the user (via call center)** |\r\n| Catalog | Telesales | **Assisted Sales** |\r\n\r\nThere are no applicable [predefined roles](https://help.vtex.com/en/tutorial/predefined-roles--jGDurZKJHvHJS13LnO7Dy) for this resource list. You must [create a custom role](https://help.vtex.com/en/tutorial/roles--7HKK5Uau2H6wxE1rH5oRbc#creating-a-role) and add at least one of the resources above in order to use this endpoint. To learn more about machine authentication at VTEX, see [Authentication overview](https://developers.vtex.com/docs/guides/authentication).\r\n\r\n>\u2757 To prevent integrations from having excessive permissions, consider the [best practices for managing app keys](https://help.vtex.com/en/tutorial/best-practices-application-keys--7b6nD1VMHa49aI5brlOvJm) when assigning License Manager roles to integrations.",
                "parameters": [
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "description": "Worksheet ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 546744628006
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorksheetResponse"
                                },
                                "example": {
                                    "id": "c13ed6d8-1c86-4ad9-be63-5e2f4c5451b2",
                                    "worksheetId": "546744628006",
                                    "initDate": "2025-02-11T00:33:18.584Z",
                                    "finishedDate": null,
                                    "status": "COMPLETED",
                                    "createdAt": "2025-02-11T00:32:47.542Z",
                                    "priority": 0,
                                    "categoriesIds": [
                                        "12",
                                        "6",
                                        "7",
                                        "9"
                                    ],
                                    "lastPickedItemTime": 1739233967327,
                                    "finishEstimatedDate": "2025-02-13T16:03:55.202Z",
                                    "hostname": "lastmile",
                                    "pickerAssignment": [
                                        {
                                            "active": true,
                                            "assignmentDate": "2025-02-11T00:32:48.194Z",
                                            "notes": [],
                                            "method": "MANUAL",
                                            "pickerId": "pickertalleruno",
                                            "finishedDate": null
                                        }
                                    ],
                                    "totalCompletedItems": 4,
                                    "totalPackedItems": 4,
                                    "updatedAt": "2025-02-11T18:47:53.970Z",
                                    "lastStatusChangeTime": 1739234051187,
                                    "totalItems": 4,
                                    "ordersIds": [
                                        {
                                            "totalValue": 14000000,
                                            "orderId": "1509780516107-01",
                                            "unitsQuantity": 16,
                                            "itemsQuantity": 4,
                                            "shippingEstimatedDate": "2025-02-10T17:41:24.986Z",
                                            "isInvoiced": true,
                                            "priority": 561.2
                                        }
                                    ],
                                    "facilityId": "783262b09ddc4b8facee2fa50541fd1e",
                                    "items": [
                                        {
                                            "id": "73",
                                            "name": "Tic Tac Menta X 24 Cajitas",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155761-55-55/73.jpg?v=637917696200900000",
                                            "temperature": "AMBIENT",
                                            "categories": [
                                                {
                                                    "id": "6",
                                                    "name": "Food"
                                                }
                                            ],
                                            "itemAssignment": {
                                                "startPickingAt": "2025-02-11T00:33:17.511Z",
                                                "assignedAt": "2025-02-10T17:37:35.170Z",
                                                "finishedAt": "2025-02-11T00:34:04.417Z"
                                            },
                                            "originalQuantity": 4,
                                            "completedQuantity": 4,
                                            "pickedQuantity": 4,
                                            "rejectedQuantity": 0,
                                            "replacedQuantity": 0,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "currencyCode": "MXN",
                                                    "status": "DELIVERED",
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "rejectedQuantity": 0,
                                                    "replacedQuantity": 0,
                                                    "replacedBy": [],
                                                    "notes": []
                                                }
                                            ]
                                        },
                                        {
                                            "id": "88",
                                            "name": "Porta Comida Lonchera Electrica Portable Home Elements",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155776-55-55/88.jpg?v=637917703437530000",
                                            "temperature": "AMBIENT",
                                            "categories": [
                                                {
                                                    "id": "7",
                                                    "name": "Home Appliances"
                                                }
                                            ],
                                            "itemAssignment": {
                                                "startPickingAt": "2025-02-11T00:33:18.809Z",
                                                "assignedAt": "2025-02-10T17:37:35.170Z",
                                                "finishedAt": "2025-02-11T00:34:04.417Z"
                                            },
                                            "originalQuantity": 4,
                                            "completedQuantity": 4,
                                            "pickedQuantity": 4,
                                            "rejectedQuantity": 0,
                                            "replacedQuantity": 0,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "currencyCode": "MXN",
                                                    "status": "DELIVERED",
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "rejectedQuantity": 0,
                                                    "replacedQuantity": 0,
                                                    "replacedBy": [],
                                                    "notes": []
                                                }
                                            ]
                                        },
                                        {
                                            "id": "116",
                                            "name": "Pedigree Alimento Para Perro Adulto 15 Kg",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155804-55-55/116.jpg?v=637919000315400000",
                                            "temperature": "AMBIENT",
                                            "categories": [
                                                {
                                                    "id": "9",
                                                    "name": "Pets"
                                                }
                                            ],
                                            "itemAssignment": {
                                                "startPickingAt": "2025-02-11T00:33:20.184Z",
                                                "assignedAt": "2025-02-10T17:37:35.170Z",
                                                "finishedAt": "2025-02-11T00:34:04.417Z"
                                            },
                                            "originalQuantity": 4,
                                            "completedQuantity": 4,
                                            "pickedQuantity": 4,
                                            "rejectedQuantity": 0,
                                            "replacedQuantity": 0,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "currencyCode": "MXN",
                                                    "status": "DELIVERED",
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "rejectedQuantity": 0,
                                                    "replacedQuantity": 0,
                                                    "replacedBy": [],
                                                    "notes": []
                                                }
                                            ]
                                        },
                                        {
                                            "id": "1224",
                                            "name": "Blusa amarilla XL",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155810-55-55/Blusa.png?v=637919004662770000",
                                            "temperature": "AMBIENT",
                                            "categories": [
                                                {
                                                    "id": "12",
                                                    "name": "Apparel"
                                                }
                                            ],
                                            "itemAssignment": {
                                                "startPickingAt": "2025-02-11T00:33:21.546Z",
                                                "assignedAt": "2025-02-10T17:37:35.170Z",
                                                "finishedAt": "2025-02-11T00:34:04.417Z"
                                            },
                                            "originalQuantity": 4,
                                            "completedQuantity": 4,
                                            "pickedQuantity": 4,
                                            "rejectedQuantity": 0,
                                            "replacedQuantity": 0,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 500000,
                                                    "listPrice": 700000,
                                                    "currencyCode": "MXN",
                                                    "status": "DELIVERED",
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "rejectedQuantity": 0,
                                                    "replacedQuantity": 0,
                                                    "replacedBy": [],
                                                    "notes": []
                                                }
                                            ]
                                        }
                                    ],
                                    "pickedItems": [
                                        {
                                            "id": "73",
                                            "name": "Tic Tac Menta X 24 Cajitas",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155761-55-55/73.jpg?v=637917696200900000",
                                            "temperature": "AMBIENT",
                                            "originalQuantity": 4,
                                            "pickedQuantity": 4,
                                            "packedQuantity": 4,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "packedQuantity": 4,
                                                    "currencyCode": "MXN"
                                                }
                                            ]
                                        },
                                        {
                                            "id": "88",
                                            "name": "Porta Comida Lonchera Electrica Portable Home Elements",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155776-55-55/88.jpg?v=637917703437530000",
                                            "temperature": "AMBIENT",
                                            "originalQuantity": 4,
                                            "pickedQuantity": 4,
                                            "packedQuantity": 4,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "packedQuantity": 4,
                                                    "currencyCode": "MXN"
                                                }
                                            ]
                                        },
                                        {
                                            "id": "116",
                                            "name": "Pedigree Alimento Para Perro Adulto 15 Kg",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155804-55-55/116.jpg?v=637919000315400000",
                                            "temperature": "AMBIENT",
                                            "originalQuantity": 4,
                                            "pickedQuantity": 4,
                                            "packedQuantity": 4,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 1000000,
                                                    "listPrice": 1000000,
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "packedQuantity": 4,
                                                    "currencyCode": "MXN"
                                                }
                                            ]
                                        },
                                        {
                                            "id": "1224",
                                            "name": "Blusa amarilla XL",
                                            "image": "https://lastmile.vteximg.com.br/arquivos/ids/155810-55-55/Blusa.png?v=637919004662770000",
                                            "temperature": "AMBIENT",
                                            "originalQuantity": 4,
                                            "pickedQuantity": 4,
                                            "packedQuantity": 4,
                                            "orderSource": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "sellingPrice": 500000,
                                                    "listPrice": 700000,
                                                    "quantity": 4,
                                                    "pickedQuantity": 4,
                                                    "packedQuantity": 4,
                                                    "currencyCode": "MXN"
                                                }
                                            ]
                                        }
                                    ],
                                    "rejectedItems": [],
                                    "replacedItems": [],
                                    "historicalWorksheet": []
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/404Notfound1"
                                },
                                "example": {
                                    "type": "exception",
                                    "code": "WORK0001B",
                                    "message": "Worksheet not found [5467446280061]",
                                    "date": "2025-02-13T11:34:36.574Z",
                                    "requestId": "c6ad79d4-8391-4238-8fa0-413274f87f93"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod/v1/{environment}",
                        "variables": {
                            "environment": {
                                "default": "DefaultParameterValue"
                            }
                        }
                    }
                ]
            }
        },
        "/worksheets": {
            "get": {
                "tags": [
                    "Worksheets"
                ],
                "summary": "Get Worksheets by Order",
                "description": "List all worksheets by order ID.\n\n> The response is cached for 30 seconds based on the `orderId` query parameter. Rate limited to 30 requests per second with a maximum of 100 concurrent requests.",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "query",
                        "description": "Required, filter by order ID",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "1506500515925-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:39:25 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "733"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "94ae6fcc-1f41-453c-bfa7-a1517bb40a4f"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "733"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "F6783F9uIAMEO4w="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"2dd-XZHhb8rmRBHDH6qD6QZkeQDKzto\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-67add9eb-307245f21d20b0d20e742fe0;Parent=19173dcf0b3ccd36;Sampled=0;Lineage=2:3a92b2e4:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:39:25 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/m2004"
                                    },
                                    "description": "",
                                    "example": [
                                        {
                                            "id": "c13ed6d8-1c86-4ad9-be63-5e2f4c5451b2",
                                            "facilityId": "783262b09ddc4b8facee2fa50541fd1e",
                                            "worksheetId": "546744628006",
                                            "categoriesIds": [
                                                "12",
                                                "6",
                                                "7",
                                                "9"
                                            ],
                                            "finishedDate": null,
                                            "initDate": "2025-02-11T00:33:18.584Z",
                                            "status": "COMPLETED",
                                            "ordersIds": [
                                                {
                                                    "orderId": "1509780516107-01",
                                                    "unitsQuantity": 16,
                                                    "itemsQuantity": 4
                                                }
                                            ],
                                            "hostname": "lastmile",
                                            "items": [],
                                            "pickerAssignment": [
                                                {
                                                    "notes": [],
                                                    "method": "MANUAL",
                                                    "active": true,
                                                    "assignmentDate": "2025-02-11T00:32:48.194Z",
                                                    "pickerId": "pickertalleruno",
                                                    "finishedDate": null
                                                }
                                            ],
                                            "itemsQuantity": 4,
                                            "unitsQuantity": 16,
                                            "completedUnitsQuantity": 16,
                                            "packedUnitsQuantity": 4,
                                            "deliveryWindow": {
                                                "minDate": "2025-02-13T16:03:55.202Z",
                                                "maxDate": "2025-02-13T16:03:55.202Z"
                                            },
                                            "createdAt": "2025-02-11T00:32:47.542Z"
                                        }
                                    ]
                                },
                                "example": [
                                    {
                                        "id": "c13ed6d8-1c86-4ad9-be63-5e2f4c5451b2",
                                        "facilityId": "783262b09ddc4b8facee2fa50541fd1e",
                                        "worksheetId": "546744628006",
                                        "categoriesIds": [
                                            "12",
                                            "6",
                                            "7",
                                            "9"
                                        ],
                                        "finishedDate": null,
                                        "initDate": "2025-02-11T00:33:18.584Z",
                                        "status": "COMPLETED",
                                        "ordersIds": [
                                            {
                                                "orderId": "1509780516107-01",
                                                "unitsQuantity": 16,
                                                "itemsQuantity": 4
                                            }
                                        ],
                                        "hostname": "lastmile",
                                        "items": [],
                                        "pickerAssignment": [
                                            {
                                                "notes": [],
                                                "method": "MANUAL",
                                                "active": true,
                                                "assignmentDate": "2025-02-11T00:32:48.194Z",
                                                "pickerId": "pickertalleruno",
                                                "finishedDate": null
                                            }
                                        ],
                                        "itemsQuantity": 4,
                                        "unitsQuantity": 16,
                                        "completedUnitsQuantity": 16,
                                        "packedUnitsQuantity": 4,
                                        "deliveryWindow": {
                                            "minDate": "2025-02-13T16:03:55.202Z",
                                            "maxDate": "2025-02-13T16:03:55.202Z"
                                        },
                                        "createdAt": "2025-02-11T00:32:47.542Z"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:36:45 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "173"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "553afcd5-0402-4b2d-9f98-ce1dd6d1d34d"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "173"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "F67j_ErzIAMEizw="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"ad-Ku5i1Ljm9YWAVFFslazquhWaKzo\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-67add94c-6c843a022d23f98e4d3234cf;Parent=0da1dc65b18a546d;Sampled=0;Lineage=2:3a92b2e4:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:36:45 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/400OrderIDisrequiredCopy1"
                                        },
                                        {
                                            "example": {
                                                "type": "business",
                                                "code": null,
                                                "message": "Query string parameter {orderId} is required",
                                                "date": "2025-02-13T11:36:45.256Z",
                                                "requestId": "e1703db0-aaf9-4b80-9726-c8adc9bb9e92"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "type": "business",
                                    "code": null,
                                    "message": "Query string parameter {orderId} is required",
                                    "date": "2025-02-13T11:36:45.256Z",
                                    "requestId": "e1703db0-aaf9-4b80-9726-c8adc9bb9e92"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:45:22 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "190"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "ef624bd8-d417-4b27-b5db-6c020fb3ac2c"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "190"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "F680wFyGoAMETGg="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"be-/pgar2Y3LE75mToyVmCZqGS4290\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-67addb51-3511b8204b452eef03bdca18;Parent=6c9dfa7843ce828f;Sampled=0;Lineage=2:3a92b2e4:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:45:22 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/403Forbidden1"
                                        },
                                        {
                                            "example": {
                                                "type": "business",
                                                "code": "SHR0007B",
                                                "message": "You do not have access to this order [1480360836343-01]",
                                                "date": "2025-02-13T11:45:22.206Z",
                                                "requestId": "72c1e5d7-0877-469e-805e-75e948ce8461"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "type": "business",
                                    "code": "SHR0007B",
                                    "message": "You do not have access to this order [1480360836343-01]",
                                    "date": "2025-02-13T11:45:22.206Z",
                                    "requestId": "72c1e5d7-0877-469e-805e-75e948ce8461"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod/v1",
                        "variables": {}
                    }
                ]
            }
        },
        "/facilities/{facilityId}": {
            "get": {
                "tags": [
                    "Facilities"
                ],
                "summary": "Get Facility",
                "description": "Retrieve facility details by ID.\n\n> The response is cached for 30 seconds based on the `facilityId` parameter. Rate limited to 30 requests per second with a maximum of 100 concurrent requests.",
                "parameters": [
                    {
                        "name": "facilityId",
                        "in": "path",
                        "description": "Facility ID to retrieve",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "783262b09ddc4b8facee2fa50541fd1e"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:47:04 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "434"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "2df600c2-e7fa-4e6b-bbb6-96714dcb115b"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "434"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "F69EXFp9IAMEbWA="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"1b2-5A33JI/5OWvQ45pDZCszOzNnOWM\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-67addbb5-36dc9db841f0780237f1f454;Parent=74373131d52b6d76;Sampled=0;Lineage=2:e5b1a1f2:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:47:04 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/m2005"
                                        },
                                        {
                                            "example": {
                                                "id": "783262b09ddc4b8facee2fa50541fd1e",
                                                "address": "Centro Comercial El Tesoro  ",
                                                "addressComplement": "",
                                                "city": "Medellín",
                                                "contactInformation": {
                                                    "email": "test@test.com",
                                                    "name": "lastmile",
                                                    "phone": "310001293"
                                                },
                                                "country": "COL",
                                                "location": {
                                                    "latitude": 6.1965477999999994,
                                                    "longitude": -75.558908
                                                },
                                                "name": "lastmile",
                                                "neighborhood": "El Poblado",
                                                "number": "650",
                                                "postalCode": "050022",
                                                "reference": "Centro Comercial El Tesoro",
                                                "state": "Antioquia"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "id": "783262b09ddc4b8facee2fa50541fd1e",
                                    "address": "Centro Comercial El Tesoro  ",
                                    "addressComplement": "",
                                    "city": "Medellín",
                                    "contactInformation": {
                                        "email": "test@test.com",
                                        "name": "lastmile",
                                        "phone": "310001293"
                                    },
                                    "country": "COL",
                                    "location": {
                                        "latitude": 6.1965477999999994,
                                        "longitude": -75.558908
                                    },
                                    "name": "lastmile",
                                    "neighborhood": "El Poblado",
                                    "number": "650",
                                    "postalCode": "050022",
                                    "reference": "Centro Comercial El Tesoro",
                                    "state": "Antioquia"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:47:41 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "190"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "37d3db91-3c2e-4206-ac18-116cffab46cc"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "190"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "F69KXEILIAMEPfQ="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"be-DakR5vxTee512hoDgweRiRSXvAI\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-67addbdb-43b19ad37c066fa77f107337;Parent=4d60fec8b9271050;Sampled=0;Lineage=2:e5b1a1f2:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:47:41 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/404Notfound1"
                                        },
                                        {
                                            "example": {
                                                "type": "exception",
                                                "code": "FAC0001B",
                                                "message": "Facility not found [783262b09ddc4b8facee2fa50541fd1e1]",
                                                "date": "2025-02-13T11:47:41.367Z",
                                                "requestId": "3a7ab942-e023-4b45-93ca-9e30e553c60d"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "type": "exception",
                                    "code": "FAC0001B",
                                    "message": "Facility not found [783262b09ddc4b8facee2fa50541fd1e1]",
                                    "date": "2025-02-13T11:47:41.367Z",
                                    "requestId": "3a7ab942-e023-4b45-93ca-9e30e553c60d"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "Date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:48:29 GMT"
                                    }
                                }
                            },
                            "Content-Length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "209"
                                    }
                                }
                            },
                            "Connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amzn-RequestId": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "a1f3c00f-55c1-42e6-925a-972a4e8597fc"
                                    }
                                }
                            },
                            "access-control-allow-origin": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "access-control-allow-headers": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "*"
                                    }
                                }
                            },
                            "x-amzn-Remapped-content-length": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "209"
                                    }
                                }
                            },
                            "x-amzn-Remapped-connection": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "keep-alive"
                                    }
                                }
                            },
                            "x-amz-apigw-id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "F69R5EkqIAMETGg="
                                    }
                                }
                            },
                            "etag": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "W/\"d1-cxwKjOQNRt0N3vIP/9c2IbwiMTg\""
                                    }
                                }
                            },
                            "x-powered-by": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Express"
                                    }
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Root=1-67addc0b-004db424130d315a7d730142;Parent=7a134b5c0143933c;Sampled=0;Lineage=2:e5b1a1f2:0"
                                    }
                                }
                            },
                            "x-amzn-Remapped-date": {
                                "content": {
                                    "text/plain": {
                                        "schema": {
                                            "type": "string"
                                        },
                                        "example": "Thu, 13 Feb 2025 11:48:29 GMT"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/403Forbidden1"
                                        },
                                        {
                                            "example": {
                                                "type": "business",
                                                "code": "FAC0002B",
                                                "message": "You do not have access to this facility [eab44b9c48134c35b778586959129818]",
                                                "date": "2025-02-13T11:48:29.430Z",
                                                "requestId": "8f294625-193b-48d4-be5c-5de400a236e7"
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "type": "business",
                                    "code": "FAC0002B",
                                    "message": "You do not have access to this facility [eab44b9c48134c35b778586959129818]",
                                    "date": "2025-02-13T11:48:29.430Z",
                                    "requestId": "8f294625-193b-48d4-be5c-5de400a236e7"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "servers": [
                    {
                        "url": "https://api.pick-and-pack.com/prod/v1",
                        "variables": {}
                    }
                ]
            }
        },
        "/shipments/{shipmentId}": {
            "get": {
                "tags": [
                    "Shipments"
                ],
                "summary": "Get Shipment",
                "description": "Retrieves detailed information about a shipment using either the internal system ID or the carrier's tracking ID.\n\n### Path Variables\n\n- `shipmentId` (required): Can be either:\n    \n    - Internal UUID (when using BY_INTERNAL_ID filter)\n        \n    - Carrier tracking number (when using BY_EXTERNAL_ID filter)\n        \n\n### Headers\n\n- `X-PNP-FilterMethod` (required): Determines how the shipmentId will be interpreted\n    \n    - `BY_INTERNAL_ID`: Use internal system UUID\n        \n    - `BY_EXTERNAL_ID`: Use carrier tracking number\n        \n\n> The response is cached for 30 seconds based on both the `shipmentId` parameter and `X-PNP-FilterMethod` header. Rate limited to 30 requests per second with a maximum of 100 concurrent requests.",
                "parameters": [
                    {
                        "name": "shipmentId",
                        "in": "path",
                        "description": "Shipment ID to retrieve",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "number",
                            "format": "double",
[...]
