{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "VTEX Ads API",
        "description": "VTEX Ads API enables merchants and marketplace operators to synchronize product catalogs, display ads in the storefront, record ad interactions, among other operations within the VTEX Ads platform.\n\nThis API is primarily used by:\n- Store developers\n- Marketplace operators\n- Integration partners\n- Advertising platform providers\n\nWith this API you can:\n- Synchronize product catalog information for advertising\n- Track ad impressions, clicks, and views\n- Monitor conversion events and campaign performance\n- Manage ad inventory and placements\n\n>ℹ️ Learn more about [VTEX Ads](https://help.vtex.com/en/docs/tracks/retail-media).\n\n## Architecture\n\nVTEX Ads is **cookie-less**. Identification and targeting rely on first-party identifiers — `user_id` and `session_id` — rather than third-party cookies, ensuring compliance with modern privacy regulations.\n\n- **`session_id`:** Persistent visitor identifier, required in every ad query and event. It must remain stable for at least 14 days (the default conversion window). For mobile applications, send the device ID as the `session_id` (GAID on Android, IDFA on iOS) so that the session is maintained indefinitely.\n- **`user_id`:** Unique customer identifier on the publisher's platform. It must be consistent across web, mobile app, and physical store. Required in conversion events; recommended for impressions, clicks, and views.\n\n## Before you begin\n\n- **Base URLs.** The API is served from three hosts depending on the operation:\n    - `https://api-retail-media.newtail.com.br` — Catalog synchronization, Reports, Credit transfer webhook, and SSO.\n    - `https://newtail-media.newtail.com.br` — Ad query.\n    - `https://events.newtail-media.newtail.com.br` — Ads events notification (impression, click, view, conversion).\n- **Authentication.** Catalog synchronization, Reports, and SSO endpoints require the `X-App-Id` and `X-Api-Key` headers. Ad query and ads event notifications are public and do not require authentication. The Credit transfer webhook uses a different scheme: `X-Api-Key` and `X-Secret-Key` (it does not use `X-App-Id`). Contact [our support](https://help.vtex.com/en/tutorial/how-does-vtex-support-work--2eAT5EyOvaLoHdIWDVaxC3) to obtain credentials.\n- **Bulk operations.** A maximum of 500 objects per request and 3 simultaneous requests are allowed for catalog and inventory updates.\n- **Event URLs.** The event URLs for tracking impressions, clicks, and views must not be constructed manually — always use the URLs returned by `POST` [Get ads](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/v1/rma/-publisher_id-).\n- **Browser-side events.** Use `navigator.sendBeacon()` to fire impression, view, click, and conversion events from the browser. It ensures asynchronous delivery even when the user navigates away or closes the page.\n- **PII hashing.** All personally identifiable fields (`email_hashed`, `phone_hashed`, `social_id_hashed`, `first_name_hashed`, `last_name_hashed`) must be hashed with SHA-256 before being sent. Normalize values first (lowercase and trim; phone numbers in E.164 format).\n- **Reports export.** Reports return JSON by default. Set `download=true` to receive an XLSX file (capped at 20,000 rows per export).\n- **Ad query performance.** Apply a 500-600 ms timeout to ad query calls and prefer persistent HTTP connections (`Connection: keep-alive`).\n\n## Attribution and deduplication\n\n- **Default conversion window:** 14 days from the user's interaction (click for product campaigns; view for banner, video, and sponsored brand campaigns).\n- **Conversion idempotency:** Re-sending the same `order_id` within 30 days is ignored.\n- **Event deduplication:** For the same user and ad, impressions are deduplicated for 1 minute and clicks for 1 hour.\n- **Data latency:** Conversions appear in reports approximately 30 minutes (API integrations) or up to 2 hours (VTEX platform) after the order is placed.\n\n## Index\n\n### Catalog synchronization\n- `POST` [Synchronize product information](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/product/bulk/products)\n- `POST` [Synchronize inventory information](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/product/bulk/inventories)\n\n### Ads events notification\n- `POST` [Track ad impressions](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/v1/beacon/impression/-ad_id-)\n- `POST` [Track ad clicks](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/v1/beacon/click/-ad_id-)\n- `POST` [Track ad views](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/v1/beacon/view/-ad_id-)\n- `POST` [Track conversions](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/v1/beacon/conversion)\n\n### Ads\n- `POST` [Get ads](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/v1/rma/-publisher_id-)\n\n### Reports\n- `GET` [Get advertisers report](https://developers.vtex.com/docs/api-reference/vtex-ads-api#get-/report/v2/advertisers)\n- `GET` [Get publishers report](https://developers.vtex.com/docs/api-reference/vtex-ads-api#get-/report/v2/publishers)\n- `GET` [Get network publishers report](https://developers.vtex.com/docs/api-reference/vtex-ads-api#get-/report/network/publishers)\n- `GET` [List campaigns](https://developers.vtex.com/docs/api-reference/vtex-ads-api#get-/campaign/v2)\n- `GET` [Get campaign details](https://developers.vtex.com/docs/api-reference/vtex-ads-api#get-/campaign/-campaign_id-)\n- `GET` [Get advertiser campaigns detailed report](https://developers.vtex.com/docs/api-reference/vtex-ads-api#get-/report/advertisers/campaigns-detailed)\n- `GET` [Get advertiser ads detailed report](https://developers.vtex.com/docs/api-reference/vtex-ads-api#get-/report/advertisers/ads-detailed)\n- `GET` [Get ads performance report](https://developers.vtex.com/docs/api-reference/vtex-ads-api#get-/ad/results/v2)\n\n### Credit transfer\n- `POST` [Notify credit transfer status](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/webhook/marketplace/transfers/-publisher_id-)\n\n### SSO\n- `POST` [Generate seller SSO URL](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/sso/marketplace)\n\n| Parameter name | Description | Type |\n| - | - | - |\n| `X-App-Id` | Publisher App ID for authorization | Authentication header |\n| `X-Api-Key` | API Key for authentication | Authentication header |\n| `X-Secret-Key` | Secret key paired with `X-Api-Key` for the credit transfer webhook | Authentication header |\n| `Content-Type` | Type of the content being sent | Request header |\n| `Accept` | HTTP Client Negotiation Accept Header | Request header |"
    },
    "servers": [
        {
            "url": "https://api-retail-media.newtail.com.br",
            "description": "VTEX Ads server."
        },
        {
            "url": "https://newtail-media.newtail.com.br",
            "description": "VTEX Ads ad query server."
        },
        {
            "url": "https://events.newtail-media.newtail.com.br",
            "description": "VTEX Ads events server."
        }
    ],
    "paths": {
        "/product/bulk/products": {
            "servers": [
                {
                    "url": "https://api-retail-media.newtail.com.br",
                    "description": "VTEX Ads server."
                }
            ],
            "post": {
                "tags": [
                    "Catalog synchronization"
                ],
                "summary": "Synchronize product information",
                "description": "Updates the basic product data in the VTEX Ads catalog.\r\n\r\n>⚠️ For each batch insert/update, a maximum of 500 objects per request and 3 simultaneous requests are allowed.\r\n\r\n## Permissions\r\n\r\nThis endpoint does not require [License Manager resources](https://help.vtex.com/docs/tutorials/license-manager-resources).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "maxItems": 500,
                                "items": {
                                    "type": "object",
                                    "description": "Product object.",
                                    "required": [
                                        "product_sku",
                                        "name",
                                        "url",
                                        "categories"
                                    ],
                                    "properties": {
                                        "product_sku": {
                                            "type": "string",
                                            "description": "Product ID to be inserted/updated.",
                                            "example": "teste-120210"
                                        },
                                        "parent_sku": {
                                            "type": "string",
                                            "description": "SKU of the parent product.",
                                            "example": "teste-120200"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "Product name.",
                                            "example": "TechBrand Laptop Model X-15 4GB 256GB SSD 15.6\" Display Windows 11 - Gray"
                                        },
                                        "url": {
                                            "type": "string",
                                            "description": "URL of the product page.",
                                            "example": "https://www.example.com/product/4100903080"
                                        },
                                        "image_url": {
                                            "type": "string",
                                            "description": "URL of the main product image.",
                                            "example": "https://images.example.com/products/01/00/img/4100903/1/4100903143_1GG.jpg"
                                        },
                                        "categories": {
                                            "type": "array",
                                            "description": "List of product categories.",
                                            "items": {
                                                "type": "string",
                                                "description": "Product category."
                                            },
                                            "example": [
                                                "Computers",
                                                "Laptops"
                                            ]
                                        },
                                        "brand": {
                                            "type": "string",
                                            "description": "Product brand.",
                                            "example": "TechBrand"
                                        },
                                        "gtins": {
                                            "type": "array",
                                            "description": "Barcode. For Newtail Network, sending the GTIN is mandatory.",
                                            "items": {
                                                "type": "string",
                                                "description": "Product GTIN."
                                            },
                                            "example": [
                                                "7898915633481"
                                            ]
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "description": "Additional product information.",
                                            "example": {
                                                "key": "value1"
                                            }
                                        },
                                        "tags": {
                                            "type": "array",
                                            "description": "List of product tags to be used later during ad queries (`POST` [Get ads](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/v1/rma/-publisher_id-)) to better contextualize the search. Maximum of 10 tags per SKU, maximum of 64 characters per tag. Only works for Product campaigns.",
                                            "maxItems": 10,
                                            "items": {
                                                "type": "string",
                                                "maxLength": 64,
                                                "description": "Product tag."
                                            },
                                            "example": [
                                                "Special Sale"
                                            ]
                                        },
                                        "sellers": {
                                            "type": "array",
                                            "description": "List of sellers who sell that product. Maximum of 64 characters per seller.",
                                            "items": {
                                                "type": "string",
                                                "maxLength": 64,
                                                "description": "Seller name."
                                            },
                                            "example": [
                                                "Seller1",
                                                "Seller2"
                                            ]
                                        }
                                    }
                                }
                            },
                            "example": [
                                {
                                    "product_sku": "sample-120210",
                                    "name": "TechBrand Laptop Model X-15 4GB 256GB SSD 15.6\" Display Windows 11 - Gray",
                                    "url": "https://www.example.com/product/4100903080",
                                    "image_url": "https://images.example.com/products/01/00/img/4100903/1/4100903143_1GG.jpg",
                                    "categories": [
                                        "Computers",
                                        "Laptops"
                                    ],
                                    "brand": "TechBrand",
                                    "gtins": [
                                        "7898915633481"
                                    ],
                                    "metadata": {
                                        "key": "value1"
                                    }
                                },
                                {
                                    "product_sku": "sample-120211",
                                    "name": "TechBrand Laptop Model X-15 4GB 256GB SSD 15.6\" Display Windows 11 - Gray",
                                    "url": "https://www.example.com/product/4100903080",
                                    "categories": [
                                        "Computers",
                                        "Laptops"
                                    ],
                                    "brand": "TechBrand",
                                    "gtins": [
                                        "7898915633481"
                                    ],
                                    "tags": [
                                        "Mega Maio"
                                    ]
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages from the server.",
                                            "items": {
                                                "type": "string",
                                                "description": "Message from the server."
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "messages": [
                                        "products will be processed soon"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                }
            }
        },
        "/product/bulk/inventories": {
            "servers": [
                {
                    "url": "https://api-retail-media.newtail.com.br",
                    "description": "VTEX Ads server."
                }
            ],
            "post": {
                "tags": [
                    "Catalog synchronization"
                ],
                "summary": "Synchronize inventory information",
                "description": "Update inventory information, which defines the price, promotional price, and product availability.\r\n\r\n>⚠️ For each batch insert/update, a maximum of 500 objects per request and three simultaneous requests are allowed.\r\n\r\n## Permissions\r\n\r\nThis endpoint does not require [License Manager resources](https://help.vtex.com/docs/tutorials/license-manager-resources).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "maxItems": 500,
                                "items": {
                                    "type": "object",
                                    "description": "Inventory object.",
                                    "required": [
                                        "product_sku",
                                        "price",
                                        "promotional_price",
                                        "is_available"
                                    ],
                                    "properties": {
                                        "product_sku": {
                                            "type": "string",
                                            "description": "Product ID to be inserted/updated.",
                                            "example": "120210"
                                        },
                                        "store_id": {
                                            "type": "string",
                                            "description": "Store identifier. If store_id is not sent, it will be interpreted that this inventory information will be used for all stores.",
                                            "example": "1"
                                        },
                                        "price": {
                                            "type": "number",
                                            "description": "Product price.",
                                            "format": "double",
                                            "example": 18.2
                                        },
                                        "promotional_price": {
                                            "type": "number",
                                            "description": "Promotional price of the product. Use 0 to remove the promotional price.",
                                            "format": "double",
                                            "example": 16.32
                                        },
                                        "is_available": {
                                            "type": "boolean",
                                            "description": "Indicates if the product is available for sale.",
                                            "example": true
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "description": "Additional inventory information.",
                                            "example": {
                                                "warehouse": "central"
                                            }
                                        }
                                    }
                                }
                            },
                            "example": [
                                {
                                    "product_sku": "120210",
                                    "store_id": "1",
                                    "price": 18.2,
                                    "promotional_price": 16.32,
                                    "is_available": true
                                },
                                {
                                    "product_sku": "120212",
                                    "price": 18.2,
                                    "promotional_price": 0,
                                    "is_available": true
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages from the server.",
                                            "items": {
                                                "type": "string",
                                                "description": "Message from the server."
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "messages": [
                                        "inventory will be processed soon"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                }
            }
        },
        "/v1/beacon/impression/{ad_id}": {
            "servers": [
                {
                    "url": "https://events.newtail-media.newtail.com.br",
                    "description": "VTEX Ads events server."
                }
            ],
            "post": {
                "tags": [
                    "Ads events notification"
                ],
                "summary": "Track ad impressions",
                "description": "Track when an ad is rendered or visible to a user. The event URL must not be constructed manually — always use the URL provided from `POST` [Get ads](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/v1/rma/-publisher_id-).\r\n\r\n## Permissions\r\n\r\nThis endpoint does not require [License Manager resources](https://help.vtex.com/docs/tutorials/license-manager-resources).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    },
                    {
                        "name": "ad_id",
                        "in": "path",
                        "description": "Unique identifier of the ad.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4a94bc6e-7db1-425f-8430-cb4d17488b3b"
                        }
                    },
                    {
                        "name": "pos",
                        "in": "query",
                        "description": "Position of the ad.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "anyOf": [
                                    {
                                        "required": [
                                            "user_id"
                                        ]
                                    },
                                    {
                                        "required": [
                                            "session_id"
                                        ]
                                    }
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "description": "Unique identifier for the user within your platform. It must remain consistent across all user touchpoints and sales channels. Required when `session_id` is not provided."
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "Persistent visitor identifier. Must remain stable for at least 14 days. For mobile apps, use the device ID (GAID on Android, IDFA on iOS). Required when `user_id` is not provided."
                                    }
                                }
                            },
                            "example": {
                                "user_id": "6f92d1e9-00b6-4f8b-9645-faeab321e1cc",
                                "session_id": "5898b8d1-c250-4bb5-931b-8b9d0ee7b499"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages from the server.",
                                            "items": {
                                                "type": "string",
                                                "description": "Message from the server."
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "messages": [
                                        "impression will be processed soon"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                }
            }
        },
        "/v1/beacon/click/{ad_id}": {
            "servers": [
                {
                    "url": "https://events.newtail-media.newtail.com.br",
                    "description": "VTEX Ads events server."
                }
            ],
            "post": {
                "tags": [
                    "Ads events notification"
                ],
                "summary": "Track ad clicks",
                "description": "Track when a user clicks on an ad. The event URL must not be constructed manually — always use the URL provided from `POST` [Get ads](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/v1/rma/-publisher_id-).\r\n\r\n## Permissions\r\n\r\nThis endpoint does not require [License Manager resources](https://help.vtex.com/docs/tutorials/license-manager-resources).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    },
                    {
                        "name": "ad_id",
                        "in": "path",
                        "description": "Unique identifier of the ad.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4a94bc6e-7db1-425f-8430-cb4d17488b3b"
                        }
                    },
                    {
                        "name": "pos",
                        "in": "query",
                        "description": "Position of the ad.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "anyOf": [
                                    {
                                        "required": [
                                            "user_id"
                                        ]
                                    },
                                    {
                                        "required": [
                                            "session_id"
                                        ]
                                    }
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "description": "Unique identifier for the user within your platform. It must remain consistent across all user touchpoints and sales channels. Required when `session_id` is not provided."
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "Persistent visitor identifier. Must remain stable for at least 14 days. For mobile apps, use the device ID (GAID on Android, IDFA on iOS). Required when `user_id` is not provided."
                                    }
                                }
                            },
                            "example": {
                                "user_id": "6f92d1e9-00b6-4f8b-9645-faeab321e1cc",
                                "session_id": "5898b8d1-c250-4bb5-931b-8b9d0ee7b499"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages from the server.",
                                            "items": {
                                                "type": "string",
                                                "description": "Message from the server."
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "messages": [
                                        "click will be processed soon"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                }
            }
        },
        "/v1/beacon/view/{ad_id}": {
            "servers": [
                {
                    "url": "https://events.newtail-media.newtail.com.br",
                    "description": "VTEX Ads events server."
                }
            ],
            "post": {
                "tags": [
                    "Ads events notification"
                ],
                "summary": "Track ad views",
                "description": "Track views for banner ads. The event URL must not be constructed manually — always use the URL provided from `POST` [Get ads](https://developers.vtex.com/docs/api-reference/vtex-ads-api#post-/v1/rma/-publisher_id-).\r\n\r\n## Permissions\r\n\r\nThis endpoint does not require [License Manager resources](https://help.vtex.com/docs/tutorials/license-manager-resources).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    },
                    {
                        "name": "ad_id",
                        "in": "path",
                        "description": "Unique identifier of the ad.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4a94bc6e-7db1-425f-8430-cb4d17488b3b"
                        }
                    },
                    {
                        "name": "pos",
                        "in": "query",
                        "description": "Position of the ad.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "anyOf": [
                                    {
                                        "required": [
                                            "user_id"
                                        ]
                                    },
                                    {
                                        "required": [
                                            "session_id"
                                        ]
                                    }
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "string",
                                        "description": "Unique identifier for the user within your platform. It must remain consistent across all user touchpoints and sales channels. Required when `session_id` is not provided."
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "Persistent visitor identifier. Must remain stable for at least 14 days. For mobile apps, use the device ID (GAID on Android, IDFA on iOS). Required when `user_id` is not provided."
                                    }
                                }
                            },
                            "example": {
                                "user_id": "6f92d1e9-00b6-4f8b-9645-faeab321e1cc",
                                "session_id": "5898b8d1-c250-4bb5-931b-8b9d0ee7b499"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages from the server.",
                                            "items": {
                                                "type": "string",
                                                "description": "Message from the server."
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "messages": [
                                        "view will be processed soon"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                }
            }
        },
        "/v1/beacon/conversion": {
            "servers": [
                {
                    "url": "https://events.newtail-media.newtail.com.br",
                    "description": "VTEX Ads events server."
                }
            ],
            "post": {
                "tags": [
                    "Ads events notification"
                ],
                "summary": "Track conversions",
                "description": "Track when an ad leads to a purchase. This endpoint is used to notify one or more orders (sending them in a batch).\r\n\r\n## Permissions\r\n\r\nThis endpoint does not require [License Manager resources](https://help.vtex.com/docs/tutorials/license-manager-resources).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "channel",
                                    "publisher_id",
                                    "user_id",
                                    "session_id",
                                    "order_id",
                                    "email_hashed",
                                    "items",
                                    "created_at"
                                ],
                                "properties": {
                                    "channel": {
                                        "type": "string",
                                        "description": "Identifies the conversion channel (for example, `ecommerce`, `app`, or `physical_store`)."
                                    },
                                    "brand": {
                                        "type": "string",
                                        "description": "Brand or site where the sale occurred. Required when the publisher operates more than one site."
                                    },
                                    "publisher_id": {
                                        "type": "string",
                                        "description": "Publisher identification."
                                    },
                                    "user_id": {
                                        "type": "string",
                                        "description": "User identification."
                                    },
                                    "session_id": {
                                        "type": "string",
                                        "description": "Identification of the session in which the purchase was made, to help attribute the sale to ads."
                                    },
                                    "order_id": {
                                        "type": "string",
                                        "description": "Order identification."
                                    },
                                    "email_hashed": {
                                        "type": "string",
                                        "description": "Hashed user email identification."
                                    },
                                    "items": {
                                        "type": "array",
                                        "description": "List of items purchased in the order.",
                                        "items": {
                                            "type": "object",
                                            "description": "Order item information",
                                            "required": [
                                                "sku",
                                                "quantity",
                                                "price",
                                                "promotional_price"
                                            ],
                                            "properties": {
                                                "sku": {
                                                    "type": "string",
                                                    "description": "Product SKU identification."
                                                },
                                                "quantity": {
                                                    "type": "number",
                                                    "description": "Quantity of product purchased.",
                                                    "format": "double"
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "description": "Product 'from' price. Not multiplied by quantity.",
                                                    "format": "double"
                                                },
                                                "promotional_price": {
                                                    "type": "number",
                                                    "description": "Product 'for' price (discounted price). Not multiplied by quantity.",
                                                    "format": "double"
                                                },
                                                "seller_id": {
                                                    "type": "string",
                                                    "description": "Seller ID identification.",
                                                    "nullable": true
                                                },
                                                "product_id": {
                                                    "type": "string",
                                                    "description": "Unique product identification that includes the SKU."
                                                }
                                            }
                                        }
                                    },
                                    "created_at": {
                                        "type": "string",
                                        "description": "Order creation date in ISO 8601 format in UTC (for example, `2026-01-01T09:20:00Z`)."
                                    },
                                    "is_company": {
                                        "type": "boolean",
                                        "description": "Indicates if the sale was made to an individual or a company.",
                                        "default": false
                                    },
                                    "gender": {
                                        "type": "string",
                                        "description": "Indicates customer's gender. F: female, M: male, O: other.",
                                        "enum": [
                                            "F",
                                            "M",
                                            "O",
                                            null
                                        ],
                                        "nullable": true,
                                        "default": null
                                    },
                                    "uf": {
                                        "type": "string",
                                        "description": "Indicates the state where the order was made."
                                    },
                                    "city": {
                                        "type": "string",
                                        "description": "Indicates the name of the city where the customer bought."
                                    },
                                    "phone_hashed": {
                                        "type": "string",
                                        "description": "Hashed user phone number identification."
                                    },
                                    "social_id_hashed": {
                                        "type": "string",
                                        "description": "Hashed user identification document, such as social ID, CPF, or CNPJ."
                                    },
                                    "first_name_hashed": {
                                        "type": "string",
                                        "description": "Hashed user first name identification."
                                    },
                                    "last_name_hashed": {
                                        "type": "string",
                                        "description": "Hashed user last name identification."
                                    }
                                }
                            },
                            "example": {
                                "publisher_id": "xxx",
                                "user_id": "6f92d1e9-00b6-4f8b-9645-faeab321e1cc",
                                "session_id": "5898b8d1-c250-4bb5-931b-8b9d0ee7b499",
                                "order_id": "123",
                                "email_hashed": "xyz",
                                "items": [
                                    {
                                        "sku": "12221",
                                        "quantity": 1,
                                        "price": 2000,
                                        "promotional_price": 1899,
                                        "seller_id": "1234",
                                        "product_id": "4567"
                                    },
                                    {
                                        "sku": "12222",
                                        "quantity": 2,
                                        "price": 1500,
                                        "promotional_price": 1200,
                                        "seller_id": "1234",
                                        "product_id": "4568"
                                    }
                                ],
                                "created_at": "2026-01-01T09:20:00Z",
                                "channel": "ecommerce",
                                "is_company": false,
                                "gender": "M",
                                "uf": "SP",
                                "city": "São Paulo",
                                "phone_hashed": "abc123",
                                "social_id_hashed": "def456",
                                "first_name_hashed": "ghi789",
                                "last_name_hashed": "jkl012"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages from the server.",
                                            "items": {
                                                "type": "string",
                                                "description": "Message from the server."
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "messages": [
                                        "conversion will be processed soon"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                }
            }
        },
        "/v1/rma/{publisher_id}": {
            "servers": [
                {
                    "url": "https://newtail-media.newtail.com.br",
                    "description": "VTEX Ads server."
                }
            ],
            "post": {
                "tags": [
                    "Ads"
                ],
                "summary": "Get ads",
                "description": "Retrieve Product and Banner ad formats based on context and placements.\r\n\r\n## Permissions\r\n\r\nThis endpoint does not require [License Manager resources](https://help.vtex.com/docs/tutorials/license-manager-resources).\r\n\r\n## Request best practices\r\n\r\n- **HTTP persistence:** Prefer persistent connections (`Connection: keep-alive`).\r\n- **Timeout:** Apply a 500-600 ms timeout to the ad query.\r\n\r\n## Context-specific fields\r\n\r\nThe `context` value determines which additional fields are required in the request body. The example below uses the `search` context — adapt it to your context using the table below. Include only the fields listed for your context (in addition to the common required fields `session_id`, `context`, `channel`, and `placements`).\r\n\r\n| `context` | Additional required fields | Notes |\r\n| --- | --- | --- |\r\n| `home` | None | Use generic placements (top banner, home shelf). |\r\n| `category` | `category_name` | Provide the full breadcrumb path (for example, `Daily Care > Deodorant > Spray`). |\r\n| `search` | `term` | Send the search query. Optionally pass `tags` to scope eligible ads. |\r\n| `product_page` | `product_sku` | SKU of the product currently being viewed. |\r\n| `brand_page` | `brand_name` | Name of the brand. Pair with `sponsored_brand` placements when applicable. |\r\n| `digital_signage` | `device_id`, `store_name` | Use `digital_signage` placements and the `app` channel. |",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    },
                    {
                        "name": "publisher_id",
                        "in": "path",
                        "description": "Publisher identifier provided by your account manager",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "0d675bf6-03f6-4b81-9617-e79dffddc3ab"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "session_id",
                                    "context",
                                    "placements",
                                    "channel"
                                ],
                                "properties": {
                                    "session_id": {
                                        "type": "string",
                                        "description": "Persistent visitor identifier (at least 14 days). Must contain only alphanumeric characters.",
                                        "example": "f361661f5986477990092a34562f18347"
                                    },
                                    "user_id": {
                                        "type": "string",
                                        "description": "Unique identifier for the user. Must contain only alphanumeric characters.",
                                        "example": "6a746448cf5942bcaa3da426844ad115"
                                    },
                                    "store_id": {
                                        "type": "string",
                                        "description": "Filters ads based on the store's inventory. If not provided, ads with any available inventory will be returned.",
                                        "example": "1"
                                    },
                                    "context": {
                                        "type": "string",
                                        "description": "Context where the ad will be displayed.",
                                        "example": "search",
                                        "enum": [
                                            "home",
                                            "category",
                                            "search",
                                            "product_page",
                                            "brand_page",
                                            "digital_signage"
                                        ]
                                    },
                                    "term": {
                                        "type": "string",
                                        "description": "Search terms used for product searches. Required only in search context.",
                                        "example": "desodorante"
                                    },
                                    "category_name": {
                                        "type": "string",
                                        "description": "Name of the category used for targeting. Always provide the full breadcrumb path of the current category. Required only in category context.",
                                        "example": "Daily Care > Deodorant > Spray"
                                    },
                                    "product_sku": {
                                        "type": "string",
                                        "description": "SKU ID used for targeting. Required only in product context.",
                                        "example": "12345"
                                    },
                                    "brand_name": {
                                        "type": "string",
                                        "description": "Name of the brand to filter products by. Required only in brand context.",
                                        "example": "Nivea"
                                    },
                                    "placements": {
                                        "type": "object",
                                        "description": "Placements are used to query multiple ads for different site regions with their own configurations.",
                                        "additionalProperties": {
                                            "type": "object",
                                            "description": "Placement configuration.",
                                            "required": [
                                                "quantity",
                                                "types"
                                            ],
                                            "properties": {
                                                "quantity": {
                                                    "type": "integer",
                                                    "description": "Number of ads to be returned.",
                                                    "example": 3
                                                },
                                                "size": {
                                                    "type": "string",
                                                    "description": "Expected ad size. Important when a region has a predefined size and requires a media asset fitting that size. For images: `desktop` or `mobile`. For videos: `1080p`, `720p`, `480p`, `360p`, or `320p`. Required only when types include `banner` or `sponsored_brand`.",
                                                    "example": "desktop"
                                                },
                                                "types": {
                                                    "type": "array",
                                                    "description": "Types of ads that can be returned in this request.",
                                                    "items": {
                                                        "type": "string",
                                                        "description": "Ad type.",
                                                        "enum": [
                                                            "product",
                                                            "banner",
                                                            "sponsored_brand",
                                                            "digital_signage"
                                                        ]
                                                    },
                                                    "example": [
                                                        "banner",
                                                        "product"
                                                    ]
                                                },
                                                "assets_type": {
                                                    "type": "array",
                                                    "description": "Accepted media types. Only valid for `banner` and `sponsored_brand` types. Default: `[\"image\"]`.",
                                                    "items": {
                                                        "type": "string",
                                                        "description": "Media type.",
                                                        "enum": [
                                                            "image",
                                                            "video"
                                                        ]
                                                    },
                                                    "example": [
                                                        "image"
                                                    ]
                                                },
                                                "allow_sku_duplications": {
                                                    "type": "boolean",
                                                    "description": "Allows the same SKU ads to appear multiple times in the same placement. Default=false.",
                                                    "example": false
                                                }
                                            }
                                        }
                                    },
                                    "product_attributes": {
                                        "type": "object",
                                        "description": "Additional product information. Used when catalog data is incomplete and these details need to be sent during ad queries.",
                                        "properties": {
                                            "category_name": {
                                                "type": "string",
                                                "description": "Product category.",
                                                "example": "Daily Care > Deodorant > Spray"
                                            },
                                            "brand_name": {
                                                "type": "string",
                                                "description": "Product brand.",
                                                "example": "Dove"
                                            }
                                        }
                                    },
                                    "channel": {
                                        "type": "string",
                                        "description": "Indicates the device type accessing the ad.",
                                        "example": "site",
                                        "enum": [
                                            "site",
                                            "msite",
                                            "app"
                                        ]
                                    },
                                    "device_id": {
                                        "type": "string",
                                        "description": "Unique device ID (screen, totem). Required only in digital_signage context.",
                                        "example": "screen identifier"
                                    },
                                    "store_name": {
                                        "type": "string",
                                        "description": "Name of the store where the device is located. Required only in digital_signage context.",
                                        "example": "Downtown Store"
                                    },
                                    "brand": {
                                        "type": "string",
                                        "description": "Publisher's site name. Required when the publisher has multiple sites.",
                                        "example": "MyStore"
                                    },
                                    "userAgent": {
                                        "type": "string",
                                        "description": "Client environment identification (body field, not the HTTP User-Agent header). Provides meta-information about the client environment accessing the ad.",
                                        "example": "App/1.0 (Pixel 6; Android 12.0)"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "description": "Tags to contextualize searches (primarily for search context). Filters ads that contain at least one of the requested tags. Max 10 per SKU, 64 chars per tag. Only works with product campaigns.",
                                        "items": {
                                            "type": "string",
                                            "description": "Tag name.",
                                            "maxLength": 64
                                        },
                                        "maxItems": 10,
                                        "example": [
                                            "Mega Maio"
                                        ]
                                    },
                                    "skus": {
                                        "type": "array",
                                        "description": "SKU filter for querying sponsored products. Note: Only sponsored product campaigns respect this filter.",
                                        "items": {
                                            "type": "string",
                                            "description": "Product SKU."
                                        },
                                        "example": [
                                            "12345",
                                            "67890"
                                        ]
                                    },
                                    "dedup_campaign_ads": {
                                        "type": "boolean",
                                        "description": "Specifies whether results should be deduplicated by campaign, so at most one ad per campaign is returned. Default=false.",
                                        "example": false
                                    },
                                    "dedup_ads": {
                                        "type": "boolean",
                                        "description": "Specifies whether results should deduplicate ads across multiple placements (use only when querying multiple placements simultaneously). Default=false.",
                                        "example": false
                                    },
                                    "segmentation": {
                                        "type": "array",
                                        "description": "Allows campaign segmentation based on user information.",
                                        "items": {
                                            "type": "object",
                                            "description": "Segmentation rule.",
                                            "required": [
                                                "key",
                                                "values"
                                            ],
                                            "properties": {
                                                "key": {
                                                    "type": "string",
                                                    "description": "Type of segmentation.",
                                                    "enum": [
                                                        "AGE",
                                                        "GENDER",
                                                        "STATE",
                                                        "CITY",
                                                        "AUDIENCES",
                                                        "NBO_CATEGORIES"
                                                    ],
                                                    "example": "STATE"
                                                },
                                                "values": {
                                                    "type": "array",
                                                    "description": "One or more accepted values.",
                                                    "items": {
                                                        "type": "string",
                                                        "description": "Segmentation value."
                                                    },
                                                    "minItems": 1,
                                                    "example": [
                                                        "RJ"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "example": {
                                "session_id": "f361661f5986477990092a34562f18347",
                                "user_id": "6a746448cf5942bcaa3da426844ad115",
                                "context": "search",
                                "channel": "site",
                                "term": "desodorante",
                                "placements": {
                                    "searchTopBanner": {
                                        "quantity": 1,
                                        "size": "desktop",
                                        "types": [
                                            "banner"
                                        ],
                                        "assets_type": [
                                            "image"
                                        ]
                                    },
                                    "searchShelf": {
                                        "quantity": 3,
                                        "types": [
                                            "product"
                                        ]
                                    }
                                },
                                "tags": [
                                    "Mega Maio"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK\n\nQuery processed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "array",
                                        "description": "List of ads for a specific placement.",
                                        "items": {
                                            "type": "object",
                                            "description": "Ad object.",
                                            "properties": {
                                                "ad_id": {
                                                    "type": "string",
                                                    "description": "Unique identifier of the ad."
                                                },
                                                "media_url": {
                                                    "type": "string",
                                                    "description": "URL of the image or video to be displayed. Present for banner, sponsored_brand, and digital_signage ad types."
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "description": "Type of ad.",
                                                    "enum": [
                                                        "banner",
                                                        "product",
                                                        "sponsored_brand",
                                                        "digital_signage"
                                                    ]
                                                },
                                                "seller_id": {
                                                    "type": "string",
                                                    "description": "Identifier of the seller.",
                                                    "nullable": true
                                                },
                                                "click_url": {
                                                    "type": "string",
                                                    "description": "URL of the click event beacon for the ad."
                                                },
                                                "impression_url": {
                                                    "type": "string",
                                                    "description": "URL of the impression event beacon for the ad."
                                                },
                                                "view_url": {
                                                    "type": "string",
                                                    "description": "URL of the view event beacon for the ad."
                                                },
                                                "product_sku": {
                                                    "type": "string",
                                                    "description": "Product identifier. Present when ad type is 'product'."
                                                },
                                                "products": {
                                                    "type": "array",
                                                    "description": "Array of products associated with the sponsored brand. Present when ad type is 'sponsored_brand'.",
                                                    "items": {
                                                        "type": "object",
                                                        "description": "Product associated with the sponsored brand.",
                                                        "properties": {
                                                            "product_sku": {
                                                                "type": "string",
                                                                "description": "SKU of the associated product."
                                                            },
                                                            "media_url": {
                                                                "type": "string",
                                                                "description": "URL of the product image."
                                                            }
                                                        }
                                                    }
                                                },
                                                "duration": {
                                                    "type": "number",
                                                    "description": "Duration of the ad display in seconds. Present when ad type is 'digital_signage'.",
                                                    "format": "double"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "placementName1": [
                                        {
                                            "ad_id": "6d2d8837-bf5a-4ba4-90d2-5546cb18d5ce",
                                            "media_url": "https://cdn.newtail.com.br/retail_media/ads/2023/05/03/f97a938660e56fe38a9c9ade21c27df8-1280x256-red.png",
                                            "type": "banner",
                                            "click_url": "https://events.newtail-media.newtail.com.br/v1/beacon/click/6d2d8837-bf5a-4ba4-90d2-5546cb18d5ce?publisher_id=0d675bf6-03f6-4b81-9617-e79dffddc3ab&ad_type=banner",
                                            "impression_url": "https://events.newtail-media.newtail.com.br/v1/beacon/impression/6d2d8837-bf5a-4ba4-90d2-5546cb18d5ce?publisher_id=0d675bf6-03f6-4b81-9617-e79dffddc3ab&ad_type=banner",
                                            "view_url": "https://events.newtail-media.newtail.com.br/v1/beacon/view/6d2d8837-bf5a-4ba4-90d2-5546cb18d5ce?publisher_id=0d675bf6-03f6-4b81-9617-e79dffddc3ab&ad_type=banner"
                                        }
                                    ],
                                    "placementName2": [
                                        {
                                            "ad_id": "846fbf5e-6980-4a5e-a4a1-9b2a2dcbafb7",
                                            "product_sku": "10001236",
                                            "type": "product",
                                            "click_url": "https://events.newtail-media.newtail.com.br/v1/beacon/click/846fbf5e-6980-4a5e-a4a1-9b2a2dcbafb7?publisher_id=0d675bf6-03f6-4b81-9617-e79dffddc3ab&ad_type=product",
                                            "impression_url": "https://events.newtail-media.newtail.com.br/v1/beacon/impression/846fbf5e-6980-4a5e-a4a1-9b2a2dcbafb7?publisher_id=0d675bf6-03f6-4b81-9617-e79dffddc3ab&ad_type=product",
                                            "view_url": "https://events.newtail-media.newtail.com.br/v1/beacon/view/846fbf5e-6980-4a5e-a4a1-9b2a2dcbafb7?publisher_id=0d675bf6-03f6-4b81-9617-e79dffddc3ab&ad_type=product"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request\n\nInvalid request."
                    },
                    "404": {
                        "description": "Not Found\n\nResource not found."
                    },
                    "422": {
                        "description": "Unprocessable Entity\n\nField validation error."
                    },
                    "429": {
                        "description": "Too Many Requests\n\nRate limit exceeded."
                    }
                }
            }
        },
        "/report/v2/advertisers": {
            "servers": [
                {
                    "url": "https://api-retail-media.newtail.com.br",
                    "description": "VTEX Ads server."
                }
            ],
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Get advertisers report",
                "description": "Retrieves information from all advertisers associated with a publisher account. The data is returned in JSON format by default, but can be exported as an XLSX file by setting `download=true`.\r\n\r\n>ℹ️ Only available in the publisher view (publisher account).\r\n\r\n## Permissions\r\n\r\nThis endpoint does not require [License Manager resources](https://help.vtex.com/docs/tutorials/license-manager-resources).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/components/parameters/Accept"
                    },
                    {
                        "$ref": "#/components/parameters/StartDate"
                    },
                    {
                        "$ref": "#/components/parameters/EndDate"
                    },
                    {
                        "$ref": "#/components/parameters/AccountInfo"
                    },
                    {
                        "$ref": "#/components/parameters/Page"
                    },
                    {
                        "$ref": "#/components/parameters/Quantity"
                    },
                    {
                        "$ref": "#/components/parameters/Count"
                    },
                    {
                        "$ref": "#/components/parameters/Download"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK\n\nReport returned successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "total": {
                                            "type": "integer",
                                            "description": "Total number of advertisers available."
                                        },
                                        "pages": {
                                            "type": "integer",
                                            "description": "Total number of pages for pagination."
                                        },
                                        "currentPage": {
                                            "type": "integer",
                                            "description": "Current page number."
                                        },
                                        "data": {
                                            "type": "array",
                                            "description": "Array of advertiser objects.",
                                            "items": {
                                                "type": "object",
                                                "description": "Advertiser object.",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Unique advertiser identifier."
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "description": "Advertiser name."
                                                    },
                                                    "account_id": {
                                                        "type": "string",
                                                        "description": "Account identifier."
                                                    },
                                                    "checking_account_id": {
                                                        "type": "string",
                                                        "description": "Checking account identifier."
                                                    },
                                                    "seller_id": {
                                                        "type": "string",
                                                        "description": "Seller identifier (when applicable).",
                                                        "nullable": true
                                                    },
                                                    "advertiser_tags": {
                                                        "type": "array",
                                                        "description": "Tags associated with the advertiser.",
                                                        "nullable": true,
                                                        "items": {
                                                            "type": "string",
                                                            "description": "Advertiser tag."
                                                        }
                                                    },
                                                    "metrics": {
                                                        "type": "object",
                                                        "description": "Performance metrics object. All metric values are returned as strings regardless of their numeric nature.",
                                                        "properties": {
                                                            "total_campaigns": {
                                                                "type": "string",
                                                                "description": "Total number of campaigns."
                                                            },
                                                            "total_daily_budget": {
                                                                "type": "string",
                                                                "description": "Total daily budget amount."
                                                            },
                                                            "balance": {
                                                                "type": "string",
                                                                "description": "Account balance."
                                                            },
                                                            "advertiser_id": {
                                                                "type": "string",
                                                                "description": "Advertiser identifier."
                                                            },
                                                            "impressions": {
                                                                "type": "string",
                                                                "description": "Total number of ad impressions."
                                                            },
                                                            "views": {
                                                                "type": "string",
                                                                "description": "Total number of ad views."
                                                            },
                                                            "clicks": {
                                                                "type": "string",
                                                                "description": "Total number of ad clicks."
                                                            },
                                                            "conversions": {
                                                                "type": "string",
                                                                "description": "Total number of conversions."
                                                            },
                                                            "conversion_rate": {
                                                                "type": "string",
                                                                "description": "Conversion rate percentage."
                                                            },
                                                            "total_conversions_items_quantity": {
                                                                "type": "string",
                                                                "description": "Total quantity of items across all ad-driven conversions. Sums the quantities of every item in each conversion event (for example, if a shopper buys two units of a product after clicking an ad, this metric increases by 2)."
                                                            },
                                                            "ctr": {
                                                                "type": "string",
                                                                "description": "Click-through rate percentage."
                                                            },
                                                            "income": {
                                                                "type": "string",
                                                                "description": "Total income generated."
                                                            },
                                                            "ecpm": {
                                                                "type": "string",
                                                                "description": "Effective cost per mille (CPM)."
                                                            },
                                                            "total_spent": {
                                                                "type": "string",
                                                                "description": "Total amount spent."
                                                            },
                                                            "cpa": {
                                                                "type": "string",
                                                                "description": "Cost per acquisition."
                                                            },
                                                            "avg_cpc": {
                                                                "type": "string",
                                                                "description": "Average cost per click."
                                                            },
                                                            "avg_cpm": {
                                                                "type": "string",
                                                                "description": "Average cost per mille."
                                                            },
                                                            "conversions_quantity": {
                                                                "type": "string",
                                                                "description": "Total number of ad-driven conversions (sales attributed to an ad). Counts each conversion event as 1, regardless of how many items were purchased (for example, if a shopper buys two units of a product after clicking an ad, this metric increases by 1)."
                                                            },
                                                            "roas": {
                                                                "type": "string",
                                                                "description": "Return on ad spend."
                                                            },
                                                            "adcost": {
                                                                "type": "string",
                                                                "description": "Ad cost."
                                                            },
                                                            "consumed_daily_budget": {
                                                                "type": "string",
                                                                "description": "Amount of daily budget consumed."
                                                            }
                                                        }
                                                    },
                                                    "account_logo": {
                                                        "type": "string",
                                                        "description": "URL of the advertiser's logo."
                                                    },
                                                    "account_theme": {
                                                        "type": "object",
                                                        "description": "Theme configuration object.",
                                                        "properties": {
                                                            "primary_color": {
                                                                "type": "string",
                                                                "description": "Primary color code (hex format)."
                                                            },
                                                            "header_color": {
                                                                "type": "string",
                                                                "description": "Header color code (hex format)."
                                                            },
                                                            "second_color": {
                                                                "type": "string",
                                                                "description": "Secondary color code (hex format)."
                                                            },
                                                            "dark_color": {
                                                                "type": "string",
                                                                "description": "Dark color code (hex format)."
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "total": 1,
                                    "pages": 1,
                                    "currentPage": 1,
                                    "data": [
                                        {
                                            "id": "id",
                                            "name": "name",
                                            "account_id": "account-id",
                                            "checking_account_id": "checking-account-id",
                                            "seller_id": null,
                                            "advertiser_tags": null,
                                            "metrics": {
                                                "total_campaigns": "100",
                                                "total_daily_budget": "50000.00",
                                                "balance": "6756756.40",
                                                "advertiser_id": "advertiser-id",
                                                "impressions": "395696",
                                                "views": "323720",
                                                "clicks": "1237",
                                                "conversions": "0",
                                                "conversion_rate": "0.00",
                                                "total_conversions_items_quantity": "0",
                                                "ctr": "0.31",
                                                "income": "0.0000",
[...]
