on: [pull_request]

name: openapi-diff

jobs:
    openapi-compatiable:
        strategy:
            max-parallel: 1
            fail-fast: false
        runs-on: ubuntu-latest
        steps:
            - name: Check out HEAD revision
              uses: actions/checkout@v2
              with:
                  ref: ${{ github.head_ref }}
                  path: head
            - name: Check out BASE revision
              uses: actions/checkout@v2
              with:
                  ref: ${{ github.base_ref }}
                  path: base
            - name: Run OpenAPI Diff (from HEAD revision)
              uses: LimeFlight/openapi-diff-action@master
              with:
                  head_spec: head/openapi.json
                  base_spec: base/openapi.json
                  output_path: ./output
                  github_token: ${{ github.token }}
            - uses: actions/upload-artifact@v2
              with:
                  name: diff-reports
                  path: ./output
